
<div class="item theme-icon no-shrink">
  {% include 'svg/commcare/icon/messaging.html' %}
</div>{# .item #}
<div class="item">
  <p>
    Quisque sit amet turpis quis turpis congue volutpat quis in magna.
    Suspendisse maximus massa dui, in iaculis ex vehicula in.
    Integer sollicitudin, tortor id pretium
    tristique, diam magna tempus velit, eget viverra leo elit id tellus.
    Morbi porta suscipit vulputate. Aliquam vel rhoncus odio. Sed
    eleifend vehicula metus non gravida.
  </p>
</div>{# .item #}
<div class="item theme-icon no-shrink">
  {% include 'svg/commcare/icon/data_over_time.html' %}
</div>{# .item #}

<div class="item">
  <p>
    Integer sollicitudin, tortor id pretium
    tristique, diam magna tempus velit, eget viverra leo elit id tellus.
    Morbi porta suscipit vulputate.
  </p>
</div>{# .item #}
