@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.products-commcare-page {
  $_base-height: 500px;
  $_height-by-size: (
    small: 500px,
    medium: 500px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(hero, '../../../pages/products/commcare/hero', $_base-height, $_height-by-size);
}

.overview {
  $_base-height: 175px;
  $_height-by-size: (
    extra-small: 205px,
    small: 270px,
    medium: 210px,
    large: 265px,
    extra-large: 320px,
  );
  @include make-bg(analyze-data-image, '../../../pages/products/commcare/analyze', $_base-height, $_height-by-size);
  @include make-bg(collect-data-image, '../../../pages/products/commcare/collect', $_base-height, $_height-by-size);

  .device-container,
  .screen {
    width: 100%;
  }
}

.features {
  $_base-height: 400px;
  $_height-by-size: (
    small: 440px,
    medium: 720px,
    large: 660px,
    extra-large: 625px,
  );
  @include make-bg(image, '../../../pages/products/commcare/features', $_base-height, $_height-by-size);

  @media (min-width: $width-desktop) {
    .off-grid {
      bottom: 0;
      left: 0;
      position: absolute;
      right: auto;
      width: 100%;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }
}

@media (min-width: $width-desktop) {
  .products-commcare-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.testimonials {
  $_sizes: (
    extra-small: (w: 276px, h: 135px),
    small: (w: 424px, h: 158px),
    medium: (w: 680px, h: 277px),
    large: (w: 868px, h: 333px),
    extra-large: (w: 1016px, h: 408px),
  );

  @include make-carousel-slide(image-agimpact, $_sizes, '../../../pages/products/commcare/testimonial1.jpg');
  @include make-carousel-slide(image-nou-kod, $_sizes, '../../../pages/products/commcare/testimonial2.jpg');
  @include make-carousel-slide(image-delivery-services, $_sizes, '../../../pages/products/commcare/testimonial3.jpg');
  @include make-carousel-slide(image-cleaning-data, $_sizes, '../../../pages/products/commcare/testimonial4.jpg');
}


