.payments-page .hero, .payments-page .banner {
    background-color: #007ab9
}

@media (min-width: 718px) {
    .payments-page .hero, .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium-f646bec587eb85f2a892ae11fed671c81051b110adc4ee838d871100bc1a69ec.jpg)
    }
}

@media (min-width: 718px) {
    .country-GB .payments-page .hero, .country-GB .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium.gb-f8a6f300794c10a5e613415b7aa1b93a498ed2142ac475d85f6d4f221fb19b0b.jpg)
    }
}

@media (min-width: 718px) {
    .locale-fr-CA .payments-page .hero, .locale-fr-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium.fr-ca-712895bb4129588f3bc7d2bcab47fd44e978ce60c48cc4dfa6008e43d6609fe5.jpg)
    }
}

@media (min-width: 718px) {
    .locale-es-US .payments-page .hero, .locale-es-US .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium.es-us-69329dfcf1b14863e1dbab1fe4c1c9477a712e6cde2e149ba79b7128a12ac552.jpg)
    }
}

@media (min-width: 718px) {
    .locale-en-CA .payments-page .hero, .locale-en-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium.en-ca-d6dac47099e819832fcdaaf46bf0e08e029d40a6c73c9f84c4dabe6e858a2f88.jpg)
    }
}

@media (min-width: 718px) {
    .country-AU .payments-page .hero, .country-AU .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.medium.au-1842d84109646e37aa0dcd14b6aef0677730075b98bdfff417cef104c1c92309.jpg)
    }
}

@media (min-width: 1024px) {
    .payments-page .hero, .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large-054a9523d67f4bfecb279066baaeb5963609ff19d51646d9e2e4fd7bcab7fbec.jpg)
    }
}

@media (min-width: 1024px) {
    .country-GB .payments-page .hero, .country-GB .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large.gb-a5e5c96fbdb7c7bdb6fa9e11950dbe3eb0e96b6d33a30f1215ca7dc300e0b47a.jpg)
    }
}

@media (min-width: 1024px) {
    .locale-fr-CA .payments-page .hero, .locale-fr-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large.fr-ca-237b671f141756a6b86bdf816a795e1397e7155c0302bba43c21033c1446ec33.jpg)
    }
}

@media (min-width: 1024px) {
    .locale-es-US .payments-page .hero, .locale-es-US .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large.es-us-06c9212c678cc4114d8eb948a0d1fd20141bfd9415a202b593a95536d7ea0c14.jpg)
    }
}

@media (min-width: 1024px) {
    .locale-en-CA .payments-page .hero, .locale-en-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large.en-ca-040a2e2b8419f06374122dfc11f17bbb173dccd38c05b42c0c8082336bf98c57.jpg)
    }
}

@media (min-width: 1024px) {
    .country-AU .payments-page .hero, .country-AU .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.large.au-9f71dba063c0eb4fc1b4267c4b79fcf7a980470b769a4e513968b1fd94aca9c1.jpg)
    }
}

@media (min-width: 1292px) {
    .payments-page .hero, .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large-1428ed4c11f4f3d058dc72672115ef50e6460b52b0e153aa59e044b1964a8f91.jpg)
    }
}

@media (min-width: 1292px) {
    .country-GB .payments-page .hero, .country-GB .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large.gb-a7674098be5a4e9e9aa7cea95f8b7f3126672e8ea570fa42bc34e54a442e94b4.jpg)
    }
}

@media (min-width: 1292px) {
    .locale-fr-CA .payments-page .hero, .locale-fr-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large.fr-ca-16bce0d950ec1275dcadf784d7b558c4efdb3e4f01a66e95e9dfba3207d260e2.jpg)
    }
}

@media (min-width: 1292px) {
    .locale-es-US .payments-page .hero, .locale-es-US .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large.es-us-9c5c756bface107cfad89125b1ca8a557dd2791f90948b062088dd8ce1b89e8e.jpg)
    }
}

@media (min-width: 1292px) {
    .locale-en-CA .payments-page .hero, .locale-en-CA .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large.en-ca-c9193a60052ebf48358861e135ea74db727a71b38a870c5866ceec2ff6372813.jpg)
    }
}

@media (min-width: 1292px) {
    .country-AU .payments-page .hero, .country-AU .payments-page .banner {
        background-image: url(/assets/pages/payments/hero.extra-large.au-cfd08554042c3405c920000841b1310280893d7dce0229887e6e9be814447035.jpg)
    }
}

@media (min-width: 718px) {
    .payments-page .banner {
        background-size: auto 500px
    }
}

.payments-page .hero {
    overflow: hidden;
    background-image: url(/assets/pages/payments/hero-back-f61af4e8a5983ab7c313de04749e3b5a84e81da3a4d13085df9d16e067a383fe.jpg);
    background-size: auto 435px
}

.payments-page .hero .image {
    pointer-events: none;
    background-image: url(/assets/pages/payments/hero-82e9d76c5340540d1cd54e881dbe03e830c0738cbc635d49dff0832f57072fbc.jpg);
    height: 278px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%
}

.country-GB .payments-page .hero .image {
    background-image: url(/assets/pages/payments/hero.gb-e09572865ecdab3edb79408fb5cbf35081ee0c3a008aa9a4f7e05a2cc8889f10.jpg);
    height: 323px
}

.locale-fr-CA .payments-page .hero .image {
    background-image: url(/assets/pages/payments/hero.fr-ca-1167f098acb990958adffbf84836c3f74dbfe474e9eedd237ccbe84d206d8ad1.jpg);
    height: 278px
}

.locale-es-US .payments-page .hero .image {
    background-image: url(/assets/pages/payments/hero.es-us-3efe9eecacd295f97d429fe44601fb16f8425599adc8386e08b4154ff33311b2.jpg);
    height: 278px
}

.locale-en-CA .payments-page .hero .image {
    background-image: url(/assets/pages/payments/hero.en-ca-ec43f23a5849f75e0e3302ac0849892a364c490a8adabefbc87cc2451fce690f.jpg);
    height: 278px
}

.country-AU .payments-page .hero .image {
    background-image: url(/assets/pages/payments/hero.au-f5914d925f5cdbffb9245a8ac91f477621cdb927de95d01edf0a72ce483aa38a.jpg);
    height: 323px
}

@media (min-width: 480px) {
    .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small-a98b8216c558f10246a196063b2eeddf780cec31325213a74becf7d22bb60b8e.jpg);
        height: 303px
    }
}

@media (min-width: 480px) {
    .country-GB .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small.gb-6772d5b8c8b7da7d3c5d6c1bd90262a6ce1c59cfafa3d6f1f2d4a1d2ebad3d12.jpg);
        height: 330px
    }
}

@media (min-width: 480px) {
    .locale-fr-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small.fr-ca-7cdf30aec28fa22de6326782937999bf1148b4e7c301caf7e248fa6ce0710ba5.jpg);
        height: 303px
    }
}

@media (min-width: 480px) {
    .locale-es-US .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small.es-us-847751a15313c8c8a1a65c27eae8692f3143717010cd9d559114e518363c5311.jpg);
        height: 303px
    }
}

@media (min-width: 480px) {
    .locale-en-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small.en-ca-3db86a271617286f6ef8b703e285496c8872d9bc22a9e0ca5f3c2444a3d3b224.jpg);
        height: 303px
    }
}

@media (min-width: 480px) {
    .country-AU .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.small.au-27063399cd99b611c2ed8779e6b570a7d1f2b42b7d99101a4fa982c1d13cccd4.jpg);
        height: 330px
    }
}

@media (min-width: 718px) {
    .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium-f646bec587eb85f2a892ae11fed671c81051b110adc4ee838d871100bc1a69ec.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .country-GB .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium.gb-f8a6f300794c10a5e613415b7aa1b93a498ed2142ac475d85f6d4f221fb19b0b.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .locale-fr-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium.fr-ca-712895bb4129588f3bc7d2bcab47fd44e978ce60c48cc4dfa6008e43d6609fe5.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .locale-es-US .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium.es-us-69329dfcf1b14863e1dbab1fe4c1c9477a712e6cde2e149ba79b7128a12ac552.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .locale-en-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium.en-ca-d6dac47099e819832fcdaaf46bf0e08e029d40a6c73c9f84c4dabe6e858a2f88.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .country-AU .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.medium.au-1842d84109646e37aa0dcd14b6aef0677730075b98bdfff417cef104c1c92309.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large-054a9523d67f4bfecb279066baaeb5963609ff19d51646d9e2e4fd7bcab7fbec.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .country-GB .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large.gb-a5e5c96fbdb7c7bdb6fa9e11950dbe3eb0e96b6d33a30f1215ca7dc300e0b47a.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .locale-fr-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large.fr-ca-237b671f141756a6b86bdf816a795e1397e7155c0302bba43c21033c1446ec33.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .locale-es-US .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large.es-us-06c9212c678cc4114d8eb948a0d1fd20141bfd9415a202b593a95536d7ea0c14.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .locale-en-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large.en-ca-040a2e2b8419f06374122dfc11f17bbb173dccd38c05b42c0c8082336bf98c57.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .country-AU .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.large.au-9f71dba063c0eb4fc1b4267c4b79fcf7a980470b769a4e513968b1fd94aca9c1.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large-1428ed4c11f4f3d058dc72672115ef50e6460b52b0e153aa59e044b1964a8f91.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .country-GB .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large.gb-a7674098be5a4e9e9aa7cea95f8b7f3126672e8ea570fa42bc34e54a442e94b4.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .locale-fr-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large.fr-ca-16bce0d950ec1275dcadf784d7b558c4efdb3e4f01a66e95e9dfba3207d260e2.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .locale-es-US .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large.es-us-9c5c756bface107cfad89125b1ca8a557dd2791f90948b062088dd8ce1b89e8e.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .locale-en-CA .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large.en-ca-c9193a60052ebf48358861e135ea74db727a71b38a870c5866ceec2ff6372813.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .country-AU .payments-page .hero .image {
        background-image: url(/assets/pages/payments/hero.extra-large.au-cfd08554042c3405c920000841b1310280893d7dce0229887e6e9be814447035.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .payments-page .hero .content {
        position: relative;
        z-index: 2
    }

    .payments-page .hero .image {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1
    }
}

@media (min-width: 374px) {
    .payments-page .hero {
        min-height: 278px
    }
}

@media (min-width: 480px) {
    .payments-page .hero {
        min-height: 303px
    }
}

@media (min-width: 718px) {
    .payments-page .hero {
        min-height: 500px
    }
}

@media (min-width: 1024px) {
    .payments-page .hero {
        min-height: 500px
    }
}

@media (min-width: 1292px) {
    .payments-page .hero {
        min-height: 500px
    }
}

.country-GB .payments-page .hero {
    background-image: url(/assets/pages/payments/hero-back.gb-ef59c198d9a811013cf17ea3f1917dc5c25d08764e55cfc29041b1a38edbe44c.jpg)
}

.locale-fr-CA .payments-page .hero {
    background-image: url(/assets/pages/payments/hero-back.fr-ca-46baad186f0c2ceb339961c4802d2d842de5e299b088aa1d5de9aa59f979a8ec.jpg)
}

.locale-en-CA .payments-page .hero {
    background-image: url(/assets/pages/payments/hero-back.en-ca-956b60c4a6b7eae8b27e2be87aa1907f4cb347741acd2c76e028ef0ece6e5751.jpg)
}

.country-AU .payments-page .hero {
    background-image: url(/assets/pages/payments/hero-back.au-bbf5d169b7d655ded2331ec0ac276416a31d06fb22469e9ccd935217ce42e85c.jpg)
}

@media (min-width: 480px) {
    .payments-page .hero {
        background-image: url(/assets/pages/payments/hero-back.small-560bb8ca7be507459275cc051f22c57282c399c36e684bcabe639897d5daa950.jpg)
    }
}

@media (min-width: 480px) {
    .country-GB .payments-page .hero {
        background-image: url(/assets/pages/payments/hero-back.small.gb-283ac883f228035a86c8a2554f2e91b130549a9eef11b75a9d8f5bc79e9b4d9b.jpg)
    }
}

@media (min-width: 480px) {
    .locale-fr-CA .payments-page .hero {
        background-image: url(/assets/pages/payments/hero-back.small.fr-ca-4b10f5b92f5ff237e5a33d1ea0f8edae8a8ab6530d4e24ba66fb3c85070fe1f1.jpg)
    }
}

@media (min-width: 480px) {
    .locale-en-CA .payments-page .hero {
        background-image: url(/assets/pages/payments/hero-back.small.en-ca-3ca8c9a07bf174f0b4fafd40a05dda3ced8894808c3f2dfded6cf58f3596904c.jpg)
    }
}

@media (min-width: 480px) {
    .country-AU .payments-page .hero {
        background-image: url(/assets/pages/payments/hero-back.small.au-f76df9b068259c1f86baf668c6c7bd50f0bf88eb86a29ffbffaedc074834a9e9.jpg)
    }
}

.country-GB .payments-page .hero {
    background-size: auto 478px
}

.locale-fr-CA .payments-page .hero {
    background-size: auto 435px
}

.locale-en-CA .payments-page .hero {
    background-size: auto 435px
}

.country-AU .payments-page .hero {
    background-size: auto 478px
}

@media (min-width: 480px) {
    .payments-page .hero {
        background-size: auto 489px
    }
}

@media (min-width: 480px) {
    .country-GB .payments-page .hero {
        background-size: auto 494px
    }
}

@media (min-width: 480px) {
    .locale-fr-CA .payments-page .hero {
        background-size: auto 489px
    }
}

@media (min-width: 480px) {
    .locale-en-CA .payments-page .hero {
        background-size: auto 489px
    }
}

@media (min-width: 480px) {
    .country-AU .payments-page .hero {
        background-size: auto 494px
    }
}

@media (min-width: 718px) {
    .payments-page .hero {
        background-image: none !important;
        min-height: 427px;
        height: 427px
    }
}

@media (min-width: 1024px) {
    .payments-page .hero {
        min-height: 427px;
        height: 427px
    }
}

@media (min-width: 1292px) {
    .payments-page .hero {
        min-height: 427px;
        height: 427px
    }
}

.country-JP .payments-page .hero, .country-JP .payments-page .banner {
    background-color: #7992da
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero, .country-JP .payments-page .banner {
        background-image: url(/assets/pages/payments/jp/hero.medium-35fc86cb7eaa2f33572ddb99fcf2de17fef1d72772c31cee3aea3d65e607e2ab.jpg)
    }
}

@media (min-width: 1024px) {
    .country-JP .payments-page .hero, .country-JP .payments-page .banner {
        background-image: url(/assets/pages/payments/jp/hero.large-752e88e0bda1750a001792532f25cd3a3e203f0d0d4a9959dd0fed2499265637.jpg)
    }
}

@media (min-width: 1292px) {
    .country-JP .payments-page .hero, .country-JP .payments-page .banner {
        background-image: url(/assets/pages/payments/jp/hero.extra-large-51f3e47e3f6362dd79702c03241ddb3859a2e1328e85784c0bbf79dff0e22fbd.jpg)
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .banner {
        background-size: auto 500px
    }
}

.country-JP .payments-page .hero {
    overflow: hidden;
    background-image: url(/assets/pages/payments/jp/hero-back-9139e84cf5a741189a1b5f5da0d8900194f70cef5fee1ede92e845ce70590727.jpg);
    background-size: auto 322px
}

.country-JP .payments-page .hero .image {
    pointer-events: none;
    background-image: url(/assets/pages/payments/jp/hero-e4f64d1e63a9426e8a63a18726c12ba078c4a3ad5385538bdca466b7be653310.jpg);
    height: 186px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%
}

@media (min-width: 480px) {
    .country-JP .payments-page .hero .image {
        background-image: url(/assets/pages/payments/jp/hero.small-5e34035628d10751a908596bbae19ab31b8ec091fe959129eb3ec8af20ce8f04.jpg);
        height: 219px
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero .image {
        background-image: url(/assets/pages/payments/jp/hero.medium-35fc86cb7eaa2f33572ddb99fcf2de17fef1d72772c31cee3aea3d65e607e2ab.jpg);
        height: 500px
    }
}

@media (min-width: 1024px) {
    .country-JP .payments-page .hero .image {
        background-image: url(/assets/pages/payments/jp/hero.large-752e88e0bda1750a001792532f25cd3a3e203f0d0d4a9959dd0fed2499265637.jpg);
        height: 500px
    }
}

@media (min-width: 1292px) {
    .country-JP .payments-page .hero .image {
        background-image: url(/assets/pages/payments/jp/hero.extra-large-51f3e47e3f6362dd79702c03241ddb3859a2e1328e85784c0bbf79dff0e22fbd.jpg);
        height: 500px
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero .content {
        position: relative;
        z-index: 2
    }

    .country-JP .payments-page .hero .image {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1
    }
}

@media (min-width: 374px) {
    .country-JP .payments-page .hero {
        min-height: 186px
    }
}

@media (min-width: 480px) {
    .country-JP .payments-page .hero {
        min-height: 219px
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero {
        min-height: 500px
    }
}

@media (min-width: 1024px) {
    .country-JP .payments-page .hero {
        min-height: 500px
    }
}

@media (min-width: 1292px) {
    .country-JP .payments-page .hero {
        min-height: 500px
    }
}

@media (min-width: 480px) {
    .country-JP .payments-page .hero {
        background-image: url(/assets/pages/payments/jp/hero-back.small-1a6029d52f934d9d60bc4e3dba40475d23f49f51411cc9c4ab5216a25f0f70b6.jpg)
    }
}

@media (min-width: 480px) {
    .country-JP .payments-page .hero {
        background-size: auto 352px
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero {
        background-image: none !important;
        min-height: 427px;
        height: 427px
    }
}

@media (min-width: 1024px) {
    .country-JP .payments-page .hero {
        min-height: 427px;
        height: 427px
    }
}

@media (min-width: 1292px) {
    .country-JP .payments-page .hero {
        min-height: 427px;
        height: 427px
    }
}

.payments-page .hero h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 11em
}

@media (min-width: 718px) {
    .payments-page .hero h1 {
        margin-left: 0
    }
}

.country-JP .payments-page .hero h1, .country-CA .payments-page .hero h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 9em
}

@media (min-width: 718px) {
    .country-JP .payments-page .hero h1, .country-CA .payments-page .hero h1 {
        margin-left: 0
    }
}

.payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware-09df27e714e1fe9c88c967d6ff0c8d98922ba19329979171cbdf6f02aef31dfe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.country-JP .payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware.jp-1ac652ad95a4ac29c6844a8ab164ef0d7d24016682e276868820cb0fa7422982.jpg)
}

.country-GB .payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware.gb-3f37f36b553410bf724041945785944b3b27780ac1943399ebd9e6f79e78fcb3.jpg)
}

.locale-fr-CA .payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware.fr-ca-1aaba442ab4ac5f122a1075191c63065aab8b81d8683cc71a6c98ff854193fe0.jpg)
}

.locale-en-CA .payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware.en-ca-fece30bb3f4d5eb6cc4c3c92ce3d38f1bdb098cb0f3567f56e2fba9acd9e7504.jpg)
}

.country-AU .payments-page .start .hardware .image {
    background-image: url(/assets/pages/payments/hardware.au-ed3726439fb7b6fe151f8432dbfab53590ac0d98306fe03a22281546625ef5f1.jpg)
}

.payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software-eaa5256ffcb1cfbf8f5172f910f3b35ab071512ced66e3048d552ebba4d7d825.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.country-JP .payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software.jp-02da3da4301445c891ba5e1e99c5dfeeeadbec4a639374a309bd529717954614.jpg)
}

.country-GB .payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software.gb-0cc1571240910ecf710f78880ad91009029b3c40bc96b1315a8a2fe07117d46f.jpg)
}

.locale-fr-CA .payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software.fr-ca-af1c5e6ec87ee2b2609b1189e25b1b395e90458f7a56b7727211229fbab61347.jpg)
}

.locale-en-CA .payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software.en-ca-481350b82869b9f711ca34505b0e8a2c72a4e4189cad0da054f603270a210932.jpg)
}

.country-AU .payments-page .start .software .image {
    background-image: url(/assets/pages/payments/software.au-8c291d9e272c1b9a6117ab0dfe413ee0e44877ea236b73165cb46d97ce3da6c1.jpg)
}

.payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere-f4e933103b3ce3116ad1e217dbdfcf80c892417de1865975de35adc98bbbc7aa.jpg);
    height: 122px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%
}

.country-JP .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.jp-dfa9c203770b72ba61a3e653022310ad8ebabcc1153c1e8d0399f3a945c716f7.jpg);
    height: 122px
}

.country-GB .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.gb-c793dfa58740480064f835fc4198107f8ebd80935bfa5ab7bd1a0a50abf33ca8.jpg);
    height: 122px
}

.locale-fr-CA .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.fr-ca-309fe3ba94f11fac6c305a8ef1ef52396d70ee0241c70bf6a03e96a0b7487660.jpg);
    height: 122px
}

.locale-es-US .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.es-us-6dab843712236cf10533ebf34db2f780cb1fa22778815ca15f35b664a91a1266.jpg);
    height: 122px
}

.locale-en-CA .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.en-ca-9098dd605eccea616a5716e6c77a08d822eb64f6115e9d899a58cc66a129eee5.jpg);
    height: 122px
}

.country-AU .payments-page .anywhere .image {
    background-image: url(/assets/pages/payments/anywhere.au-6398960dbd747abd6b0e1a9570f667169148b5006558bb6e3da1b4cbbe33c4cf.jpg);
    height: 122px
}

@media (min-width: 480px) {
    .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small-50031234a50625f646c125b8a90f495e6870a5ea230975cc66572a9da2eddefd.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .country-JP .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.jp-91c1dd4f8daa0705f915c3ff9cd6f6053919f7db13c9521639b5994bb5bf021e.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .country-GB .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.gb-cdb7667eb43e023e3c5094a894aeb0748f15571ef550fdc395c62cf6af852f61.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .locale-fr-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.fr-ca-cc782dd0545b0088b82041c0541839c743ea02be116d71f7a0d2c6c637365210.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .locale-es-US .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.es-us-87444ca19558ef8de8fa96f89f23c3c4e99222f4185fa632a1e326c1e29458b9.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .locale-en-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.en-ca-54ccedd7ff2eceeed5ea681b031234c6bd19897221cd2a663fef8a76fb040f94.jpg);
        height: 186px
    }
}

@media (min-width: 480px) {
    .country-AU .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.small.au-20957cf2c60c4e059e99e27aed39ac30f6b7af674b700d79c6d0ae2c9f061acf.jpg);
        height: 186px
    }
}

@media (min-width: 718px) {
    .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium-7cd9ae2794c598ac723d090cf0969a50ccb990a42898bf9caa2304a32502c9e2.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .country-JP .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.jp-fd0d01e6ee44f103541f2005192f14bb976147485fc52806ca100b74acae05e1.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .country-GB .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.gb-65ccd3ca846c249cd56ed8dd0c72da20b518c78adf3f93f798c601e6d4995505.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .locale-fr-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.fr-ca-41cdd31080faa3c54b204d96eece1449358d1804ab9d6e80edba1277eda11efa.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .locale-es-US .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.es-us-e09bf32338fca6efac1b07a74b829b73396f4138333749e1c1ce8dd0c4ebb483.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .locale-en-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.en-ca-8e833fce69e61d442d0b196ab08b7f6c31694cd3fd226f76b691c37d22860339.jpg);
        height: 298px
    }
}

@media (min-width: 718px) {
    .country-AU .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.medium.au-c45df2e3a7c66e77b4b1e402e976be30c418e3d4552e6fa44697f977a150c58d.jpg);
        height: 298px
    }
}

@media (min-width: 1024px) {
    .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large-55806e7a5ceb2553eb2f71defe1778fa44cfd6a5b31ba15ed5a83d4b6436539e.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .country-JP .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.jp-8a521f54b7899b33aaacc9c0a62b5ffe0cdf93cfab289c73d9baa020985622a5.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .country-GB .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.gb-b381a074b2c6d8e79b785c75a3bc5e8ff16500729077fe7982e526a4ea7a1b12.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .locale-fr-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.fr-ca-c59410c7a417d61a9de9e5d8f270f928d7ac4e1adc5a08a06357cda10d1760dd.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .locale-es-US .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.es-us-acaa3d9bb802283b848a175789c6c6e5d53fb0b239d40ea61e0639358b49759a.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .locale-en-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.en-ca-8c1e5d5a61f8886a515f8a1e6d51d173665abc27d11ae0cbc4e32dbe1aeeab54.jpg);
        height: 362px
    }
}

@media (min-width: 1024px) {
    .country-AU .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.large.au-a13e9e20f9f3e2108ac1a80dc9212eb24c2bae0c7c5490e320c28e520bd6ec67.jpg);
        height: 362px
    }
}

@media (min-width: 1292px) {
    .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large-13ee9304eab255d85b5bd03f72188b16c3f4de19c0c9616acd1c5a9a2e373c24.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .country-JP .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.jp-d0c2b6c0ffa0f9caf40368fede85ebc94a78774c0361ca3ef70d4dc6b461c84a.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .country-GB .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.gb-fc2dcd6e5e29aaa1cbc5d00473ab833fa460b82c89a06a2babc5210ac31fd6fd.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .locale-fr-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.fr-ca-e8d5b27e7c9c9b948ee7b82ccc72c621615da1eb01f233586676f669068eb8ed.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .locale-es-US .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.es-us-84946569349e78b01a6b7da88b96e81119fdf7844e8894f6a2b98d6aaec820e9.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .locale-en-CA .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.en-ca-a4f62535e5862441f1c46b080b4c97254b4f4c112b6969122e126d500130c6cf.jpg);
        height: 442px
    }
}

@media (min-width: 1292px) {
    .country-AU .payments-page .anywhere .image {
        background-image: url(/assets/pages/payments/anywhere.extra-large.au-6054f5918247256298cacaafe91577c430ca9931a4b3b4cd271de9b3dda0c429.jpg);
        height: 442px
    }
}

.country-JP .payments-page .pricing .card-brands .icon svg > * {
    fill: #fff
}

.country-JP .payments-page .pricing .card-brands .cards {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 14em
}

@media (min-width: 1024px) {
    .country-JP .payments-page .pricing .card-brands .cards {
        max-width: 100%
    }
}

.payments-page .testimonial0 {
    background-image: url(/images/pages/payments/testimonial0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.payments-page .testimonial1 {
    background-image: url(/assets/pages/payments/testimonial1-0eb723643534881aba093b8fe30f52f7e92ef52d77eb1b749dab0d1cbfdb7fe5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.country-GB .payments-page .testimonial1 {
    background-image: url(/assets/pages/payments/testimonial1.gb-12d6a9a77b7316222ddd9cf44d47ad26a1020d600d89955719a6e9aa09fadafa.jpg)
}

.country-AU .payments-page .testimonial1 {
    background-image: url(/assets/pages/payments/testimonial1.au-12d6a9a77b7316222ddd9cf44d47ad26a1020d600d89955719a6e9aa09fadafa.jpg)
}

.payments-page .testimonial2 {
    background-image: url(/assets/pages/payments/testimonial2-029179a848ef921d736b7507fbedf3ddd06d3389a13df68fd6261d2c1858191a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.country-GB .payments-page .testimonial2 {
    background-image: url(/assets/pages/payments/testimonial2.gb-69c4eb455a837d8c71407f7275425f61caa6e8383156b95809ec986744171f2f.jpg)
}

.country-AU .payments-page .testimonial2 {
    background-image: url(/assets/pages/payments/testimonial2.au-3e822d74622aabf056ac5de0888d4b4b8c91636690326d955eab04cf8a7319f5.jpg)
}

.payments-page .testimonial3 {
    background-image: url(/assets/pages/payments/testimonial3-3f0181fa9998df4edfd821f56a47d55d30d854a3dce51564c6d66124bb764f52.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
