{% load i18n %}
{% load dimagidotcom %}

<section class="webinar align-center border-top pad-bottom-line blue-theme"
         id="webinar">
  <div class="content pad-vert-medium">
    <div class="content-width-large pad-bottom-small">
      <h1 class="gap-bottom-line neutral-dark">
        {% blocktrans %}
          Webinars
        {% endblocktrans %}
      </h1>
      <h2 class="gap-top-line neutral-dark">
        {% blocktrans %}
          From Studies to Practice: Building Digital Solutions to Advance Frontline Research
        {% endblocktrans %}
      </h2>
    </div>{# .content-width-large #}
  
    <div class="off-grid white-lazy-bg"
         data-lazybg="true">
      <div class="wistia-container image webinar-frontline-video">
        {% include "partials/wistia_popover.html" with wistia_id='lwacafe3gy' play_icon_medium=True show_image=True %}
      </div>{# .wistia-container #}
    </div>{# .off-grid #}
    <div class="content-width-large pad-top-small align-left pad-right-small">
      <h6 class="blue align-left pad-top-base pad-left-line">
        {% blocktrans %}
          June 23, 2022
        {% endblocktrans %}
      </h6>
      <p class="pad-bottom-line pad-left-line">
        {% blocktrans %}
          Rigorous research is indispensable for understanding and building
          better solutions to global development challenges –– and so is the
          translation of research from studies to programs at scale. How do
          digital solutions accelerate the translation of frontline research?
          What are common challenges associated with frontline research and
          how can we overcome them? Learn from research practitioners with
          University of California, San Francisco and Yale School of Public
          Health and hear the official launch of the CommCare Grant for
          Advancing Frontline Research.
        {% endblocktrans %}
      </p>
    </div>

    <div class="align-center pad-vert-line">
      <a class="button"
         href="{% url 'frontline' %}">
        {% blocktrans %}
          View Webinar
        {% endblocktrans %}
      </a>
    </div>
    <section class="webinar align-center pad-bottom-line blue-theme"
         id="webinar">
      <div class="content-width-large accent-gray-bg pad-top-small">
        <h6 class="slate align-left pad-left-small">
          {% blocktrans %}
          Speakers
          {% endblocktrans %}
        </h6>
        <div class="grid-2-at-small">
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-amanda_gupta white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Amanda Gupta</strong> <br />
                      Research Associate<br />
                      Yale School of Public Health
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
      
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-elodie_lebas white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Elodie Lebas</strong> <br />
                      Deputy Director of International Programs<br />
                      University of California, San Francisco
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
        </div>{# .grid-2 #}

      </div>{# .content-width-large #}
    </section>

  </div>{# .content #}
</section>
