{% load i18n %}
{% load dimagidotcom %}

<section class="webinar align-center border-top pad-bottom-line blue-theme"
         id="webinar">
  <div class="content pad-vert-medium">
    <div class="content-width-large pad-bottom-small">
      <h1 class="gap-bottom-line neutral-dark">
        {% blocktrans %}
          Webinars
        {% endblocktrans %}
      </h1>
      <h2 class="gap-top-line neutral-dark">
        {% blocktrans %}
          What Interoperability Actually Means
        {% endblocktrans %}
      </h2>
    </div>{# .content-width-large #}
  
    <div class="off-grid white-lazy-bg"
         data-lazybg="true">
      <div class="wistia-container image webinar-interoperability-video">
        {% include "partials/wistia_popover.html" with wistia_id='hmzenq3684' play_icon_medium=True show_image=True %}
      </div>{# .wistia-container #}
    </div>{# .off-grid #}
    <div class="content-width-large pad-top-small align-left pad-right-small">
      <h6 class="blue align-left pad-top-base pad-left-line">
        {% blocktrans %}
          September 30, 2021
        {% endblocktrans %}
      </h6>
      <p class="pad-bottom-line pad-left-line">
        {% blocktrans %}
          The way your project looked at the start isn't what it looks like 
          today. We know organisational needs evolve over time, from new and 
          larger projects to changes in reporting requirements. The only way 
          to be sure that your team can stay ahead of these changes is with 
          an adaptable, ecosystem-driven approach. In this lively panel 
          discussion, our partners from Trocaire, MSI, and Global Communities 
          discuss how interoperability and integrations can grow your long-term impact.
        {% endblocktrans %}
      </p>
    </div>

    <div class="align-center pad-vert-line">
      <a class="button"
         href="{% url 'interoperability' %}">
        {% blocktrans %}
          View Webinar
        {% endblocktrans %}
      </a>
    </div>
    <section class="webinar align-center pad-bottom-line blue-theme"
         id="webinar">
      <div class="content-width-large accent-gray-bg pad-top-small">
        <h6 class="slate align-left pad-left-small">
          {% blocktrans %}
          Speakers
          {% endblocktrans %}
        </h6>
        <div class="grid-2-at-small">
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-rashmi white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Rashmi Sharma</strong> <br />
                      Strategy & Impact Advisor<br />
                      Trocaire
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
      
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-tony white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Tony Tseng</strong> <br />
                      Senior Specialist, Digital Development<br />
                      Global Communities
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
        </div>{# .grid-2 #}

        <div class="grid-2-at-small">
            <div class="column align-left pad-left-small">
              <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
                <div class="grid-flex-at-medium">
                  <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                    <div class="people-mary white-lazy-bg"
                        data-lazybg="true"></div>
                  </div>
                  <div class="column">
                    <p class="">
                      {% blocktrans %}
                        <strong>Mary Rocheleau</strong> <br />
                        Associate Director of Technology, Solutions<br />
                        Dimagi
                      {% endblocktrans %}
                    </p>
                  </div>
                </div>
              </div>{# .feature-projects #}
            </div>{# .column #}
        
            <div class="column align-left pad-left-small">
              <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
                <div class="grid-flex-at-medium">
                  <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                    <div class="people-jenna white-lazy-bg"
                        data-lazybg="true"></div>
                  </div>
                  <div class="column">
                    <p class="">
                      {% blocktrans %}
                        <strong>Jenna de St. Jorre</strong> <br />
                        Operational Information Officer<br />
                        MSI Reproductive Choices
                      {% endblocktrans %}
                    </p>
                  </div>
                </div>
              </div>{# .feature-projects #}
            </div>{# .column #}
          </div>{# .grid-2 #}

      </div>{# .content-width-large #}
    </section>

  </div>{# .content #}
</section>
