{% load i18n %}
{% load dimagidotcom %}

<section class="webinar align-center border-top pad-bottom-line blue-theme"
         id="webinar">
  <div class="content pad-vert-medium">
    <div class="content-width-large pad-bottom-small">
      <h1 class="gap-bottom-line neutral-dark">
        {% blocktrans %}
          Webinars
        {% endblocktrans %}
      </h1>
      <h2 class="gap-top-line neutral-dark">
        {% blocktrans %}
          How to Build Data Democracy With an Analytics Ecosystem
        {% endblocktrans %}
      </h2>
    </div>{# .content-width-large #}
  
    <div class="off-grid white-lazy-bg"
         data-lazybg="true">
      <div class="wistia-container image webinar-data-democracy-video">
        {% include "partials/wistia_popover.html" with wistia_id='uahen8i6un' play_icon_medium=True show_image=True %}
      </div>{# .wistia-container #}
    </div>{# .off-grid #}
    <div class="content-width-large pad-top-small align-left pad-right-small">
      <h6 class="blue align-left pad-top-base pad-left-line">
        {% blocktrans %}
          March 31, 2022
        {% endblocktrans %}
      </h6>
      <p class="pad-bottom-line pad-left-line">
        {% blocktrans %}
          Too often, data collection programs yield valuable data
          to only a few stakeholders at the HQ level. With Data
          Democracy, more people gain access to actionable insights, enabling
          your organization to unlock more value from your data. Hear from
          our partners that have developed better reporting and analytics
          tools to democratize data in their own organizations.
        {% endblocktrans %}
      </p>
    </div>

    <div class="align-center pad-vert-line">
      <a class="button"
         href="{% url 'data_democracy' %}">
        {% blocktrans %}
          View Webinar
        {% endblocktrans %}
      </a>
    </div>
    <section class="webinar align-center pad-bottom-line blue-theme"
         id="webinar">
      <div class="content-width-large accent-gray-bg pad-top-small">
        <h6 class="slate align-left pad-left-small">
          {% blocktrans %}
          Speakers
          {% endblocktrans %}
        </h6>
        <div class="grid-2-at-small">
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-rajeev_dhungel white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Rajeev Dhungel</strong> <br />
                      ICT & Digital Manager<br />
                      World Vision International Nepal
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
      
          <div class="column align-left pad-left-small">
            <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
              <div class="grid-flex-at-medium">
                <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                  <div class="people-raneem_safi white-lazy-bg"
                      data-lazybg="true"></div>
                </div>
                <div class="column">
                  <p class="">
                    {% blocktrans %}
                      <strong>Raneem Safi</strong> <br />
                      CommCare Consultant<br />
                      Independent
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>{# .feature-projects #}
          </div>{# .column #}
        </div>{# .grid-2 #}

        <div class="grid-2-at-small">
            <div class="column align-left pad-left-small">
              <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
                <div class="grid-flex-at-medium">
                  <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                    <div class="people-buddha_thakuri white-lazy-bg"
                        data-lazybg="true"></div>
                  </div>
                  <div class="column">
                    <p class="">
                      {% blocktrans %}
                        <strong>Buddha Thakuri</strong> <br />
                        Integrated Knowledge Management Specialist<br />
                        World Vision International Nepal
                      {% endblocktrans %}
                    </p>
                  </div>
                </div>
              </div>{# .feature-projects #}
            </div>{# .column #}
        
            <div class="column align-left pad-left-small">
              <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
                <div class="grid-flex-at-medium">
                  <div class="feature-partner-im-saf column flex-align-left-at-large align-center">
                    <div class="people-daniela_sarzosa white-lazy-bg"
                        data-lazybg="true"></div>
                  </div>
                  <div class="column">
                    <p class="">
                      {% blocktrans %}
                        <strong>Daniela Sarzosa Castillo</strong> <br />
                        Senior Specialist for Monitoring, Evaluation, Research and Learning<br />
                        Global Communities
                      {% endblocktrans %}
                    </p>
                  </div>
                </div>
              </div>{# .feature-projects #}
            </div>{# .column #}
          </div>{# .grid-2 #}

      </div>{# .content-width-large #}
    </section>

  </div>{# .content #}
</section>
