{% load i18n %}
{% load dimagidotcom %}

<section class="response align-center" id="response">
  {% include "../../sections/webinar/other_webinars/optimize.html" %}
  {% include "../../sections/webinar/other_webinars/global_me.html" %}
  {% include "../../sections/webinar/other_webinars/data_already.html" %}
  {% include "../../sections/webinar/other_webinars/adapt.html" %}
  {% include "../../sections/webinar/other_webinars/new_function.html" %}
  {% include "../../sections/webinar/other_webinars/data_clean.html" %}
  {% include "../../sections/webinar/other_webinars/remote.html" %}
  {% include "../../sections/webinar/other_webinars/covid19.html" %}
  {% include "../../sections/webinar/other_webinars/power_bi.html" %}

  <div>
    {% blocktrans %}
      View Webinar
    {% endblocktrans %}
  </div>
</section>
