{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}blog-post-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/blog/home.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-blog" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="blog-container orange-theme">
    {% include 'blog/sections/sub_nav.html' %}
    {% include 'blog/sections/full_post.html' %}
    {% include 'blog/sections/powerful_data.html' %}
    {% include 'blog/sections/cta.html' with hide_class=True %}
    {% include 'blog/sections/categories.html' %}
  </section>
{% endblock %}
