{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true"
         id="overview">
  <div class="accent-gray-bg">
    <div class="content pad-top-medium pad-bottom-medium">
      <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
        <h2 class="pad-top-base blue align-center">
          {% blocktrans %}
            Need training for your entire organization? 
          {% endblocktrans %}
        </h2>
      </div>
      <div class="grid grid-2-at-medium grid-1-at-small grid-reverse">
        <div class="column"
             id="page-intro">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div> {# .column #}
        <div class="column">
          <p>
            {% blocktrans %}
            We offer custom, large-group trainings for organizations that use 
            CommCare applications across several countries, regions, or offices. 
            These can include technical training for all of your global staff 
            (up to 30 participants), or training for your HQ and regional leads 
            to understand how best to organize your team and support all your 
            country offices in using CommCare. Contact our sales team to discuss 
            your specific needs and get a customized quote.
            {% endblocktrans %}
          </p>
          <div class="align-center align-left-at-medium pad-top-small">
            <a class="button"
                href="#onboarding-services-form">
              {% blocktrans %}
                Contact Us
              {% endblocktrans %}
            </a>
          </div>
        </div>{# .column #}
      </div> {# .grid #}
    </div> {# .content #}
    <div class = "content pad-vert-small">
      {% include "sections/commcare/product_onboarding/org_pricing.html" %}
      {% include "sections/commcare/product_onboarding/org_pricing_table.html" %}
    </div>
  </div>
  <div class="content onboarding-features">
    <h4 class="blue align-center pad-bottom-line content-width-medium pad-top-small">
      {% blocktrans %}
        Our onboarding packages can include training sessions on over
        25 topics, custom-tailored to your project’s needs:
      {% endblocktrans %}
    </h4>
    <ul class="check-list grid-4-at-medium pad-left-small">
      <li>
        {% blocktrans %}
          App Design
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          App Building
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          User Management
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Deployment
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Data Exports/ Reports
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Data Sharing
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Designing for Scale
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Workforce Monitoring
        {% endblocktrans %}
      </li>
    </ul>
  </div>
</section>
