{% load i18n %}
{% load dimagidotcom %}
<section data-lazybg="true" class="purple-theme">
  <div id="benefits">
    <div class="content pad-top-medium">
      <h2 class="align-center pad-bottom-small" >
        {% blocktrans %}
          Benefits of Mobile Data Collection <br class="hide-until-medium">
          for Programmatic Research
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
    <div class="content pad-bottom-medium">
      <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
        <div class="column pad-top-small">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/search_user.html" %}
              </div>{# .theme-icon #}
            </div>{# .column .no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Longitudinal case management functionality allows for 
                  tracking of specific participants with complex workflows.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>{# .column #}
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/disconnected_wifi.html" %}
              </div>{# .theme-icon #}
            </div>{# .column. no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Reliable GPS capture, e-signature, and validation conditions 
                  improve data integrity.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/signature.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Data dashboards improve data monitoring and can include 
                  project-specific indicators.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/upload.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Offline capabilities allow the application to be used in 
                  even the most rural, underserved schools.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/analytics.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}

            <div class="column">
              <p>
                {% blocktrans %}
                  Cloud hosting of data allows for deployment on the 
                  ground without any physical set-up.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small pad-bottom-small">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/programmatic_research/language.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}

            <div class="column">
              <p>
                {% blocktrans %}
                  Multi-language functionality allows for easy translation of 
                  forms to fit local language customization needs.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
      </div>
    </div>
  </div>
</section>
