{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true">
  <div id="testimonial" class="accent-gray-bg">
    <div class="content align-center pad-vert-medium">
      <div class="pad-bottom-small">
        <h3>
          {% blocktrans %}
            More than 2000 projects across 80 countries rely on CommCare
            for their mobile data collection and reporting needs.
          {% endblocktrans %}
        </h3>
      </div>

      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights ">
        <div class="column pad-left-small pad-right-small">
          <div class="testimonial-svg">
            <div class="align-center pad-bottom-line">
              {% include "svg/partner/noukod.html" %}
            </div>
          </div>
          <p>
            {% blocktrans %}
              “We are ready to design
              applications that are everything
              from simple and straightforward to
              those with challenging and unique
              designs and use cases.”
            {% endblocktrans %}
            <br>
            <strong>
              <b>
                {% blocktrans %}
                  - Ted Barlow, President
                {% endblocktrans %}
              </b>
            </strong>
          </p>
        </div>{# .column #}
        <div class="column pad-left-small pad-right-small">
          <div class="testimonial-svg">
              <div class="align-center pad-bottom-line">
                  {% include "svg/partner/sehgal.html" %}
              </div>
          </div>
          <p>
            {% blocktrans %}
              “CommCare gave us the ability to
              control the experience of our fieldbased
              data collectors, which
              drastically reduced human error.”
            {% endblocktrans %}
            <br>
            <strong>
              <b>
                {% blocktrans %}
                  - Bhawna Mangla, Senior Research Associate
                {% endblocktrans %}
              </b>
            </strong>
          </p>
        </div>{# .column #}
        <div class="column pad-left-small pad-right-small">
          <div class="testimonial-svg">
              <div class="align-center pad-bottom-line">
                  {% include "svg/partner/LTBL.html" %}
              </div>
          </div>
          <p>
            {% blocktrans %}
              “Thank you for helping us to
              gather data, refine programming,
              and spread the message about our
              impact in fighting global climate
              change and extreme poverty.”
            {% endblocktrans %}
            <br>
            <strong>
              <b>
                {% blocktrans %}
                  - Sarah Baird, Executive Director
                {% endblocktrans %}
              </b>
            </strong>
          </p>
        </div>{# .column #}
      </div>{# .grid #}
    </div> {# .content #}
  </div>{# .neutral-dark-bg #}
</section>
