{% load i18n %}
{% load dimagidotcom %}
<section class="" 
         data-lazybg="true"> 
    
  <div class="" id="benefits">
        <div class="content pad-top-small">
            <h2 >
                {% blocktrans %}
                    Benefits of Mobile Data Collection in Agricultural Extension Programs
                {% endblocktrans %}
            </h2>
        </div> {# .content #}
    </div>
  <div class="content">
        <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
            <div class="column pad-top-small">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon1.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column .no-shrink #}          
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Mobile apps can support online and offline data
                                collection, facilitate record keeping, and generate
                                easily shareable reports for farming supervisors.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}             
                </div>{# .grid-flex #}
            </div>{# .column #}                             
            <div class="column pad-top-small ">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon4.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column. no-shrink #}          
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Registration and case sharing enable tracking
                                across visits, facilitating continuum of personalized
                                training according to crop, farm size, & technique.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}             
                </div>{# .grid-flex #}
            </div>      
            <div class="column pad-top-small ">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon2.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column.no-shrink #}                   
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Multimedia integrations offer more engaging worker trainings, ensuring correct information is
                                shared,while increasing worker performance.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}                     
                </div>{# .grid-flex #}                              
            </div>      
            <div class="column pad-top-small ">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon5.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column.no-shrink #}
            
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Interaction with servers ensures market
                                and technical information is accurate and
                                up-to-date.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}                         
                </div>{# .grid-flex #}                              
            </div>       
            <div class="column pad-top-small ">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon3.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column.no-shrink #}
            
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Decision support and checklists increase
                                adherence to protocols, improving extension
                                agents’ performance and efficiency.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}
                </div>{# .grid-flex #}
            </div>      
            <div class="column pad-top-small pad-bottom-small">
                <div class="grid-flex">
                    <div class="column no-shrink">
                        <div class="theme-icon">
                            {% include "svg/sectors/agriculture-extension-programs/AgExtension_Icon6.html" %}
                        </div>{# .theme-icon #}
                    </div>{# .column.no-shrink #}
            
                    <div class="column">
                        <p>
                            {% blocktrans %}
                                Mobile apps and SMS can send remindinders
                                to extension agents to follow up on lowperforming
                                farmers.
                            {% endblocktrans %}
                        </p>
                    </div>{# .column #}
                </div>{# .grid-flex #}  
            </div>              
        </div>   
    </div>
</section>