{% load dimagidotcom %}
{% load i18n %}

<section class="pad-bottom-small" 
				 id="news">
	<div class="content pad-top-small">
		<h2 class="">
			{% blocktrans %}
				The Latest on Mobile Data Collection in Agricultural <br>
				Extension Programs
			{% endblocktrans %}
		</h2>
		<p>
			<strong><b>
				{% blocktrans %}
					Update and advice from our world-class partner Global Service Team:
				{% endblocktrans %}
			</b></strong>
		</p>
	</div>{# .content #}
	<div class="content">
		<div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights ">
			<div class="column pad-top-small  ">
				<div class="">
					<img  src="../../../../static/pages/sectors/agriculture-extension-programs/news/AgExtension_Blog1.jpg" />
					<div class="pad-line">
						<h5 >
							<strong class="body-color">
								{% blocktrans %}
									What’s Ahead for Mobile Data <br>
									Collection in Agriculture?
								{% endblocktrans %}
							</strong>							
						</h5>
						<p class="body-color">
							{% blocktrans %}
								A Q&A with Research Coordinator
								Jack Hetherington (ACIAR) on his
								advice for mobile data collection in
								ad programs.
							{% endblocktrans %}
						</p>
						<h5>
							<br>
							<a href="https://www.dimagi.com/blog/whats-ahead-for-mobile-data-collection-in-agriculture/" class="link-gray">
								{% blocktrans %}
									Read More &gt;
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}

			<div class="column pad-top-small">
				<div class="">
					<img src="../../../../static/pages/sectors/agriculture-extension-programs/part2/AgExtension_FeaturedProject2.jpg" />
					<div class="pad-line">
						<h5 class="">
							<strong class="body-color">
								{% blocktrans %}
									How to Unlock the Power of <br>
									Feedback
								{% endblocktrans %}
							</strong>						
						</h5>
						<p class="body-color">
							{% blocktrans %}
								Oikoi (formerly AgImpact) shares
								their advice on how providing
								immediate feedback to beneficiaries
								can improve a variety of outcomes
								for the entire program.
							{% endblocktrans %}
						</p>
						<h5>
							<a href="https://dimagi.com/blog/mobile-data-collection-feedback/" class="link-gray">
								{% blocktrans %}
									Read More &gt;
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}

			<div class="column pad-top-small">
				<div class="">
					<img src="../../../../static/pages/sectors/agriculture-extension-programs/news/AgExtension_Blog3.jpg" />
					<div class="pad-line">
						<h5 class="">
							<strong class="body-color">
								{% blocktrans %}
									Digitizing Coffee Agronomy <br>
									Training & Monitoring
								{% endblocktrans %}
							</strong>						
						</h5>
						<p class="body-color">
							{% blocktrans %}
								Global Technology Manager Kevin
								Zeigler discusses how three of
								Technoserve’s initiatives adopted
								mobile data collection platforms to
								train farmers in East Africa.
							{% endblocktrans %}
						</p>
						<h5>
							<a href="https://www.dimagi.com/blog/digitizing-coffee-agronomy-training-monitoring/" class="link-gray">
								{% blocktrans %}
									Read More &gt;
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}
		</div>{# .grid #}
	</div>{# .content #} 
	<div class="content pad-top-small">
		<h2 class="">
			{% blocktrans %}
				Additional Resources to Explore
			{% endblocktrans %}
		</h2>
		<h4>
			<ul class="gap-left-base">
				<li class="gap-bottom-base"><a href="https://www.commcarehq.org/exchange/145d386993f5b6cf40f1ba96bdb961a3/info/"
					  class="body-color">
					{% blocktrans %}
						CARE CommCare App Available on the Exchange
					{% endblocktrans %}
				</a></li>
				<li class="gap-bottom-base"><a href="https://www.commcarehq.org/exchange/a8c0b7c6522fb4eeb707bc9f4123249e/info/"
					  class="body-color">
					{% blocktrans %}
						Farmer Tracking App on the Exchange
					{% endblocktrans %}
				</a></li>
				<li class="gap-bottom-base"><a href="https://www.youtube.com/watch?v=UvdDOQOI2i4" class="body-color">
					{% blocktrans %}
						CommCare Demo: CARE Pathways' Application for Agricultural Extension Workers
					{% endblocktrans %}
				</a></li>
				<li class="gap-bottom-base"><a href="https://www.youtube.com/watch?list=PLVmwIEfrcKqnGhas9Vy4CmPEvG9xVvQdr&v=8BzYVfsmmcA"
					  class="body-color">
					{% blocktrans %}
						Digitizing Development, CARE's Mobile MIS for Agriculture
					{% endblocktrans %}
				</a></li>
				<li class="gap-bottom-base"><a href="https://www.youtube.com/watch?v=uqRfAsuQx3s" class="body-color">
					{% blocktrans %}
						CommCare Demo on a Nokia
					{% endblocktrans %}
				</a></li>				
			</ul>
		</h4>
	</div>{# .content #}	
</section>
