{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true">
  <div class="green-bg pad-top-medium pad-bottom-medium">
    <div class="content align-center">
      <h3 class="white">
        {% blocktrans %}
          Learn how CommCare can help your agricultural extension program
        {% endblocktrans %}
      </h3>
      <div class="cta">
        <a class="button button-accent-gray "
            href="#demo-form-modal">
          {% blocktrans %}
            SCHEDULE A DEMO
          {% endblocktrans %}
        </a>
      </div> {# .cta #}
    </div> {# .content #}
  </div> {# .green-bg #}
</section>
