{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="intro-about-mdc">
  <div class="content content-width-large">

    <p>
      {% blocktrans %}
        A community health worker (CHW) is a frontline worker dedicated to providing
        quality health care to their local community. Their close relationship with
        those they serve fosters a trust that gives their health recommendations, diagnoses, and
        referrals added authority. As a link to available health facilities, clinics, and
        other resources, the community health worker’s objective is to improve the
        quality and availability of healthcare for underserved communities.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
       Most vulnerable populations are unable to access health services where they live – and
       when they can, the quality of care is usually low. Community health workers can offer
       essential care to these communities where they live. According to the World Health
       Organization,  “the increased coverage of essential health services and improved equity
       in coverage envisioned by well-functioning community health worker programmes will
       result in fewer deaths and illnesses and lower disease burdens.”
      {% endblocktrans %}
    </p>

  </div>
</section>
