{% extends "sections/pillar/community_health_worker/chapter2/list/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/pillar/mdc/chapter6/repetition.html" %}
{% endblock %}

{% block heading %}{% blocktrans %}
  Low pay
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Some programs will offer stipends, but few support their workers with a
  salary. And when they do, it’s rarely a livable wage. To be able to support
  their communities, these workers need to be able to support themselves, and
  that can mean sacrificing their short term productivity in order to put
  food on the table.
{% endblocktrans %}{% endblock %}
