{% extends "sections/pillar/community_health_worker/chapter2/list/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/pillar/mdc/chapter6/repetition.html" %}
{% endblock %}

{% block heading %}{% blocktrans %}
  Training
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  To improve the quality and speed of care, CHWs need to be well-trained in both
  the medical and administrative sides of the job. Unfortunately, whether
  it’s due to low levels of literacy or education, poor training materials,
  or inconsistent refresher trainings, CHWs are often not well-enough equipped
  to reach their potential.
{% endblocktrans %}{% endblock %}
