{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  About
{% endblocktrans %}{% endblock %}

{% block links %}
  <li>
    <a href="{% url 'about' %}"
       class="{% click_footer 'about' %}">
      {% blocktrans %}
        About us
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'careers' %}"
       class="{% click_footer 'careers' %}">
      {% blocktrans %}
        Careers
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'contact' %}"
       class="{% click_footer 'contact' %}">
      {% blocktrans %}
        Contact us
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'press' %}"
       class="{% click_footer 'press' %}">
      {% blocktrans %}
        Press & Media
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
