{% extends 'partials/footer/nav_section/_base_sub_menu.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block links %}
  <li>
    <a href="{% url 'commcare' %}"
       class="{% click_footer 'commcare' %}">
      {% blocktrans %}
        About CommCare
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'monitoring_evaluation' %}"
       class="{% click_footer 'monitoring_evaluation' %}">
      {% blocktrans %}
        CommCare for M&amp;E Teams
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'ict4d' %}"
       class="{% click_footer 'ict4d' %}">
      {% blocktrans %}
        CommCare for ICT4D Teams
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'research' %}"
       class="{% click_footer 'research' %}">
      {% blocktrans %}
        CommCare for Research Teams
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'commcare_features' %}"
       class="{% click_footer 'commcare_features' %}">
      {% blocktrans %}
        CommCare Features
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'commcare_integration' %}"
       class="{% click_footer 'commcare_integration' %}">
      {% blocktrans %}
        CommCare Integrations
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'commcare_pricing' %}"
       class="{% click_footer 'commcare-pricing' %}">
      {% blocktrans %}
        Pricing
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'case_management' %}"
       class="{% click_footer 'case-management' %}">
      {% blocktrans %}
        Case Management
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'toolkit' 'commcare-evidence-base' %}"
       class="{% click_footer 'commcare-evidence-base' %}">
      {% blocktrans %}
        Evidence Base
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'classroom' %}"
       class="{% click_footer 'classroom' %}">
      {% blocktrans %}
        Classroom
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
