{% extends 'partials/footer/nav_section/_base_sub_menu.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block links %}
  <li>
    <a href="{% url 'services' %}#implementation-packages"
       class="{% click_footer 'services' %} ">
      <span class="gap-right-base">&hyphen;</span>
      {% blocktrans %}
        Implementation Packages
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'services' %}#advisory-services"
       class="{% click_footer 'services' %}">
      <span class="gap-right-base">&hyphen;</span>
      {% blocktrans %}
        Advisory Services
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
