{% extends 'partials/footer/nav_section/_base_sub_menu.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block links %}
  <li>
    <a href="{% url 'quick_start' %}"
      class="{% click_footer 'quick-starts' %}">
      <span class="gap-right-base">&hyphen;</span>
      {% blocktrans %}
        Quick Start Guides
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'mobile_data_collection' %}"
      class="{% click_footer 'mobile-data-collection' %}">
      <span class="gap-right-base">&hyphen;</span>
      {% blocktrans %}
        Mobile Data Collection
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'data_collection' %}"
      class="{% click_footer 'data-collection' %}">
      <span class="gap-right-base">&hyphen;</span>
      {% blocktrans %}
        Data Collection
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
