{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Help
{% endblocktrans %}{% endblock %}

{% block links %}
  <li>
    <a href="//status.commcarehq.org/" 
       target="_blank"
       class="{% click_footer 'commcare-status' %}">
      {% blocktrans %}
        CommCare Status Page
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="//dimagi-dev.atlassian.net/servicedesk/customer/portals" 
       target="_blank"
       class="{% click_footer 'help' %}">
      {% blocktrans %}
        CommCare Help Site
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="//help.commcarehq.org" 
       target="_blank"
       class="{% click_footer 'documentation' %}">
      {% blocktrans %}
        Support Documentation
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="//forum.dimagi.com" 
       target="_blank"
       class="{% click_footer 'user-forum' %}">
      {% blocktrans %}
        User Forum
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="//github.com/dimagi/commcare-hq" 
       target="_blank"
       class="{% click_footer 'code' %}">
      {% blocktrans %}
        Code Base
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
