{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}
  Legal
{% endblocktrans %}{% endblock %}

{% block links %}
  <li>
    <a href="{% url 'terms' 'latest' 'privacy' %}">
      {% blocktrans %}
        Privacy Policy
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'terms' 'latest' 'tos' %}">
      {% blocktrans %}
        Terms of Service
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'terms' 'latest' 'aup' %}">
      {% blocktrans %}
        Acceptable Use Policy
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'terms' 'latest' 'ba' %}">
      {% blocktrans %}
        Business Agreement
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
