{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}
  Legal
{% endblocktrans %}{% endblock %}

{% block links %}
  <li>
    <a href="{% url 'terms' 'current' 'privacy' %}">
      {% blocktrans %}
        Privacy Policy
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'terms' 'current' 'eula' %}">
      {% blocktrans %}
        End User License Agreement
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'terms' 'current' 'psa' %}">
      {% blocktrans %}
        Product Subscription Agreement
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
