{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}
  {% blocktrans %}
    Products & Services
  {% endblocktrans %}
{% endblock %}

{% block links %}
  <li>
    <a class="arrow ab-footer-head-commcare "
       data-transition-state="on"
       data-transition-target="footer-commcare"
       href="#">
      {% blocktrans %}
        CommCare
      {% endblocktrans %}
    </a>
    {% include 'partials/footer/nav_section/commcare_menu.html' with slug="commcare" %}
  </li>

  <li>
    <a class="arrow ab-footer-head-focusmdm"
       data-transition-state="on"
       data-transition-target="footer-focusmdm"
       href="#">
      {% blocktrans %}
        FocusMDM
      {% endblocktrans %}
    </a>
    {% include 'partials/footer/nav_section/focus_mdm_menu.html' with slug="focusmdm" %}
  </li>
  
  <li>
    <a class="arrow ab-footer-head-global_service"
       data-transition-state="on"
       data-transition-target="footer-global_service"
       href="#">
      {% blocktrans %}
        Services
      {% endblocktrans %}
    </a>
    {% include 'partials/footer/nav_section/global_service_menu.html' with slug="global_service" %}
  </li>
  <li>
    <a class="ab-footer-head-sureadhere"
       href="https://www.sureadhere.com/"
       target="_blank">
      {% blocktrans %}
        SureAdhere
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
