{% extends 'partials/footer/nav_section/_base.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Resources
{% endblocktrans %}{% endblock %}

{% block links %}
  <li>
    <a href="{% url 'toolkits' %}"
       class="{% click_footer 'toolkits' %}">
      {% blocktrans %}
        Toolkits
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'case_studies' %}"
       class="{% click_footer 'case-studies' %}">
      {% blocktrans %}
        Case studies
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'sectors' %}"
       class="{% click_footer 'sectors' %}">
      {% blocktrans %}
        Sectors
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'toolkit' 'commcare-evidence-base' %}"
       class="{% click_footer 'research' %}">
      {% blocktrans %}
        CommCare Research
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'case_management' %}"
       class="{% click_footer 'case-management' %}">
      {% blocktrans %}
        Case Management
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'partner_program' %}"
       class="{% click_footer 'partner-program' %}">
      {% blocktrans %}
        Partner Program
      {% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'mobile_data_collection' %}"
       class="{% click_footer 'mobile-data-collection' %}">
      {% blocktrans %}
        Mobile Data Collection Guide
      {% endblocktrans %}
    </a>
  </li>
{% endblock %}
