{% load i18n %}
{% load dimagidotcom %}

<article class="epic part3">
  <section class="epic-cover"
    data-lazybg="true">
    <div class="commcare-text pad-top-base pad-top-medium-at-medium pad-top-medium-at-large pad-top-medium-at-extra-large pad-top-base-at-small pad-bottom-medium pad-left-large-at-small">
      <div class="content content-width-medium">
        <div class=" content-width-small">
          <h3 class="white mb-10">
            {% blocktrans %}
              Get all the details on CommCare’s data integrations
            {% endblocktrans %}
          </h3>
          <div class="cta">
            <a class="button button-accent-gray"
               href="#hubspot-download-form-pdf-summary">
              {% blocktrans %}
                Download summary
              {% endblocktrans %}
            </a>
          </div> {# .cta #}
        </div>
      </div> {# .content #}
      <div class="phone-image off-grid white-lazy-bg"
        data-lazybg="true">
      </div>
    </div> {# .commcare-text #}
  </section>
</article>
