{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true"
         id="programs">
  <div class="accent-gray-bg" >
    <div class="content pad-top-medium pad-bottom-medium programs-images">
      <h2 class="align-center pad-bottom-small">
        {% blocktrans %}
          Featured CommCare-Based <br class="hide-until-medium"> Nutrition Programs
        {% endblocktrans %}
      </h2>
      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-small">
        <div class="column">
          <div class="pad-bottom-base white-bg">
            <div class="image featured-project1" data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h5>
                <strong class="body-color">
                  {% blocktrans %}
                    Real Medicine Foundation <br>
                    India
                  {% endblocktrans %}
                </strong>
              </h5>
              <p>
                {% blocktrans %}
                  Educators calculate MUAC to identify children with Severe and Moderate Acute
                  Malnutrition, offering support & counseling.
                {% endblocktrans %}
              </p>
              <p class="pad-top-line-at-large">
                <a href="#modal-feature-card-1"
                   class="arrow link-gray read-more">
                  {% blocktrans %}
                    Read More
                  {% endblocktrans %}
                </a>
              </p>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base white-bg">
            <div class="image featured-project2" data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h5>
                <strong class="body-color">
                  {% blocktrans %}
                    Food for the Hungry <br>
                    Mozambique
                  {% endblocktrans %}
                </strong>
              </h5>
              <p>
                {% blocktrans %}
                  Health workers use CommCare during GMP sessions in Cabo Delgado, a province with
                  one of the highest malnutrition rates in Mozambique.
                {% endblocktrans %}
              </p>
              <p>
                <a href="#modal-feature-card-2"
                   class="arrow link-gray read-more">
                  {% blocktrans %}
                    Read More
                  {% endblocktrans %}
                </a>
              </p>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base white-bg">
            <div class="image featured-project3" data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h5>
                <strong class="body-color">
                  {% blocktrans %}
                    Operation Smile <br>
                    India
                  {% endblocktrans %}
                </strong>
              </h5>
              <p>
                {% blocktrans %}
                  Community health workers use CommCare to track the nutritional status of children
                  with cleft lip and palates in Assam ahead of their surgeries.
                {% endblocktrans %}
              </p>
              <p>
                <a href="#modal-feature-card-3"
                   class="arrow link-gray read-more">
                  {% blocktrans %}
                    Read More
                  {% endblocktrans %}
                </a>
              </p>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
      </div> {# .grid #}
    </div> {# .content #}
  </div> {# .accent-gray-bg #}
</section>

{% block modals %}
  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="modal-feature-card-1">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none programs-images">
          <h4>
            <strong class="body-color">
              {% blocktrans %}
                Real Medicine Foundation <br>
                India
              {% endblocktrans %}
            </strong>
          </h4>
          <div class="grid-flex-at-large">
            <div class="column">
              <p class="body-color">
                {% blocktrans %}
                  Educators calculate MUAC to identify children with Severe and Moderate Acute
                  Malnutrition, offering support & counseling.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  RMF implemented CommCare to assist Community Nutrition Educators (CNEs) in
                  identifying children with Severe Acute Malnutrition (SAM) and Moderate Acute
                  Malnutrition (MAM) through measuring MUAC. In addition to tracking MUAC over time,
                  the application supports counseling to families of malnourished children and refers
                  these children to government treatment facilities for rehabilitation in villages of
                  Madhya Pradesh. Their work was previously recorded in paper format and implementation
                  of mobile data collection has reduced the latency period from 45 days to eight hours.
                {% endblocktrans %}
              </p>
            </div> {# .column #}
            <div class="column">
              <div class="image featured-project1 modal-popup" data-lazybg="true"></div>
            </div> {# .column #}
          </div> {# .grid #}
        </div> {# .content #}
      </div> {# .modal-wrapper #}
    </div> {# .modal-scroll #}
  </div> {# .modal #}

  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="modal-feature-card-2">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none programs-images">
          <h4>
            <strong class="body-color">
              {% blocktrans %}
                Food for the Hungry <br>
                Mozambique
              {% endblocktrans %}
            </strong>
          </h4>
          <div class="grid-flex-at-large">
            <div class="column">
              <p class="body-color">
                {% blocktrans %}
                  Health workers use CommCare during GMP sessions in Cabo Delgado, a province with
                  one of the highest malnutrition rates in Mozambique.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  Food for the Hungry implemented CommCare to improve surveillance and counseling
                  during GMP sessions in northern Cabo Delgado, a province with one of the highest
                  malnutrition rates in Mozambique. The CommCare application calculates and records
                  children’s weight-for-age Z scores and MUAC.
                {% endblocktrans %}
              </p>
            </div> {# .column #}
            <div class="column">
              <div class="image featured-project2 modal-popup" data-lazybg="true"></div>
            </div> {# .column #}
          </div> {# .grid #}
        </div> {# .content #}
      </div> {# .modal-wrapper #}
    </div> {# .modal-scroll #}
  </div>{# .modal #}

  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="modal-feature-card-3">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none programs-images">
          <h4>
            <strong class="body-color">
              {% blocktrans %}
                Operation Smile <br>
                India
              {% endblocktrans %}
            </strong>
          </h4>
          <div class="grid-flex-at-large">
            <div class="column">
              <p class="body-color">
                {% blocktrans %}
                  Community health workers use CommCare to track the nutritional status of children
                  with cleft lip and palates in Assam ahead of their surgeries.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  Operation Smile implemented a CommCare application to track the nutritional status
                  of children with cleft lip and palates in Assam. The application tracks the
                  children’s progress in becoming sufficiently nourished to undergo cleft palate surgery.
                {% endblocktrans %}
              </p>
            </div> {# .column #}
            <div class="column">
              <div class="image featured-project3 modal-popup" data-lazybg="true"></div>
            </div> {# .column #}
          </div> {# .grid #}
        </div> {# .content #}
      </div> {# .modal-wrapper #}
    </div> {# .modal-scroll #}
  </div> {# .modal #}
{% endblock %}
