{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}error-404-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/errors.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero"
         id="hero">
  <div class="content align-left-at-medium align-center">
    <h2 class="gap-vert-line-at-medium gap-top-large">
      {% blocktrans %}
        WOOF!
      {% endblocktrans %}
    </h2>
    <h1>
      {% blocktrans %}
        Looks like Bailey<br /> nomed this page.
      {% endblocktrans %}
    </h1>
    <p>
      {% blocktrans %}
        She's our office dog and she likes snacks...and pages.<br />
        Maybe one of the links below will help you<br />
        find the page you're looking for?
      {% endblocktrans %}
    </p>
    <p class="cta">
      <a class="button alt inverted" href="/">
        {% blocktrans %}
          Back to Homepage
        {% endblocktrans %}
      </a>
    </p>
  </div> {# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="error-container orange-theme">
    {% include 'sections/error/resources.html' %}
  </section>
{% endblock %}
