{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}error-500-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/errors.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero"
         data-lazybg="true"
         id="hero">
  <div class="content align-left-at-medium align-center">
    <h2 class="gap-bottom-line gap-top-line-at-medium gap-top-large">
      {% blocktrans %}
        500
      {% endblocktrans %}
    </h2>
    <h1>
      {% blocktrans %}
        Uh oh, it looks like something went wrong.
      {% endblocktrans %}
    </h1>
    <p class="pad-bottom-line">
      {% blocktrans %}
        We've alerted our developers and will have someone fixing this shortly.
      {% endblocktrans %}
    </p>
    <p class="cta">
      <a class="button alt inverted" href="/">
        {% blocktrans %}
          Back to Homepage
        {% endblocktrans %}
      </a>
    </p>
  </div> {# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="error-container slate-theme">
    {% include 'sections/error/resources.html' %}
  </section>
{% endblock %}
