{% load i18n %}{% load dimagidotcom %}<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta property="dimagi:baseUrl" content="{{ meta.baseUrl }}">

    <title>Dimagi.com</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700,900" rel="stylesheet">

    {% compress css %}
    <link href="{% sass_src 'style/app.scss' %}" rel="stylesheet" media="screen" type="text/css" />
    {% endcompress %}

    {% block stylesheets %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <main class="main-content position-relative" id="main-content" role="main">
      <div id="top"></div>
      {% include 'partials/header.html' %}
      {% block hero %}<section class="hero" id="hero"></section>{% endblock hero %}
      {% block content %}{% endblock %}
      {% include 'partials/footer.html' %}
    </main>

    <script src="{% static 'js/lib/requirejs/require.js' %}"></script>
    <script src="{% static 'js/requirejs-config.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}{% endblock %}

  </body>
</html>
