{% load i18n %}{% load dimagidotcom %}<!DOCTYPE html>
{# todo add .js if js is active .no-js if js is not active #}
{# todo menu-active #}
{# todo add .touch if touch is active .no-touch if not active #}
{# todo add .cssanimations, .csstransforms3d, csstransitions, .video .audio, .svg, .inlinesvg, .pointerevents .show-time #}
{# note: app.js adds classes to <html> to trigger certain css behaviors. #}
{# These classes are: #}
{#     js, no-js, touch, no-touch, cssanimations, #}
{#     csstransformations3d, csstransitions, video, audio, svg, inlinesvg #}
{#     pointerevents, show-time #}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta property="dimagi:baseUrl" content="{{ meta.baseUrl }}">

    <title>Dimagi.com</title>


    {# todo bring font offline and load from CDN #}
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700,900" rel="stylesheet">

    {% compress css %}
    <link href="{% sass_src 'style/app.scss' %}" rel="stylesheet" media="screen" type="text/css" />
    {% endcompress %}

    {% block stylesheets %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <main class="main-content position-relative" id="main-content" role="main">
      <div id="top"></div>
      {% include 'partials/header.html' %}
      {% block hero %}<section class="hero" id="hero"></section>{% endblock hero %}
      {% block content %}{% endblock %}
      {% include 'partials/footer.html' %}
    </main>

    <script src="{% static 'js/lib/requirejs/require.js' %}"></script>
    <script src="{% static 'js/requirejs-config.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}{% endblock %}

  </body>
</html>
