{% load i18n %}{% load dimagidotcom %}{% load capture_tags %}<!DOCTYPE html>
{# note: modernizr.js and app.js add classes to <html> to trigger certain css behaviors. #}
{# These classes are: #}
{#     js, no-js, touch, no-touch, cssanimations, #}
{#     csstransformations3d, csstransitions, video, audio, svg, inlinesvg #}
{#     pointerevents, show-time #}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta property="dimagi:baseUrl" content="{{ meta.baseUrl }}">

    <meta property="dimagi:trackingConfig" content="{{ meta.trackingConfig|JSON|META_STR }}">
    <meta property="dimagi:tracking" content="{{ meta.tracking|JSON|META_STR }}">
    <meta property="dimagi:trackingAB" content="{{ meta.trackingAB|JSON|META_STR }}">

    {% if request.hide_drift %}
      <meta property="dimagi:driftHide" content="true">
    {% endif %}

    {% capture as page_title silent %}
      {% block title %}Dimagi{% endblock %}
    {% endcapture %}

    {% capture as page_description silent %}{% block description %}
      {% blocktrans %}
        Dimagi builds technology solutions designed for impact. We on a mission
        to improve the efficiency and quality of impact-driven work globally.
        Our core product is CommCare - mobile data collection with the power
        of case management.
      {% endblocktrans %}
    {% endblock %}{% endcapture %}

    {% capture as page_social_card silent %}{% block social_card_url %}
      {% static 'pages/home/default-social-card.jpg' %}
    {% endblock %}{% endcapture %}

    <title>{{ page_title|escape|TRIM }}</title>
    <meta name="description"
          content="{{ page_description|escape|TRIM }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dimagi">
    <meta name="twitter:title" content="{{ page_title|escape|TRIM }}">
    <meta name="twitter:description" content="{{ page_description|escape|TRIM }}">
    <meta name="twitter:creator" content="@dimagi">
    <meta name="twitter:image"
          content="{% block twitter_image %}{{ page_social_card|TRIM|HTTPS }}{% endblock %}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page_title|escape|TRIM }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image"
          content="{% block facebook_image %}{{ page_social_card|TRIM|HTTPS }}{% endblock %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="{{ page_description|escape|TRIM }}" />
    <meta property="og:site_name" content="Dimagi" />

    {% block meta %}{% endblock %}

    <link rel="icon"
          type="image/png"
          href="{% static 'pages/home/favicon.png' %}">

    {# todo bring font offline and load from CDN #}
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,300,400,500,700,800" rel="stylesheet">

    {% compress css %}
    <link href="{% sass_src 'style/app.scss' %}" rel="stylesheet" media="screen" type="text/css" />
    {% endcompress %}

    {% block stylesheets %}{% endblock %}

    {% if meta.tracking.GTM %}
      {# we don't insert this into the analytix library becase no management happens on the dev side for Google Tag Manager #}
      {# also there is a noscript component below, which makes keeping everything contained in a js bundle impossible #}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ meta.tracking.GTM }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% if meta.tracking.GTM %}
      {# we don't insert this into a library becase no management happens on the dev side for Google Tag Manager #}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ meta.tracking.GTM }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <main class="main-content position-relative" id="main-content" role="main">
      <div id="top"></div>
      {% include 'partials/header.html' %}
      {% block hero %}<section class="hero" id="hero"></section>{% endblock hero %}
      {% block content %}{% endblock %}
      {% include 'partials/footer.html' %}
    </main>

    <div class="modal"
         data-dismissible="true"
         data-size="medium"
         id="contact-form-modal">
      <div class="modal-scroll">
        <div class="modal-wrapper">
          <a href="#" class="modal-close-button"></a>
          <div class="content pad-horz-medium pad-vert-none neutral-theme">
            <h3>
              {% blocktrans %}
                Contact Us
              {% endblocktrans %}
            </h3>
            <section id="contact-form-content"></section>
          </div>{# .content #}
        </div>{# .modal-wrapper #}
      </div>{# .modal-scroll #}
    </div>{# .modal #}

    {% block modals %}{% endblock %}

{#    <script src="{% static 'js/lib/requirejs/require.js' %}"></script>#}
{#    <script src="{% static 'js/requirejs-config.js' %}"></script>#}
{#    {% compress js %}#}
{#    <script src="{% static 'js/app.js' %}"></script>#}
{#    {% endcompress %}#}
    {% require_module 'app' %}

    <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "503070",
        formId: "160467c5-1ae9-401c-81f2-09334ce10b1a",
        target: "#contact-form-content",
        css: ""
      });
    </script>

    {% block js %}{% endblock %}

  </body>
</html>
