{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  CommCare Onboarding
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  A helping hand for new partners
{% endblocktrans %}{% endblock %}

{% block body_class %}product-commcare-onboarding tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/commcare/product_onboarding.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero"
           data-lazybg="true"
           id="hero">
    <div class="content align-left-at-medium align-center gap-top-large gap-top-small-at-medium gap-top-line-at-large">
      <h2 class="pad-top-small">
        {% blocktrans %}
          Onboarding Packages
        {% endblocktrans %}
      </h2>
      <h1>
        {% blocktrans %}
          A helping hand for new partners
        {% endblocktrans %}
      </h1>
    </div>{# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="products-commcare-container">
    {% include "sections/commcare/product_onboarding/sub_nav.html" %}
    {% include "sections/commcare/product_onboarding/overview.html" %}
    {% include "sections/commcare/product_onboarding/curriculum.html" %}
    {% include "sections/commcare/product_onboarding/commcare_demo.html" %}
    {% include "sections/commcare/product_onboarding/testimonial.html" %}
  </section>
{% endblock %}
{% block modals %}
  <div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="onboarding-services-form">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none blue-theme">
          <section id="onboarding-services-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "8c30b860-9825-4bb3-8d1a-ea314c8822ac",
      target: "#onboarding-services-form-content",
      css: ""
    });
  </script>
{% endblock %}