{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}
{% load capture_tags %}

{% block title %}{% blocktrans %}
  CommCare Data Integrations
{% endblocktrans %}{% endblock %}

{% capture as page_social_card silent %}{% block social_card_image_url %}
  {% static 'pages/commcare/product-integration/intro/hero.jpg' %}
{% endblock %}{% endcapture %}

{% block body_class %}product-integration-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/commcare/product_integration.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="blue-theme">
    <section class="hero" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  {% include "sections/commcare/product-integration/overview.html" %}
  {% include "sections/commcare/product-integration/demo.html" %}
  {% include "sections/commcare/product-integration/benefit.html" %}
  {% include "sections/commcare/product-integration/summary_download.html" %}
  {% include "sections/commcare/product-integration/news.html" %}
  {% include "sections/commcare/product-integration/partners.html" %}
{% endblock %}

{% block modals %}
  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="hubspot-download-form-pdf-summary">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none blue-theme">
          <section id="download-pdf-summary-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    //  Download pdf summary form
    hbspt.forms.create({
      portalId: "503070",
      formId: "99d0f8e0-eb74-468a-bf44-944ca2b06d56",
      target: "#download-pdf-summary-form-content",
      css: "",
      onFormSubmit: function () {
        window.open('https://cdn2.hubspot.net/hubfs/503070/Toolkits/CommCare%20Integrations.pdf', "_blank");
      },
    });
    hbspt.forms.create({
      portalId: "503070",
      formId: "afb4d5a0-826f-4a56-8c21-552d4b6dafa3",
      target: "#demo-form-content",
      css: "",
    });
  </script>
{% endblock %}
