{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  CommCare Pricing | Affordable Mobile Data Collection
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  CommCare is an affordable mobile data collection platform that will fit your
  budget and needs. Start your FREE CommCare trial today.
{% endblocktrans %}{% endblock %}

{% block body_class %}pricing-commcare-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/commcare/pricing.scss' %}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{% sass_src 'style/pages/commcare/pricing_rates.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block js %}
  {% compress js %}
  <script src="{% static 'js/pricing.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block meta %}
  <meta property="wistia:videoId" content="9uvnpbecdy" />
  <meta property="wistia:videoTrigger" content="demo-video" />
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero hero-products-commcare"
           data-lazybg="true"
           id="hero">
    <div class="content offset-top-extra-large align-left-at-medium align-center">
      <h2>
        {% include "svg/commcare/logo.html" %}
      </h2>
      <h1>
        {% blocktrans %}
          Affordable Mobile Data Collection Pricing Plans to Fit Any Budget
        {% endblocktrans %}
      </h1>
      <a class="button alt inverted {% click_hero 'trial' %}"
         href="{{ URL_TRIAL }}">
        {% blocktrans %}
          Start Free Trial
        {% endblocktrans %}
      </a>
      <p class="cta">
        {% trans 'Watch a demo' as video_text %}
        {% click_hero 'video' as click_video %}
        {% include "partials/wistia_popover.html" with wistia_id='9uvnpbecdy' show_play=True text=video_text click_class=click_video %}
      </p>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section id="ko-pricing-control" class="pricing-commcare-container blue-dark-theme">
    {% include "sections/commcare/pricing/sub_nav.html" %}
    {% include "sections/commcare/pricing/plans.html" %}
    {% include "sections/commcare/pricing/detailed_comparison.html" %}
    {% include "sections/commcare/pricing/faq.html" %}
    {% include "sections/commcare/pricing/experience.html" %}
  </section>
{% endblock %}

{% block modals %}
    {% include "sections/commcare/pricing/detailed_comparison/modal.html" %}
{% endblock %}
