{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  CommCare for Vaccine Delivery
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  CommCare for Equitable Vaccine Delivery
{% endblocktrans %}{% endblock %}

{% block body_class %}commcare-vaccine-delivery tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/commcare/vaccine_delivery.scss' %}" rel="stylesheet" media="screen"
          type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero hero-services"
          data-lazybg="true"
          id="hero">
    <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
      <div class="copy expand position-relative">

        <h2 class="gap-bottom-base">
          {% blocktrans %}
            COMMCARE SOLUTIONS
          {% endblocktrans %}
        </h2>

        <h1 class="content-width-medium">
          {% blocktrans %}
            Dimagi’s Vaccine Solution
          {% endblocktrans %}
        </h1>

        <p class="content-width-medium pad-top-base">
          {% blocktrans %}
            Manage vaccine delivery with an application on CommCare
          {% endblocktrans %}
        </p>

        <div class="copy grid-2 content-width-medium pad-top-small">
          <p class="button cta inverted alt {% click_hero 'contact' %} vd-demo-button">
            {% trans 'Watch a demo' as video_text %}
            {% click_hero 'video' as video_click_class %}
            {% include "partials/wistia_popover.html" with wistia_id='yonc594beb' show_play=True text=video_text click_class=video_click_class %}
          </p>
          <p class="align-center pad-top-small learn-btn">
            <a href="{% url 'commcare' %}"
              class="arrow {% click_hero 'demo' %}">
              {% blocktrans %}
                Learn more about CommCare
              {% endblocktrans %}
            </a>
          </p>
        </div>

      </div>{# .copy #}
    </div>{# .content #}
  </section>
{% endblock %}

{% block content %}
  <section>
    {% include "sections/commcare/vaccine-delivery/sub_nav.html" %}
    {% include "sections/commcare/vaccine-delivery/intro.html" %}
    {% include "sections/commcare/vaccine-delivery/approach.html" %}
    {% include "sections/commcare/vaccine-delivery/features.html" %}
    {% include "sections/commcare/vaccine-delivery/solution_action.html" %}
    {% include "sections/commcare/vaccine-delivery/success.html" %}
    {% include "sections/commcare/vaccine-delivery/read_more.html" %}
    {% include "sections/commcare/vaccine-delivery/build.html" %}
    {% include "sections/commcare/vaccine-delivery/covid-response.html" %}
  </section>
{% endblock %}
