{% load i18n %}
{% load dimagidotcom %}

<section class="good-citizen">
  <div class="content-width-large feature-projects pad-vert-line pad-horz-line">
    <div class="grid-flex-at-medium">
      <div class="feature-partner-good-citizen column pad-top-small flex-align-left">
        <div class="image" data-lazybg="true"></div>
      </div>
      <div class="column pad-left-small">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          {% blocktrans %}
            GOODCITIZEN
          {% endblocktrans %}
        </h6>
        <p class="align-left">
          {% blocktrans %}
            GoodCitizen Co. Ltd is an IT services and software development 
            firm engaged in building integrated software and IT services solutions. 
            With wide and long experience in delivering software projects in Uganda 
            and Africa, GoodCitizen has mastered the art of delivering solutions that 
            respond to the specific needs of the customer, both on schedule and within 
            budget. We provide contextually relevant high-quality solutions in the developing world.
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="arrow" href="http://gcinnovate.com/" target="_blank">
            {% blocktrans %}
              Contact GoodCitizen
            {% endblocktrans %}
          </a>
        </p>
      </div>
    </div>
  </div>{# .feature-projects #}
</section>{# .goodcitizen #}
