{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
Maternal & Child Healthcare
{% endblocktrans %}{% endblock %}

{% block body_class %}meternal-health-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/sectors/maternal-and-child-health.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %} 
<div class="blue-theme">
  <section class="hero hero-blog" id="hero"></section>
</div> 
{% endblock %}

{% block content %}
    {% include "sections/sectors/maternal_and_child_health/sub_nav.html" %}
	  {% include "sections/sectors/maternal_and_child_health/overview.html" %}
	  {% include "sections/sectors/maternal_and_child_health/part1.html" %}
	  {% include "sections/sectors/maternal_and_child_health/benefit.html" %}
	  {% include "sections/sectors/maternal_and_child_health/part2.html" %}
	  {% include "sections/sectors/maternal_and_child_health/programs.html" %}
	  {% include "sections/sectors/maternal_and_child_health/part3.html" %}
	  {% include "sections/sectors/maternal_and_child_health/news.html" %}
	  {% include "sections/sectors/maternal_and_child_health/part4.html" %}
    {% include "sections/sectors/maternal_and_child_health/testimonial.html" %}
{% endblock %}

{% block modals %}
	<div class="modal" 
			 data-dismissible="true"
		   data-size="medium"
		   id="schedule-demo-form">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none blue-theme">
          <h3>
            {% blocktrans %}
              Schedule A Demo
            {% endblocktrans %}
          </h3>
          <section id="schedule-demo-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}

  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="hubspot-download-form-pdf-summary">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none blue-theme">
          <section id="download-pdf-summary-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "afb4d5a0-826f-4a56-8c21-552d4b6dafa3",
      target: "#schedule-demo-form-content",
      css: ""
    });
    hbspt.forms.create({
      portalId: "503070",
      formId: "949e4151-51c6-496a-a924-a2237c85f8a6",
      target: "#download-pdf-summary-form-content",
      css: "",
      onFormSubmit: function () {
        window.open('https://cdn2.hubspot.net/hubfs/503070/Sector%20PDFs/CommCare_MaternalChildHealth.pdf', "_blank");
      },
    });
  </script>
{% endblock %}
