{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Sectors & Industries Using Mobile Data Collection
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Learn how organizations are using mobile data collection across sectors to maximize their impact.
{% endblocktrans %}{% endblock %}

{% block body_class %}sectors-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/sectors.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero"
         data-lazybg="true"
         id="hero">
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
    <div class="copy expand position-relative">

      <h1>
        {% blocktrans %}
          Sectors &amp; Industries: Leveraging Mobile Data Collection Across Sectors
        {% endblocktrans %}
      </h1>
      <p>
        {% blocktrans %}
          Dimagi's signature solution, CommCare, is making an impact across all social impact sectors with industry-leading mobile data collection tools
        {% endblocktrans %}
      </p>

    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="sectors-container">
    {% include 'sections/sectors/list.html' %}
  </section>
{% endblock %}
