{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Sectors Using CommCare
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  CommCare is an industry-leading mobile data 
  collection tool that is making an impact across sectors
{% endblocktrans %}{% endblock %}

{% block body_class %}sectors-page tucked-hero{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/sector.js' %}"></script>
{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/sectors.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="sector-home-page hero"
         data-lazybg="true"
         id="hero">
  <div class="content gap-top-small gap-top-line-at-large">
    <h1 class="gap-vert-line">
      {% blocktrans %}
        Sectors Using CommCare
      {% endblocktrans %}
    </h1>
    <div class="selected-container align-center">
      <h5 class="tile selected selected-card gap-bottom-line pad-base">
        <div class="words">
          Explore <strong>sectors</strong>
        </div>
        <div class="caret">
          {% include "svg/caret_down.html" %}
        </div>
      </h5>
      <ul class="tile pad-none reset selector card-selector pad-vert-base charcoal-muted sub-sector-selector">
        {% for sector in sectors %}
          <li class="pad-horz-small pad-vert-base home-{{ sector.slug }} {{ sector.theme }}-item">
            <h4 class="h4 font-weight-medium gap-bottom-none">
              {{ sector.name }}
            </h4>
          </li>
        {% endfor %}
     </ul>
   </div>{# .selected-container#}
  </div> {# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="sectors-container">
    {% include 'sections/sectors/list.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_build.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_contact.html' %}
  </section>
{% endblock %}
