{% extends "sections/home/awards/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/ribbon.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  A powerful research tool
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  CommCare was selected as the best mobile data collection
  solution for agriculture research projects in a study funded by the
  Australian government.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  {% url 'blog_post' 'commcare-for-agriculture-aciar' %}
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Find out what you should look for in a data collection tool
{% endblocktrans %}{% endblock %}

