{% extends "sections/home/awards/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/thumbs_up.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Empowers frontline health workers
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  CommCare was the most popular mobile platform among
  frontline health workers in developing countries, in a study
  by Johns Hopkins University.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  {% url 'blog_post' 'study-finds-commcare-to-be-the-most-frequently-used-mobile-platform-for-frontline-health-workers' %}
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Read the Johns Hopkins University study
{% endblocktrans %}{% endblock %}
