{% extends "sections/home/awards/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/thumbs_up.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Empowers frontline health workers
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  CommCare was the most popular mobile platform among
  frontline health workers in developing countries.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  #todo
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Read the Johns Hopkins University study
{% endblocktrans %}{% endblock %}
