{% extends 'snippets/icon_with_text_cta.html' %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/trophy.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  #1 in mobile data collection
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Kopernik ranked CommCare as the number one mobile data collection platform.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  #todo
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Read the Kopernik study
{% endblocktrans %}{% endblock %}
