{% extends "sections/home/awards/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/trophy.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  #1 in mobile data collection
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Kopernik ranked CommCare as the #1 mobile data
  collection platform.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  http://impacttrackertech.kopernik.info/technologies/
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Learn why CommCare was ranked  the #1 mobile data tool
{% endblocktrans %}{% endblock %}
