{% extends 'snippets/icon_with_text_cta.html' %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/icon/studies.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Backed by over 60 independent studies
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  CommCare was selected as the best mobile data collection solution
  for agriculture research projects in a study funded by the
  Australian government.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  #todo
{% endblock %}

{% block cta_text %}{% blocktrans %}
  Read the study by the Australian government
{% endblocktrans %}{% endblock %}
