{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content pad-vert-base">
    <div class="actions">

      {% click_subnav 'demo' as click_class %}
      <a class="primary cta-schedule-demo"
        data-clickclass="{{ click_class }}"
        href="{{ URL_TRIAL }}">
        <span>
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </span>
      </a>


    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Update
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <p href="#overview">
          {% blocktrans %}
            Seamlessly integrate CommCare with Tableau and Power BI for 
            beautiful reports and visualizations.
          {% endblocktrans %}
        </p>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
