{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav sub-nav-banner"
         id="sub-nav">
  <div>
    <div class="content banner-main">
      <p class="align-center">
          {% blocktrans %}
            Just Launched: New Tableau and Power BI Data Integration!
          {% endblocktrans %}
      </p>
    </div>
    <div class="column flex-align-center">
      <a class="primary banner-btn cta-schedule-demo white"
         href="{% url 'blog_post' 'commcare-tableau-power-bi' %}" target="_blank">
        <span>
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .column #}
  </div>{# .content #}
</section>
