{% load dimagidotcom %}
{% load i18n %}

<section class="build border-top"
         id="build">
  <div class="content pad-vert-medium">

    <div class="intro content-width-large gap-bottom-small">
      <h2 class="normalcase">
        {% blocktrans %}
          Build Powerful Mobile Data Collection Applications
        {% endblocktrans %}
      </h2>
      <p class="gap-bottom-base">
        {% blocktrans %}
          Create smarter, beautiful mobile applications with our robust
          feature set, all without writing a single line of code.
          <br class="hide-until-large"/>
          Collect data offline, track data over time, incorporate multimedia,
          build in multiple languages, and much more.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="content-width-large pad-horz-small-at-small pad-horz-none-at-extra-large gap-top-small">
      <div class="image white-lazy-bg"
           data-lazybg="true"></div>
    </div>{# .content-width-large #}

    <p class="align-center pad-top-small">
      <a class="arrow"
         href="{% url 'commcare' %}#app-builder">
        {% blocktrans %}
          Learn about CommCare's powerful app builder
        {% endblocktrans %}
      </a>
    </p>
  </div>{# .content #}
</section>
