{% load i18n %}
{% load dimagidotcom %}

<section class="contact-us border-top">
  <div class="content content-width-medium pad-top-medium pad-bottom-large">
    <div class="intro gap-bottom-small">
      <h4 class="neutral-dark">
        {% blocktrans %}
          Looking for more information?
        {% endblocktrans %}
      </h4>
    </div>{# .intro #}
    <div class="column flex-align-center">
      <p>
        <a class="button button-neutral-dark" href="#contact-form-modal">
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </a>
      </p>
    </div>{# .column #}
  </div>{# .content #}
</section>
