{% load i18n %}
{% load dimagidotcom %}

<div class="top-banner-ad">
  <a href="#"
     class="top-banner-ad-close">
    {% include 'svg/close.html' %}
  </a>
  <div class="content pad-vert-large">
    <h3>
      {% blocktrans %}
        CommCare is now free for organizations fighting coronavirus (COVID-19).
      {% endblocktrans %}
    </h3>
    <p class="gap-bottom-none">
      <a href="{% url 'blog_post' 'coronavirus-covid-19-response-initiative' %}"
         class="button inverted alt gap-bottom-none">
        {% trans "Learn More" %}
      </a>
    </p>
  </div>
</div>
