{% load dimagidotcom %}
{% load i18n %}

<section class="data"
         id="data">
  <div class="content border-top pad-vert-medium">

    <div class="intro gap-bottom-small">
      <h2 class="normalcase">
        {% blocktrans %}
          Make Data-Driven Decisions
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Collect clean, quality data you can trust and make informed decisions with CommCare's built-in reporting tools.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="content-width-large pad-horz-small-at-small pad-horz-none-at-extra-large gap-top-small">
      <div class="device-container browser-ui">
        <div class="screen">
          {# todo replace placeholder #}
          <img src="{% static 'pages/home/excel-dashboard-v1.jpg' %}">
        </div>{# .screen #}
      </div>{# .device-container #}
    </div>{# .content-width-large #}

    <p class="pad-top-small align-center">
      <a class="arrow"
         href="{% url 'commcare' %}#data">
        {% blocktrans %}
          Learn about CommCare’s reporting tools
        {% endblocktrans %}
      </a>
    </p>

  </div>{# .content #}
</section>
