{% load dimagidotcom %}
{% load i18n %}

<section class="focus-mdm border-vert purple-theme gap-right-medium-at-large">
  <div class="pad-bottom-medium-at-medium pad-vert-small pad-top-large-at-large gap-vert-medium-at-medium">

    <div class="content gap-bottom-line pad-left-small">
      <h2 class="theme-icon pad-top-small-at-large">
        {% include "svg/focus_mdm/logo.html" %}
      </h2>
      <h3 class="theme-color">
        {% blocktrans %}
          Manage Your Fleet of Devices
        {% endblocktrans %}
      </h3>
      <p class="focus-info lead-text pad-right-small">
        {% blocktrans %}
          With our mobile device management platform, you can control, 
          monitor, and enforce mobile usage restrictions that increase 
          the productivity of frontline workforces around the world. Work 
          offline, block unproductive apps, and communicate directly 
          with your team for free with FocusMDM.
        {% endblocktrans %}
      </p>
      <div class="align-left-at-medium align-center pad-top-base">
        <a class="arrow"
           href="{% url 'focus_mdm' %}">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
      </div
    </div>
  </div>{# .content #}
  <div class="image off-grid white-lazy-bg"
       data-lazybg="true"></div>
</section>
