{% load dimagidotcom %}
{% load i18n %}

<section class="focus-mdm purple-theme gap-right-medium-at-large gap-top-medium pad-bottom-base gap-bottom-large"
         id="home-focus">
  <div class="pad-bottom-medium-at-large pad-top-small pad-top-large-at-large">
    <div class="content gap-bottom-line pad-left-small pad-bottom-line">
      <h2 class="align-left-at-medium align-center theme-icon pad-top-small-at-large">
        {% include "svg/focus_mdm/logo.html" %}
      </h2>
      <h2 class="focus-info align-left-at-medium align-center theme-color">
        {% blocktrans %}
          Focus on Amplifying Your Impact. 
          Let Us Worry About Your Devices.
        {% endblocktrans %}
      </h2>
      <p class="align-left-at-medium align-center focus-info lead-text pad-right-small">
        {% blocktrans %}
          Keep your devices secure, manage telco costs, 
          and customize your devices to the needs of your 
          frontline staff with our mobile device management 
          platform specifically designed for impactful frontline work. 
        {% endblocktrans %}
      </p>
      <div class="align-left-at-medium align-center pad-top-base">
        <a class="button"
           href="{% url 'focus_mdm' %}">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
      </div>
    </div>
  </div>{# .content #}
  <div class="image off-grid white-lazy-bg"
       data-lazybg="true"></div>
</section>
