{% load i18n %}
{% load dimagidotcom %}

 <section class="usage blue-bg"
          id="impact">
  <div class="content pad-vert-medium">
    <h3 class="white align-center">
      <blockquote>
        <p>
          {% blocktrans %}
            We support the largest digital interventions for frontline programs 
            in the world. Today, our technology tracks 1 out of 110 births 
            in the world and 1 out of 50 malnourished children.
          {% endblocktrans %}
        </p>
      </blockquote>
    </h3>
  </div>{# .content #}
</section>
