{% load i18n %}
{% load dimagidotcom %}

<section class="impact align-center accent-gray-bg border-top pad-bottom-line"
         id="impact">
  <div class="content pad-top-medium pad-bottom-large">
    <div class="content-width-medium">
      <h2 class="orange gap-top-line">
        {% blocktrans %}
          Driven by Our Dedication to Impact
        {% endblocktrans %}
      </h2>
      <p class="lead-text">
        {% blocktrans %}
          On more than 2,000 projects across 80 countries, we’ve supported 
          governments, NGOs, and local partners to improve their impact 
          on underserved communities.
        {% endblocktrans %}
      </p>
    </div>

    <div class="gap-top-small gap-top-medium-at-large">
      <div class="image"
           data-lazybg="true"></div>
    </div>{# .content #}

    <div class="impact pad-top-small pad-bottom-line pad-horz-small-at-medium pad-horz-none-at-medium">
      <div class="impact-grid">
        <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
          <div class="column pad-top-small blue-theme">
            <div class="grid-flex">
              <div class="column no-shrink">
                <div class="theme-icon pad-top-base">
                  {% include "svg/home/sectors.html" %}
                </div> {# .theme-icon #}
              </div> {# .column .no-shrink #}
              <div class="column">
                <h4 class="align-left theme-color gap-bottom-base">
                  Sectors
                </h4>
                <p class="align-left gap-bottom-base lead-text">
                  {% blocktrans %}
                    We support a wide range of sectors, from maternal & child 
                    healthcare to infectious disease and agriculture.
                  {% endblocktrans %}
                </p>
                <div class="align-left">
                  <a class="arrow"
                     href="{% url 'sectors' %}">
                    {% blocktrans %}
                      Learn More
                    {% endblocktrans %}
                  </a>
                </div>
              </div> {# .column #}
            </div> {# .grid-flex #}
          </div> {# .column #}
          <div class="column pad-top-small turquoise-theme">
            <div class="grid-flex">
              <div class="column no-shrink">
                <div class="theme-icon pad-top-base">
                  {% include "svg/home/evidence_base.html" %}
                </div> {# .theme-icon #}
              </div> {# .column .no-shrink #}
              <div class="column">
                <h4 class="align-left theme-color gap-bottom-base">
                  Evidence Base
                </h4>
                <p class="align-left gap-bottom-base lead-text">
                  {% blocktrans %}
                    More than 60 peer-reviewed studies have assessed 
                    CommCare's impact on frontline programs.
                  {% endblocktrans %}
                </p>
                <div class="align-left">
                  <a class="arrow"
                     href="{% url 'toolkit' 'commcare-evidence-base' %}">
                    {% blocktrans %}
                      Download Now
                    {% endblocktrans %}
                  </a>
                </div>
              </div> {# .column #}
            </div> {# .grid-flex #}
          </div> {# .column #}
          <div class="column pad-top-small green-theme">
            <div class="grid-flex">
              <div class="column no-shrink">
                <div class="theme-icon pad-top-base">
                  {% include "svg/home/case_studies.html" %}
                </div> {# .theme-icon #}
              </div> {# .column .no-shrink #}
              <div class="column">
                <h4 class="align-left theme-color gap-bottom-base">
                  Case Studies
                </h4>
                <p class="align-left gap-bottom-base lead-text">
                  {% blocktrans %}
                    Learn how our partners worked with us to deploy CommCare 
                    on their projects around the world.
                  {% endblocktrans %}
                </p>
                <div class="align-left">
                  <a class="arrow"
                     href="{% url 'case_studies' %}">
                    {% blocktrans %}
                      Read More
                    {% endblocktrans %}
                  </a>
                </div>
              </div> {# .column #}
            </div> {# .grid-flex #}
          </div> {# .column #}
          <div class="column pad-top-small purple-theme">
            <div class="grid-flex">
              <div class="column no-shrink">
                <div class="theme-icon pad-top-base">
                  {% include "svg/home/toolkits.html" %}
                </div> {# .theme-icon #}
              </div> {# .column .no-shrink #}
              <div class="column">
                <h4 class="align-left theme-color gap-bottom-base">
                  Toolkits
                </h4>
                <p class="align-left gap-bottom-base lead-text">
                  {% blocktrans %}
                    Explore these resources and guides for designing and 
                    implementing digital solutions.
                  {% endblocktrans %}
                </p>
                <div class="align-left">
                  <a class="arrow"
                     href="{% url 'toolkits' %}">
                    {% blocktrans %}
                      View Toolkits
                    {% endblocktrans %}
                  </a>
                </div>
              </div> {# .column #}
            </div> {# .grid-flex #}
          </div> {# .column #}
        </div>
      </div>
    </div> 
  </div>
</section>
