<section class="partners accent-gray-bg border-bottom"
         id="partners">
  <div class="content pad-vert-small align-center">
    <div class="grid-4 grid-align-center grid-flex-at-medium">

      <div class="column">
        {% include "svg/partner/gates.html" %}
      </div>{# .column #}

      <div class="column">
        {% include "svg/partner/usaid.html" %}
      </div>{# .column #}

      <div class="column">
        {% include "svg/partner/agimpact.html" %}
      </div>{# .column #}

      <div class="column">
        {% include "svg/partner/tdh.html" %}
      </div>{# .column #}

    </div>{# .grid-4 #}
  </div>{# .content #}
</section>
