{% load i18n %}
{% load dimagidotcom %}

<section class="sure-adhere global-services accent-gray-bg neutral-dark-theme border-bottom"
         id="sure-adhere">
  <div class="content pad-vert-large gap-bottom-line">
    <div class="grid-2-at-medium gap-bottom-line">
      <div class="column pad-right-small-at-medium">
        <div class="sure-adhere white-lazy-bg"
             data-lazybg="true"></div>
      </div>{# .column #}
      <div class="column">
        <div class="gap-bottom-line-at-large pad-horz-small pad-right-none-at-large pad-left-base-at-large">
          <h3 class="align-left-at-medium align-center gap-top-small theme-icon">
            {% include "svg/commcare/sure_adhere_logo.html" %}
          </h3>
          <h2 class="align-left-at-medium align-center ">
            Video-Supported Care Made Simple
          </h2>
          <p class="align-left-at-medium align-center lead-text">
            {% blocktrans %}
            Provide treatment support for infectious disease and
            behavioral health while enhancing patient experience and
            ensuring medication adherence with our virtual care platform.
            {% endblocktrans %}
          </p>
          <div class="align-left-at-medium align-center pad-top-base hide-until-medium">

            <a class="button" href="https://www.sureadhere.com/ " target="_blank">
              {% blocktrans %}
                Learn More
              {% endblocktrans %}
            </a>
          </div>
        </div>
      </div> {# .column #}
    </div>{# .grid-2-at-medium #}
  </div>{# .content #}
</section>
