{% load i18n %}

<section class="testimonials border-top white-bg"
         id="testimonials">
  <div class="content pad-top-medium pad-bottom-large">

    <div class="intro">
      <h2 class="normalcase">
        {% blocktrans %}
          What Our Customers Are Saying
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Hundreds of organizations of all sizes, working across sectors,
          use CommCare to maximize their impact.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="column">

      <div class="content pad-bottom-small align-center">
        <div class="grid-4 grid-6-at-large grid-align-center grid-flex-at-medium">

          <div class="column">
            {% include "svg/partner/gates.html" %}
          </div>{# .column #}

          <div class="column">
            {% include "svg/partner/usaid.html" %}
          </div>{# .column #}

          <div class="column">
            {% include "svg/partner/agimpact.html" %}
          </div>{# .column #}

          <div class="column">
            {% include "svg/partner/tdh.html" %}
          </div>{# .column #}

          <div class="column hide-until-large">
            {% include "svg/partner/usaid.html" %}
          </div>{# .column #}

          <div class="column hide-until-large">
            {% include "svg/partner/gates.html" %}
          </div>{# .column #}

        </div>{# .grid-4 #}
      </div>{# .content #}

      <blockquote class="align-center blue-bg pad-small white">
        <p>
          {% blocktrans %}
            We used to run paper-based impact evaluation and monitoring and
            evaluation projects, which were very inefficient and painful to
            manage. CommCare made our lives easier.
          {% endblocktrans %}
        </p>
        <cite>
          {% blocktrans %}
            Prachi Patel, Manager of Technology for Development at Avahan
          {% endblocktrans %}
        </cite>
      </blockquote>
    </div>{# .column #}

  </div>{# .content #}
</section>
