{% load i18n %}

<section class="testimonials blue-bg white"
         id="testimonials">
  <div class="content pad-top-medium pad-bottom-large">

    <div class="intro">
      <h2 class="normalcase white">
        {% blocktrans %}
          What Our Customers Are Saying
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Hundreds of organizations of all sizes, working across sectors,
          use CommCare to maximize their impact.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="column">
      <blockquote class="align-center-at-medium">
        <p>
          {% blocktrans %}
            We used to run paper-based impact evaluation and monitoring and
            evaluation projects, which were very inefficient and painful to
            manage. CommCare made our lives easier.
          {% endblocktrans %}
        </p>
        <cite>
          {% blocktrans %}
            Prachi Patel, Manager of Technology for Development at Avahan
          {% endblocktrans %}
        </cite>
      </blockquote>
    </div>{# .column #}

  </div>{# .content #}
</section>
