{% load i18n %}
{% load dimagidotcom %}

<section class="trial border-top accent-gray-bg"
         id="trial">
  <div class="content content-width-medium pad-top-medium pad-bottom-large">
    <div class="intro gap-bottom-small">
      <h4>
        {% blocktrans %}
          Ready to improve your mobile data collection?
        {% endblocktrans %}
      </h4>
    </div>{# .intro #}
      <div class=" column flex-align-center">
        <p>
          {% click_body 'trial-demo' as click_class %}
          {% include "partials/schedule_demo_button.html" with click_class=click_class button_class="button alt" %}
        </p>
      </div>{# .column #}
  </div>{# .content #}
</section>
