{% load i18n %}
{% load dimagidotcom %}

<section class="trial border-top accent-gray-bg"
         id="trial">
  <div class="content content-width-medium pad-top-medium pad-bottom-large">
    <div class="intro gap-bottom-small">
      <h4>
        {% blocktrans %}
          Try a FREE 30-day CommCare trial.
        {% endblocktrans %}
      </h4>
    </div>{# .intro #}

    <div class="grid-2">

      <div class="column flex-align-right">
        <p>
          <a class="button alt {% click_body 'trial-demo' %}"
             target="_blank"
             href="{{ URL_DEMO }}">
            {% blocktrans %}
              Get a demo
            {% endblocktrans %}
          </a>
        </p>
      </div>{# .column #}

      <div class="column flex-align-left">
        <p>
          <a class="button {% click_body 'trial-start' %}"
             data-kmq-external="true"
             data-kmq-name="Clicked Start Trial - Home CTA"
             href="{{ URL_TRIAL }}">
            {% blocktrans %}
              Get started
            {% endblocktrans %}
          </a>
        </p>
      </div>{#  .column #}

    </div>{# .grid-2 #}
  </div>{# .content #}
</section>
