{% load dimagidotcom %}
{% load i18n %}

<section class="video border-vert blue-theme pad-left-large-at-large">
  <div class="content-width-large pad-bottom-medium-at-large pad-top-small pad-top-large-at-large gap-vert-medium-at-medium pad-left-large-at-large pad-horz-small">

    <div class="gap-bottom-line pad-left-large-at-large gap-left-large-at-large">
      <h4 class="align-left-at-medium align-center gap-top-small theme-icon pad-left-large-at-large gap-left-large-at-large">
          {% include "svg/commcare/logo.html" %}
        </h4>
      <h3 class="align-left-at-medium align-center blue pad-left-large-at-large gap-left-large-at-large">
        {% blocktrans %}
          Build Powerful Mobile and Web Apps
        {% endblocktrans %}
      </h3>
      <p class="align-left-at-medium align-center lead-text pad-left-large-at-large gap-left-large-at-large">
        {% blocktrans %}
          CommCare’s drag-and-drop application builder allows you to create 
          mobile and web apps for frontline workers to collect accurate data 
          and deliver effective services.
        {% endblocktrans %}
      </p>
      <div class="align-left-at-medium align-center pad-top-base pad-left-large-at-large gap-left-large-at-large">
        <a class="arrow"
           href="{% url 'commcare' %}">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
      </div>
    </div>
  </div>{# .content #}
  <div class="off-grid-video white-lazy-bg"
       data-lazybg="true">
    {% include "partials/wistia_embed_autoplay.html" with wistia_id='gx2a7tvlh6' %}
  </div>
</section>
