{% load dimagidotcom %}
{% load i18n %}

<section  class="video-intro pad-vert-small pad-vert-line-at-medium"
          id="video">
  <div class="content content-width-medium pad-horz-small-at-medium align-center">
    <div class="grid-flex-at-medium">

      <div class="column flex-align-center flex-align-right-at-medium">
        {% include "snippets/wistia_popover.html" with wistia_id='9uvnpbecdy' %}
      </div>{# .column #}

      <div class="column flex-valign-middle-at-medium align-left-at-medium">
        <div class="copy">
          <h4 class="gap-bottom-base">
            {% blocktrans %}
              CommCare is the world’s most powerful mobile data collection platform.
            {% endblocktrans %}
          </h4>
          <p class="gap-bottom-base">
            {% blocktrans %}
              Collect better data and give your workforce new tools to deliver
              better services.
            {% endblocktrans %}
          </p>
          <a class="arrow"
             href="#todo">
            {% blocktrans %}
              Learn More
            {% endblocktrans %}
          </a>
        </div>{# .copy #}
      </div>{# .column #}

    </div>{# .grid-flex-at-medium #}
  </div>{# .content #}
</section>
