{% load dimagidotcom %}
{% load i18n %}

<section  class="video-intro pad-vert-medium"
          id="video">
  <div class="content content-width-medium pad-horz-small-at-medium align-center">
    <div class="grid-flex-at-medium">

      <div class="column flex-align-center flex-align-right-at-medium">
        {% include "partials/wistia_popover.html" with wistia_id='9uvnpbecdy' show_play=True show_image=True %}
      </div>{# .column #}

      <div class="column flex-valign-middle-at-medium align-left-at-medium">
        <div class="copy">
          <h3 class="gap-bottom-base">
            {% blocktrans %}
              Technology for Social Impact
            {% endblocktrans %}
          </h3>
          <p class="gap-bottom-base">
            {% blocktrans %}
              Dimagi's platform, CommCare, is used by the world's leading NGOs
              and government agencies to improve community-based data collection
              and service delivery efforts globally.
            {% endblocktrans %}
          </p>
          <a class="arrow {% click_body 'video-learn' %}"
             href="{% url 'commcare' %}">
            {% blocktrans %}
              Learn more about CommCare
            {% endblocktrans %}
          </a>
        </div>{# .copy #}
      </div>{# .column #}

    </div>{# .grid-flex-at-medium #}
  </div>{# .content #}
</section>
