{% load i18n %}
{% load dimagidotcom %}

<div class="top-banner-ad">
  <a href="#"
     class="top-banner-ad-close">
    {% include 'svg/close.html' %}
  </a>
  <div class="content pad-vert-medium">
    <h3>
      {% blocktrans %}
        Dimagi is thrilled to announce the acquisition of virtual care platform SureAdhere.
      {% endblocktrans %}
    </h3>
    <p class="gap-bottom-none">
      <a href="{% url 'blog_post' 'dimagi-acquires-sureadhere-digital-solutions' %}"
         class="button inverted alt gap-bottom-none">
        {% trans "Learn More" %}
      </a>
    </p>
  </div>
</div>
