{% load dimagidotcom %}
{% load i18n %}

<section class="workforce"
         id="workforce">
  <div class="content border-top pad-vert-medium">

    <div class="intro gap-bottom-small">
      <h2 class="normalcase">
        {% blocktrans %}
          Empower Your Workforce
        {% endblocktrans %}
      </h2>
      <p class="content-width-extra-small">
        {% blocktrans %}
          Give your workforce a tool that will guide them to do
          their best work and maximize their impact.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="grid-testimonial blue-theme">
      <div class="column">
        <div class="grid-2-at-medium">

          <div class="column">
            <div class="grid-1">
              <div class="column">
                <div class="aspect-ratio-rect-at-medium theme-bg">
                  <p class="white pad-horz-medium-at-medium pad-horz-small h3 font-size-extra-large-until-large">
                    {% blocktrans %}
                      Dimagi's philosophy, <strong>Design Under the Mango Tree</strong>, puts end users first.
                    {% endblocktrans %}
                  </p>
                </div>{# .aspect-ratio-rect-at-medium #}
              </div>{# .column #}

              <div class="column">
                <div class="grid-2">

                  <div class="column">
                    <div class="image aspect-ratio-square testimonial2"></div>{# .workforce .image.testimonial2 {} => home.scss #}
                  </div>{# .column #}

                  <div class="column">
                    <div class="image aspect-ratio-square testimonial3"></div>{# .workforce .image.testimonial3 {} => home.scss #}
                  </div>{# .column #}

                </div>{# .grid-2 #}
              </div>{# .column #}

            </div>{# .grid-1 #}
          </div>{# .column #}

          <div class="column">
            <div class="grid-1">
              <div class="column">
                <div class="image aspect-ratio-square testimonial1"></div>{# .workforce .image.testimonial1 {} => home.scss #}
              </div>{# .column #}
            </div>{# .grid-1 #}
          </div>{# .column #}

        </div>{# .grid-2-at-medium #}
      </div>{# .column #}
    </div>{# .grid-workforce #}

    <p class="pad-top-small align-center">
      <a class="arrow"
         href="{% url 'products_commcare' %}#design">
        {% blocktrans %}
          Build an app your workforce will love
        {% endblocktrans %}
      </a>
    </p>

  </div>{# .content #}
</section>
