{% load i18n %}
{% load dimagidotcom %}

<section class="border-vert accent-gray-bg download"
         id="download">
  <div class="content pad-vert-medium align-center">
    <h3>
      {% blocktrans with title=toolkit.title %}
        Download Toolkit.
      {% endblocktrans %}
    </h3>
    <form action="#"
          class="grid-2-at-medium content-width-medium pad-vert-base"
          method="post">
      <div class="col two-thirds-at-medium">
        <input name="email"
               placeholder="{% trans 'Enter your email address to download.' %}"
               type="email">
      </div>
      <div class="col one-third-at-medium">
        <input class="button expand"
               type="submit"
               value="{% trans 'Download' %}">
      </div>
    </form>
</section>
