  {% load i18n %}
{% load dimagidotcom %}


<section class="overview" id="overview">
  <div class="content pad-vert-medium">

    <h3 class="gap-bottom-small">
      {% blocktrans %}
        Toolkits
      {% endblocktrans %}
    </h3>

    <div class="grid-3-at-large grid-2-at-medium grid-row-space-small grid-row-equal-heights">
      {% for toolkit in toolkits %}
        <div class="column">
          {% include "toolkits/partials/brief.html" with toolkit=toolkit %}
        </div>
      {% endfor %}
    </div>{# .grid-4-at-medium #}

  </div>{# .content #}
</section>
