{% extends "sections/covid_19/applications/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  <div class="image dsti" data-lazybg="true"></div>
{% endblock %}

{% block content %}
  <div class="align-left">
    {% blocktrans %}
      Sierra Leone's Directorate of Science, Technology, and Innovation is partnering with Dimagi to develop COVID-19
      CommCare applications for its frontline workers.
    {% endblocktrans %}
  </div>
  <div class="align-left padding-top-10">
    <a class="arrow {% click_body 'video-learn' %}"
       href="https://www.dsti.gov.sl/dsti-and-dimagi-partner-to-create-cutting-edge-tech-solutions-for-covid-19-response/">
      {% blocktrans %}
        Learn more
      {% endblocktrans %}
    </a>
  </div>
{% endblock %}
