{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Research Features
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Due to rigorous standards and precise processes, research
    often necessitates distinct features in data input and
    collection, and in overall system functionality.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Datasets can be de-identified for analysis
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Randomization mechanisms built into forms can improve
      workflow from participant identification through
      qualification and group assignment
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Supervisory validation workflows enable remote,
      real-time data monitoring of data collectors
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Data dashboards improve data monitoring and can
      include project-specific indicators
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Capability of longitudinal management of specific
      participant classifications assists in complex
      workflows
    {% endblocktrans %}
  </li>
</ul>
