{% load i18n %}
{% load dimagidotcom %}

<section class="brief-overview align-center turquoise-theme"
         id="brief-overview">
  <div class="content pad-top-medium">
    <div class="grid-2-at-small grid-4-at-large grid-row-space-small">
      {% include "sections/services/brief_overview/global_team.html" %}
      {% include "sections/services/brief_overview/design_strategy.html" %}
      {% include "sections/services/brief_overview/app_building.html" %}
      {% include "sections/services/brief_overview/capacity_building.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}
</section>
