{% load i18n %}
{% load dimagidotcom %}

<section class="overview border-top"
         id="overview">
  <div class="content pad-top-medium gap-bottom-small">
    <div class="intro content-width-medium">
      <h2>
        {% blocktrans %}
          We're Here to Help You Optimize Your ICT4D Program
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Dimagi offers more than 10+ years of experience designing,
          building and launching ICT4D systems.
          We work with organizations of all sizes on all types of ICT4D projects
          from pilot launches to large, national scale solutions.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    {% include "sections/services/overview/grid.html" %}

    <div class="gap-top-small gap-bottom-medium">
      {% include "partials/partners.html" with parners=partners %}
    </div>

  </div> {# .content #}
</section>
