{% load i18n %}
{% load dimagidotcom %}

<section class="team border-top"
         id="team">
  <div class="content pad-vert-medium">
    <div class="intro content-width-medium">
        <h2 class="align-center turquoise pad-top-small">
            {% blocktrans %}
              Our experience is your asset
            {% endblocktrans %}
          </h2>
          <p class="align-center lead-text">
            {% blocktrans %}
              <strong>Dimagi is more than just a technology vendor.</strong> We’re a team of 
              physicians, software engineers, and health system architects 
              with unrivaled experience. For you, we will be partners and 
              collaborators – ready to work alongside you every step of the way.
            {% endblocktrans %}
          </p>
    </div>{# .intro #}

    <div class="grid-testimonial">
      <div class="column">
        <div class="grid-2-at-medium">
    
          <div class="column">
            <div class="grid-1">
    
              <div class="column">
                <div class="image aspect-ratio-rect teampic1"
                     data-lazybg="true"></div>
              </div>{# .column #}
    
              <div class="column">
                <div class="grid-2">
    
                  <div class="column">
                    <div class="image aspect-ratio-square teampic2"
                         data-lazybg="true"></div>
                  </div>{# .column #}
    
                  <div class="column">
                    <div class="image aspect-ratio-square teampic3"
                         data-lazybg="true"></div>
                  </div>{# .column #}
    
                </div>{# .grid-2 #}
              </div>{# .column #}
    
            </div>{# .grid-1 #}
          </div>{# .column #}
    
          <div class="column">
            <div class="grid-1">
              <div class="column">
                <div class="image aspect-ratio-square teampic4"
                     data-lazybg="true"></div>
              </div>{# .column #}
            </div>{# .grid-1 #}
          </div>{# .column #}
    
        </div>{# .grid-2-at-medium #}
      </div>{# .column #}
    </div>{# .grid-testimonial #}

    <div class="align-center pad-top-medium">
      <a class="button turquoise-bg"
          href="#global-services-form">
        {% blocktrans %}
          Speak With the Team
        {% endblocktrans %}
      </a>
    </div>

  </div> {# .content #}
</section>
