.purple-theme .button,
.purple-theme button,
.purple-theme input[type="button"],
.purple-theme input[type="submit"],
.purple-theme input[type="reset"] {
    color: #fff;
    background-color: #8033cc
}

.purple-theme .button:hover,
.purple-theme .button:focus,
.purple-theme button:hover,
.purple-theme button:focus,
.purple-theme input[type="button"]:hover,
.purple-theme input[type="button"]:focus,
.purple-theme input[type="submit"]:hover,
.purple-theme input[type="submit"]:focus,
.purple-theme input[type="reset"]:hover,
.purple-theme input[type="reset"]:focus {
    color: #fff;
    background-color: #732eb8
}

.purple-theme .button:active,
.purple-theme button:active,
.purple-theme input[type="button"]:active,
.purple-theme input[type="submit"]:active,
.purple-theme input[type="reset"]:active {
    color: #fff;
    background-color: #6629a3
}

.purple-theme .button.alt,
.purple-theme button.alt,
.purple-theme input[type="button"].alt,
.purple-theme input[type="submit"].alt,
.purple-theme input[type="reset"].alt {
    color: #8033cc;
    -webkit-box-shadow: inset 0 0 0 1px #8033cc;
    box-shadow: inset 0 0 0 1px #8033cc
}

.purple-theme .button.alt:hover,
.purple-theme .button.alt:focus,
.purple-theme button.alt:hover,
.purple-theme button.alt:focus,
.purple-theme input[type="button"].alt:hover,
.purple-theme input[type="button"].alt:focus,
.purple-theme input[type="submit"].alt:hover,
.purple-theme input[type="submit"].alt:focus,
.purple-theme input[type="reset"].alt:hover,
.purple-theme input[type="reset"].alt:focus {
    color: #732eb8;
    -webkit-box-shadow: inset 0 0 0 1px #732eb8;
    box-shadow: inset 0 0 0 1px #732eb8
}

.purple-theme .button.alt:active,
.purple-theme button.alt:active,
.purple-theme input[type="button"].alt:active,
.purple-theme input[type="submit"].alt:active,
.purple-theme input[type="reset"].alt:active {
    color: #6629a3;
    -webkit-box-shadow: inset 0 0 0 1px #6629a3;
    box-shadow: inset 0 0 0 1px #6629a3
}
