{% load i18n %}
{% load dimagidotcom %}

<section  data-lazybg="true">
  <div id="benefits">
    <div class="content pad-top-medium pad-bottom-small">
      <h2 class="align-center">
        {% blocktrans %}
          Benefits of Community-Based Service Delivery Solutions
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
  </div>
  <div class="content pad-bottom-medium">
    <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights blue-theme">
      {% include "sections/sectors/disease-treatment/benefits/manage.html" %}
      {% include "sections/sectors/disease-treatment/benefits/history.html" %}
      {% include "sections/sectors/disease-treatment/benefits/identify.html" %}
      {% include "sections/sectors/disease-treatment/benefits/dashboard.html" %}
      {% include "sections/sectors/disease-treatment/benefits/results.html" %}
      {% include "sections/sectors/disease-treatment/benefits/real_time.html" %}
      {% include "sections/sectors/disease-treatment/benefits/treatment.html" %}
      {% include "sections/sectors/disease-treatment/benefits/sms.html" %}
    </div> {# .grid #}
  </div> {# .content .blue-theme #}
</section>
