  {% load dimagidotcom %}
  {% load i18n %}

  <section class="pad-bottom-small"
          id="news">
    <div class="content pad-top-small">
      <h2 class="">
        {% blocktrans %}
          The Latest on Mobile Data Collection in Disease Treatment Programs
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Update and advice from our world-class partner Global Service Team:
        {% endblocktrans %}
      </p>
    </div>{# .content #}
    <div class="content">
      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights ">
        <div class="column pad-top-small  ">
          <div class="">
            <img  src="../../../../static/pages/sectors/disease-treatment/news/Blog1.jpg" />
            <div class="pad-line">
              <h5 >
                <strong class="body-color">
                  {% blocktrans %}
                    Leveraging Mobile Data Collection in the Fight Against HIV/AIDS
                  {% endblocktrans %}
                </strong>
              </h5>
              <p class="body-color">
                {% blocktrans %}
                  A Peace Corps volunteer explains how CommCare aided in a patient data collection program in Cameroon focused on HIV treatment around World AIDS Day.
                {% endblocktrans %}
              </p>
              <p>
                <br>
                <a
                href="https://www.dimagi.com/blog/why-peace-corps-cameroon-is-leveraging-mobile-data-collection-in-the-fight-against-hiv-aids/"
                class="link-gray">
                  {% blocktrans %}
                    Read More &gt;
                  {% endblocktrans %}
                </a>
              </p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column pad-top-small">
          <div class="">
            <img src="../../../../static/pages/sectors/disease-treatment/news/Blog2.jpg" />
            <div class="pad-line">
              <h5 class="">
                <strong class="body-color">
                  {% blocktrans %}
                    USAID Awards Dimagi & Partners a Grand Challenge to Combat Zika and Future Outbreaks
                  {% endblocktrans %}
                </strong>
              </h5>
              <p class="body-color">
                {% blocktrans %}
                  USAID announced that Dimagi and partners have been awarded a Combating Zika and Future Threats Grand award — joining a select group of innovators focused on curbing infectious disease worldwide.
                {% endblocktrans %}
              </p>
              <p>
                <a
                href="https://www.dimagi.com/blog/usaid-awards-dimagi-partners-a-grand-challenge-to-combat-zika-and-future-outbreaks/"
                class="link-gray">
                  {% blocktrans %}
                    Read More &gt;
                  {% endblocktrans %}
                </a>
              </p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column pad-top-small">
          <div class="">
            <img src="../../../../static/pages/sectors/disease-treatment/news/Blog3.jpg" />
            <div class="pad-line">
              <h5 class="">
                <strong class="body-color">
                  {% blocktrans %}
                    Lessons from Contact Tracing During the Ebola Outbreak
                  {% endblocktrans %}
                </strong>
              </h5>
              <p class="body-color">
                {% blocktrans %}
                Three pieces of advice in project and app design from a member of our Global Services team who spent a year working in Liberia, Sierra Leone, and Guinea on mobile tech to combat Ebola.
                {% endblocktrans %}
              </p>
              <p>
                <a
                href="https://www.dimagi.com/blog/contact-tracing-during-the-ebola-outbreak-notes-from-the-field/"
                class="link-gray">
                  {% blocktrans %}
                    Read More &gt;
                  {% endblocktrans %}
                </a>
              </p>
            </div>
          </div>
        </div>{# .column #}
      </div>{# .grid #}
    </div>{# .content #}
    <div class="content pad-top-small">
      <h2 class="">
        {% blocktrans %}
          Additional Resources to Explore
        {% endblocktrans %}
      </h2>
      <p>
        <ul class="gap-left-base">
          <li class="gap-bottom-base"><a href="https://www.dimagi.com/sectors/hiv-aids/"
              class="link-gray">
            {% blocktrans %}
              HIV/AIDS Treatment with CommCare
            {% endblocktrans %}
          </a></li>
          <li class="gap-bottom-base"><a href="https://www.dimagi.com/sectors/tuberculosis/"
              class="link-gray">
            {% blocktrans %}
              Tuberculosis Treatment with CommCare
            {% endblocktrans %}
          </a></li>
          <li class="gap-bottom-base"><a href="https://www.dimagi.com/sectors/ebola-response/" class="link-gray">
            {% blocktrans %}
              Ebola Response with CommCare
            {% endblocktrans %}
          </a></li>
        </ul>
      </p>
    </div>{# .content #}
  </section>
