{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true"
         id="overview">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <strong>
        {% blocktrans %}
          MOBILE DATA COLLECTION
        {% endblocktrans %}
      </strong>
      <h2 class="pad-top-base blue">
        {% blocktrans %}
          Infectious Disease
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small">
      <div class="column">
        <p>
          {% blocktrans %}
            Around the world, CommCare has served as a proven solution for
            tracking the lifecycle of individual patients from diagnosis,
            initiation of treatment, adherence monitoring and to end of
            treatment for infectious diseases like malaria, HIV/AIDS, and
            tuberculosis. It has also been used in controlling and responding
            to infectious disease outbreaks like Ebola and Zika.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Using digital solutions, these programs enhanced response rates to
            infectious diseases, increased diagnostic accuracy and speed in malaria
            treatment, and improved patient follow-up in HIV and tuberculosis programs.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            For example, CommCare has been proven to speed up diagnostic times by
            41% over paper-based tools. In one study, prescription calculations
            were completed 20% more efficiently. This is valuable time saved
            for providing further care and reaching more patients.
          {% endblocktrans %}
        </p>
        <div class="content pad-top-base">
          <strong>
            {% blocktrans %}
              Resources to Explore:
            {% endblocktrans %}
          </strong>
          <p>
            <div class="gap-left-base">
              <div class="gap-bottom-base">
                <a href="{% url 'blog_post' 'coronavirus-covid-19-response-initiative' %}"
                  target="_blank">
                  {% blocktrans %}
                    COVID-19 Response with CommCare
                  {% endblocktrans %}
                </a>
              </div>
              <div class="gap-bottom-base">
                <a href="{% url 'sector' 'hiv-aids' %}"
                  target="_blank">
                  {% blocktrans %}
                    HIV/AIDS Treatment with CommCare
                  {% endblocktrans %}
                </a>
              </div>
              <div class="gap-bottom-base">
                <a href="{% url 'blog_post' 'mobile-data-collection-malaria' %}"
                  target="_blank">
                  {% blocktrans %}
                    Malaria Treatment with CommCare
                  {% endblocktrans %}
                </a>
              </div>
              <div class="gap-bottom-base">
                <a href="{% url 'sector' 'tuberculosis' %}"
                  target="_blank">
                  {% blocktrans %}
                    Tuberculosis Treatment with CommCare
                  {% endblocktrans %}
                </a>
              </div>
              <div class="gap-bottom-base">
                <a href="{% url 'sector' 'ebola-response' %}"
                  target="_blank">
                  {% blocktrans %}
                    Ebola Response with CommCare
                  {% endblocktrans %}
                </a>
              </div>
            </div> {# .gap-left-base #}
          </p>
        </div> {# .content #}
      </div>{# .column #}
      <div class="column"
           id="page-intro">
        <div class="hero-data-image white-lazy-bg"
             data-lazybg="true">
        </div>
      </div> {# .column #}
    </div> {# .grid #}
  </div> {# .content #}
</section>
