{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true">
  <div class="blue-bg pad-top-medium pad-bottom-medium">
    <div class="content align-center">
      <h2 class="white">
        {% blocktrans %}
          Learn how CommCare helps with disease treatment programs
        {% endblocktrans %}
      </h2>
      <div class="cta">
        <a class="button button-accent-gray"
            href="#schedule-demo-form">
          {% blocktrans %}
            SCHEDULE A DEMO
          {% endblocktrans %}
        </a>
      </div> {# .cta #}
    </div> {# .content #}
  </div> {# .blue-bg #}
</section>