{% extends "sections/products/commcare/impact/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/products/commcare/icon/retail.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Retail distribution
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  La Laiterie du Berger uses CommCare to track the
  distribution of milk across retail locations in Senegal.
{% endblocktrans %}{% endblock %}

{% block cta_link %}
  #todo
{% endblock %}

{% block cta_text %}{% blocktrans %}
 Watch Video
{% endblocktrans %}{% endblock %}
