{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}team-page tucked-hero{% endblock %}

{% block title %}{% blocktrans %}
  Get to Know the Dimagi Team
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Dimagi’s 125+ team of product development and implementation staff are based
  across six offices, with additional staff around the world.
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/about.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
 <div id="top"></div>
  <section class="hero hero-about"
           data-lazybg="true"
           id="hero">
    <div class="content align-left-at-medium align-center">
      <h2 class="gap-vert-line">
        {% blocktrans %}
          About Dimagi
        {% endblocktrans %}
      </h2>
      <h1>
        {% blocktrans %}
          Get to Know Our Team
        {% endblocktrans %}
      </h1>
      <p>
        {% blocktrans %}
          Dimagi’s 125+ team of product development and<br class="hide-until-small" />
          implementation staff are based across six offices,<br class="hide-until-small" />
          with additional staff around the world.
        {% endblocktrans %}
      </p>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="team-container orange-theme">
    {% include "sections/team/sub_nav.html" %}
    {% include "sections/team/executive_committee.html" %}
    {% include "sections/team/management.html" %}
    {% include "sections/team/directors.html" %}
    {% include "sections/team/office.html" %}
  </section>
{% endblock %}

{% block modals %}
  {% for employee in executive_committee %}
    {% include "partials/team_modal.html" with employee=employee extra_slug='executive-committee' %}
  {% endfor %}
  {% for employee in management %}
    {% include "partials/team_modal.html" with employee=employee extra_slug='management' %}
  {% endfor %}
  {% for employee in directors %}
    {% include "partials/team_modal.html" with employee=employee extra_slug='director' use_alt_title='yes' %}
  {% endfor %}
  {% for office in offices %}
    {% for employee in office.members %}
      {% include "partials/team_modal.html" with employee=employee %}
    {% endfor %}
  {% endfor %}
{% endblock %}
