{% extends "sections/blog/mobile_survey/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/blog/icon/mobile_surveys/supervision.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Difficulties in supervision
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Supervisors spend significant time contacting and following up with frontline workers to check their status rather
  than analyzing their performance and offering advice.
{% endblocktrans %}{% endblock %}

