{% extends "sections/blog/mobile_survey/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/blog/icon/environment_affect/experience.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  How experienced is your team with mobile data collection?
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Some mobile data collection platforms offer simple premade surveys. Others are built to support extremely complex
  workflows but require a high level of technical competence.
{% endblocktrans %}
  <h5 class="pad-top-base">There are so many questions to ask to determine the level of complexity you will need to account for:</h5>
  <ul>
    <li class="grid-row-space-none point-spacing">
      {% blocktrans %}
        Does your platform require custom development by an engineer in order to fit your needs? 
      {% endblocktrans %}
    </li>
    <li class="grid-row-space-none point-spacing">
      {% blocktrans %}
        Or are all required features available in a self-service mode? 
      {% endblocktrans %}
    </li>
    <li class="grid-row-space-none point-spacing">
      {% blocktrans %}
        Does it require any coding experience? 
      {% endblocktrans %}
    </li>
    <li class="grid-row-space-none point-spacing">
      {% blocktrans %}
        Do you have an individual on staff who knows how to build and maintain an application on the platform you
        have selected? If not, does the platform offer training opportunities or have clear and easy-to-understand
        documentation on how it can be used?  
      {% endblocktrans %}
    </li>
  </ul>
  <p>
    Be aware that even the best platforms require extra effort and experience in order to extract their full value. Indeed,
    in some cases, organizations assemble a team to build a custom solution, often built upon an existing open source
    platform. This can mean that the platform is built precisely to the needs of the program. However, as the complexity
    of the platform grows, so too does the complexity of setup and maintenance. At Dimagi, for instance, we have a
    team of about 15 developers working full time on the platform, including 2-3 engineers fully dedicated to keeping
    our production environments online, up-to-date, and bug-free.
  </p>
{% endblock %}

