{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-none"
         id="qa-process">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        QA process
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        The quality assurance (QA) process can often be the most headache inducing phase of testing, but at the end of the day, you
        need to make sure the app you have in your head actually works in real life. 
      {% endblocktrans %}
    </p>

    <p class="pad-top-line">
      {% blocktrans %}
        This means building a dedicated QA period into your timeline and holding yourself to it. Documenting your use cases and all the
        workflows you designed will make designing your test plan that much easier and even help you prioritize which tests to run
        when you inevitably run short on time.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Give your team an app they will love by making sure it actually works when they get their hands on it.
      {% endblocktrans %}
    </p>

    <p class="align-center">
      {% blocktrans %}
        <a href="https://www.dimagi.com/blog/mobile-data-collection-app-qa/" target="_blank"><u>Get more advice on the QA process</u></a>
      {% endblocktrans %}
    </p>

    <div class="qaprocess-image white-lazy-bg gap-vert-small"
    data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
         Work through your test plan to ensure your most important workflows are functioning properly.
      {% endblocktrans %}
    </p>     

  </div>
</section>
