{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-large"
         id="chapter4-pilots">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Ready to start your data collection plan?
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        A well-organized data collection plan is the culmination of all your other work in clarifying your project objectives,
        defining your data requirements, and selecting a method of data collection. This plan will serve as the basis of your efforts
        to actually design and build a program that precisely serves the needs of your project and its beneficiaries. It will help when
        you bring on new team members and when you need to apply for new funding. The structure that your data collection plan provides
        will help at every step of the way from here on out and, if acted on correctly, should improve the sustainability of your program as a whole.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        If, after following this process, you find that mobile data collection is the right avenue for your program, we have some good news for you.
        We have developed a comprehensive guide to take you from the process of selecting the right mobile data collection tool through designing your
        surveys, building your tool, and ultimately maintaining its sustainability. This guide is a collection of advice from our partners and Global
        Services team, aimed at increasing the use and impact of mobile data collection tools worldwide. 
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        To learn more, check out our <a href="https://dimagi.com/mobile-data-collection/" target="_blank">Guide to Mobile Data Collection</a>.
      {% endblocktrans %}
    </p>


  </div>
</section>
