{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-none"
         id="qa-process">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Two approaches to a data collection plan
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        There are two primary methods of organizing a data collection plan that we typically use. 
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        An information workflow diagram is more visual and diagrams the components and their connections throughout your process.
        They typically start with what data is being collected and follows through from how it is being collected to where it is stored and how it is shared. 
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        On the other hand, data collection plan outlines are more analytical, applying a standard set of criteria to the process for you to fill out
        in a way that makes sense for your program. This approach helps organize each variable you are collecting by source, method of collection,
        timeline, where it is stored, and how it is analyzed and shared.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Each approach has its own strengths and weaknesses, but they share the goal of documenting your data collection plan in a way
        that can be shared, analyzed, and improved.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-vert-small">
      <a href="https://www.dimagi.com/blog/data-collection-data-collection-plan"
         target="_blank"
         class="button">
        {% blocktrans %}
          Learn How To Design A Data Collection Plan
        {% endblocktrans %}
      </a>
    </p>

    <div class="plan-image white-lazy-bg gap-top-small gap-bottom-line"
    data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
        Organizing a data collection plan doesn’t have to be painful if you’re working with your team.
      {% endblocktrans %}
    </p>     

  </div>
</section>
