{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="usability-testing">
  <div class="content content-width-medium">

    <h2 class="pad-top-small">
      {% blocktrans %}
        Additional considerations
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        As you develop your plan, it’s not uncommon to begin to consider aspects of your program you hadn’t thought about before.
        This is an intentional aspect of the process. It’s much better to head into the design and implementation phase of your program aware of these
        facets, than it is to retroactively build them into a program.
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
       Timelines
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
       Often, these planning frameworks don’t include the dimension of time. Consider ways you might incorporate it to account for how often your
       frontline workers will head into the field to collect data or how often you will lead them in refresher training sessions.
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
       Approvals and consent
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
       Depending on the type of data you collect and how it flows through your program, you may need to request consent from beneficiaries or approvals
       for data integration from another organization. Think about how you might note these potential bottlenecks on whatever method of planning you choose.
      {% endblocktrans %}
    </p>

    <h2 class="pad-top-medium">
      {% blocktrans %}
       Why use a data collection plan?
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        The most important reason to use frameworks like workflow maps and data collection plan outlines is that they help you to understand 
        the stakeholders, data sources, and points of connection that will reveal
        <a href="https://dimagi.com/blog/mobile-data-collection-app-maintenance-issues/" target="_blank">areas for improvement</a> and strengths
        to take advantage of.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
       The effort to review every aspect of an existing process and map their interactions makes for a better final product. This is not a coincidence.
       These projects are made up of interacting components, and if you can understand how each variable relates to the others in your data collection process, 
       you can build a map that provides you strong insights for improvement and tells you precisely where to focus your efforts.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-vert-small">
      <a href="https://www.dimagi.com/blog/data-collection-data-collection-plan"
         target="_blank"
         class="button">
        {% blocktrans %}
          Learn How To Design A Data Collection Plan
        {% endblocktrans %}
      </a>
    </p>
    
  </div>
</section>
