{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-medium">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        A data collection plan is just that – a plan for how the information your program hopes to collect will flow from its source
        all the way to the actionable insights you hope to glean from it. The process of developing this plan will reveal things about
        where your data comes from, who has access to it, and how it is collected and stored – all of which are key pieces of information
        that will inform the design and implementation of any new system you choose. 
      {% endblocktrans %}
    </p>

  </div>
</section>
