{% load dimagidotcom %}
{% load i18n %}

<h5>
  {% blocktrans %}
    Abstract
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    <a href="https://docs.google.com/spreadsheets/d/160io42Nalm7hDbDULHSxEoSyiVMEZdWL9ZghPApC1aQ/edit#gid=0"
       target="_blank">The CommCare Evidence Base</a> 
    includes more than 60 studies that explore CommCare’s impact on frontline 
    programs. This resource lives as an online, up-to-date repository, with 
    new studies being shared and published frequently. Dimagi maintains 
    the CommCare Evidence Base and adds new studies as they are discovered.
  {% endblocktrans %}
</p>

<p>
  {% url 'contact' as contact_url %}
  {% blocktrans %}
    In addition to maintaining the CommCare Evidence Base, Dimagi has also 
    published The CommCare Evidence Base Overview. This resource sheds light 
    on our key learnings from the studies included in the CommCare Evidence Base. 
    To read our analysis of how CommCare and mobile tools in general can impact 
    frontline programs at the last mile, please download the CommCare Evidence Base Overview. 
  {% endblocktrans %}
</p>

<p>
  {% url 'contact' as contact_url %}
  {% blocktrans %}
    For questions, please <a href="{{ contact_url }}">get in touch</a> 
    with us.
  {% endblocktrans %}
</p>
