{% load dimagidotcom %}
{% load i18n %}

<p>
  {% blocktrans %}
    Good data collection requires a clear process to ensure the data you collect is clean, consistent, and reliable. 
    However, establishing that process can be tricky. It involves taking stock of your objectives, identifying your data requirements, 
    and deciding on a method of data collection.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    Download and review this introductory guide to data collection to work through the process of organizing 
    a data collection plan for your program.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    Reasons to Read the Guide to Data Collection:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Learn how to clarify your project objectives
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Decide on what data you need to collect
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Choose a method of data collection
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Organize your data collection plan
    {% endblocktrans %}
  </li>
</ul>
