{% load dimagidotcom %}
{% load i18n %}

<h5>
  {% blocktrans %}
    DIIG Digital Workflow Template
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    The DIIG Digital Workflow Template includes examples, 
    key elements, and templates following the WHO’s Digital 
    Implementation Investment Guide (DIIG). Copy and paste 
    templates to create your own workflows using PowerPoint 
    or Google Slides.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    This whitepaper helps you:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Understand DIIG workflow styles
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Create your own workflows according to the DIIG format
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Collaborate with your team on easily editable workflows
    {% endblocktrans %}
  </li>
</ul>
