{% load dimagidotcom %}
{% load i18n %}

<p>
  {% blocktrans %}
    Mobile tools have been proven to increase the speed and accuracy of data collection, service delivery effectiveness, and program 
    staff performance. But implementing these tools correctly can be tough. This comprehensive guide to mobile data collection will 
    step you through the process of implementing a successful mobile data collection program – from choosing the right tool to designing 
    and sustaining your program.
  {% endblocktrans %}
</p>


<h5>
  {% blocktrans %}
    Reasons to Read the Guide to Mobile Data Collection:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Learn how to choose the right tool for your program
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Understand the process of designing and building your application
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Find the right data plan and device to support your program
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Discover how to train your team in mobile data collection 
    {% endblocktrans %}
  </li>
</ul>
