{% load dimagidotcom %}
{% load i18n %}

<h5>
  {% blocktrans %}
    What is the business development toolkit?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    The business development toolkit will help your organization quickly
    build a business development pipeline. When you download the toolkit,
    you will receive:
  {% endblocktrans %}
</p>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      A PDF that explains our approach to business development
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      An Excel tool to help you build your own business development pipeline
    {% endblocktrans %}
  </li>
</ul>

<h5>
  {% blocktrans %}
    Why did we create the business development toolkit?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    Developing a business development pipeline from scratch is difficult
    and time intensive. As a social enterprise and certified Benefit
    Corporation, we are committed to helping our partners achieve
    impact&mdash;whether that is with our technology platform, CommCare,
    or by sharing resources that could help improve a project’s deliverables.
    We developed this toolkit with the latter in mind. By releasing this
    toolkit, we hope to assist organizations in developing a business
    development process efficiently, so they can focus on what matters
    most: delivering services to those who need it most.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    How to get started:
  {% endblocktrans %}
</h5>

<p>
  {% url 'contact' as contact_url %}
  {% blocktrans %}
    Get started by downloading the Business Development toolkit on the right.
    If you'd rather connect with someone at Dimagi first or have questions
    about the toolkit, please
    <a href="{{ contact_url }}">get in touch</a> with us.
  {% endblocktrans %}
</p>
