{% load dimagidotcom %}
{% load i18n %}


<h5>
  {% blocktrans %}
    Why did we create the Managing Data in CommCare Starter Guide?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    1) Organizations around the world use CommCare applications to capture data
    efficiently and ensure timely access to their data for analysis and
    decision making. However, even with a well-designed application, data
    submitted by mobile workers isn’t always clean and ready for analysis.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    2) Without regular cleaning, incomplete, inaccurate, or irrelevant data
    can make an entire dataset less reliable and harder to use. That’s why,
    in addition to our data collection capabilities, we offer tools within
    the CommCare web platform to inspect and clean raw data.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    We know that organizations want to get the most out of their data,
    so we wrote this guide to share the tools available within CommCare
    to help users do just that.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    What will you learn from using this guide?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    This Starter Guide introduces key features in CommCare for effective
    data management, which can help lead to better analysis and greater
    insights into performance, progress, and impact. The guide is
    organized into two parts: Exporting Data and Inspecting and
    Cleaning Data.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    In Part 1, Exporting Data, you’ll learn how to:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Distinguish between the four main types of exports
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Select and configure the right export for your needs
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Manage the exports that have been created
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Distinguish and interpret captured data and metadata in an export
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Understand and minimize the effects of app changes on exports
    {% endblocktrans %}
  </li>
</ul>

<h5>
  {% blocktrans %}
    In Part 2, Inspecting and Cleaning Data, you’ll explore how to:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Inspect form submissions and how they interact with cases
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Edit individual form submissions
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Remove accidental, erroneous, or test submissions from your data
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Close duplicate, test, or old cases
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Use each available tool appropriately, based on your needs and in
      light of the tool’s limitations
    {% endblocktrans %}
  </li>
</ul>
