{% load dimagidotcom %}
{% load i18n %}

<h5>
  {% blocktrans %}
    Why did we create the Managing Devices at Scale eBook?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    As part of a large-scale mobile health project in India, Dimagi helped
    equip over 50,000 community health workers with CommCare applications,
    downloaded on Android smartphones. This project, which is one of the
    largest mobile health interventions in the world, presented our team
    with many new challenges and opportunities.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    One hurdle in dealing with a project of this size is device management.
    On this particular project, Dimagi and its implementation partners were
    responsible for the procurement, testing, setup, distribution, and
    management of all 50,000 devices. This was no easy feat. As more
    mHealth projects around the world look to scale, we want to share
    what we learned to help other organizations avoid pitfalls and ensure
    success in this important&mdash;and somewhat tedious&mdash;process.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    What will you learn from reading this eBook?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    This eBook looks back at our key learnings for managing devices at scale,
    from selection all the way to delivery. We identified four tips in each
    of the five phases of this process:
  {% endblocktrans %}
</p>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Selection and Pre-Installation
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Sample Testing
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Quality Check
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Device Setup
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Distribution and Management
    {% endblocktrans %}
  </li>
</ul>
