{% load dimagidotcom %}
{% load i18n %}


<p>
  {% blocktrans %}
    The Total Cost of Ownership model serves as a simple, transparent
    exercise for organizations interested in understanding the cost
    of maintaining a mobile solution.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    This tool will help you:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Estimate the total cost of adopting CommCare or other mobile technologies.
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Explore permutations and plan budgets accordingly.
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Help groups understand and/or identify the real cost drivers to maintaining a mobile system.
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Assess how these costs can be shared by governments, external donors, NGOs, or others.
    {% endblocktrans %}
  </li>
</ul>
