{% extends "sections/commcare/commcare_messaging/adapt/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/home/stats/register.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Deploy contactless behavior change and awareness campaigns
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Engage your program's beneficiaries with digital messaging campaigns
  ranging from broadcast messages to targeted communications.
{% endblocktrans %}{% endblock %}
