{% load i18n %}
{% load dimagidotcom %}

<section class="align-center blue-theme accent-gray-bg border-top" id="track_program">
  <div class="content pad-vert-medium">
    <h2 class="content-width-medium normalcase pad-bottom-small theme-color">
        {% blocktrans %}
          Field-tested tools for data collection and service delivery at scale
        {% endblocktrans %}
    </h2>

    <div class="grid-1-at-small grid-2-at-large grid-col-space-medium grid-row-equal-heights pad-bottom-medium">
      {% include "sections/commcare/commcare_ict4d/track_program/surveys.html" %}
      {% include "sections/commcare/commcare_ict4d/track_program/no_code.html" %}
    </div>{# .grid-2-at-small #}

    <div class="report content pad-vert-small blue-theme border-all white-bg">
      <div class="grid-2-at-small">
        <div class="column pad-left-medium-at-medium pad-horz-line align-left-at-medium align-center-at-small pad-top-large-at-large pad-top-small-at-medium pad-top-none">
          <h3 class="theme-color">
            {% blocktrans %}
              Enforce enterprise-grade security
            {% endblocktrans %}
          </h3>
          <p>
            {% blocktrans %}
              With CommCare, your data is always encrypted and stored in a 
              HIPAA-, GDPR-, and ISO 27001-compliant environment. Tighten 
              security further with roles-based data access, data 
              de-identification, two-factor authentication, and more.
            {% endblocktrans %}
          </p>
        </div>{# .column #}
        <div class="column pad-left-line">
          <div class="report-ready white-lazy-bg"
               data-lazybg="true"></div>
        </div>{# .column #}
      </div>{# .grid-2 #}
    </div>{# .content #}

    <p class="align-center pad-top-medium">
      <a class="button uppercase {% click_body 'case-management' %}"
         href="{% url 'commcare_features' %}">
        {% blocktrans %}
          See all features
        {% endblocktrans %}
      </a>
    </p>

  </div>{# .content #}
</section>
