{% load dimagidotcom %}
{% load i18n %}

<div class="column blue-theme">
  <a class="tile {{ click_class }} accent-gray-bg"
     href="{% url 'covid_19' %}">

    <div class="theme-icon">
      {% include 'svg/india/covid_response.html' %}
    </div>

    <h4 class="blue pad-top-line">
      {% blocktrans %}
        Covid Response
      {% endblocktrans %}
    </h4>

    <p class="body-color">
      {% blocktrans %}
        Digital solutions and CommCare
        resources for COVID-19 response
      {% endblocktrans %}
    </p>

    <p class="link pad-top-base">
      {% blocktrans %}
        Learn More
      {% endblocktrans %}
    </p>

  </a>
</div>{# .column #}
