{% load dimagidotcom %}
{% load i18n %}

<div class="column blue-theme">
  <a class="tile {{ click_class }} accent-gray-bg"
     href="{% url 'sector' 'reproductive-health' %}">

    <div class="theme-icon">
      {% include 'svg/sectors/healthcare/reproductive_health.html' %}
    </div>

    <h4 class="blue pad-top-line">
      {% blocktrans %}
        Reproductive Health
      {% endblocktrans %}
    </h4>

    <p class="body-color">
      {% blocktrans %}
        Increase access to reproductive healthcare for
        women with mobile data collection.
      {% endblocktrans %}
    </p>

    <p class="link pad-top-base">
      {% blocktrans %}
        Learn More
      {% endblocktrans %}
    </p>

  </a>
</div>{# .column #}
