{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="intro-about-mdc">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        Data collection is the process of gathering quantitative and qualitative information on specific variables with the aim of evaluating
        outcomes or gleaning actionable insights. Good data collection requires a clear process to ensure the data you collect is clean, consistent, and reliable.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
       Establishing that process, however, can be tricky. It involves taking stock of your objectives, identifying your data requirements,
       deciding on a method of data collection, and finally organizing a data collection plan that synthesizes the most important aspects of your program.
      {% endblocktrans %}
    </p>

  </div>
</section>
