{% extends "sections/commcare/product/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block class_image %}image-cleaning-data{% endblock %}

{% block quote %}{% blocktrans %}
  Dimagi has always provided us with personalized
  service and is ready to work with us as we rapidly
  update the CommCare application to accommodate our
  needs. No other IT solutions vendor we have worked
  with has been so involved and timely. We greatly
  value that level of customer service.
{% endblocktrans %}{% endblock %}

{% block cite %}{% blocktrans %}
  Alaska Section of Public Health Nursing
{% endblocktrans %}{% endblock %}
