{% extends "sections/commcare/product/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block class_image %}image-delivery-services{% endblock %}

{% block quote %}{% blocktrans %}
  We selected Dimagi’s CommCare application for a variety of
  reasons, ranging from its configurability to its ease of
  scale and maintenance. What clinched it for us, however,
  was Dimagi’s candor during the selection process...That
  candor also engendered our trust that Dimagi would be with
  us every step of the way, which has been shown time and again
  as we refined the deployment to fit the state's highly
  heterogeneous public health ecosystem.
  It is not an overstatement to say that had we gone
  with another vendor we would not have succeeded in
  this effort. In sum, we needed a reliable partner
  willing to work with us, and we got precisely that.
{% endblocktrans %}{% endblock %}

{% block cite %}{% blocktrans %}
  State of New Jersey
{% endblocktrans %}{% endblock %}
