{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "$": false,
        "ko": false
    },

    // http://eslint.org/docs/rules/
    // http://eslint.org/docs/user-guide/configuring#configuring-rules
    "rules": {
        // First option can be off, warn, or error
        "comma-dangle": ["warn", "always-multiline"],
        "eqeqeq": ["error"],
        "indent": ["warn", 4],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
    }
}
