# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# dotenv
.env*

# virtualenv
.venv
venv/
ENV/

# PyCharm
.idea/*

# Logging
*.log
.log/*

staticfiles/*
db.sqlite3
node_modules/*
.sass-cache/*
/static_versions.py
assets/style/*.css

dump.rdb

local_release_tasks.sh
assets/style/_test.scss
assets/js/test.js

*.DS_Store
