[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
django-compressor = "*"
django-sass-processor = "*"
pyyaml = "*"
python-memcached = "*"
django-environ = "*"
boto = "*"
"boto3" = "*"
django-storages = "*"
django-redis = "*"
django-compressor-postcss = "*"
autoprefixer = "*"
django-imagekit = "*"
pillow = "*"
requests = "*"
libsass = "*"
olefile = "*"
django-capture-tag = "*"
django-require = "*"


[requires]

python_version = "3.6"
