[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
django-compressor = "*"
django-sass-processor = "*"
pyyaml = "*"
python-memcached = "*"
django-environ = "*"
boto = "*"
"boto3" = "*"
django-storages = "*"
django-redis = "*"
django-compressor-postcss = "*"
autoprefixer = "*"
django-imagekit = "*"
pillow = "*"
requests = "*"
libsass = "*"
olefile = "*"
django-capture-tag = "*"
django-require = "*"
django-htmlmin = "*"
reportlab = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
simplejson = "*"
virtualenv = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
