[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "==2.2.25"
gunicorn = "*"
"psycopg2" = "*"
django-compressor = "*"
django-sass-processor = "*"
pyyaml = "*"
python-memcached = "*"
django-environ = "*"
boto = "==2.49.0"
boto3 = "==1.9.71"
django-storages = "==1.7.1"
django-redis = "==5.1.0"
django-compressor-postcss = "*"
autoprefixer = "*"
django-imagekit = "*"
pillow = "*"
requests = "*"
libsass = "*"
olefile = "*"
django-capture-tag = "*"
django-require = "*"
django-htmlmin = "*"
reportlab = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
simplejson = "*"
botocore = "==1.12.253"

[requires]
python_version = "3.6"
