.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

.pull-none {
    float: none !important
}

.clear-left {
    clear: left !important
}

.clear-right {
    clear: right !important
}

.clear-both {
    clear: both !important
}

@media (min-width: 374px) {
    .pull-left-at-extra-small {
        float: left !important
    }
    .pull-right-at-extra-small {
        float: right !important
    }
    .pull-none-at-extra-small {
        float: none !important
    }
    .clear-left-at-extra-small {
        clear: left !important
    }
    .clear-right-at-extra-small {
        clear: right !important
    }
    .clear-both-at-extra-small {
        clear: both !important
    }
}

@media (min-width: 480px) {
    .pull-left-at-small {
        float: left !important
    }
    .pull-right-at-small {
        float: right !important
    }
    .pull-none-at-small {
        float: none !important
    }
    .clear-left-at-small {
        clear: left !important
    }
    .clear-right-at-small {
        clear: right !important
    }
    .clear-both-at-small {
        clear: both !important
    }
}

@media (min-width: 718px) {
    .pull-left-at-medium {
        float: left !important
    }
    .pull-right-at-medium {
        float: right !important
    }
    .pull-none-at-medium {
        float: none !important
    }
    .clear-left-at-medium {
        clear: left !important
    }
    .clear-right-at-medium {
        clear: right !important
    }
    .clear-both-at-medium {
        clear: both !important
    }
}

@media (min-width: 1024px) {
    .pull-left-at-large {
        float: left !important
    }
    .pull-right-at-large {
        float: right !important
    }
    .pull-none-at-large {
        float: none !important
    }
    .clear-left-at-large {
        clear: left !important
    }
    .clear-right-at-large {
        clear: right !important
    }
    .clear-both-at-large {
        clear: both !important
    }
}

@media (min-width: 1292px) {
    .pull-left-at-extra-large {
        float: left !important
    }
    .pull-right-at-extra-large {
        float: right !important
    }
    .pull-none-at-extra-large {
        float: none !important
    }
    .clear-left-at-extra-large {
        clear: left !important
    }
    .clear-right-at-extra-large {
        clear: right !important
    }
    .clear-both-at-extra-large {
        clear: both !important
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    width: 100%;
    clear: both
}
