@import 'app/variables/sizes';

@mixin _make-parts-at($_size: null) {
  $_suffix: if($_size != null, -at-#{$_size}, null);

  .one-whole#{$_suffix},
  .two-halves#{$_suffix},
  .three-thirds#{$_suffix},
  .four-fourths#{$_suffix},
  .five-fifths#{$_suffix} {
    width: 100% !important; //scss-lint:disable ImportantRule
  }

  .one-half#{$_suffix},
  .two-fourths#{$_suffix} {
    width: 50% !important; //scss-lint:disable ImportantRule
  }

  .one-third#{$_suffix} {
    width: 33.33333% !important; //scss-lint:disable ImportantRule
  }

  .two-thirds#{$_suffix} {
    width: 66.66667% !important; //scss-lint:disable ImportantRule
  }

  .one-fourth#{$_suffix} {
    width: 25% !important; //scss-lint:disable ImportantRule
  }

  .three-fourths#{$_suffix} {
    width: 75% !important; //scss-lint:disable ImportantRule
  }

  .one-fifth#{$_suffix} {
    width: 20% !important; //scss-lint:disable ImportantRule
  }

  .two-fifths#{$_suffix} {
    width: 40% !important; //scss-lint:disable ImportantRule
  }

  .three-fifths#{$_suffix} {
    width: 60% !important; //scss-lint:disable ImportantRule
  }

  .four-fifths#{$_suffix} {
    width: 80% !important; //scss-lint:disable ImportantRule
  }
}

@include _make-parts-at();

@each $_size, $_width in $widths-by-size {
  @media (min-width: $_width) {
    @include _make-parts-at($_size);
  }
}
