@import 'app/lib/jacket';
@import 'app/variables/sizes';

@mixin _make-position-at($_size: null) {
  $_suffix: if($_size != null, -at-#{$_size}, null);

  .position-fixed#{$_suffix} {
    position: fixed !important; //scss-lint:disable ImportantRule
  }

  .position-absolute#{$_suffix} {
    position: absolute !important; //scss-lint:disable ImportantRule
  }

  .position-relative#{$_suffix} {
    position: relative !important; //scss-lint:disable ImportantRule
  }

  .position-static#{$_suffix} {
    position: static !important; //scss-lint:disable ImportantRule
  }

  .pin-top-left#{$_suffix} {
    left: 0;
    position: absolute;
    top: 0;
  }

  .pin-top-center#{$_suffix} {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }

  .pin-top-right#{$_suffix} {
    position: absolute;
    right: 0;
    top: 0
  }

  .pin-middle-left#{$_suffix} {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .pin-middle-center#{$_suffix} {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .pin-middle-right#{$_suffix} {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .pin-bottom-left#{$_suffix} {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .pin-bottom-center#{$_suffix} {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .pin-bottom-right#{$_suffix} {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

@include jacket ($jacket-standard) {
  @include _make-position-at();

  @each $_size, $_width in $widths-by-size {
    @media (min-width: $_width) {
      @include _make-position-at($_size);
    }
  }
}
