@import 'app/lib/jacket';
@import 'app/variables/sizes';

@mixin _make-pad($_type, $_space, $_suffix) {
  .pad-#{$_type}#{$_suffix} {
    padding: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-vert-#{$_type}#{$_suffix} {
    padding-bottom: $_space !important; // scss-lint:disable ImportantRule
    padding-top: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-horz-#{$_type}#{$_suffix} {
    padding-left: $_space !important; // scss-lint:disable ImportantRule
    padding-right: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-top-#{$_type}#{$_suffix} {
    padding-top: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-bottom-#{$_type}#{$_suffix} {
    padding-bottom: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-left-#{$_type}#{$_suffix} {
    padding-left: $_space !important; // scss-lint:disable ImportantRule
  }

  .pad-right-#{$_type}#{$_suffix} {
    padding-right: $_space !important; // scss-lint:disable ImportantRule
  }
}

@mixin _make-gap($_type, $_space, $_suffix) {
  .gap-vert-#{$_type}#{$_suffix} {
    margin-bottom: $_space !important; // scss-lint:disable ImportantRule
    margin-top: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-#{$_type}#{$_suffix} {
    margin: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-horz-#{$_type}#{$_suffix} {
    margin-left: $_space !important; // scss-lint:disable ImportantRule
    margin-right: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-top-#{$_type}#{$_suffix} {
    margin-top: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-bottom-#{$_type}#{$_suffix} {
    margin-bottom: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-left-#{$_type}#{$_suffix} {
    margin-left: $_space !important; // scss-lint:disable ImportantRule
  }

  .gap-right-#{$_type}#{$_suffix} {
    margin-right: $_space !important; // scss-lint:disable ImportantRule
  }
}

@mixin _make-offset($_type, $_space, $_suffix) {
  .offset-#{$_type}#{$_suffix} {
    margin: -$_space !important; // scss-lint:disable ImportantRule
  }

  .offset-horz-#{$_type}#{$_suffix} {
    margin-left: -$_space !important; // scss-lint:disable ImportantRule
    margin-right: -$_space !important; // scss-lint:disable ImportantRule
  }

  .offset-top-#{$_type}#{$_suffix} {
    margin-top: -$_space !important; // scss-lint:disable ImportantRule
  }

  .offset-bottom-#{$_type}#{$_suffix} {
    margin-bottom: -$_space !important; // scss-lint:disable ImportantRule
  }

  .offset-left-#{$_type}#{$_suffix} {
    margin-left: -$_space !important; // scss-lint:disable ImportantRule
  }

  .offset-right-#{$_type}#{$_suffix} {
    margin-right: -$_space !important; // scss-lint:disable ImportantRule
  }
}

@mixin _make-spacing-at($_size: null) {
  $_suffix: if($_size != null, -at-#{$_size}, null);
  @each $_type, $_space in $space-by-type {
    @include _make-pad($_type, $_space, $_suffix);
    @include _make-gap($_type, $_space, $_suffix);
    @include _make-offset($_type, $_space, $_suffix);
  }
}

@include jacket ($jacket-critical) {
  @include _make-spacing-at();
}

@include jacket ($jacket-standard) {
  @each $_size, $_width in $widths-by-size {
    @media (min-width: $_width) {
      @include _make-spacing-at($_size);
    }
  }
}
