{% load i18n %}
{% load dimagidotcom %}

<div class="response">
  <div class="feature-projects pad-vert-line pad-horz-line">
    <div class="border-all white-bg">
      <div class="content-width-extra-small align-center pad-top-medium pad-horz-line">
        <h3 class="theme-color">
          {% blocktrans %}
            Lower your costs with no-code app building 
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            There’s no need for engineering or IT support when you use 
            CommCare. Our no-code app building platform means a lower and 
            sustainable total cost of ownership for the duration of your program.
          {% endblocktrans %}
        </p>
      </div>
      <div class="no-code"
          data-lazybg="true"></div>
    </div>
  </div>{# .feature-projects #}
</div>{# .response #}
