{% load i18n %}
{% load dimagidotcom %}

<div class="response">
  <div class="feature-projects pad-vert-line pad-horz-line">
    <div class="border-all white-bg">
      <div class="content-width-extra-small align-center pad-top-medium pad-horz-line">
        <h3 class="theme-color">
          {% blocktrans %}
            Go beyond surveys
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}            
            Empower your field staff with field-tested workflows that work 
            offline and at scale. Our offline Case Management capabilities 
            enable field staff to share a case load, powerful referral 
            workflows, attendance tracking and more. 
          {% endblocktrans %}
        </p>
      </div>
      <div class="survey"
         data-lazybg="true"></div>
    </div>
  </div>{# .feature-projects #}
</div>{# .response #}
