{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}products-commcare-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/products/commcare.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero hero-products-commcare" id="hero">
    <div class="content offset-top-extra-large align-left-at-medium align-center">
      <h2>
        {% include "svg/products/commcare/logo.html" %}
      </h2>
      <h1>
        {% blocktrans %}
          The world's most powerful mobile data collection platform.
        {% endblocktrans %}
      </h1>
      <a class="button alt inverted"
         href="#todo">
        {% blocktrans %}
          Start Free Trial
        {% endblocktrans %}
      </a>
      <p class="cta">
        <a class="play-icon-small alt"
           href="#todo">
          {% blocktrans %}
            Watch the video
          {% endblocktrans %}
        </a>
      </p>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  {% include "sections/products/commcare/sub_nav.html" %}
  {% include "sections/products/commcare/brief_overview.html" %}
  {% include "sections/products/commcare/overview.html" %}
  {% include "sections/products/commcare/features.html" %}
  {% include "sections/products/commcare/usage.html" %}
  {% include "sections/products/commcare/drive_impact.html" %}
  {% include "sections/products/commcare/testimonials.html" %}
  {% include "sections/products/commcare/pricing.html" %}
  {% include "sections/products/commcare/trial.html" %}
{% endblock %}
