{% load dimagidotcom %}

<section class="accents"
         id="accents">
  <div class="content content-width-medium gap-vert-medium">

    <h2>Color Accent Utilities</h2>

    <p>
      Each <code>&lt;section/&gt;</code> on a page should keep the
      same theme colors within that section. Pages should include themes in
      the same color family (e.g.
      <code>blue-dark</code>, <code>blue</code>, <code>blue-light</code>).
    </p>

    <p>
      Use color accents that are different from the parent theme with discretion.
      If there is a style override issue with the themes&mdash;for instance if a
      <code>blue-dark</code> theme is inside a parent with a <code>blue</code>
      theme&mdash;the regular <code>theme-bg</code> / <code>theme-color</code>
      classes might not work due to how the css is structured, so color accents
      are a great way to guarantee the element is colored appropriately.
    </p>

    <p>
      Please <strong>do not</strong> use accent colors outside of the page or
      section's color family. (e.g. don't use <code>red-color</code> on text that
      is inside a section styled with the <code>green</code> theme).
    </p>


    <h3 class="gap-top-small">Background Colors</h3>
    <p>
      You can add <code>&lt;color&gt;-bg</code> to any block element to set the
      <code>background-color</code> to <code>&lt;color&gt;</code>,
      where <code>&lt;color&gt;</code> is any one of the colors mentioned above.
    </p>

    <h4>Example</h4>
    <pre>&lt;div class="tile <strong>purple-bg</strong>"&gt;&lt;/div&gt;</pre>
    <div class="tile purple-bg"></div>

    <h3 class="gap-top-small">Text Colors</h3>
    <p>
      You can add a splash of color to any text or link by adding the
      <code>&lt;color&gt;-color</code> or <code>&lt;color&gt;</code> class to the wrapping element, where
      <code>&lt;color&gt;</code> is any one of the colors mentioned above.
    </p>

    <h4>Example</h4>
    <pre class="gap-bottom-base">You can &lt;strong class="<strong>green</strong>"&gt;accent&lt;/strong&gt; any text.</pre>
    <p>
      You can <strong class="green">accent</strong> any text.
    </p>

    <pre class="gap-bottom-base">You can color your &lt;a href="#" class="<strong>red-color</strong>"&gt;links&lt;/a&gt;.</pre>
    <p>
      You can color your <a href="#" class="red-color">links</a>.
    </p>

    <h3 class="gap-top-small">Icon Colors</h3>
    <p>
      You can change an icon's color by adding the <code>&lt;color&gt;-icon</code>
      to any parent element wrapping the icon(s),
      where <code>&lt;color&gt;</code> is any one of the colors mentioned above.
    </p>

    <h4>Example</h4>
    <pre>&lt;div class="<strong>red-icon</strong>"&gt;&lt;svg&gt;...&lt;/svg&gt;&lt;/div&gt;</pre>
    <div class="red-icon">
      {% include 'svg/case_management/mobile_archive.html' %}
    </div>

    <h3 class="gap-top-small">Button Colors</h3>
    <p>
      You can change a button's color by adding the <code>button-&lt;color&gt;</code>
      class to the button's classes,
      where <code>&lt;color&gt;</code> is any one of the colors mentioned above.
    </p>

    <h4>Example</h4>
    <pre>&lt;button class="<strong>button-purple</strong>"&gt;A Button&lt;/button&gt;</pre>
    <button class="button-purple">
      A Button
    </button>

    <h3 class="gap-top-small">Border Colors</h3>
    <p>
      You can add <code>&lt;color&gt;-border</code> to any block element with
      and existing <code>border</code> defined (like a <code>tile</code>) to
      change the border color to <code>&lt;color&gt;</code>,
      where <code>&lt;color&gt;</code> is any one of the colors mentioned above.
    </p>

    <h4>Examples</h4>
    <pre>&lt;a href="#" class="tile <strong>purple-border</strong>"&gt;&lt;/a&gt;</pre>
    <a href="#" class="tile purple-border"></a>
    <p class="pad-top-base">
      Note: for <code>tile</code> this changes the <code>border</code> color only
      on hover.
    </p>

    <p>
      Note: for <code>border</code>, <code>border-top</code>, etc classes, the colors
      will not apply because there is never a reason those borders should have an
      accent color.
    </p>


  </div> {# .content #}
</section>

