{% load dimagidotcom %}

<section class="colors border-bottom"
         id="colors">
  <div class="content content-width-large gap-top-medium gap-bottom-large">

    <h2>Colors</h2>

    <div class="grid-3">
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="primary" hex="16006D" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="primary-light" hex="3843D0" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="primary-lightest" hex="8EA1FF" %}

      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="secondary" hex="E44434" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="secondary-light" hex="FC5F36" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="secondary-lightest" hex="FEAF31" %}

      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gray" hex="6A666D" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gray-light" hex="9d99a0" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gray-lightest" hex="#e9e8ea" %}

      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="commcare-default" hex="5D70D2" %}
    </div>{# .grid #}

    <h3 class="pad-top-medium">Gradient Slices</h3>

    <p>
      The full gradient goes from <strong class="primary-light-color">primary-light</strong> to
      <strong class="secondary-light-color">secondary-light</strong>.
    </p>
    <div class="grid-5">
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-10" hex="4c46c1" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-20" hex="5f49b1" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-30" hex="734ba2" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-40" hex="864e92" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-50" hex="9a5183" %}

      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-60" hex="ae5474" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-70" hex="c15764" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-80" hex="d55955" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-90" hex="e85c45" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="secondary-light" hex="FC5F36" %}
    </div>{# .grid #}

    <h3 class="pad-top-medium">Gradient Backgrounds</h3>

    <div class="grid-2">
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-main" is_bg="true" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-main-reversed" is_bg="true" %}

      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-sideways" is_bg="true" %}
      {% include 'styleguide/sections/colors/partials/swatch.html' with theme="gradient-sideways-reversed" is_bg="true" %}
    </div>



  </div> {# .content #}
</section>
