{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <a class="prompt-link"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">

        {% for term in terms %}
          <a href="{% url 'terms' version term.slug %}">
            {{ term.title }}
          </a>
        {% endfor %}

      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
