{% extends "about/sections/resources/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/about/icons/blog.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Blog
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Read the latest from our team and partners.
{% endblocktrans %}{% endblock %}

{% block link %}
  {% url 'blog_home' %}
{% endblock %}

{% block link_text %}{% blocktrans %}
  Visit Blog
{% endblocktrans %}{% endblock %}
