{% extends "about/sections/resources/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/about/icons/careers.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Careers
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  We’re seeking impact-driven problem solvers.
{% endblocktrans %}{% endblock %}

{% block link %}
  {% url 'careers' %}
{% endblock %}

{% block link_text %}{% blocktrans %}
  See Jobs
{% endblocktrans %}{% endblock %}
