{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-small">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Deliver the training
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        We cannot stress enough the importance of the connection between trainer and trainee. Our trainings have been most successful
        when participants have been able to interact with the trainer without inhibition. 
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Our field managers often use some of <a href="https://confluence.dimagi.com/display/commcarepublic/Icebreaker%2C+Energizer+and+Recap+Activities" target="_blank"><u>these tricks</u></a> (and they’ve often found bringing some candy helps to sweeten the sessions).
        You should expect your approach to trainings to change the more you learn about your audience. Just like your app, this is an
        iterative process. For more advice on how to run your training sessions, check out <a herf="https://www.dimagi.com/blog/launching-a-mobile-data-collection-platform-7-training-tips/" target="_blank"><u>these tips</u></a> from our global services team.
      {% endblocktrans %}
    </p>

  </div>
</section>
