{% extends "sections/commcare/vaccine-delivery/approach/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/commcare/vaccine-delivery/outreach.html" %}
{% endblock %}

{% block header %}
  {% blocktrans %}
    Community Outreach
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    Guide conversations with community members by offering
    guidance, educational content, and follow-ups for missed appointments.
  {% endblocktrans %}
{% endblock %}
