{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="usability-testing">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Usability testing
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Usability (or user acceptance’) testing is the process of putting a functioning app in front of your end users and seeing what
        they think. The concept is quite simple, but the execution is a bit more nuanced. 
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
         From selection bias to asking leading questions, there are many ways that your approach to collecting feedback can lead your
         users to give you the answers you want. As tempting as this can be, you need to make sure that the feedback you collect is as
         unbiased as possible.
      {% endblocktrans %}
    </p>
   
    <p class="align-center">
      {% blocktrans %}
        <a href="https://dimagi.com/blog/mobile-data-collection-app-usability-testing/" target="_blank">Learn more about usability testing</a>
      {% endblocktrans %}
    </p>

  </div>
</section>
