{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-large"
         id="how-program-environment-affect-tools">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        How Does Your Program and Its Environment
        Affect Your Mobile Data Collection Tool?
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Mobile data collection tools range in price, some are harder
        to maintain than others, and they all have different
        strengths and weaknesses. Beyond the features that deal
        with what data you collect, look at how the structure of
        your program or the characteristics of the region you work
        in might affect your platform needs. Here are some considerations:
      {% endblocktrans %}
    </p>

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter4/icon9.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              How large is your data collection program?
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            Certain tools limit the number of end users for
            lower-tier subscriptions, but may offer strong
            supervisory functionality for larger deployments on
            higher-tier accounts. We recommend investing in a tool
            that can grow with your program, but the most important
            thing is that you consider how a prospective tool can
            handle the scale of your program.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter4/icon10.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              How experienced is your team with mobile data collection?
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            Make sure you use a platform that matches the experience
            of your team. If you have a dedicated software team, you
            might be able to develop your own custom solution based
            on an open source platform. If your team is just you, and
            you have limited technical experience, there are simple
            pre-made surveys and easy drag-and-drop form builder tools.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter4/icon11.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              Will you have an internet connection while in the field?
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            If so, find out what the offline capabilities of your
            chosen platform are. Many platforms allow you to record
            data on the device and upload when connectivity returns.
            Some even allow for offline case management, so you can
            store data from prior visits on the device and update
            even without an internet connection.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter4/icon12.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              What languages do your end users and beneficiaries speak?
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            Look for a tool that allows you to easily translate a
            given form. Some tools allow you to select a language for
            your application depending on your audience or even allow
            for audio playback of the text on screen for low-literacy
            users.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <p class="pad-top-line">
      {% blocktrans %}
        Mobile data collection tools on their own are not silver bullets.
        They cannot fix a poorly-designed program, and a solution
        designed for a basic survey will not aid your complex case
        management program. Indeed, you will not get the full value
        of a complex mobile tool without a technically competent
        program manager, and in the wrong environment, mobile tools
        can even be a detriment to frontline workers.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        However, combining the important considerations shared above
        around your data, workers’ needs, and project environment with
        the right mobile data collection tool will improve the accuracy
        and speed of your data collection, help your team do its best
        work, and ultimately, amplify the impact of your program.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-top-small pad-bottom-medium">
      <a href="#" class="button">
        {% blocktrans %}
        Learn more about how to evaluate data collection tools
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
