{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        While the benefits of implementing a mobile data collection
        solution may be clearer today than ever before, there is no
        one-size-fits-all solution. Indeed, depending on the circumstances,
        what works for one program may not work for yours, and
        understanding the core benefits of these systems will
        help you determine which features might help your program and how.
      {% endblocktrans %}
    </p>

    <div class="aspect-ratio-rect slate-bg gap-bottom-small"></div>

  </div>
</section>
