{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        While the benefits of implementing a mobile data collection
        solution may be
        <a href="https://www.dimagi.com/toolkits/commcare-evidence-base/"
           target="_blank">clearer today than ever before</a>, there is no
        one-size-fits-all solution. Indeed, depending on the circumstances,
        what works for one program may not work for yours, and
        understanding the core benefits of these systems will
        help you determine which features might help your program and how.
      {% endblocktrans %}
    </p>

    <blockquote>
      <p class="blue">
        We used to run paper-based monitoring and evaluation systems,
        which were inefficient and painful to manage. [Mobile data
        collection] made our lives easier.
      </p>
      <cite>
        Prachi Patel, CMS India
      </cite>
    </blockquote>

  </div>
</section>
