{% load i18n %}
{% load dimagidotcom %}

<section class="about"
         id="about">
  <div class="content pad-top-medium">
    <div class="intro content-width-medium">
      <h2>
        {% blocktrans %}
          Our Proposal Team
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Whether applying to RFPs, RFAs, innovation grants, or IDIQs, Dimagi
          can bring a wealth of experience to your consortium.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="ict4d-wrapper">
    <div class="content pad-top-medium pad-bottom-small pad-bottom-medium-at-medium">
      <div class="grid-2-at-medium grid-reverse">
        <div class="column pad-left-small">
          <h3>
            {% blocktrans %}
              Back your consortium with ICT4D experts.
            {% endblocktrans %}
          </h3>
          <p>
            {% blocktrans %}
              Dimagi has helped implement over 500 projects in 60+ countries from
              our global field offices throughout Asia, Africa and Latin America.
              Our proposal team is staffed with experts in the ICT4D space, ready
              to assist your teams in response for projects across sectors, from
              healthcare to agriculture.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              Our proposal teams have an above industry win rate, which has led
              to successful projects and awards from funders such as USAID, CDC,
              NIH, World Health Organization, World Bank, UNICEF, Rockefeller
              Foundation, and Bill and Melinda Gates Foundation.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              Dimagi is a certified B Corp and occasionally primes small business
              IDIQs. We also hold a Technical Assistance Support Contract
              4-Information and Communications Technology for Health
              (TASC 4-ICT Health) IDIQ.
            {% endblocktrans %}
          </p>
        </div>{# .column #}
      </div>{# .grid-2-at-medium #}
    </div>{# .content #}
    <div class="image off-grid white-lazy-bg gap-bottom-medium gap-bottom-none-at-medium"
          data-lazybg="true"></div>
  </div>{# .ict4d-wrapper #}

  <div class="partners-wrapper">
    <div class="content pad-bottom-medium-at-medium">
      <div class="grid-2-at-medium gap-bottom-line">
        <div class="column pad-left-small">

          <h3>
            {% blocktrans %}
              Gain a true partner in your proposal process.
            {% endblocktrans %}
          </h3>

          <p>
            {% blocktrans %}
              As a consortium partner, we play an active role in helping define
              scope and technical interventions. During the proposal period, our
              dedicated team will help the prime understand donor priorities and
              develop key “win” themes. From kickoff meetings to writing
              pre-proposal pieces, we will partner with you every step of the way.
            {% endblocktrans %}
          </p>

          <p>
            {% blocktrans %}
              Our capabilities include:
            {% endblocktrans %}
          </p>

          <ul class="check-list grid-2 gap-bottom-small">
            <li>
              <strong>
                {% blocktrans %}
                  Technical corp capes supported by 60+ studies
                {% endblocktrans %}
              </strong>
            </li>
            <li>
              <strong>
                {% blocktrans %}
                  Early access to advanced or beta technologies
                {% endblocktrans %}
              </strong>
            </li>
            <li>
              <strong>
                {% blocktrans %}
                  USG-approved NICRA, 1420s and PPRs
                {% endblocktrans %}
              </strong>
            </li>
            <li>
              <strong>
                {% blocktrans %}
                  Increased support during implementation
                {% endblocktrans %}
              </strong>
            </li>
            <li>
              <strong>
                {% blocktrans %}
                  National scale pricing
                {% endblocktrans %}
              </strong>
            </li>
          </ul>

        </div>{# .column #}
      </div>{# .grid-2-at-medium #}
    </div>{# .content #}
    <div class="image off-grid white-lazy-bg gap-bottom-large gap-bottom-none-at-medium"
         data-lazybg="true"></div>
  </div>{# .partners-wrapper #}

</section>
