{% load i18n %}
{% load dimagidotcom %}

<section class="overview align-center turquoise-theme"
         id="overview">
  <div class="content pad-top-medium">
    <div class="grid-2-at-small grid-4-at-large grid-row-space-small">
      {% include "sections/proposals/overview/ict4d_experts.html" %}
      {% include "sections/proposals/overview/partner.html" %}
      {% include "sections/proposals/overview/track_record.html" %}
      {% include "sections/proposals/overview/global_reach.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}
</section>
