{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a class="primary {% click_subnav 'contact' %}"
         href="#contact-form-modal">
        <span>
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#overview"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
        <a href="#about"
           class="{% click_subnav 'about' %}">
          {% blocktrans %}
            About Our Proposal Team
          {% endblocktrans %}
        </a>
        <a href="#pricing"
           class="{% click_subnav 'pricing' %}">
          {% blocktrans %}
            Pricing
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
