{% load i18n %}
{% load dimagidotcom %}

<section class="mhp-case-study orange-lightest-bg pad-vert-small pad-horz-line gap-bottom-line">
    <div class="grid-1">
      <h4 class="orange-dark">
        {% blocktrans %}
          U.S. Centers for Disease Control’s Community Health Worker Toolkit
        {% endblocktrans %}
      </h4>
      <p>
        {% blocktrans %}
          This collection of literature reviews, toolkits, and peer-reviewed
          research articles offers “online courses, lessons learned, and best
          practices to help health departments train and further build capacity
          for CHWs in their communities.” The toolkit covers policy,
          implementation, and training considerations for community health
          workers, as well as “training and education materials for community
          health workers to use within their communities.”
        {% endblocktrans %}
      </p>
    </div>{# .grid-1 #}
    <div class="grid-2-at-medium grid-1-at-small pad-top-line grid-reverse">
      <div class="column align-center">
        {% include "svg/pillar/chw/chapter8/cdc.html" %}
      </div>
      <div class="column">
        <p class="pad-top-line">
          <a href="https://www.cdc.gov/dhdsp/pubs/toolkits/chw-toolkit.htm"
             class="button button-accent-gray arrow orange-dark read-more"
             target="_blank">
            {% blocktrans %}
              Learn More
            {% endblocktrans %}
          </a>
        </p>
      </div>
    </div>
</section>
