.border-rounded {
    border-radius: 3px !important
}

.border-rounded-large {
    border-radius: 5px !important
}

.border-all {
    border-top: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important
}

.border-none {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important
}

.border-vert {
    border-top: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important
}

.border-vert-none {
    border-top: none !important;
    border-bottom: none !important
}

.border-horz {
    border-right: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important
}

.border-horz-none {
    border-right: none !important;
    border-left: none !important
}

.border-top {
    border-top: 1px solid #e0e0e0 !important
}

.border-top-none {
    border-top: none !important
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0 !important
}

.border-bottom-none {
    border-bottom: none !important
}

.border-left {
    border-left: 1px solid #e0e0e0 !important
}

.border-left-none {
    border-left: none !important
}

.border-right {
    border-right: 1px solid #e0e0e0 !important
}

.border-right-none {
    border-right: none !important
}

@media (min-width: 374px) {
    .border-rounded-at-extra-small {
        border-radius: 3px !important
    }
    .border-rounded-large-at-extra-small {
        border-radius: 5px !important
    }
    .border-all-at-extra-small {
        border-top: 1px solid #e0e0e0 !important;
        border-right: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-none-at-extra-small {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important
    }
    .border-vert-at-extra-small {
        border-top: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-vert-none-at-extra-small {
        border-top: none !important;
        border-bottom: none !important
    }
    .border-horz-at-extra-small {
        border-right: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-horz-none-at-extra-small {
        border-right: none !important;
        border-left: none !important
    }
    .border-top-at-extra-small {
        border-top: 1px solid #e0e0e0 !important
    }
    .border-top-none-at-extra-small {
        border-top: none !important
    }
    .border-bottom-at-extra-small {
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-bottom-none-at-extra-small {
        border-bottom: none !important
    }
    .border-left-at-extra-small {
        border-left: 1px solid #e0e0e0 !important
    }
    .border-left-none-at-extra-small {
        border-left: none !important
    }
    .border-right-at-extra-small {
        border-right: 1px solid #e0e0e0 !important
    }
    .border-right-none-at-extra-small {
        border-right: none !important
    }
}

@media (min-width: 480px) {
    .border-rounded-at-small {
        border-radius: 3px !important
    }
    .border-rounded-large-at-small {
        border-radius: 5px !important
    }
    .border-all-at-small {
        border-top: 1px solid #e0e0e0 !important;
        border-right: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-none-at-small {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important
    }
    .border-vert-at-small {
        border-top: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-vert-none-at-small {
        border-top: none !important;
        border-bottom: none !important
    }
    .border-horz-at-small {
        border-right: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-horz-none-at-small {
        border-right: none !important;
        border-left: none !important
    }
    .border-top-at-small {
        border-top: 1px solid #e0e0e0 !important
    }
    .border-top-none-at-small {
        border-top: none !important
    }
    .border-bottom-at-small {
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-bottom-none-at-small {
        border-bottom: none !important
    }
    .border-left-at-small {
        border-left: 1px solid #e0e0e0 !important
    }
    .border-left-none-at-small {
        border-left: none !important
    }
    .border-right-at-small {
        border-right: 1px solid #e0e0e0 !important
    }
    .border-right-none-at-small {
        border-right: none !important
    }
}

@media (min-width: 718px) {
    .border-rounded-at-medium {
        border-radius: 3px !important
    }
    .border-rounded-large-at-medium {
        border-radius: 5px !important
    }
    .border-all-at-medium {
        border-top: 1px solid #e0e0e0 !important;
        border-right: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-none-at-medium {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important
    }
    .border-vert-at-medium {
        border-top: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-vert-none-at-medium {
        border-top: none !important;
        border-bottom: none !important
    }
    .border-horz-at-medium {
        border-right: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-horz-none-at-medium {
        border-right: none !important;
        border-left: none !important
    }
    .border-top-at-medium {
        border-top: 1px solid #e0e0e0 !important
    }
    .border-top-none-at-medium {
        border-top: none !important
    }
    .border-bottom-at-medium {
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-bottom-none-at-medium {
        border-bottom: none !important
    }
    .border-left-at-medium {
        border-left: 1px solid #e0e0e0 !important
    }
    .border-left-none-at-medium {
        border-left: none !important
    }
    .border-right-at-medium {
        border-right: 1px solid #e0e0e0 !important
    }
    .border-right-none-at-medium {
        border-right: none !important
    }
}

@media (min-width: 1024px) {
    .border-rounded-at-large {
        border-radius: 3px !important
    }
    .border-rounded-large-at-large {
        border-radius: 5px !important
    }
    .border-all-at-large {
        border-top: 1px solid #e0e0e0 !important;
        border-right: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-none-at-large {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important
    }
    .border-vert-at-large {
        border-top: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-vert-none-at-large {
        border-top: none !important;
        border-bottom: none !important
    }
    .border-horz-at-large {
        border-right: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-horz-none-at-large {
        border-right: none !important;
        border-left: none !important
    }
    .border-top-at-large {
        border-top: 1px solid #e0e0e0 !important
    }
    .border-top-none-at-large {
        border-top: none !important
    }
    .border-bottom-at-large {
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-bottom-none-at-large {
        border-bottom: none !important
    }
    .border-left-at-large {
        border-left: 1px solid #e0e0e0 !important
    }
    .border-left-none-at-large {
        border-left: none !important
    }
    .border-right-at-large {
        border-right: 1px solid #e0e0e0 !important
    }
    .border-right-none-at-large {
        border-right: none !important
    }
}

@media (min-width: 1292px) {
    .border-rounded-at-extra-large {
        border-radius: 3px !important
    }
    .border-rounded-large-at-extra-large {
        border-radius: 5px !important
    }
    .border-all-at-extra-large {
        border-top: 1px solid #e0e0e0 !important;
        border-right: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-none-at-extra-large {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important
    }
    .border-vert-at-extra-large {
        border-top: 1px solid #e0e0e0 !important;
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-vert-none-at-extra-large {
        border-top: none !important;
        border-bottom: none !important
    }
    .border-horz-at-extra-large {
        border-right: 1px solid #e0e0e0 !important;
        border-left: 1px solid #e0e0e0 !important
    }
    .border-horz-none-at-extra-large {
        border-right: none !important;
        border-left: none !important
    }
    .border-top-at-extra-large {
        border-top: 1px solid #e0e0e0 !important
    }
    .border-top-none-at-extra-large {
        border-top: none !important
    }
    .border-bottom-at-extra-large {
        border-bottom: 1px solid #e0e0e0 !important
    }
    .border-bottom-none-at-extra-large {
        border-bottom: none !important
    }
    .border-left-at-extra-large {
        border-left: 1px solid #e0e0e0 !important
    }
    .border-left-none-at-extra-large {
        border-left: none !important
    }
    .border-right-at-extra-large {
        border-right: 1px solid #e0e0e0 !important
    }
    .border-right-none-at-extra-large {
        border-right: none !important
    }
}
