@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';

@include jacket ($jacket-standard) {
  .check-icon {
    padding-left: $list-padding;
    position: relative;

    &::before { // scss-lint:disable PropertyCount
      border-bottom-width: 2px;
      border-left-width: 2px;
      border-right-width: 0;
      border-style: solid;
      border-top-width: 0;
      color: map-get($colors-by-theme, $default-theme);
      content: ' ';
      display: block;
      height: .5em;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: $list-check-margin;
      transform: rotate(-45deg);
      width: $list-icon-width;
    }
  }
}
