@import 'app/variables/colors';
@import 'app/variables/type';

[data-coming-soon]:after {
  color: $color-blue;
  content: attr(data-coming-soon);
  font-weight: $font-weight-coming-soon;
  margin-left: .7ex;
}

@each $_theme, $_color in $colors-by-theme {
  .#{$_theme}-theme [data-coming-soon]:after {
    color: $_color;
  }
}
