section.frame-section {
    z-index: 2
}

.half-white-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #fff), to(#fff));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fff 50%, #fff 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fff 50%, #fff 100%)
}

.frame-basic {
    position: relative;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
}

.frame-basic-image {
    position: relative;
    background-color: #f2f2f2
}

.frame-basic-image:after {
    content: " ";
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    pointer-events: none
}

.frame-browser {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
}

.frame-browser-image {
    position: relative;
    background-color: #f2f2f2
}

.frame-browser-image:after {
    content: " ";
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    pointer-events: none
}

.frame-browser-chrome {
    position: relative;
    background-color: #fff
}

.frame-browser-buttons {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.frame-browser-buttons,
.frame-browser-buttons:before,
.frame-browser-buttons:after {
    position: absolute;
    border-radius: 100%;
    background-color: #f2f2f2
}

.frame-browser-buttons:before,
.frame-browser-buttons:after {
    content: " ";
    width: 100%;
    height: 100%
}

.frame-browser-chrome {
    height: 14px
}

.frame-browser-buttons {
    height: 4px;
    width: 4px;
    left: 5px
}

.frame-browser-buttons:before {
    left: 6px
}

.frame-browser-buttons:after {
    left: 12px
}

@media (min-width: 374px) {
    .frame-browser-chrome {
        height: 16px
    }
    .frame-browser-buttons {
        height: 4px;
        width: 4px;
        left: 6px
    }
    .frame-browser-buttons:before {
        left: 6px
    }
    .frame-browser-buttons:after {
        left: 12px
    }
}

@media (min-width: 480px) {
    .frame-browser-chrome {
        height: 20px
    }
    .frame-browser-buttons {
        height: 6px;
        width: 6px;
        left: 7px
    }
    .frame-browser-buttons:before {
        left: 8px
    }
    .frame-browser-buttons:after {
        left: 16px
    }
}

@media (min-width: 718px) {
    .frame-browser-chrome {
        height: 34px
    }
    .frame-browser-buttons {
        height: 10px;
        width: 10px;
        left: 12px
    }
    .frame-browser-buttons:before {
        left: 14px
    }
    .frame-browser-buttons:after {
        left: 28px
    }
}

@media (min-width: 1024px) {
    .frame-browser-chrome {
        height: 42px
    }
    .frame-browser-buttons {
        height: 12px;
        width: 12px;
        left: 15px
    }
    .frame-browser-buttons:before {
        left: 17px
    }
    .frame-browser-buttons:after {
        left: 34px
    }
}

@media (min-width: 1292px) {
    .frame-browser-chrome {
        height: 50px
    }
    .frame-browser-buttons {
        height: 14px;
        width: 14px;
        left: 18px
    }
    .frame-browser-buttons:before {
        left: 20px
    }
    .frame-browser-buttons:after {
        left: 40px
    }
}

.frame-tablet {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
}

.frame-tablet-image {
    position: relative;
    background-color: #f2f2f2
}

.frame-tablet-image:after {
    content: " ";
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    pointer-events: none
}

.frame-tablet-home,
.frame-tablet-camera {
    position: absolute;
    top: 50%;
    border-radius: 100%;
    background-color: #f2f2f2
}

.frame-tablet-camera {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.frame-tablet-home {
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%)
}

.frame-tablet {
    padding: 9px 27px;
    border-radius: 10px
}

.frame-tablet-camera {
    width: 4px;
    height: 4px;
    left: 13.5px
}

.frame-tablet-home {
    width: 16px;
    height: 16px;
    right: 13.5px
}

@media (min-width: 374px) {
    .frame-tablet {
        padding: 10px 32px;
        border-radius: 11px
    }
    .frame-tablet-camera {
        width: 4px;
        height: 4px;
        left: 16px
    }
    .frame-tablet-home {
        width: 18px;
        height: 18px;
        right: 16px
    }
}

@media (min-width: 480px) {
    .frame-tablet {
        padding: 13px 42px;
        border-radius: 13px
    }
    .frame-tablet-camera {
        width: 5px;
        height: 5px;
        left: 21px
    }
    .frame-tablet-home {
        width: 26px;
        height: 26px;
        right: 21px
    }
}

@media (min-width: 718px) {
    .frame-tablet {
        padding: 21px 67px;
        border-radius: 20px
    }
    .frame-tablet-camera {
        width: 8px;
        height: 8px;
        left: 33.5px
    }
    .frame-tablet-home {
        width: 40px;
        height: 40px;
        right: 33.5px
    }
}

@media (min-width: 1024px) {
    .frame-tablet {
        padding: 27px 83px;
        border-radius: 25px
    }
    .frame-tablet-camera {
        width: 10px;
        height: 10px;
        left: 41.5px
    }
    .frame-tablet-home {
        width: 50px;
        height: 50px;
        right: 41.5px
    }
}

@media (min-width: 1292px) {
    .frame-tablet {
        padding: 32px 98px;
        border-radius: 30px
    }
    .frame-tablet-camera {
        width: 12px;
        height: 12px;
        left: 49px
    }
    .frame-tablet-home {
        width: 60px;
        height: 60px;
        right: 49px
    }
}

.frame-phone {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
}

.frame-phone-image {
    position: relative;
    background-color: #f2f2f2
}

.frame-phone-image:after {
    content: " ";
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    pointer-events: none
}

.frame-phone-camera,
.frame-phone-speaker,
.frame-phone-home {
    position: absolute;
    left: 50%;
    background-color: #f2f2f2
}

.frame-phone-camera {
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.frame-phone-speaker {
    border-radius: 9999em;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.frame-phone-home {
    border-radius: 100%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%)
}

.frame-phone {
    width: 220px;
    padding: 48px 10px;
    border-radius: 20px
}

.frame-phone-camera {
    width: 4px;
    height: 4px;
    top: 24px;
    margin-left: -24px
}

.frame-phone-speaker {
    width: 32px;
    height: 4px;
    top: 24px
}

.frame-phone-home {
    width: 34px;
    height: 34px;
    bottom: 24px
}

@media (min-width: 1024px) {
    .frame-phone {
        width: 284px;
        padding: 61px 13px;
        border-radius: 25px
    }
    .frame-phone-camera {
        width: 5px;
        height: 5px;
        top: 30.5px;
        margin-left: -30px
    }
    .frame-phone-speaker {
        width: 40px;
        height: 5px;
        top: 30.5px
    }
    .frame-phone-home {
        width: 44px;
        height: 44px;
        bottom: 30.5px
    }
}

@media (min-width: 1292px) {
    .frame-phone {
        width: 330px;
        padding: 72px 14px;
        border-radius: 30px
    }
    .frame-phone-camera {
        width: 6px;
        height: 6px;
        top: 36px;
        margin-left: -36px
    }
    .frame-phone-speaker {
        width: 48px;
        height: 6px;
        top: 36px
    }
    .frame-phone-home {
        width: 48px;
        height: 48px;
        bottom: 36px
    }
}

