.hero-inline-image-to-bg .hero,
.hero-inline-image-to-bg .banner {
    background-position: 50% 0;
    background-repeat: no-repeat
}

@media (max-width: 717px) {
    .hero-inline-image-to-bg .banner {
        background-image: none !important
    }
}

.hero-inline-image-to-bg .hero {
    background-position: center bottom;
    padding-bottom: 0
}

@media (min-width: 718px) {
    .hero-inline-image-to-bg .hero {
        background-image: none;
        overflow: hidden
    }
}
