@import 'app/lib/jacket';
@import 'app/variables/colors';

@include jacket ($jacket-standard) {
  .inline-icon-link {
    align-items: center;
    display: flex;

    svg {
      flex-shrink: 0;
    }
  }

  .icon {
    flex-shrink: 0;
  }

  .icon-white {
    svg,
    svg * {
      fill: $color-white !important; // scss-lint:disable ImportantRule
    }
  }
}
