@import 'app/variables/colors';

[data-lazybg] {
  position: relative;

  &::after {
    background-color: $color-text;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms ease-in-out;
    width: 100%;
  }
}


[data-lazybg="true"]::after {
  opacity: 1;
}

@each $_theme, $_color in $colors-by-theme {
  [data-lazybg].#{$_theme}-lazy-bg::after {
    background-color: $_color;
  }
}


[data-lazybg].white-lazy-bg::after {
  background-color: $color-white;
}
