.image-loader {
  overflow: hidden;

  &.full-bleed {
    height: 100%;
    width: 100%;
  }

  img {
    transition: all 200ms cubic-bezier(0, 0, .2, 1);
  }

  &[data-loading="true"] img {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1);
  }
}
