@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';

@include jacket ($jacket-standard) {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    border-radius: 50%;
    display: inline-block;
    height: $space-line;
    pointer-events: none;
    position: relative;
    transition: opacity 225ms cubic-bezier(0, 0, .2, 1);
    vertical-align: middle;
    width: $space-line;
  }

  [data-loading="false"] .spinner {
    opacity: 0;
    transition: opacity 195ms cubic-bezier(.4, 0, 1, 1);
  }

  .spinner:before, // scss-lint:disable PropertyCount
  .spinner:after {
    animation: spin 1s infinite linear;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .spinner:before {
    opacity: .25;
  }

  .spinner:after {
    border-color: transparent;
    border-top-color: initial;
  }

  .field .spinner,
  .button .spinner,
  button .spinner {
    margin-right: $space-base;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .field.error .spinner {
    margin-right: 40px;
  }

  @each $_type in (line, small, medium, large) {
    $_space: map-get($space-by-type, $_type);

    .spinner.spinner-#{$_type} {
      height: $_space;
      width: $_space;
    }
  }
}
