@import 'app/variables/colors';

.veil {
  bottom: -200px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  visibility: hidden;
  z-index: 4;
}

.show-time .veil {
  background: $color-black;
  transition: visibility 0s 1200ms, opacity 600ms ease 600ms;
}

.veil-active .veil {
  opacity: 1;
  transition: visibility 0s 0s, opacity 300ms ease 0s;
  visibility: visible;
}

.show-cta .veil {
  opacity: .95;
}

.veil-active body {
  overflow: hidden;
}
