.video-modal {
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5
}

.video-modal video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.video-modal .close-icon {
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 30px;
    background: transparent
}

.touch .video-modal .close-icon {
    top: auto;
    bottom: 30px
}

@media (min-width: 718px) {
    .video-modal .close-icon {
        display: block
    }
}

.show-time .video-modal {
    -webkit-transition: visibility 0s 300ms, opacity 300ms ease-in-out 0s;
    transition: visibility 0s 300ms, opacity 300ms ease-in-out 0s
}

.video-active .video-modal {
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 300ms ease-in-out 300ms;
    transition: visibility 0s 0s, opacity 300ms ease-in-out 300ms;
    visibility: visible;
    opacity: 1
}
