.youtube-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 1s, opacity 1s 0s ease;
    transition: visibility 0s 1s, opacity 1s 0s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.youtube-modal[data-active='true'] {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s, opacity 1s 0s ease;
    transition: visibility 0s, opacity 1s 0s ease
}

.youtube-modal .ytplayer {
    width: 100vw;
    height: 100vh
}

.youtube-modal .close-icon {
    position: fixed;
    top: 30px;
    right: 30px
}
