{% load i18n %}
{% load dimagidotcom %}

<section class="brief-overview align-center"
         id="brief-overview">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Get in Touch
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Use the directory below to <br />
          connect with the right team at Dimagi.
        {% endblocktrans %}
      </p>
    </div>
  </div>{# .content #}
</section>
