{% load i18n %}
{% load dimagidotcom %}

<section class="directory accent-gray-bg border-bottom"
         id="directory">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Get in Touch
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Use the directory below to
          connect with the right team at Dimagi.
        {% endblocktrans %}
      </p>
    </div>

    <div class="grid-2-at-medium grid-4-at-large grid-row-equal-heights gap-bottom-line gap-top-small">
      {% include "sections/contact/directory/sales.html" %}
      {% include "sections/contact/directory/customer_support.html" %}
      {% include "sections/contact/directory/community_support.html" %}
      {% include "sections/contact/directory/general.html" %}
    </div>{# .grid-2-at-medium #}

    <p class="content-width-small legal-text align-center">
      {% blocktrans %}
        In order to keep our free products free, the Customer Support email is only available for paying customers.
        If you’re on our free Community plan, help is still available on the CommCare Users Group and our Help Site.
      {% endblocktrans %}
    </p>


  </div>{# .content #}
</section>

{% block modals %}
  <div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="sales-contact-form-modal">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none orange-theme">
          <h3>Contact Us</h3>
          <section id="sales-contact-form-modal-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "0e48719f-8cbc-4308-b1f2-6a6eea4f45fe",
      target: "#sales-contact-form-modal-content",
      css: ""
    });
  </script>
{% endblock %}
