{% load i18n %}
{% load dimagidotcom %}

<section class="offices align-center"
         id="offices">
  <div class="content pad-top-medium pad-bottom-small">

    <div class="pad-bottom-line">
      <h2 class="orange">
        {% blocktrans %}
          Our Offices
        {% endblocktrans %}
      </h2>
    </div>

    <h5 class="orange gap-bottom-none">
      {% blocktrans %}
        Headquarters
      {% endblocktrans %}
    </h5>

    <p class="gap-bottom-medium">
      {% blocktrans %}
        Cambridge, MA, USA
      {% endblocktrans %}
    </p>

    <h3 class="gap-bottom-small">
      {% blocktrans %}
        All Dimagi Locations
      {% endblocktrans %}
    </h3>

    <div class="grid-3-at-medium grid-2-at-small grid-row-space-small">
      {% include "sections/contact/offices/cambridge.html" %}
      {% include "sections/contact/offices/delhi.html" %}
      {% include "sections/contact/offices/cape_town.html" %}
    </div>{# .grid-2-at-medium #}

    <h3 class="gap-bottom-small gap-top-small">
      {% blocktrans %}
        Virtual Offices
      {% endblocktrans %}
    </h3>

    <div class="grid-4-at-medium grid-2-at-small grid-row-space-small">
      {% include "sections/contact/offices/washington.html" %}
      {% include "sections/contact/offices/senegal.html" %}
    </div>{# .grid-2-at-medium #}

  </div>{# .content #}
</section>
