{% load dimagidotcom %}
{% load i18n %}

<section class=" action_partners video-intro align-center border-top ">
  <div class="content grid-2-at-medium pad-bottom-base uppercase">
    <div class="column careers-video1">
      <a class="border-rounded-large image play-icon-medium alt"
        href="https://www.youtube.com/watch?v=Ka_-nhBAObg" data-lazybg="true" target=_blank>
        <div class="border-rounded-large image white-lazy-bg " data-lazybg="true"></div>{# .image #}
      </a>
      <h4 class="primary-light-color pad-top-small ">
        {% blocktrans %}
          Why Work At Dimagi
        {% endblocktrans %}
      </h4>
    </div>{# .column #}
    <div class="column careers-video2  pad-top-small pad-top-none-at-medium">
      <a class="border-rounded-large image play-icon-medium alt "
        href= "https://www.youtube.com/watch?v=mKcbnSDXfUE" data-lazybg="true" target=_blank>
        <div class="border-rounded-large image white-lazy-bg " data-lazybg="true"></div>{# .image #}
      </a>
      <h4 class="primary-light-color pad-top-small">
        {% blocktrans %}
          What it means to be a B Corp at Dimagi
        {% endblocktrans %}
      </h4>
    </div>{# .column #}
  </div>{# .content #}
</section>
