{% load i18n %}
{% load dimagidotcom %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/toolkits.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

<section class="overview align-center {{ toolkit.theme }} accent-gray-bg border-vert" id="highlights">
  <div class="content pad-top-medium pad-bottom-small">
    <div class="intro gap-bottom-none">
      <h2 class = "primary">
        {% blocktrans %}
          Highlights
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <p class="content-width-medium">
      {% blocktrans %}
        A look at what's inside
      {% endblocktrans %}
    </p>

    <div class="grid-3-at-medium grid-row-space-small pad-top-line">
      {% for highlights in toolkit.highlights %}
        <div class="column toolkit-pad-left-small toolkit-pad-right-small">
          <div class="aspect-ratio-square
              gap-bottom-line
              post-thumbnail {% block image %}{{ highlights.highlight_image }}{% endblock %}"
              data-lazybg="true"
              >
          </div>
          <p>
          {{ highlights.description }}
          </p>
        </div>{# .column #}
      {% endfor %}
    </div>
  </div>{# .content #}
</section>{# .overview #}
