{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      {% if toolkit.language == 'spanish' %}
        <a class="primary"
           href="#french-pdf-download-form">
          <span>
            {% blocktrans %}
              Descarga en Español
            {% endblocktrans %}
          </span>
        </a>
      {% elif toolkit.language == 'french' %}
        <a class="primary"
           href="#french-pdf-download-form">
          <span>
            {% blocktrans %}
              TÉLÉCHARGER LE RESUMÉ
            {% endblocktrans %}
          </span>
        </a>
      {% endif %}
      {% if toolkit.download_slides %}
        {% include 'partials/hubspot_cta.html' with cta_id=toolkit.download_slides_cta fallback_css="primary" fallback_text="Access Google Slides" %}
      {% endif %}
      {% if toolkit.subnav_cta %}
        {% include 'partials/hubspot_cta.html' with cta_id=toolkit.subnav_cta fallback_css="primary" fallback_text="Download PPT" %}
      {% else %}
        <a class="primary"
           href="#hubspot-download-form-pdf-summary">
          <span>
            {% blocktrans %}
              Download
            {% endblocktrans %}
          </span>
        </a>
      {% endif %}
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#overview"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
        <a href="#highlights"
           class="{% click_subnav 'highlights' %}">
          {% blocktrans %}
            Highlights
          {% endblocktrans %}
        </a>
        <a href="#other_toolkits"
           class="{% click_subnav 'other_toolkits' %}">
          {% blocktrans %}
            Other Toolkits
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
