{% load i18n %}
{% load dimagidotcom %}

<section class="overview" id="overview">
  <div class="content pad-vert-medium">
    <div class="grid-2-at-medium">
      <div class="column">
        <h1>
          {{ toolkit.title }}
        </h1>
        <h4>
          {{ toolkit.tagline }}
        </h4>
        <p>
          {% include 'partials/social.html' with url=request.build_absolute_uri %}
        </p>
        {% include toolkit.template %}
      </div>{# .column #}
      <div class="column toolkit-pad-left-large">
        <a class="tile align-center">
          <div class="theme-icon gap-top-small">
            {% include toolkit.icon %}
          </div>
          <h4>
            {% if toolkit.download_title %}
              Download {{ toolkit.download_title }}
            {% else %}
              Download {{ toolkit.title }}
            {% endif %}
          </h4>
          {% if toolkit.primary_cta %}
            {% include 'partials/hubspot_cta.html' with cta_id=toolkit.primary_cta fallback_css="button primary large" fallback_text="Download" %}
          {% else %}
            <div id="hubspot-download-form-summary" class="hubspot-download"></div>
          {% endif %}
        </a>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}
  </div>{# .content #} 
</section>{# .overview #}

{% block modals %}
  {% if not toolkit.primary_cta %}
    <div class="modal"
         data-dismissible="true"
         data-size="medium"
         id="hubspot-download-form-pdf-summary">
      <div class="modal-scroll">
        <div class="modal-wrapper">
          <a href="#" class="modal-close-button"></a>
          <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none {{ sector.theme }}">
            <section class="orange-theme" id="download-pdf-summary-form-content"></section>
          </div>{# .content #}
        </div>{# .modal-wrapper #}
      </div>{# .modal-scroll #}
    </div>{# .modal #}

  {% endif %}
{% endblock %}

{% block js %}
  {% if not toolkit.primary_cta %}
    <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "503070",
        formId: "{{ toolkit.hubspot_form }}",
        target: "#download-pdf-summary-form-content",
        css: "",
        onFormSubmit: function () {
          window.open('{{ toolkit.download_url }}', "_blank");
        },
      });
    </script>
  {% endif %}
{% endblock %}
