{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}about-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/about/about.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
 <div id="top"></div>
  <section class="hero hero-about"
           id="hero">
    <div class="content align-left-at-medium align-center">
      <h2 class="gap-vert-line">
        {% blocktrans %}
          About Dimagi
        {% endblocktrans %}
      </h2>
      <h1>
        {% blocktrans %}
          Empowering People to Make an Impact
          and Help Those in Need
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="about-container orange-theme">
    {% include "about/sections/sub_nav.html" %}
    {% include "about/sections/mission.html" %}
    {% include "about/sections/resources.html" %}
    {% include "about/sections/team.html" %}
    {% include "about/sections/management.html" %}
    {% include "about/sections/company_info.html" %}
    {% include "sections/contact/offices.html" %}
    {% include "about/sections/contact.html" %}
  </section>
{% endblock %}

{% block modals %}
  {% for employee in management %}
    {% include "about/partials/team_modal.html" with employee=employee %}
  {% endfor %}
{% endblock %}
