<div class="pad-bottom-base border-bottom gap-bottom-line">
  <h4 class="link-gray gap-none">
    Basics
  </h4>
</div>{# .pad-bottom-base #}

<div class="grid grid-2-at-medium grid-4-at-extra-large">

  <div class="column">
    <a class="blue-swatch"
       href="{% url 'styleguide_sizes' %}">
      Sizes
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="purple-swatch"
       href="{% url 'styleguide_grid' %}">
      Grids
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="slate-swatch"
       href="{% url 'styleguide_colors' %}">
      Colors
    </a>
  </div>{# .column #}

</div>{# .grid #}
