{% load i18n %}
{% load dimagidotcom %}

<section class="overview" id="overview">
  <div class="content pad-vert-medium">
    <div class="intro sectors-intro-main">
      <h3 class="body-color">
        {% blocktrans %}
          Sectors we work in
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
          Select a sector in the drop-down above to see the relevant
          Sectors.
        {% endblocktrans %}
      </p>
    </div>
    <div class="sector-sub-intro">
      {% for sector in sectors %}
        {% include "sections/sectors/sector_header.html" %}
      {% endfor %}
    </div>
    <div class="sector-group grid-4-at-extra-large grid-2-at-medium grid-2-at-small grid-row-space-small grid-row-equal-heights gap-bottom-small">
      {% for sector in sectors %}
        {% for sector in sector.sub_sectors %}
          <div class="sector-content child-{{ sector.theme }} child-{{ sector.slug }} {{ sector.theme }} gap-bottom-small">
            {% include "partials/secors_breif_child.html" %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>{# .sector-group hide-at-small #}
  </div>{# .content #}
</section>
