{% load i18n %}
{% load dimagidotcom %}

<section class="slides "
         id="slides">
  <div class="content pad-top-none">

    <div class="carousel carousel-fade-inactive pad-bottom-medium">
      <div class="carousel-container">
        <div class="spinner spinner-large"></div>
        <div class="carousel-slider">

          {% for slide in sector.slides %}
            <div class="carousel-slide">
              <div class="pad-horz-large-at-extra-large pad-horz-medium-at-large pad-small pad-top-medium-at-large
                          tile gap-horz-small-at-extra-large gap-none">
                <div class="content-width-medium">
                  {% include slide %}
                </div>
              </div>
            </div>{# .carousel-slide #}
          {% endfor %}

        </div>{# .carousel-slider #}
      </div>{# .carousel-container #}
    </div>{# .carousel #}

  </div> {# .content #}
</section>
{% load i18n %}
{% load dimagidotcom %}
