{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium"
         id="chapter2-intro">
  <div class="content content-width-large accent-gray-bg pad-horz-small pad-bottom-medium">
    <h2 class="pad-top-small red align-center">
      {% blocktrans %}
        Schedule Data Review
      {% endblocktrans %}
    </h2>

    <div class="content content-width-small">
      <div class="image export-image pad-vert-small white-lazy-bg" data-lazybg="true">
        {% include "partials/wistia_popover.html" with wistia_id='vcuznlnawy' play_icon_medium=True show_image=True %}
      </div>
    </div>

    <p class="pad-top-small">
      {% blocktrans %}
        The scheduling of automated data exports can turn a one-time expenditure of 
        effort into daily potential epiphanies for your team. In CommCare, both 
        Worker Monitoring Reports and the Report Builder exports can be scheduled 
        to be sent out via email, so there’s no excuse not to be checking 
        your data every day.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        The best part is that the only thing you need to do after setting up 
        these automated reports is make the time to read them. Schedule short 
        blocks in your calendar to review them and even invite your team members 
        to do it together and hold each other accountable. These reviews can be 
        as short as five or ten minutes, but the payoffs could be massive.
      {% endblocktrans %}
    </p>
  </div>{# .content #}
</section>
