{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium"
         id="chapter2-intro">
  <div class="content content-width-large accent-gray-bg pad-horz-small pad-bottom-medium">
    <h2 class="pad-top-small red align-center">
      {% blocktrans %}
        Incorporate More Flexible Practices at Work
      {% endblocktrans %}
    </h2>

    <div class="content content-width-small image export-image white-lazy-bg gap-top-small gap-bottom-line"
         data-lazybg="true"></div>

    <p class="pad-top-small">
      {% blocktrans %}
        Foster the potential for continuous change and improvement within 
        your organization based on what your data is telling you. Set up 
        time either as a new, quick meeting with the core team or carving 
        out time within regular, standing meetings to review your data 
        and discuss whether to take action.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        Encourage all staff to speak up when they have ideas for ways 
        to improve your program or even if they just understand the 
        data differently. Change is good when that change is based on data!
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        The things you learn along the way, from the indicators you choose 
        to review to the data-action triggers you set, can all be adapted 
        and improved based on your program’s needs. You’ll soon see 
        potential for these practices in all your meetings and projects—embrace 
        the opportunities they provide!
      {% endblocktrans %}
    </p>
  </div>{# .content #}
</section>
