@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin svg-style {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
  margin: 0 auto;
}

.mission-heading {
  line-height: 134% !important;   
}

.story-year {
  padding-left: 25px;
}

.about-page {
  @include make-bg(hero, '../../pages/about/hero');
}

.team-page {
  @include make-bg(hero, '../../pages/team/hero');
}

.border-custom {
  border: 3px solid $color-blue-lightest;
}

.about-pillars .wellbeing svg {
  background-color: $color-orange-lightest;
  @include svg-style;
}
.about-pillars .inclusive {
  background-color: $color-purple-lightest;
  @include svg-style;
}
.about-pillars .robust svg {
  background-color: $color-blue-lightest;
  @include svg-style;
}
.about-pillars .market-driven {
  background-color: $color-green-light;
  @include svg-style;
}
.team {
  $_base-height: 187px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 460px,
  );
  @include make-bg(map-image, '../../pages/about/people_map/map', $_base-height, $_height-by-size);

  width: 100%;
}

.timeline .image{
  @include background-cover('../../pages/about/our-story.jpg');
}

.timeline-image {
  width: 300px;
  height: 400px;
  margin-top: 0px !important;
}

ul.timeline-list > li:before{ // scss-lint:disable PropertyCount
  color: $color-blue;
}

.vertical-line {
  border-left: 2px dashed #D4D4D4;
  height: 100px;
  margin-left: -26.5px;
  margin-top: 14px;
}

.heading-vertical-line {
  margin-top: -60px;
}
@media (min-width: $width-mobile) {
  .vertical-line {
    border-left: 2px dashed #D4D4D4;
    height: 90px;
    margin-left: -26.5px;
    margin-top: 14px;
  }
  
  .heading-vertical-line {
    margin-top: -50px;
  }
}
@media (min-width: $width-desktop) {
  .vertical-line {
    border-left: 2px dashed #D4D4D4;
    height: 80px;
    margin-left: -26.5px;
    margin-top: 14px;
  }
  
  .heading-vertical-line {
    margin-top: -50px;
  }
}
@media (min-width: $width-desktop-lg) {
  .vertical-line {
    border-left: 2px dashed #D4D4D4;
    height: 80px;
    margin-left: -26.5px;
    margin-top: 14px;
  }
  
  .heading-vertical-line {
    margin-top: -60px;
  }
}
.mission {
  $_base-height: 400px;
  $_height-by-size: (
    medium: 720px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(image, '../../pages/about/datalines', $_base-height, $_height-by-size);

  .off-grid {
    display: none;
  }

  @media (min-width: $width-desktop) {
    .off-grid {
      display: block;
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }
}


@media (min-width: $width-desktop) {
  .about-page .hero h1,
  .team-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.team .image.teampic1 {
  @include background-cover('../../pages/about/teampic1.jpg');
}

.team .image.teampic2 {
  @include background-cover('../../pages/about/teampic2.jpg');
}

.team .image.teampic3 {
  @include background-cover('../../pages/about/teampic3.jpg');
}

.team .image.teampic4 {
  @include background-cover('../../pages/about/teampic4.jpg');
}
.team .image.teampic5 {
  @include background-cover('../../pages/about/teampic5.jpg');
}

.employee-image {
  @include background-placeholder();
}

.modal .employee-image,
.bio .employee-image {
  width: 300px;
}

@media (max-width: $width-desktop - 1px) {
  .modal .employee-image,
  .bio .employee-image {
    width: 100%;
  }
}

@media (max-width: $width-desktop-lg - 1px) {
  .modal .employee-image,
  .bio .employee-image {
    height: 300px;
    margin: 0 auto;
    padding: 0;
    width: 300px;
  }
}

.company-info .image.infopic1 {
  @include background-cover('../../pages/about/infopic1.jpg');
}

.company-info .image.infopic2 {
  @include background-cover('../../pages/about/infopic2.jpg');
}

.company-info  .image.infopic3 {
  @include background-cover('../../pages/about/infopic3.jpg');
}

.office-country-icon svg {
  height: 80px;
  width: 80px;

  * {
    stroke-width: 3;
  }
}
