@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.careers-page {
  @include make-bg(hero, '../../pages/careers/hero');
}

@media (min-width: $width-desktop) {
  .careers-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.office-country-icon svg {
  height: 80px;
  width: 80px;
}

.office-country-icon svg * {
  stroke-width: 3;
}

.overview .image.teampic1 {
  @include background-cover('../../pages/careers/teampic1.jpg');
}

.overview .image.teampic2 {
  @include background-cover('../../pages/careers/teampic2.jpg');
}

.overview .image.teampic3 {
  @include background-cover('../../pages/careers/teampic3.jpg');
}

.overview .image.teampic4 {
  @include background-cover('../../pages/careers/teampic4.jpg');
}

.awards .image.company-culture {
  @include background-cover('../../pages/careers/bcorporation.png');
}

.awards .image.builtin {
  @include background-cover('../../pages/careers/builtin.png');
}

.awards .image.b-corporation {
  @include background-cover('../../pages/careers/bcorp.png');
}

.awards .image.top-5000 {
  @include background-cover('../../pages/careers/fastcompany.png');
}

.overview .image.team_summit {
  @include background-cover('../../pages/careers/team_summit.jpg');
  height : 355px;
  width : 450px;
}

.overview .image.gso_summit {
  @include background-cover('../../pages/careers/gso_summit.jpg');
}

.overview .image.gso {
  @include background-cover('../../pages/careers/gso.jpg');
}

.overview .image.dei_gtd_summit {
  @include background-cover('../../pages/careers/dei_gtd_summit.jpg');
}

.overview .image.ush_summit {
  @include background-cover('../../pages/careers/ush_summit.jpg');
}

.overview .image.id_summit {
  @include background-cover('../../pages/careers/id_summit.jpg');
}

.post-thumbnail {

  &:after {
    background-color: $color-orange;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

a.post {
  color: $color-text-old !important; // scss-lint:disable ImportantRule
  font-weight: $font-weight-regular;

  &:hover {
    .post-thumbnail:after {
      opacity: .5;
    }
  }
}

.life .image.technology {
  @include background-cover('../../pages/careers/technology.png');
}

.life .image.gtd-summit {
  @include background-cover('../../pages/careers/gtd_summit.jpg');
}

.life .image.benefit-corp {
  @include background-cover('../../pages/careers/benefit_corp.png');
}

.life .image.continuous-learning {
  @include background-cover('../../pages/careers/continuous_learning.jpg');
}

.application-content ul > li::before { // scss-lint:disable PropertyCount
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 0;
  color: $color-orange;
  content: ' ';
  height: .5em;
  top: $list-check-margin;
  transform: rotate(-45deg);
  width: $list-check-width;
}

.application-content em {
  font-style: normal;
}

.positions-container {
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, .12);
  display: block;
  padding: $space-small;
  position: relative;
}

.positions-select-container {
  padding: $space-small;
}

.application-content h3 {
  font-size: $font-size-medium;
  line-height: 18px;
  margin-bottom: 10px;
}

.application-content h2 {
  font-size: $font-size-large;
  line-height: 20px;
  margin-bottom: 10px;
}

.corila {
  @include background-cover('../../pages/careers/testimonial1.png');
  height: 220px;
  width: 200px;
  margin-top: 0px !important;
}

.corila {
  @include background-cover('../../pages/careers/testimonial1.png');
  height: 220px;
  width: 200px;
  margin-top: 0px !important;
}

.corila {
  @include background-cover('../../pages/careers/testimonial1.png');
  height: 220px;
  width: 200px;
  margin-top: 0px !important;
}
.tech-team {
  padding-top : 23px;
  margin-bottom : 10px;
}

.tech-world {
  padding-top: 43px;
  margin-bottom : 10px;
}

.arrow-down::after {
  display: inline-block;
  left : 0;
  margin-left: 10px;
  position: relative;
}

.testinomial-bg {
  background-color: #f9faff !important;
}

.intro-base {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  text-align: center;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}

.careers-video1 .image {
  @include background-cover('../../pages/careers/video1_dimagi.png');
  height: 250px;
  width: auto;
}

.careers-video2 .image {
  @include background-cover('../../pages/careers/video2_bcorp.png');
  height: 250px;
  width: auto;
}
