@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.careers-page {
  $_base-height: 500px;
  $_height-by-size: (
    small: 500px,
    medium: 500px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(hero, '../../pages/products/commcare/hero', $_base-height, $_height-by-size);
}

@media (min-width: $width-desktop) {
  .careers-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.office-country-icon svg {
  height: 60px;
  width: 60px;
}

.overview .image.teampic1 {
  @include background-cover('../../pages/home/workforce-1.jpg');
}

.overview .image.teampic2 {
  @include background-cover('../../pages/home/workforce-2.jpg');
}

.overview .image.teampic3 {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.overview .image.teampic4 {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.awards .image.company-culture {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.awards .image.best-workplaces {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.awards .image.b-corporation {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.awards .image.top-5000 {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.post-thumbnail {

  &:after {
    background-color: $color-orange;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

a.post {
  color: $color-text !important; // scss-lint:disable ImportantRule
  font-weight: $font-weight-regular;

  &:hover {
    .post-thumbnail:after {
      opacity: .5;
    }
  }
}

.life .image.tedx-talk {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.life .image.away-month {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.life .image.core-values {
  @include background-cover('../../pages/home/workforce-3.jpg');
}

.life .image.global-services {
  @include background-cover('../../pages/home/workforce-3.jpg');
}
