@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.contact-page {
  @include make-bg-loaded(hero, '../../pages/contact/hero');
}

@media (min-width: $width-desktop) {
  .contact-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.office-country-icon svg {
  height: 80px;
  width: 80px;

  * {
    stroke-width: 3;
  }
}
