@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


.covid-19-page {
  @include make-bg(hero, '../../pages/covid_19/hero');
}

@media (min-width: $width-desktop) {
  .covid-19-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.video-intro .image {
  @include background-cover('../../pages/covid_19/covid_19_video_banner.png');
  height: 160px;
  width: 250px;
}

.padding-top-10 {
  padding-top: 10px
}

.covid-19-intro {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  text-align: center;

  h1 {
    text-transform: none;
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
}

.application-images .image.cdc {
  @include background-cover('../../../static/pages/covid_19/cdc_logo.svg');
  height: 200px;
  background-size: contain;
  background-position: left;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.application-images .image.dsti {
  @include background-cover('../../../static/pages/covid_19/dsti_logo.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.application-images .image.ogun {
  @include background-cover('../../../static/pages/covid_19/ogun_state_flag.png');
  height: 200px;
  background-size: contain;
  background-position: left;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.resources-images .image.commcare-phone {
  @include background-cover('../../../static/pages/covid_19/commcare_phone.png');
  height: 300px;
  background-size: contain;

}

.resources-images .image.covid-cases {
  @include background-cover('../../../static/pages/covid_19/covid_cases.png');
  height: 300px;
  background-size: contain;

}

.resources-images .image.covid-support {
  @include background-cover('../../../static/pages/covid_19/covid_support.jpg');
  height: 300px;
  background-size: contain;

}

.post-thumbnail {
  @include background-placeholder();
  background-position: center;
}

a.post {
  color: $color-text !important; // scss-lint:disable ImportantRule
  font-weight: $font-weight-regular;

  &:hover {
    .post-thumbnail::after {
      opacity: .5;
    }
  }
}

.post-author-image {
  width: 80px;
  @include background-placeholder();
}

.post-content-text {
  img {
    margin: $space-base;
  }

  .aligncenter {
    margin: 0 auto;
  }

  .alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }

  .wp-caption-text {
    text-align: center;
    font-style: italic;;
  }
}

.light-gray-bg {
  background-color: #ebebeb !important;
}

.font-size-24 {
  font-size: 24px;
}

@media (min-width: $width-desktop) {
  .reverse-flex-grid-at-medium{
    flex-direction: row-reverse;
  }
}
