@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.home-page {
  $_base-height: 500px;
  $_height-by-size: (
    small: 500px,
    medium: 500px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(hero, '../../pages/home/hero', $_base-height, $_height-by-size);
}

.awards {
  $_base-height: 482px;
  $_height-by-size: (
    small: 554px,
    medium: 574px,
    large: 629px,
    extra-large: 589px,
  );
  @include make-bg(image, '../../pages/home/phone', $_base-height, $_height-by-size);

  text-align: center;
}

.video-intro .image {
  @include background-cover('../../pages/home/video-intro-banner.jpg');
  height: 160px;
  width: 250px;
}

.workforce .image.testimonial1 {
  @include background-cover('../../pages/home/workforce-1.jpg');
}

.workforce .image.testimonial2 {
  @include background-cover('../../pages/home/workforce-2.jpg');
}

.workforce .image.testimonial3 {
  @include background-cover('../../pages/home/workforce-3.jpg');
}
