@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.home-page {
  @include make-bg(hero, '../../pages/home/hero');
}

.hero h1 {
  max-width: 100%;
}

.focus-mdm {
  $_base-height: 210px;
  $_height-by-size: (
    small: 230px,
    medium: 357px,
    large: 346px,
    extra-large: 450px,
  );
  @include make-bg(image, '../../pages/home/focus_mdm/focus', $_base-height, $_height-by-size, '.png');

  @media (min-width: $width-desktop-lg) {
    .off-grid {
      bottom: 7%;
      top: 26%;
      left: 0;
      position: absolute;
      right: auto;
      width: 149%;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }

  @media (min-width: $width-desktop-xl) {
    .off-grid {
      bottom: 0;
      top: 12%;
      left: 0;
      position: absolute;
      right: auto;
      width: 150%;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }

  .bg-loader {
    background-color: $color-white;
  }
}

@media (min-width: $width-desktop-lg) {
  .focus-info {
    width: 50%;
  }
}

@media (max-width: $width-desktop-lg - 1px) {
  .focus-info {
    width: 100%;
  }
}

@media (max-width: $width-desktop - 1px) {
  .focus-info {
    width: 100%;
  }
}

.video {
  @media (min-width: $width-desktop-lg) {
    .off-grid-video {
      bottom: 10%;
      left: 3%;
      position: absolute;
      right: auto;
      width: 50%;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }

  @media (min-width: $width-desktop-xl) {
    .off-grid-video {
      bottom: 5%;
      left: 3%;
      position: absolute;
      right: auto;
      width: 50%;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }

  .bg-loader {
    background-color: $color-white;
  }
}

.global-services {
  $_base-height: 195px;
  $_height-by-size: (
    small: 410px,
    medium: 316px,
  );
  @include make-bg(services, '../../pages/home/global_services/services', $_base-height, $_height-by-size);
}

.impact {
  $_base-height: 87px;
  $_height-by-size: (
    small: 100px,
    medium: 148px,
    large: 184px,
    extra-large: 238px,
  );

  width: 100%;
  @include make-bg(image, '../../pages/home/impact/launch', $_base-height, $_height-by-size);
}

.video-intro .image {
  @include background-cover('../../pages/home/video-intro-banner.jpg');
}
