@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.partners-page {
  @include make-bg(hero, '../../pages/commcare/partners/main/hero');
}

@media (min-width: $width-desktop) {
  .partners-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.text-old{ 
  color: #5f6a7d !important;

}

#partners-intro {
  $_base-height: 190px;
  $_height-by-size: (
    small: 280px,
    medium: 280px,
    large: 280px,
    extra-large: 320px,
  );
  @include make-bg(hero-data-image, '../../pages/commcare/partners/intro/intro', $_base-height, $_height-by-size);
}

.feature-projects {
  border: 1px solid $color-border;
  border-radius: $border-radius;
}

.feature-projects-image {
  width: 100%;
}

.news-images .image.blog1 {
  @include background-cover('../../../static/pages/sectors/reproductive-health/news/blog1.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news-images .image.blog2 {
  @include background-cover('../../../static/pages/sectors/reproductive-health/news/blog2.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news-images .image.blog3 {
  @include background-cover('../../../static/pages/sectors/reproductive-health/news/blog3.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.link-gray:hover,
.link-gray:focus {
  color: $color-turquoise !important; // scss-lint:disable ImportantRule
}

.partners-action-crs .image {
  @include background-cover('../../../static/pages/commcare/partners/video/crs.jpg');
  height: 250px;
  width: auto;
}

.partners-action-mwcd .image {
  @include background-cover('../../../static/pages/commcare/partners/video/mwcd.jpg');
  height: 250px;
  width: auto;
}

.partners-action-oikoi .image {
  @include background-cover('../../../static/pages/commcare/partners/video/oikoi.jpg');
  height: 250px;
  width: auto;
}

.partners-action-tds .image {
  @include background-cover('../../../static/pages/commcare/partners/video/tdh.jpg');
  height: 250px;
  width: auto;
}

.feature-partner-crs .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/crs.jpg');
  height: 100px;
  width: 111px;
}

.feature-partner-oikoi .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/oikoi.jpg');
  height: 100px;
  width: 111px;
}
.feature-partner-tdh .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/tdh.jpg');
  height: 100px;
  width: 111px;
}

.feature-partner-noukod .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/noukod.png');
  height: 100px;
  width: 111px;
}

.feature-partner-illimitus .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/illimitus.png');
  height: 100px;
  width: 120px;
}

.feature-partner-fpo .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/fpo.png');
  height: 100px;
  width: 120px;
}

.feature-partner-wcd .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/wcd.png');
  height: 100px;
  width: 120px;
}

.feature-partner-jsi .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/jsi.png');
  height: 100px;
  width: 120px;
}

.feature-partner-goal .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/goal.png');
  height: 100px;
  width: 120px;
}

.feature-partner-tula .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/tula.png');
  height: 100px;
  width: 120px;
}

.feature-partner-ss .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/ss.png');
  height: 100px;
  width: 120px;
}

.feature-partner-child-fund .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/child-fund.png');
  height: 100px;
  width: 120px;
}

.feature-partner-im-saf .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/im_saf.png');
  height: 100px;
  width: 120px;
}

.feature-partner-statinfo .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/statinfo.png');
  height: 100px;
  width: 120px;
}

.feature-partner-bongo-hive .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/bongo_hive.png');
  height: 100px;
  width: 111px;
}

.feature-partner-good-citizen .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/good_citizen.png');
  height: 100px;
  width: 115px;
}

.feature-partner-compelling-works .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/compelling_works.png');
  height: 100px;
  width: 111px;
}

.feature-partner-instrat .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/instrat.png');
  height: 100px;
  width: 111px;
}

.feature-partner-it4life .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/it4life.png');
  height: 100px;
  width: 111px;
}

.feature-partner-digital-health .image {
  @include background-cover('../../../static/pages/commcare/partners/featured_partners/digital_health.png');
  height: 77px;
  width: 111px;
}
.feature-project-logo {
  margin: 0 auto;
}

.search-bar-container {
  display: inline-block;
  width: 300px;
  vertical-align: top;

  input[type="text"] {
    background: #ffffff;
    border: 1px solid $color-border;
    border-radius: 3px 0 0 3px;
    color: #5f6a7d;
    display: inline-block;
    font-family: "Nunito Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 32px;
    line-height: 18px;
    margin-top: 13px;
    outline: none;
    padding: 10px;
    position: relative;
    width: 80%;
    z-index: 0;
    vertical-align: top;
  }

  button {
    background-color: $color-accent-gray;
    border: 1px solid $color-border;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    width: 40px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    font-size: 28px;
    padding: 0;
    margin-top: 13px;
    display: inline-block;
    vertical-align: top;

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color-border, 2);
    }
  }
}

.destinations {
  svg {
    height: 23px;
  }
  a svg {
    vertical-align: top;
    margin-top: 17px;
  }
  svg > * {
    fill: $color-text-blog-light;
    transition: fill .5s ease-in-out;
  }

  a:hover,
  button:hover {
    svg > * {
      fill: $color-text-blog;
    }
  }

  a.toggle-filters {
    position: relative;

    &:after {
      background-color: $color-red;
      content: " ";
      display: block;
      position: absolute;
      left: 18px;
      top: 20px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      opacity: 0;
      transition: opacity .5s ease-in-out;
    }
  }

  a.toggle-filters.has-filters:after {
    opacity: 1.0;
  }
}

.post-thumbnail {
  @include background-placeholder();
  background-position: center;
}

.commcare-provider-thumbnail {
    @include background-placeholder();
    background-position: center;
    height: 100px;
    width: 180px;
    background-color: transparent !important;
    background-size: contain !important;
}

.commcare-filters {
  height: 0;
  min-height: 0;
  visibility: hidden;
  transition: height 300ms 300ms, min-height 300ms 300ms, visibility 0s 600ms;

  .content {
    opacity: 0;
    transition: opacity 300ms 0s;
  }
}

.commcare-filters.show-filters {
  height: auto;
  min-height: 405px;
  transition: height 300ms, min-height 300ms, visibility 0s;
  visibility: visible;

  .content {
    opacity: 1;
    transition: opacity 300ms 300ms;
  }
}
