@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.press-page {
  @include make-bg(hero, '../../pages/press/hero');
}

.video-intro .image {
  @include background-cover('../../pages/press/intro/overview.jpg');
  height: 160px;
  width: 250px;
}

.post p {
  color: $color-body-text;
  font-weight: 300;

  &.h6 {
    font-weight: 700;
    transition: .5s color ease-in-out;
  }
}

.post:hover {
  .h6 {
    color: $color-orange;
  }
}

.news-images .image.dimagi {
  @include background-cover('../../pages/press/brand/dimagi.jpg');
  height: 140px;
  background-size: contain;
}

.news-images .image.commcare {
  @include background-cover('../../pages/press/brand/brand_guidelines.png');
  height: 140px;
  background-size: contain;

}

.news-images .image.commcare-action {
  @include background-cover('../../pages/press/brand/commcare_action.jpg');
  height: 140px;

}

@media (min-width: $width-desktop - 1px) and (max-width: $width-desktop-lg - 1px)  {
  .news-images .image.commcare {
    height: 210px;
    background-size: cover;
  }
  .news-images .image.dimagi {
    height: 210px;
    background-size: cover; 
  }
  .news-images .image.commcare-action {
    height: 210px;
  }
}

@media (max-width: $width-desktop)  {
  .news-images .image.commcare {
    height: 210px;
    background-size: cover;
  }
  .news-images .image.dimagi {
    height: 210px;
    background-size: contain; 
  }
  .news-images .image.commcare-action {
    height: 210px;
  }
}


ul.unorderedlist>li::before {
  content: '●' !important;
}

.part3 {
  $_base-height: 550px;
  $_height-by-size: (
    small: 620px,
    medium: 385px,
    large: 360px,
    extra-large: 360px,
  );
  @include make-bg(epic-cover, '../../pages/sectors/nutrition/part3/hero', $_base-height, $_height-by-size);
}

.commcare-text {
  $_base-height: 85px;
  $_height-by-size: (
    small: 85px,
    medium: 85px,
    large: 80px,
    extra-large: 80px,
  );
  @include make-bg(phone-image, '../../pages/press/dimagi', $_base-height, $_height-by-size, '.png');

  @media (max-width: $width-mobile) {
    .off-grid {
      top: 18%;
      left: 0;
      margin-top : 225px;
      position: absolute;
      background-size: auto 0%;
      background-position: center;
      background-repeat: no-repeat;
      right: auto;
      width: 100%;
      z-index: 1;
    }
  }

  @media (max-width: $width-desktop) and (min-width: $width-mobile) {
    .off-grid {
      top: 18%;
      left: 0;
      margin-top : 225px;
      position: absolute;
      background-size: auto 0%;
      background-position: center;
      background-repeat: no-repeat;
      right: auto;
      width: 100%;
      z-index: 1;
    }
  }

  @media (min-width: $width-desktop) and (max-width: $width-desktop-lg) {
    .off-grid {
      top: 10%;
      left: 35%;
      margin-top : 100px;
      position: relative;
      background-size: auto 0%;
      background-position: center;
      background-repeat: no-repeat;
      right: auto;
      width: 70%;
      z-index: 1;
    }
  }

  @media (min-width: $width-desktop-lg) and (max-width: $width-desktop-xl) {
    .off-grid {
      top: 10%;
      left: 35%;
      margin-top : 100px;
      position: relative;
      background-size: auto 0%;
      background-position: center;
      background-repeat: no-repeat;
      right: auto;
      width: 70%;
      z-index: 1;
    }
  }

  @media (min-width: $width-desktop-xl) {
    .off-grid {
      top: 13%;
      left: 35%;
      margin-top : 100px;
      position: relative;
      background-size: auto 0%;
      background-position: center;
      background-repeat: no-repeat;
      right: auto;
      width: 85%;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }
}

