@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.quick-starts-page {
  @include make-bg(hero, '../../pages/quick_start/hero');
}

.quick-starts-page-single {
  @include make-bg(hero, '../../pages/quick_start/single/hero');
}

$_base-height: 175px;
$_height-by-size: (
  extra-small: 205px,
  small: 270px,
  medium: 210px,
  large: 265px,
  extra-large: 320px,
);
@include make-bg(quickstart-help-cta, '../../pages/quick_start/cta', $_base-height, $_height-by-size);
@include make-bg(see-all-cta, '../../pages/quick_start/single/cta', $_base-height, $_height-by-size);

.tile {
  position: relative;

  .badge-container {
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.hero .commcare-title {
  text-transform: none;
  font-size: 22px;

  @media (max-width: $width-mobile) {
    font-size: 16px;
  }

  svg {
    margin-top: -8px;

    @media (max-width: $width-mobile) {
      margin-top: -6px;
      height: 34px;
      width: 130px;
    }
  }
}

.guide-title {
  font-size: 32px;
  line-height: 36px;

  @media (max-width: $width-mobile) {
    font-size: 28px;
    line-height: 32px;
  }
}

.selected {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 auto;

  .words {
    font-size: 22px;
    display: inline-block;
    padding-right: 5px;

    @media (max-width: $width-mobile) {
      font-size: 20px;
    }
  }

  .caret {
    display: inline-block;
  }
}

.selector,
.selected {
  cursor: pointer;
  position: relative;
}

.selected-container {
  width: 500px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $width-desktop-lg) {
    width: 400px;
  }

  @media (max-width: $width-mobile) {
    width: 300px;
  }
}

.selector {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translate3d(0, 20px, 0);
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;

  .h3,
  .h4 {
    color: $color-text;
  }

  .blue-item:hover {
    background: $color-blue;
  }

  .turquoise-item:hover {
    background: $color-turquoise;
  }

  .green-item:hover {
    background: $color-green;
  }

  .purple-item:hover {
    background: $color-purple;
  }

  li:hover {
    .h3,
    .h4 {
      color: white;
    }
  }

}

.show-time .selector {
  transition: visibility 0s .35s, opacity .35s 0s ease, transform .35s 0s ease;
}

.selector.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0s, opacity .25s 0s ease, transform .25s 0s ease;
  visibility: visible;
}

.see-commcare svg {
  margin-top: -2px;
  display: inline-block;
  margin-left: 10px;
  width: 32px;

  * {
    stroke: white;
    stroke-width: 1.4;
    transition: stroke ease-in-out .15s;
  }
}

.see-commcare a {
  color: white !important;

  &:hover {
    color: $color-blue-light !important;
  }
}

.see-commcare .play-icon-small {
  padding-left: 25px;
  margin-top: 3px;
  cursor: pointer;
  padding-right: 5px;

  &:before,
  &:after {
    left: 0;
    &:hover {
      stroke: $color-blue-light;
    }
  }
}

.steps {
    $_base-height: 200px;
    $_height-by-size: (
      small: 410px,
      medium: 350px,
      large: 315px,
      extra-large: 315px,
    );
    @include make-bg(step-one, '../../pages/quick_start/steps/step-one/step', $_base-height, $_height-by-size);
    @include make-bg(step-two, '../../pages/quick_start/steps/step-two/step', $_base-height, $_height-by-size);
    @include make-bg(step-three, '../../pages/quick_start/steps/step-three/step', $_base-height, $_height-by-size);
    @include make-bg(step-four, '../../pages/quick_start/steps/step-four/step', $_base-height, $_height-by-size);
  }
