@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.sectors-page {
  @include make-bg(hero, '../../pages/sectors/hero');
}

$_slugs: (
  agricultural-cooperatives,
  agricultural-finance,
  agricultural-logistics,
  agriculture-extension-programs,
  child-health,
  ebola-response,
  education,
  gender-based-violence,
  hiv-aids,
  humanitarian-response,
  maternal-and-newborn-health,
  intrapartum-care,
  nutrition,
  programmatic-research,
  reproductive-health,
  small-businesses,
  tuberculosis,
  logistics,
);

@each $_slug in $_slugs {
  .#{$_slug}-page {
    @include make-bg(hero, '../../pages/sectors/#{$_slug}/hero');
  }
}

.study-thumbnail {
  @include background-placeholder('top center');
  padding-top: 126%;

  &:after {
    background-color: $color-orange;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

a.study {
  color: $color-text !important; // scss-lint:disable ImportantRule
  font-weight: $font-weight-regular;

  &:hover {
    .study-thumbnail:after {
      opacity: .5;
    }
  }
}

// // Agricultral extention program css
// #ag-intro {
//   $_base-height: 190px;
//   $_height-by-size: (
//     small: 280px,
//     medium: 280px,
//     large: 280px,
//     extra-large: 320px,
// 	);
// 	@include make-bg(hero-data-image, '../../pages/sectors/agriculture-extension-programs/intro/hero', $_base-height, $_height-by-size);
// }
// .ac-part3 {
//   $_base-height: 290px;
//   $_height-by-size: (
//     small: 290px,
//     medium: 290px,
//     large: 290px,
//     extra-large: 292px,
//   );
//   @include make-bg(image, '../../pages/case_management/cm-cta', $_base-height, $_height-by-size, '.png');

//   @media (min-width: $width-desktop) {
//     .off-grid {
//       top: 0;
//       left: 0;
//       position: absolute;
//       right: auto;
//       width: 100%;
//       z-index: 1;
//     }

//     .content {
//       position: relative;
//       z-index: 2;
//     }
//   }
// }
// .center {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
