@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.sectors-page {
  @include make-bg(hero, '../../pages/sectors/hero');
}

@media (min-width: $width-desktop) {
  .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

$_slugs: (agricultural-cooperatives,
  agricultural-finance,
  agricultural-logistics,
  agriculture-extension-programs,
  child-health,
  ebola-response,
  education,
  gender-based-violence,
  hiv-aids,
  humanitarian-response,
  maternal-and-newborn-health,
  intrapartum-care,
  nutrition,
  programmatic-research,
  reproductive-health,
  small-businesses,
  tuberculosis,
  logistics,
);

@each $_slug in $_slugs {
  .#{$_slug}-page {
    @include make-bg(hero, '../../pages/sectors/#{$_slug}/hero');
  }
}

.study-thumbnail {
  @include background-placeholder('top center');
  padding-top: 126%;

  &:after {
    background-color: $color-orange;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

a.study {
  color: $color-text !important; // scss-lint:disable ImportantRule
  font-weight: $font-weight-regular;

  &:hover {
    .study-thumbnail:after {
      opacity: .5;
    }
  }
}

.blog_build {
  $_base-height: 290px;
  $_height-by-size: (small: 390px,
      medium: 390px,
      large: 390px,
      extra-large: 392px,
    );

  @include make-bg(blog_image, '../../pages/blog/mobiledata_blog_page/blog_build/hero', $_base-height, $_height-by-size);

  @media (min-width: $width-desktop) {
    .off-grid {
      bottom: 20px;
      left: -337px;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }

  @media (min-width: $width-desktop-lg) {
    .off-grid {
      left: -180px;
    }
  }
}

.sub-sector-selector {
  z-index: 999 !important;
}


.selected {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 auto;

  .words {
    font-size: 22px;
    display: inline-block;
    padding-right: 5px;

    @media (max-width: $width-mobile) {
      font-size: 20px;
    }
  }

  .caret {
    display: inline-block;
  }
}

.selector,
.selected {
  cursor: pointer;
  position: relative;
}

.selected-container {
  width: 500px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $width-desktop-lg) {
    width: 400px;
  }

  @media (max-width: $width-mobile) {
    width: 300px;
  }
}

.selector {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translate3d(0, 20px, 0);
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;

  .h3,
  .h4 {
    color: $color-text;
  }

  .turquoise-item:hover {
    background: $color-turquoise;
  }

  .blue-item:hover {
    background: $color-blue;
  }

  .red-item:hover {
    background: $color-red;
  }

  .green-item:hover {
    background: $color-green;
  }

  .purple-item:hover {
    background: $color-purple;
  }

  li:hover {

    .h3,
    .h4 {
      color: white;
    }
  }
}

.show-time .selector {
  transition: visibility 0s .35s, opacity .35s 0s ease, transform .35s 0s ease;
}

.selector.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: visibility 0s, opacity .25s 0s ease, transform .25s 0s ease;
  visibility: visible;
}

.sub-red {
  padding-bottom: $space-line;
}
