@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.toolkits-page {
  @include make-bg(hero, '../../pages/toolkits/hero');
}

.business-development {
  @include make-bg(hero, '../../pages/toolkits/business-development/hero');
}

.commcare-evidence-base {
  @include make-bg(hero, '../../pages/toolkits/commcare-evidence-base/hero');
}

.commcare-managing-data {
  @include make-bg(hero, '../../pages/toolkits/commcare-managing-data/hero');
}

.managing-devices-ebook {
  @include make-bg(hero, '../../pages/toolkits/managing-devices-ebook/hero');
}

.maturity-model {
  @include make-bg(hero, '../../pages/toolkits/maturity-model/hero');
}

.total-cost-ownership {
  @include make-bg(hero, '../../pages/toolkits/total-cost-ownership/hero');
}

.overview .image.highlights {
  @include background-cover('../../pages/toolkits/highlights/highlights.jpg');
}

.data-collection{
  @include make-bg(hero, '../../pages/toolkits/data-collection/hero')
}

.mobile-data-collection{
  @include make-bg(hero, '../../pages/toolkits/mobile-data-collection/hero')
}

.digital-health-systems {
  @include make-bg(hero, '../../pages/toolkits/digital-health-systems/hero')
}

//images of highlights for business-development-highlights 
.business-development-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/business-development/business-development-highlights-one.jpg');
}

.business-development-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/business-development/business-development-highlights-two.jpg');
}
.business-development-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/business-development/business-development-highlights-three.jpg');
}

// images of highlights for commcare-evidence-base-highlights
.commcare-evidence-base-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-one.jpg');
}

.commcare-evidence-base-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-two.jpg');
}
.commcare-evidence-base-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-three.jpg');
}

// images of highlights for commcare-managing-data-highlights
.commcare-managing-data-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-one.jpg');
}

.commcare-managing-data-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-two.jpg');
}

.commcare-managing-data-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/commcare-evidence-base/commcare-evidence-base-highlights-three.jpg');
}

// images of highlights for managing-devices-ebook-highlights
.managing-devices-ebook-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/managing-devices-ebook/managing-devices-ebook-highlights-one.jpg');
}

.managing-devices-ebook-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/managing-devices-ebook/managing-devices-ebook-highlights-two.jpg');
}

.managing-devices-ebook-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/managing-devices-ebook/managing-devices-ebook-highlights-three.jpg');
}

// images of highlights for maturity-model-highlights
.maturity-model-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/maturity-model/maturity-model-highlights-one.jpg');
}

.maturity-model-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/maturity-model/maturity-model-highlights-two.jpg');
}

.maturity-model-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/maturity-model/maturity-model-highlights-three.jpg');
}

// images of highlights for total-cost-ownership-highlights
.total-cost-ownership-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/total-cost-ownership/total-cost-ownership-highlights-one.jpg');
}

.total-cost-ownership-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/total-cost-ownership/total-cost-ownership-highlights-two.jpg');
}

.total-cost-ownership-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/total-cost-ownership/total-cost-ownership-highlights-three.jpg');
}

// images of highlights for data-collection
.data-collection-highlight-one{
  @include background-cover('../../pages/toolkits/highlights/data-collection/data-collection-highlight-one.jpg')
}

.data-collection-highlight-two{
  @include background-cover('../../pages/toolkits/highlights/data-collection/data-collection-highlight-two.jpg')
}

.data-collection-highlight-three{
  @include background-cover('../../pages/toolkits/highlights/data-collection/data-collection-highlight-three.jpg')
}

//images of highlights for mobile-data-collection
.mobile-data-collection-highlight-one{
  @include background-cover('../../pages/toolkits/highlights/mobile-data-collection/mobile-data-collection-highlight-one.jpg')
}

.mobile-data-collection-highlight-two{
  @include background-cover('../../pages/toolkits/highlights/mobile-data-collection/mobile-data-collection-highlight-two.jpg')
}

.mobile-data-collection-highlight-three{
  @include background-cover('../../pages/toolkits/highlights/mobile-data-collection/mobile-data-collection-highlight-three.jpg')
}

// images of highlights for digital health systems-highlights
.digital-health-systems-highlights-one {
  @include background-cover('../../pages/toolkits/highlights/digital-health-systems/highlights-one.jpg');
}

.digital-health-systems-highlights-two {
  @include background-cover('../../pages/toolkits/highlights/digital-health-systems/highlights-two.jpg');
}

.digital-health-systems-highlights-three {
  @include background-cover('../../pages/toolkits/highlights/digital-health-systems/highlights-three.jpg');
}

.max-width-initial {
  max-width: initial;
}

.toolkit-tile, .toolkit-tile-ip {
  position: relative;

  .cta {
    bottom: 30px;
    left: 30px;
    position: absolute;
    width: calc(100% - 60px);
  }
}

.hubspot-summary-download .hs-form-field {
  display: inline-block;
  vertical-align: top;
  width: calc(100% + 20px) !important;

  label,
  legend {
    display: none;
  }
}

.hubspot-summary-download .hs-submit {
  display: inline-block;
  vertical-align: top;
}

.request-demo-form-lp {
  label {
    text-align: left;
  }
}

.request-demo-form-ip {
  label {
    text-align: left;
    color: $color-white;
  }
  input[type="submit"] {
    box-shadow: inset 0 0 0 1px #fafafa;
    background-color: transparent;
  }
  input[type="submit"]:hover {
    box-shadow: inset 0 0 0 1px #c7c7c7;
    background-color: rgba(255,255,255,0.3);
  }
  .hs-richtext {
    color: $color-white;
    a {
      color: $color-white !important;

      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: $width-desktop) {
  .toolkits-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 60%;

    &.toolkit-tagline {
      max-width: 80%;
    }
  }

  .toolkit-pad-left-small {
    padding-left: 30px;
  }

  .toolkit-pad-right-small {
    padding-right: 30px;
  }

  .toolkit-pad-left-large {
    padding-left: 80px;
  }
}

$_toolkit-tile-heights: (
  small: auto,
  medium: auto, // Because of SVG
  large: auto, // Because of SVG
  extra-large: 340px,
);

$_toolkit-tile-ip-heights: (
  small: 340px,
  medium: 300px,
  large: 340px,
  extra-large: 340px,
);


@each $_size,
$_width in $widths-by-size {
  @media (min-width: $_width) {
    .toolkit-tile {
      height: map-get($_toolkit-tile-heights, $_size);
    }
    .toolkit-tile-ip {
      height: map-get($_toolkit-tile-ip-heights, $_size);
    }
  }
}

@media (max-width: $width-desktop - 1px) {
  .toolkit-tile {
    padding-bottom: 30px;

    .cta {
      position: static;
      width: 100%;
    }
  }
}
