{% load i18n %}
{% load dimagidotcom %}

<section class="description border-top"
         id="overview">
  <div class="content pad-vert-medium content-width-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Overview
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}
    <h3>
      {{ job.title }}
    </h3>
    <h4 class="gap-bottom-base">
      {% if job.primary_location %}
        {{ job.primary_location }}
      {% else %}
        {{ job.locations|JOIN:", " }}
      {% endif %}
    </h4>
    <h6 class="gap-bottom-small">
      {{ job.departments|JOIN:", " }} - {{ job.employment_type }}
    </h6>
    <div class="application-content">
      {{ job.content|safe }}
    </div>{# .application-content #}
  </div> {# .content #}
</section>
