{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small">
  <div class="content content-width-large">

    <p>
      {% blocktrans %}
        While the community health worker model is a promising approach to
        healthcare for underserved populations, there are numerous issues that
        CHWs can face in their day-to-day work. Precisely what these challenges
        are will depend on the circumstances of the program, such as its
        location, funding, and workers' background, but they often fall into one
        of the following categories:
      {% endblocktrans %}
    </p>

  </div>{# .content #}
</section>
