{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-large"
         id="chapter-1-summary">
  <div class="content content-width-medium">

    <p>
      {% blocktrans %}
        Your organization might not need a results framework to
        justify your program for the purposes of funding or
        additional support. However, a results framework still
        establishes your project’s objective as the core focus
        of your program and helps you think through all the ways
        you can review its progress and ultimately achieve success.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Understanding your foundational objectives is paramount to
        ensuring a successful program, let alone determining the
        efficiency of your mobile data collection process. Those
        objectives should be the core of your entire program. They
        should be clearly defined and written down for anyone in your
        organization to review.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-top-small pad-bottom-medium">
      <a href="#" class="button">
        {% blocktrans %}
        Learn more about your project objectives
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
