{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="chapter-1-part-1">
  <div class="content content-width-medium ">

    <p class="first-letter">
      {% blocktrans %}
        Possibly the most important question for you to answer at the
        start of the process is: What are you trying to accomplish?
        What objective is your data meant to achieve? Understanding
        the objectives of your data collection program is about
        defining the role your data is meant to serve, whether it
        is to help answer a research question, analyze service delivery
        performance, or fulfill any number of other objectives.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        There are also questions around whether you have any
        data-related obligations to anyone:
      {% endblocktrans %}
    </p>

    <ul class="check-list grid grid-row-space-none pad-bottom-line">
      <li>
        {% blocktrans %}
          Do you need to reach certain benchmarks to receive
          your next round of funding?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Does the government require certain information be tracked?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          What are your program superiors seeking to understand?
        {% endblocktrans %}
      </li>
    </ul>

    <p>
      {% blocktrans %}
        One way to organize these considerations is with a results
        framework, which places your project objective at the top
        of a diagram and maps out each of the intermediate results
        that will add up to its success.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Let's use a malaria campaign to illustrate how this works.
        Our strategic objective (SO) is to "Decrease malaria-related
        child mortality rates." From there, we break down the components
        of the objective into  into all its intermediate
        results (I.R.) and sub-results.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        A few example intermediate results might could be:
      {% endblocktrans %}
    </p>

    <p>
      <strong>
        {% blocktrans %}
          Intermediate Result #1 (I.R. 1):
        {% endblocktrans %}
      </strong>
      {% blocktrans %}
        "Percentage of households sprayed with insecticide."
      {% endblocktrans %}
    </p>

    <p>
      <strong>
        {% blocktrans %}
          Intermediate Result #2 (I.R. 2):
        {% endblocktrans %}
      </strong>
      {% blocktrans %}
        "Percentage of households using insecticidal bed nets."
      {% endblocktrans %}
    </p>

    <div class="aspect-ratio-rect slate-bg gap-bottom-line"></div>

    <p>
      {% blocktrans %}
        Additional sub-results would follow that can break down each
        intermediate result into further detail, including additional
        objectives to achieve and the tools we would use to achieve them.
      {% endblocktrans %}
    </p>

  </div>
</section>
