{% load i18n %}
{% load dimagidotcom %}


<section class="applications align-center blue-theme "
         id="solutions">

    <div class="align-center gap-top-large">
        <h3 class="normalcase font-weight-bold theme-color">
          {% blocktrans %}
            Governments are using CommCare for COVID-19 response today
            {% endblocktrans %}
        </h3>
    </div>

  <div class="content-width-large pad-top-medium">
    <div class="grid-2-at-small grid-3-at-large grid-col-space-medium grid-row-space-small application-images">
      {% include "sections/covid_19/applications/ogun_state.html" %}
      {% include "sections/covid_19/applications/cdc.html" %}
      {% include "sections/covid_19/applications/sierra_leone_dsti.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}

</section>
