{% load i18n %}
{% load dimagidotcom %}

<section class="applications align-center blue-theme light-gray-bg pad-vert-medium border-top"
         id="solutions">
  <div class="content">
    <div class="align-center ">
      <h3 class="normalcase font-weight-bold theme-color">
        {% blocktrans %}
          Governments are using CommCare for COVID-19 response today
        {% endblocktrans %}
      </h3>
    </div>

    <div class="content pad-top-medium  pad-horz-large-at-large  pad-horz-large-at-extra-large">
      <div class="grid-2-at-small grid-3-at-large grid-col-space-medium grid-row-space-small application-images">
        {% include "sections/covid_19/applications/ogun_state.html" %}
        {% include "sections/covid_19/applications/cdc.html" %}
        {% include "sections/covid_19/applications/sierra_leone_dsti.html" %}
      </div>
    </div>
  </div>
</section>
