{% load i18n %}
{% load dimagidotcom %}

<section class="advisory border-top blue-bg blue-theme"
         id="advisory">
  <div class="content pad-vert-medium">
    <div class="align-center gap-bottom-small">
      <p class="white font-weight-bold font-size-24">
        {% blocktrans %}
          Are you responding to the COVID-19 pandemic? Let us know how we can help.
        {% endblocktrans %}
      </p>
    </div>

    <p class="align-center">
      <a class="button button-accent-gray normalcase theme-color {% click_subnav 'contact' %}"
         href="#contact-form-modal">
        {% blocktrans %}
          Get in Touch
        {% endblocktrans %}
      </a>
    </p>
  </div>
</section>
