{% load i18n %}
{% load dimagidotcom %}

<section class="advisory blue-bg blue-theme"
         id="advisory">
  <div class="content pad-vert-medium">
    <div class="align-center gap-bottom-small">
      <h3 class="white normalcase">
        {% blocktrans %}
          Are you responding to the COVID-19 pandemic in the US?<br />
          Read more about how we're supporting states here.
        {% endblocktrans %}
      </h3>
    </div>

    <p class="align-center">
      <a class="button button-accent-gray theme-color {% click_subnav 'contact' %}"
         href="https://confluence.dimagi.com/display/commcarepublic/U.S.+COVID-19+Local+Response+System"
         target="_blank">
        {% blocktrans %}
          learn More
        {% endblocktrans %}
      </a>
    </p>
  </div>
</section>
