{% load i18n %}
{% load dimagidotcom %}

<section class="video-intro certified_partners border-top pad-bottom-small accent-gray-bg"
         id="certified_partners">
  <div class="content">
    <div class="pad-vert-medium">
      <div class="intro covid-19-intro ">
        <div class="align-center gap-bottom-small">
          <h2 class="blue normalcase">
            {% blocktrans %}
              CommCare is a proven digital solution for outbreak response
            {% endblocktrans %}
          </h2>
        </div>
        <p>
          {% blocktrans %}
            Dimagi’s CommCare platform enables you to quickly build and deploy custom mobile applications for every
            phase of an effective COVID-19 response - from screening and contact tracing to patient monitoring and
            post-care support.
          {% endblocktrans %}
        </p>
      </div>

      <div class="column flex-align-center">
        {% include "partials/wistia_popover.html" with wistia_id='x3bm3540yr' show_play=True play_icon_medium=True show_image=True %}
      </div>
    </div>
  </div>
</section>
