{% load i18n %}
{% load dimagidotcom %}

<section class="video-intro certified_partners border-top pad-bottom-small accent-gray-bg"
         id="certified_partners">
  <div class="content">
    <div class="pad-vert-medium">
      <div class="intro covid-19-intro ">
        <div class="align-center gap-bottom-small">
          <h4 class="normalcase font-weight-bold theme-color">
            {% blocktrans %}
              CommCare is a proven digital solution for outbreak response
            {% endblocktrans %}
          </h4>
        </div>
        <p>
          {% blocktrans %}
            CommCare enables your organization to quickly build custom mobile applications tailored to the needs of a
            fast-moving outbreak response - from contact tracing to lab tracking and SMS integration.
          {% endblocktrans %}
        </p>
      </div>

      <div class="column flex-align-center">
        {% include "partials/wistia_popover.html" with wistia_id='9uvnpbecdy' show_play=True play_icon_medium=True show_image=True %}
      </div>
    </div>
  </div>
</section>
