{% load dimagidotcom %}
{% load i18n %}

<section id="resources" class="border-top overview">
  <div class="content">
    <div class="align-center gap-top-large gap-bottom-small">
      <h2 class="blue">
        {% blocktrans %}
          Resources for your organization's COVID-19 response
        {% endblocktrans %}
      </h2>
    </div>
  </div>

  <div class="content pad-bottom-large">

    <div class="grid-flex-at-medium grid-valign-middle grid-reverse">

      <div class="column">
        <div class="position-relative align-center">
          <div class="resource-image">
            <div class="image commcare-phone" data-lazybg="true"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <h3>
          {% blocktrans %}
            Pro bono CommCare subscriptions
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            To ensure cost is not a blocking factor in the deployment of digital tools for outbreak response, Dimagi is
            making CommCare subscriptions free for organizations responding to the COVID-19 pandemic.
          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-base">
          <a class="arrow" href="https://docs.google.com/forms/d/e/1FAIpQLSc_U_HGp9lSbLr5qovB12sgYOu3PzIrRho3yS3J4eceKuFXzw/viewform">
            {% blocktrans %}
              Request a pro bono subscription
            {% endblocktrans %}
          </a>
        </div>
      </div>

    </div>

    <div class="grid-flex-at-medium grid-valign-middle">

      <div class="column">
        <div class="position-relative align-center">
          <div class="resource-image">
            <div class="image covid-cases" data-lazybg="true"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <h3>
          {% blocktrans %}
            Template COVID-19 apps + resources
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            Dimagi is rapidly deploying free COVID-19 template applications. These apps can be used on Android
            smartphones to carry out disease surveillance and educational activities based on leading clinical protocols
            from the World Health Organization, CDC, and others.
          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-base">
          <a class="arrow" href="https://confluence.dimagi.com/display/commcarepublic/CommCare+for+COVID-19">
            {% blocktrans %}
              See the resources
            {% endblocktrans %}
          </a>
        </div>
      </div>

    </div>

    <div class="grid-flex-at-medium grid-valign-middle grid-reverse">

      <div class="column">
        <div class="position-relative align-center">
          <div class="resource-image">
            <div class="image covid-support" data-lazybg="true"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <h3>
          {% blocktrans %}
            COVID-19 app implementation support
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            Dimagi staff are available to help customize and deploy CommCare applications for COVID-19 response, as well
            as provide implementation support and technical assistance to organizations responding to the pandemic.
          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-base">
          <a class="arrow {% click_subnav 'contact' %}" href="#contact-form-modal">
            {% blocktrans %}
              Contact us to learn more
            {% endblocktrans %}
          </a>
        </div>
      </div>

    </div>

  </div>
</section>
