{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a class="primary {% click_subnav 'contact' %}"
         href="#contact-form-modal">
        <span>
          {% blocktrans %}
            Get in Touch
          {% endblocktrans %}
        </span>
      </a>
    </div>
    {# .actions #}
    <a class="prompt-link {% click_subnav 'browse-mobile' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#solutions"
           class="{% click_subnav 'solutions' %}">
          {% blocktrans %}
            Covid-19 solutions
          {% endblocktrans %}
        </a>
        <a href="#resources"
           class="{% click_subnav 'resources' %}">
          {% blocktrans %}
            Resources
          {% endblocktrans %}
        </a>
        <a href="#updates"
           class="{% click_subnav 'updates' %}">
          {% blocktrans %}
            Updates
          {% endblocktrans %}
        </a>
      </div>
      {# .content #}
    </div>
    {# .destinations #}
  </div>
  {# .content #}
</section>
