{% load i18n %}
{% load dimagidotcom %}

<section class="content pad-vert-medium content-width-large blue-theme">
  <div class="grid-2-at-small grid-reverse">
    <div class="column align-left">
      <h3>
        {% blocktrans %}
					Shared Workflows
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
					Building on our partnership with Medic Mobile and Ona on 
					shared designs, apps, and dashboards for COVID-19 response, 
					we are working together again to design modules in support
					of community-level engagement to: 
        {% endblocktrans %}
      </p>
      <ul class="check-list">
				<li>
					<p class="gap-bottom-none">
						{% blocktrans %}
							Address vaccine hesitancy
						{% endblocktrans %}
					</p>
				</li>
				<li>
					<p class="gap-bottom-none">
						{% blocktrans %}
							Follow-up at the household level to ensure course completion
						{% endblocktrans %}
					</p>
				</li>
				<li>
					<p class="gap-bottom-none">
						{% blocktrans %}
							Monitor for adverse events
						{% endblocktrans %}
					</p>
				</li>
			</ul>
    </div>{# .column #}

    <div class="column">
      <div class="workflow white-lazy-bg"
           data-lazybg="true"></div>
    </div>{# .column #}
  </div>{# .grid-2 #}
</section>{# .content #}
