{% load i18n %}
{% load dimagidotcom %}

<a href="{% url 'toolkit' 'business-development' %}"
   target="_blank">
  <div class="theme-icon resource-card accent-gray-bg pad-top-small">
    <div class="pad-top-line">
      {% include "svg/resources/toolkits/business.html" %}
    </div>
  </div>
  <div class="pad-line">
    <p>
      <strong class="body-color pad-top-line">
        {% blocktrans %}
          Business Development Toolkit
        {% endblocktrans %}
      </strong>
    </p>
  </div>
</a>{# .item #}
