{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}
  {{ study.title }}
{% endblock %}

{% block description %}
  {{ study.summary }}
{% endblock %}

{% block body_class %}case-study-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/case_studies/view_single.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-case-study" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="case-study-container orange-theme">
    {% include 'sections/case_studies/sub_nav.html' %}
    {% include 'sections/case_studies/summary.html' %}

    <section class="border-vert accent-gray-bg download"
             id="download">
      <div class="content pad-vert-medium align-center">
        <h3>
          {% blocktrans %}
            Download the Case Study
          {% endblocktrans %}
        </h3>
        <a class="button button-orange"
           id="hubspot-download-cta"
           href="https://cta-redirect.hubspot.com/cta/redirect/503070/{{study.hubspot_form}}"
           target="_blank">
          {% blocktrans %}
            Download
          {% endblocktrans %}
        </a>
      </div>
    </section>

  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="https://js.hscta.net/cta/current.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hscta.net/cta/current.js"></script>
  <script>
    hbspt.cta.load({
      portalId: "503070",
      formId: "{{ study.hubspot_form }}",
      target: "#hubspot-download-cta",
      css: "",
    });
  </script>
{% endblock %}
