{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}case-studies-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/case_studies/view_all.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero hero-case-studies" id="hero">
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
    <div class="copy expand position-relative">

      <h1>
        {% blocktrans %}
          Case Studies
        {% endblocktrans %}
      </h1>

      <div class="headline content-width-small">
        {% blocktrans %}
          Dimagi technologies have grown directly out of field work.
          Read our case studies to learn more about how mobile
          tools can be used across regions and sectors.
        {% endblocktrans %}
      </div>{# .headline #}

    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="case-studies-container">
    {% include 'sections/case_studies/list.html' %}
  </section>
{% endblock %}
