{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}
  {{ study.title }}
{% endblock %}

{% block description %}
  {{ study.summary }}
{% endblock %}

{% block body_class %}case-study-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/case_studies/view_single.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-case-study" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="case-study-container orange-theme">
    {% include 'sections/case_studies/sub_nav.html' %}
    {% include 'sections/case_studies/summary.html' %}

    <section class="border-vert accent-gray-bg download"
             id="download">
      <div class="content pad-vert-medium align-center">
        <h3>
          {% blocktrans %}
            Download the Case Study
          {% endblocktrans %}
        </h3>
        {% if study.primary_cta %}
          {% include 'partials/hubspot_cta.html' with cta_id=study.primary_cta fallback_css="button primary large" fallback_text="Download" %}
        {% else %}
          <div id="hubspot-download-form" class="hubspot-download"></div>
        {% endif %}
      </div>
    </section>

  </section>
{% endblock %}

{% block modals %}
  {% if not study.primary_cta %}
    <div class="modal"
         data-dismissible="true"
         data-size="medium"
         id="hubspot-download-form-pdf-summary">
      <div class="modal-scroll">
        <div class="modal-wrapper">
          <a href="#" class="modal-close-button"></a>
          <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none {{ sector.theme }}">
            <section class="orange-theme" id="download-pdf-summary-form-content"></section>
          </div>{# .content #}
        </div>{# .modal-wrapper #}
      </div>{# .modal-scroll #}
    </div>{# .modal #}

    <div class="modal"
         data-dismissible="true"
         data-size="medium"
         id="hubspot-download-form-french-pdf-summary">
      <div class="modal-scroll">
        <div class="modal-wrapper">
          <a href="#" class="modal-close-button"></a>
          <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none {{ sector.theme }}">
            <section class="orange-theme" id="download-pdf-summary-form-content-french"></section>
          </div>{# .content #}
        </div>{# .modal-wrapper #}
      </div>{# .modal-scroll #}
    </div>{# .modal #}
  {% endif %}
{% endblock %}

{% block js %}
  {% if not study.primary_cta %}
    <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "503070",
        formId: "{{ study.hubspot_form }}",
        target: "#download-pdf-summary-form-content",
        css: "",
        onFormSubmit: function () {
          window.open('{{ study.download_url }}', "_blank");
        },
      });
      hbspt.forms.create({
        portalId: "503070",
        formId: "{{ study.hubspot_form }}",
        target: "#hubspot-download-form",
        css: "",
        onFormSubmit: function () {
          window.open('{{ study.download_url }}', "_blank");
        },
      });
      hbspt.forms.create({
        portalId: "503070",
        formId: "{{ study.hubspot_form_language }}",
        target: "#download-pdf-summary-form-content-french",
        css: "",
        onFormSubmit: function () {
          window.open('{{ study.download_url_language }}', "_blank");
        },
      });
    </script>
  {% endif %}
{% endblock %}
