@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.error-404-page {
  $_base-height: 500px;
  $_height-by-size: (
    small: 500px,
    medium: 500px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(hero, '../pages/error404/hero', $_base-height, $_height-by-size);
}

.error-500-page {
  $_base-height: 500px;
  $_height-by-size: (
    small: 500px,
    medium: 500px,
    large: 500px,
    extra-large: 500px,
  );
  @include make-bg(hero, '../pages/error500/hero', $_base-height, $_height-by-size);
}

@media (min-width: $width-desktop) {
  .error-404-page .hero h1,
  .error-500-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

