{% load dimagidotcom %}
{% load i18n %}

<div class="grid-testimonial">
  <div class="column">
    <div class="grid-2-at-medium">

      <div class="column">
        <div class="grid-1">
          <div class="column">
            <div class="image aspect-ratio-square teampic1"
                 data-lazybg="true"></div>{# .overview .image.teampic1 {} => careers.scss #}
          </div>{# .column #}
        </div>{# .grid-1 #}
      </div>{# .column #}

      <div class="column">
        <div class="grid-1">
          <div class="column">
            <div class="image aspect-ratio-rect teampic4"
                 data-lazybg="true"></div>{# .overview .image.teampic4 {} => careers.scss #}
          </div>{# .column #}
          <div class="column">
            <div class="grid-2">

              <div class="column">
                <div class="image aspect-ratio-square teampic2"
                     data-lazybg="true"></div>{# .overview .image.teampic2 {} => careers.scss #}
              </div>{# .column #}

              <div class="column">
                <div class="image aspect-ratio-square teampic3"
                     data-lazybg="true"></div>{# .overview .image.teampic3 {} => careers.scss #}
              </div>{# .column #}

            </div>{# .grid-2 #}
          </div>{# .column #}
        </div>{# .grid-1 #}
      </div>{# .column #}

    </div>{# .grid-2-at-medium #}
  </div>{# .column #}
</div>{# .grid-testimonial #}
