{% load i18n %}
{% load dimagidotcom %}

<section class="intro-section pad-vert-medium content-width-large blue-theme align-center">
  <div class="content-width-large">
    <h3 class="content-width-medium blue gap-top-line pad-horz-small">
      {% blocktrans %}
        Proven, Scalable Solutions That Can Lead to Better Health Outcomes
      {% endblocktrans %}
    </h3>
  </div>
  <div class="grid-2-at-small grid-reverse">
    <div class="column pad-top-small align-left pad-horz-medium pad-horz-base-at-medium">
      <p>
        {% blocktrans %}
          Dimagi enables public health organizations to deliver digital
          health solutions using CommCare, the world’s most widely-used
          customizable digital platform for health workforces globally.
          We partner with organizations across the US to co-create solutions
          that enhance their productivity and effectiveness, including
          defining optimal workflows and integrating them into existing
          data ecosystems. With CommCare, organizations are able to manage
          and track clients through a lifecycle of services, report on
          programmatic activity, and analyze data for actionable insight.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
            With the power of a modular platform and the agility of a
            custom solution, CommCare’s easy-to-use, no-code application
            builder enables rapid development. CommCare applications can
            be built and launched in days and weeks instead of months or
            years. New data elements or workflows of interest can easily
            be integrated into existing solutions without the burden of
            massive system overhauls, user experience issues, or data gaps.
            This allows users to focus on providing better-coordinated care
            for improved health – today and adapt to new challenges in the future.
        {% endblocktrans %}
      </p>
    </div>{# .column #}

    <div class="column pad-top-small">
      <div class="local-response white-lazy-bg"
           data-lazybg="true"></div>
    </div>{# .column #}
  </div>{# .grid-2 #}
</section>{# .content #}
