{% load i18n %}
{% load dimagidotcom %}

<section class="video-section pad-vert-small content-width-large blue-theme align-center">
  <div>
    <div class="content-width-large pad-top-small">
      <p class="align-center pad-bottom-small pad-horz-small">
        {% blocktrans %}
          Over 20 years ago, we started our journey to provide meaningful technology 
          solutions in India and across Africa to digitize burdensome, paper-
          based workflows for frontline workers. Today, we have mobilized 
          CommCare and SureAdhere for a multitude of programs and use cases in over
          3,000 projects globally and across 21 states and territories in the US.
        {% endblocktrans %}
      </p>
    </div>
    <div class="border-rounded-large image alt"
         data-lazybg="true"
         target=_blank>
      <div class="border-rounded-large map-image white-lazy-bg" data-lazybg="true"></div>{# .image #}
    </div>
  </div>
</section>{# .content #}
