{% load i18n %}
{% load dimagidotcom %}

<section class="advisory border-top blue-bg blue-theme"
         id="advisory">
  <div class="content-width-medium pad-vert-medium">
    <div class="align-center gap-bottom-small">
      <h2 class="white">
        {% blocktrans %}
          Would you like to discuss how our US team can partner with you?
        {% endblocktrans %}
      </h2>
    </div>

    <p class="align-center pad-bottom-base">
      <a class="button button-accent-gray theme-color"
         href="#contact-form-modal">
        {% blocktrans %}
          Get in Touch
        {% endblocktrans %}
      </a>
    </p>
  </div>
</section>
