{% load i18n %}

<div class="column">
  <a class="tile"
     target="_blank"
     href="{% block link %}{% endblock %}">

    <div class="aspect-ratio-square
                gap-bottom-base
                image {% block image %}{% endblock %}"
         data-lazybg="true"></div>

    <h6 class="neutral-color gap-bottom-none">
      {% block name %}{% endblock %}
    </h6>

    <p class="body-color gap-bottom-none">
      {% block description %}{% endblock %}
    </p>

    <p class="button-container gap-top-none">
      <div class="button button-neutral">
        {% blocktrans %}
          Read More
        {% endblocktrans %}
      </div>{# .button #}
    </p>

  </a>
</div>{# .column #}
