{% load i18n %}

<div class="column">
  <div class="awards-tile {{ click_class }}">

    <div class="aspect-ratio-square
                gap-bottom-base
                image {% block image %}{% endblock %}"
         data-lazybg="true"></div>

    <h6 class="neutral-color gap-bottom-none">
      {% block name %}{% endblock %}
    </h6>

    <p class="body-color gap-bottom-none">
      {% block description %}{% endblock %}
    </p>

    <a class="align-center { click_class }}"
      href="{% block link %}{% endblock %}">
        Read more
    </a>    
  </div>
</div>{# .column #}
