@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


.study-image {
  @include  background-placeholder();

  height: 395px;
  position: relative;
  width: 305px;
}

.hs-cta-img {
  width: 0;
  height: 0;
}
