@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


.study-image {
  @include  background-placeholder();

  height: 395px;
  position: relative;
  width: 305px;
}

.download-hs-cta-img {
  border-width:0px;
  margin: 0 auto;
  height: 42px;
  border-radius: 3px;
  max-width: 100%;
  min-height: 40px;
}
