{% load i18n %}
{% load dimagidotcom %}

<section class="testimonial programs blue-theme border-top" 
         data-lazybg="true" 
         id="programs">
  <div class="white-bg">
    <div class="content pad-vert-small">
      <div class="mdc-sector-program content-width-medium">
        <h2 class="align-center turquoise pad-top-small">
          {% blocktrans %}
            Awards and Accolades
          {% endblocktrans %}
        </h2>
        <p class="align-center lead-text">
          {% blocktrans %}
            Learn how the India Division empowers partners
            through custom digital solutions
          {% endblocktrans %}
        </p>
      </div>
      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-small pad-vert-medium">
        <div class="column awards-column">
          <div class="accent-gray-bg">
            <div class="image award1"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h4>
                {% blocktrans %}
                  PATH India announces Dimagi as winner
                  in first PHC Tech Challenge
                {% endblocktrans %}
              </h4>
              <p>
                {% blocktrans %}
                  Dimagi's Vaccine Solution was selected as a groundbreaking
                  innovation out of a competitive field of 115 applicants.
                {% endblocktrans %}
              </p>
              <a href="https://media.path.org/documents/PHC_Tech_challenge_winners.pdf?_gl=1*1c9lm71*_ga*MTk0MzUyMDg4MS4xNjYzNzg2OTEz*_ga_YBSE7ZKDQM*MTY2Mzc4NjkxMy4xLjAuMTY2Mzc4NjkxMy4wLjAuMA" target="_blank" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a>
            </div>
          </div>
        </div>{# .column #}

        <div class="column awards-column">
          <div class="accent-gray-bg">
            <div class="image award2"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h4>
                {% blocktrans %}
                  CommCare wins Vodafone India Foundation, USAID awards in Southeast Asia
                {% endblocktrans %}
              </h4>
              <p>
                {% blocktrans %}
                  CommCare recognized as the Mobile for Good winner in the health category.
                {% endblocktrans %}
              </p>
              <a href="https://www.dimagi.com/blog/commcare-wins-vodafone-india-foundation-usaid-awards-in-southeast-asia/?_ga=2.209282135.418574654.1644811510-2097041029.1641886273" target="_blank" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a>
            </div>
          </div>
        </div>{# .column #}

        <div class="column awards-column">
          <div class="accent-gray-bg">
            <div class="image award3"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h4>
                {% blocktrans %}
                  Dimagi named among twelve winners of the Global
                  South COVID-19 Digital Innovation Challenge
                {% endblocktrans %}
              </h4>
              <p>
                {% blocktrans %}
                  Dimagi proposed to strengthen India’s COVID-19 response through
                  a nutrition application and was among twelve winners chosen for
                  the best digital innovative solutions.
                {% endblocktrans %}
              </p>
              <a href="https://www.itu.int/en/ITU-D/Innovation/Pages/Events/2021/Global-South-COVID-19-Digital-Innovation-Challenge.aspx" target="_blank" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a>
            </div>
          </div>
        </div>{# .column #}

      </div>
    </div>
  </div>
</section>
