{% load i18n %}
{% load dimagidotcom %}

<section class="testimonial programs turquoise-theme" 
         data-lazybg="true" 
         id="programs">
  <div class="accent-gray-bg">
    <div class="content pad-vert-small">
      <div class="mdc-sector-program content-width-medium">
        <h2 class="align-center turquoise pad-top-small">
          {% blocktrans %}
            Amplifying frontline impact
          {% endblocktrans %}
        </h2>
        <p class="align-center lead-text">
          {% blocktrans %}
            Learn how the India Division empowers partners
            through custom digital solutions
          {% endblocktrans %}
        </p>
      </div>
      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-small pad-top-medium">
        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial1"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  Suaahara II: CommCare for Community-Based Maternal & Child Health
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  USAID-funded program implementing a combination of nutrition-specific
                  and nutrition-sensitive interventions throughout Nepal.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'case_study' 'suaahara-II-mch' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial2"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  CommCare Precision Tasking Framework: A Prioritized Tasking
                  Solution for Supervisors and Health Workers
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  Dimagi has created a new Prioritized Tasking Framework that
                  aims to help CHWs focus on service delivery, enable data-driven
                  decision making and provide patients access to better care.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'blog_post' 'commcare-precision-tasking-framework' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial3"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  MiracleFeet: CommCare for Treating Congenital Defects
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  Dimagi created a universal tool to track treatment and program data
                  for clubfoot, a common and treatable birth defect historically overlooked in many LMICs.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'case_study' 'miracle-feet' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial4"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  RTI International – USAID Integrated Early Childhood Development (IECD) Activity
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  RTI International (RTI), an independent nonprofit research and
                  international development institute, is embarking on a new
                  five-year project to support the Royal Government of Cambodia’s
                  efforts to improve child development for children under five years of age.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'blog_post' 'rti-international-usaid-iecd-activity' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial5"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  How Chatbots Can Support the Right to Health
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  In the pursuit of universal health coverage, there are many forms
                  of direct-to-client solutions in development, such as mobile apps
                  and chatbots. Dimagi's Director of Consumer Innovations explains
                  our approach to developing such tools.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'blog_post' 'chatbots-support-the-right-to-health' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial6"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h6>
                {% blocktrans %}
                  The Value of User Testing: Supporting Community Health
                  Workers With Digital Tools in India
                {% endblocktrans %}
              </h6>
              <div class="body-color">
                <p class="pad-bottom-base">
                {% blocktrans %}
                  Dimagi has partnered with Johnson & Johnson to explore the
                  development of an evidence-based, free, and adaptable mobile
                  messaging framework to boost health worker resilience.
                {% endblocktrans %}
                </p>
              </div>
              <p class="pad-top-line"><a href="{% url 'blog_post' 'user-testing-chw-resilience-messaging' %}" class="arrow link-turquoise">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

      </div>
    </div>
  </div>
</section>
