{% load i18n %}
{% load dimagidotcom %}

<section id="introindia"
         class="turquoise-theme"
         data-lazybg="true">
  <div class="content pad-vert-medium">
    <div class="grid grid-2-at-medium grid-1-at-small grid-reverse">
      <div class="column" id="intro-india">
        <div class="intro-image pad-top-line">
          <div class="intro-image white-lazy-bg"
               data-lazybg="true"></div>
        </div>
      </div> {# .column #}
      <div class="column pad-top-base">
        <h2 class="theme-color">
          {% blocktrans %}
            Powered by local India domain and field  expertise
          {% endblocktrans %}
        </h2>
        <p>
          {% blocktrans %}
            When it comes to developing impact-driven digital solutions
            for the Asian social sector ecosystem , our deep well of local
            expertise and knowledge combined with our global experience
            sets us apart from the rest.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Whatever the health challenge, from nutrition to maternal and
            child health to mental well-being , Dimagi’s India Division
            drives excellence in our digital solutions and implementation
            while creating unprecedented impact tailored for local market needs.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>
  </div>
</section>
