{% load i18n %}
{% load dimagidotcom %}

<section class="dive-plus">
  <a class="tile feature-projects pad-vert-line pad-horz-line border-rounded-large purple-border">
    <div class="align-center purple-icon pad-vert-small">
      {% include "svg/commcare/onboarding/dive_plus.html" %}
    </div>
    <h5 class="align-center uppercase purple font-weight-medium">
      {% blocktrans %}
        Deep Dive Plus
      {% endblocktrans %}
    </h5>
    <h5 class="align-center pad-bottom-base">
      {% blocktrans %}
        $7500
      {% endblocktrans %}
    </h5>
    <div class="pad-horz-small">
      <div class="flip-card gap-top-base">
        <div class="flipper">
          <div class="front">
            <p class="content-width-small">
              {% blocktrans %}
                Perfect for organizations looking to deploy multiple applications
                or involve multiple country leads in their onboarding of CommCare.
                Onboarding covers several training topics allowing organizations
                to harness the power of CommCare’s most advanced self-service features.
              {% endblocktrans %}
            </p>
          </div>{# .front #}
          <div class="back">
            <b>
              {% blocktrans %}
                Includes:
              {% endblocktrans %}
            </b>
            <ul class="check-list purple-check features-list grid-space-none body-color pad-top-line">
              <li class="pad-top-base">
                {% blocktrans %}
                  20 hours of Q & A or feature-based training sessions
                {% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}
                  Direct access to Customer Success Support in between sessions
                {% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}
                  Advanced support for deploying multiple applications or
                  the same app across multiple geographies
                {% endblocktrans %}
              </li>
            </ul>
          </div>{# .back #}
        </div>{# .flipper #}
      </div>{# .flip-card #}
    </div>
  </a>{# .feature-projects #}
</section>
