{% extends 'sections/commcare/product_onboarding/onboard/_base.html' %}
{% load i18n %}
{% load dimagidotcom %}

{% block feature_class %}deep-dive turquoise-border{% endblock %}
{% block icon_class %}turquoise-icon{% endblock %}
{% block title_class %}turquoise{% endblock %}
{% block list_class %}turquoise-check {% endblock %}

{% block icon %}
  {% include "svg/commcare/onboarding/dive.html" %}
{% endblock %}

{% block feature_title %}
  {% blocktrans %}
    Deep Dive
  {% endblocktrans %}
{% endblock %}

{% block feature_price %}
  {% blocktrans %}
    $6500
  {% endblocktrans %}
{% endblock %}

{% block feature_description %}
  {% blocktrans %}
    Perfect for organizations looking for a quick but thorough
    onboarding to CommCare, that need regular access to the
    Customer Success team.
  {% endblocktrans %}
{% endblock %}

{% block features_list %}
  <li>
    {% blocktrans %}
      20 hours of Q & A or feature-based training sessions
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Direct access to Customer Success Support in between sessions
    {% endblocktrans %}
  </li>
{% endblock %}
