<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 68 68" width="68" height="68">
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M51.9,34.1V11.7c-0.1-0.2-0.1-0.4-0.3-0.5l-9.5-9.5c-0.1-0.1-0.3-0.2-0.5-0.2H6.3c-0.5,0-0.8,0.3-0.8,0.7v56.8
    c0,0.4,0.3,0.8,0.8,0.8h24.9"></path>
  <polyline fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    40.8,2 40.8,12.5 51.2,12.5 "></polyline>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M48.5,66.5c-7.8,0-14-6.3-14-14s6.3-14,14-14s14,6.3,14,14S56.2,66.5,48.5,66.5z"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,17.1h31.5"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,28.9h31.5"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,34.7h28.5"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,23h31.5"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,40.6h20.7"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M12.9,46.4h15.7"></path>
  <path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M48.5,56c-1.2,0-2-0.8-2-2v-9c0-1.2,0.8-2,2-2s2,0.8,2,2v9C50.5,55,49.5,56,48.5,56z"></path>
  <circle fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="48.5" cy="60.3" r="2"></circle>
</svg>
