<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 68 68" width="68" height="68">
  <line fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="24.4" y1="54.5" x2="43.6" y2="54.5"></line>
  <line fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="24.4" y1="60.3" x2="43.6" y2="60.3"></line>
  <line fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.9" y1="66" x2="39.1" y2="66"></line>
	<path fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M55.6,23.6C55.6,11.7,45.9,2,34,2s-21.6,9.7-21.6,21.6c0,6.4,2.8,12.1,7.1,16l4.9,8.2h19.1l4.9-8.2C52.9,35.7,55.6,30,55.6,23.6z"
		></path>
  <polyline fill="none" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    31.5,47 27.7,33.4 40.3,33.4 36.5,47 	"></polyline>
</svg>
