{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-small accent-gray-bg border-bottom"
         id="assets">
  <div class="content">
    <div class="content pad-vert-small">
      <h2 class="align-center blue">
        {% blocktrans %}
          Brand Assets
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
    <div class="content content-width-medium pad-top-line news-images">
      <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-small">
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image dimagi" data-lazybg="true"></div>
            <div class="pad-line blue-light-bg">
              <h5>
                <a href="https://dimagi.github.io/commcare-cloud/"
                   class="blue"
                   target="_blank">
                  {% blocktrans %}
                    Logos & Color Palette
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image commcare" data-lazybg="true"></div>
            <div class="pad-line blue-light-bg">
              <h5>
                <a href="https://dimagi.github.io/commcare-cloud/"
                   class="blue"
                   target="_blank">
                  {% blocktrans %}
                    CommCare
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image commcare-action" data-lazybg="true"></div>
            <div class="pad-line blue-light-bg">
              <h5>
                <a href="https://dimagi.github.io/commcare-cloud/"
                   class="blue"
                   target="_blank">
                  {% blocktrans %}
                    CommCare in Action
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image covid" data-lazybg="true"></div>
            <div class="pad-line blue-light-bg">
              <h5>
                <a href="https://dimagi.github.io/commcare-cloud/"
                   class="blue"
                   target="_blank">
                  {% blocktrans %}
                    CommCare for COVID-19
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
      </div>{# .grid #}
    </div>{# .content #}

  </div>{# .content #}
</section>
