{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-large accent-gray-bg border-bottom"
         id="assets">
  <div class="content">
    <div class="content pad-vert-small">
      <h2 class="align-center primary">
        {% blocktrans %}
          Brand Assets
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
    <div class="content content-width-large pad-top-line news-images">
      <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-medium">
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image dimagi" data-lazybg="true"></div>
            <div class="pad-line commcare-default-bg">
              <h5>
                <a href="https://drive.google.com/drive/folders/16ZmOKXZLWjVLdgltptLgxSQ4G4i8LFJd"
                   class="white"
                   target="_blank">
                  {% blocktrans %}
                    Logos & Color Palette
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image commcare" data-lazybg="true"></div>
            <div class="pad-line commcare-default-bg">
              <h5>
                <a href="https://drive.google.com/file/d/1ddJ2TIXbGgnpEV_8EXhpJ0HUCE2IET8g/view?usp=sharing"
                   class="white"
                   target="_blank">
                  {% blocktrans %}
                    Brand Guidelines
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
        <div class="column">
          <div class="pad-bottom-base accent-gray-bg">
            <div class="image commcare-action" data-lazybg="true"></div>
            <div class="pad-line commcare-default-bg">
              <h5>
                <a href="https://drive.google.com/drive/folders/1e4o0njUONPqR6Nti91thtUV7lWMaPpG2"
                   class="white"
                   target="_blank">
                  {% blocktrans %}
                    CommCare in Action
                  {% endblocktrans %}
                </a>
              </h5>
            </div> {# .pad-line #}
          </div> {# .white-bg #}
        </div> {# .column #}
      </div>{# .grid #}
    </div>{# .content #}

  </div>{# .content #}
</section>
