{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-medium"
         id="faq">
  <div class="content">

    <div class="accordion-group gap-bottom-line border-none"
         id="chapter-4-accordion">
      {% include "sections/press/accordion/faq1.html" %}
      {% include "sections/press/accordion/faq2.html" %}
      {% include "sections/press/accordion/faq3.html" %}
      {% include "sections/press/accordion/faq4.html" %}
      {% include "sections/press/accordion/faq5.html" %}
      {% include "sections/press/accordion/faq6.html" %}
      {% include "sections/press/accordion/faq7.html" %}
    </div>

  </div>{# .content #}
</section>
