{% load dimagidotcom %}
{% load i18n %}

<section  class="video-intro pad-vert-medium"
          id="overview">
  <div class="content content-width-large epic-content pad-horz-small-at-medium align-center">
    <div class="grid-flex-at-medium">

      <div class="column flex-valign-middle-at-medium align-left-at-medium">
        <p>
          <a href="{% url 'home' %}">Dimagi</a> is a global social enterprise that powers impactful 
          frontline work through scalable digital solutions and services. Since 2002, Dimagi has been 
          guided by a vision of a world where everyone has access to the services they need to thrive.
          Dimagi is most well-known as the makers of <a href="{% url 'commcare' %}">CommCare</a>, 
          the most widely-deployed digital platform for enabling Frontline Workers. 
          Governments and organizations across all sectors use customized mobile, web and 
          SMS applications built on CommCare to deliver services at the frontline. 
          Dimagi is a certified Benefit Corporation with teams in the United States, India, 
          South Africa, Senegal and around the world.

        </p>
      </div>{# .column #}

      <div class="column video-intro">
        <div class="image white-lazy-bg"
             data-lazybg="true">
      </div>

    </div>{# .grid-flex-at-medium #}
  </div>{# .content #}
</section>
