{% load dimagidotcom %}
{% load i18n %}


<article class="epic part3">
  <section class="epic-cover" data-lazybg="true">
    <div class=" commcare-text grid grid-2-at-medium grid-1-at-small grid-reverse">
      <div class="column pad-right-small-at-medium">
        <div class=" pad-top-large pad-left-small">
          <h3 class="white mb-10">
            {% blocktrans %}
            Press Kit
            {% endblocktrans %}
          </h3>
          <p class="white">
            {% blocktrans %}
            Download our press kit for our brand guidelines, logos,<br class="hide-until-large" /> Dimagi summary, and photos all in one place.
            {% endblocktrans %}
          </p>
          <a class="arrow white "
            href="https://drive.google.com/file/d/1ddJ2TIXbGgnpEV_8EXhpJ0HUCE2IET8g/view?usp=sharing" target="_blank">
            {% blocktrans %}
            Download
            {% endblocktrans %}
          </a>
        </div>
      </div>{# .column #}
      <div class="column" >
          <div class="phone-image off-grid white-lazy-bg" data-lazybg="true"></div>
      </div> {# .column #}
    </div>
  </section>
</article>
