{% load dimagidotcom %}
{% load i18n %}

<article class="epic part3">
  <section class="epic-cover"
    data-lazybg="true">
    <div class="commcare-text pad-top-base pad-top-medium-at-medium pad-top-medium-at-large pad-top-medium-at-extra-large pad-top-base-at-small pad-bottom-medium pad-left-large-at-small">
      <div class="content content-width-medium">
        <div class=" content-width-small pad-left-small">
          <h3 class="white mb-10">
            {% blocktrans %}
              Press Kit
            {% endblocktrans %}
          </h3>
          <p class="white">
            {% blocktrans %}
              Download our press kit for our brand assets, summary, 
              screenshots, and demo videos all in one place.
            {% endblocktrans %}
          </p>
          <a class="arrow white {% click_body 'impact-research' %} "
             href="{% url 'toolkit' 'commcare-evidence-base' %}">
            {% blocktrans %}
              Download
            {% endblocktrans %}
          </a>
        </div>
      </div> {# .content #}
      <div class="phone-image off-grid white-lazy-bg"
        data-lazybg="true">
      </div>
    </div> {# .commcare-text #}
  </section>
</article>
