{% load i18n %}
{% load dimagidotcom %}

<section class="resources accent-gray-bg border-vert"
         id="resources">
  <div class="content pad-vert-medium align-center">

    <div class="grid-2-at-small grid-4-at-large grid-row-equal-heights">
      {% click_body 'resources-about' as click_about %}
      {% include "sections/about/resources/about.html" with click_class=click_about %}
      {% click_body 'resources-awards' as click_awards %}
      {% include "sections/about/resources/awards.html" with click_class=click_awards %}
      {% click_body 'resources-blog' as click_blog %}
      {% include "sections/about/resources/blog.html" with click_class=click_blog %}
      {% click_body 'resources-contact' as click_contact %}
      {% include "sections/about/resources/contact_us.html" with click_class=click_contact %}
    </div>

  </div> {# .content #}
</section>
