.expand {
    min-width: 0 !important;
    width: 100% !important;
    max-width: 100% !important
}

.expand-vertical {
    min-height: 0 !important;
    height: 100% !important;
    max-height: 100% !important
}
