{% extends "sectors/sections/base/two_column.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block section_title %}{% blocktrans %}
  Patients
{% endblocktrans %}{% endblock %}

{% block section_content %}
  <p>
    <strong>{% trans "Problem" %}</strong>:
    {% blocktrans %}
      Patients are lost to follow up; families often
      lack proper knowledge about positive child health practices.
    {% endblocktrans %}
  </p>
  <ul class="check-list gap-bottom-small">
    <li>
      {% blocktrans %}
        <strong>Registration</strong> enables patients to be easily
        tracked across multiple visits, facilitating a <strong>continuum of
        personalized care</strong> according to their specific
        IMCI status (e.g. cough, fever).
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        <strong>Multimedia</strong>-enabled behavior change messaging engages
        families on positive health practices.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Mobile tools increase families’ likelihood to ask clinicians questions,
        due to perception that clinicians <strong>spend more time examining their child</strong>
        than filling out paper forms
        (<a href="http://www.tandfonline.com/doi/abs/10.1080/10810730.2011.649105#.UznDUtzytJ8"
            target="_blank">Mitchell, 2012</a>).
      {% endblocktrans %}
    </li>
  </ul>
{% endblock %}
