{% extends "sectors/sections/base/projects.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block projects %}
  {% include "sectors/sections/child_health/projects/tdh.html" %}
  {% include "sectors/sections/child_health/projects/dtree.html" %}
  {% include "sectors/sections/child_health/projects/malaria_consortium.html" %}
  {% include "sectors/sections/child_health/projects/tula_salud.html" %}
  {% include "sectors/sections/child_health/projects/world_vision.html" %}
  {% include "sectors/sections/child_health/projects/unicef.html" %}
{% endblock %}
