.purple-theme ul.check-list>li:before {
  color: #8033cc
}

.blue-theme ul.check-list>li:before {
  color: #2996cc
}

.indigo-theme ul.check-list>li:before {
  color: #5472cc
}

.teal-theme ul.check-list>li:before {
  color: #1cbda2
}

.green-theme ul.check-list>li:before {
  color: #24b524
}
