.purple-theme ol.circle-list>li:before {
    color: #8033cc
}

.blue-theme ol.circle-list>li:before {
    color: #2996cc
}

.indigo-theme ol.circle-list>li:before {
    color: #5472cc
}

.teal-theme ol.circle-list>li:before {
    color: #1cbda2
}
