{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-large">
  <div class="content content-width-medium">

    <p>
      {% blocktrans %}
        A few things to keep in mind when planning your sessions:
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
        Choose the right way to train
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Effective adult learning involves specific techniques.
        Experiential learning, an understanding of a topic’s importance,
        and freedom to learn in their own way are
        <a href="https://generalassemb.ly/blog/principles-teaching-adults/"
           target="_blank">a few tactics</a> that are
        helpful during mobile data collection app training. Keep in mind
        your participants' backgrounds while choosing which of these
        techniques is the best fit.
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
        Deliver the training
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        We cannot stress enough the importance of the connection
        between trainer and trainee. Our trainings have been most
        successful when participants have been able to interact with the
        trainer without inhibition.
        <a href="https://confluence.dimagi.com/display/commcarepublic/Icebreaker%2C+Energizer+and+Recap+Activities"
           target="_blank">These are some of the tricks</a> that have
        helped us in the past in building that connection. (Fun trick:
        Many of our trainees bring candy to sweeten the sessions.)
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
        Reinforcement
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Post-training reinforcement helps a great deal in retention
        of newly-learned skills and knowledge by filling any gaps
        that remained from the initial training. Two ways in which
        we reinforce our training are:
      {% endblocktrans %}
    </p>

    <div class="grid grid-2-at-small pad-vert-small align-center">

      <div class="item">
        <div class="theme-icon gap-bottom-line epic-icon">
          {% include "svg/pillar/mdc/chapter7/icon1.html" %}
        </div>
        <h5>
          {% blocktrans %}
            Repetition
          {% endblocktrans %}
        </h5>
        <p class="pad-bottom-line">
          {% blocktrans %}
            We conduct refresher trainings at regular intervals.
          {% endblocktrans %}
        </p>
      </div>{# .item #}

      <div class="item">
        <div class="theme-icon gap-bottom-line epic-icon">
          {% include "svg/pillar/mdc/chapter7/icon2.html" %}
        </div>
        <h5>
          {% blocktrans %}
            Applicability
          {% endblocktrans %}
        </h5>
        <p>
          {% blocktrans %}
            We develop support mechanisms to guide workers
            as they use the application in real time.
          {% endblocktrans %}
        </p>
      </div>{# .item #}

    </div>{# .grid #}

    <p>
      {% blocktrans %}
        Considering the nature of development projects, implementing
        a data collection tool is not an easy task. It not only requires
        a functioning technology platform but a reliable operations team,
        as well. Implementation involves elements of design (during app
        building and testing), logistics management (with device
        management), and behavior change (through training and constant
        support) that an application alone cannot change.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-top-small pad-bottom-medium">
      <a href="https://dimagi.com/blog/mobile-data-collection-app-deploy"
         target="_blank"
         class="button">
        {% blocktrans %}
          Find out more about how to implement your program
          &amp; train your team
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
