{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="testing-your-app">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Testing Your Mobile Data Collection App
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        For many users, a mobile data collection program will
        be their first interaction with mobile technology.
        You want this introduction to be a positive one.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        The first step to ensuring a smooth launch is to make sure
        your application is
        <a href="https://dimagi.com/blog/mobile-data-collection-design-and-test"
           target="_blank">finalized and fully tested</a> at least a
        week before training begins. Spend sufficient time making
        sure there are no surprises for users when they start using
        the application. They should not go into the field working
        on a different app from the one they were trained on.
      {% endblocktrans %}
    </p>

  </div>
</section>
