{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-medium"
         id="testing-your-app">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
         Support system
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        The importance of a good support system to sustaining a mobile data collection program cannot be overstated. 
        Ensuring that responsive channels exist for users to flag issues they might face – related to the application, device, or data – is important 
        to build trust in the system.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        A user manual is a good place to start for troubleshooting, but make sure your users are aware of and encouraged to use all of the support
        channels available to them. As your program grows, you’ll need new resources like help desks or a central call center. 
        And whatever the support channels you offer, make sure you track any and all of the issues raised. Delays in communication or repeated 
        failure to resolve their problems will cause users to lose trust in the program.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        If you want your workers to use your platform, you need to make sure they know how to address the questions that come up.
        A well-executed and diverse support system should ensure your team is supported and always performing at its best.
      {% endblocktrans %}
    </p>

    <div class="supervisors-image white-lazy-bg gap-vert-small"
         data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
        A paper training manual can be a useful tool on programs trying out mobile data collection for the first time.
      {% endblocktrans %}
    </p>

  </div>
</section>
