{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-medium"
         id="training-your-team">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Training Your Team
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Training is the most important part of implementing a data
        collection tool. This is where workers get to know how their
        work will change, what new skills and behaviors they need
        to develop, and which old approaches will no longer
        be helpful.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        This is also where they are introduced to the data collection tool.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        How soon your workers will become comfortable with the mobile
        data collection tool will first depend on how comfortable
        they are with mobile devices in general. Their digital
        literacy is dependent on a number of factors, but it is
        important to customize your training sessions to your participants.
      {% endblocktrans %}
    </p>

  </div>
</section>
