{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        You can’t assume your work is done after the last training session.To 
        ensure all the effort you put into the implementation of the program 
        pays off, you must set up a system to support your users. They should 
        have proper resources and supervision, incentives to continue their 
        usage, and, if they have thoughts or suggestions about the program, 
        opportunities to be heard.
      {% endblocktrans %}
    </p>

  </div>
</section>
