{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  About Dimagi | Digital Solutions for Frontline Impact
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Dimagi builds and scales digital solutions that amplify
  Frontline Workers and programs. It's flagship product,
  CommCare, supports leading organizations with mobile
  data collection and service delivery.
{% endblocktrans %}{% endblock %}

{% block body_class %}about-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/about.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
 <div id="top"></div>
  <section class="hero hero-about orange-theme"
           data-lazybg="true"
           id="hero">
    <div class="content align-left-at-medium align-center">
      <h2 class="gap-bottom-base gap-top-medium">
        {% blocktrans %}
          About Dimagi
        {% endblocktrans %}
      </h2>

      <h1 class="content-width-medium">
        {% blocktrans %}
          Digital solutions for frontline impact
        {% endblocktrans %}
      </h1>

      <div class="headline">
        {% blocktrans %}
          Dimagi is a certified Benefit Corporation and leading 
          social enterprise helping<br class="hide-until-medium" />
          organizations maximize the impact of their frontline workforces.
        {% endblocktrans %}
      </div>{# .headline #}

      <p class="pad-top-medium">
        <a href="#about-us-contact-form"
           class="button {% click_hero 'demo' %}">
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </a>
      </p>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="about-container orange-theme">
    {% include "sections/about/sub_nav.html" %}
    {% include "sections/about/mission.html" %}
    {% include "sections/about/story.html" %}
    {% include "sections/about/impact.html" %}
    {% include "sections/about/team.html" %}
    {% include "sections/about/resources.html" %}
  </section>
{% endblock %}

{% block modals %}
  <div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="about-us-contact-form">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none orange-theme">
          <h3>Contact Us</h3>
          <section id="about-us-contact-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "160467c5-1ae9-401c-81f2-09334ce10b1a",
      target: "#about-us-contact-form-content",
      css: ""
    });
  </script>
{% endblock %}
