{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Digital Healthcare Case Management | Dimagi
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Discover Dimagi's healthcare case management capability for offline case management. 
  Streamline workflows and improve efficiency.
{% endblocktrans %}{% endblock %}

{% block body_class %}case-management-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/case_management.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero hero-case-management"
         data-lazybg="true"
         id="hero">
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
    <div class="copy expand position-relative">

      <h2 class="pad-bottom-line">
        {% include "svg/commcare/logo.html" %}
      </h2>
      <h1 class="content-width-medium">
        {% blocktrans %}
          Go Beyond One-off Survey Forms
        {% endblocktrans %}
      </h1>

      <div class="headline content-width-medium">
        {% blocktrans %}
          Learn how CommCare's case management features improve your data,<br class="hide-until-medium" />
          boost team efficiency, and drive greater impact.
        {% endblocktrans %}
      </div>{# .headline #}

      <p class="align-center pad-top-small">
        <a href="#request-demo"
           class="button inverse alt {% click_hero 'demo' %}">
          {% blocktrans %}
            Request Demo
          {% endblocktrans %}
        </a>
      </p>

    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="case-management-container">
    {% include 'sections/case_management/sub_nav.html' %}
    {% include 'sections/case_management/overview.html' %}
    {% include 'sections/case_management/actionable_data.html' %}
    {% include 'sections/case_management/efficient_teams.html' %}
    {% include 'sections/case_management/greater_impact.html' %}
    {% include 'sections/case_management/longitudinal_data_table.html' %}
    {% include 'sections/case_management/request_demo.html' %}
  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "9137f267-1d7a-46e7-b522-f234e6103f83",
      target: "#hubspot-request-demo-form",
      css: "",
    });
  </script>
{% endblock %}
