{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}contact-page tucked-hero{% endblock %}

{% block title %}{% blocktrans %}
  Contact Dimagi
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Questions about Dimagi or CommCare? We're here to help!
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/contact.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <div class="neutral-theme">
    <section class="hero hero-contact"
             data-lazybg="true"
             id="hero">
      <div class="content align-left-at-medium align-center">
        <h2 class="gap-vert-line-at-medium gap-top-large">
          {% blocktrans %}
            Questions about Dimagi or CommCare?<br />
            We're here to help!
          {% endblocktrans %}
        </h2>
        <h1>
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </h1>

        <div class="cta gap-vert-line">
          <a class="button button-accent-gray"
             href="#contact-form-modal">
            {% blocktrans %}
              Get in Touch
            {% endblocktrans %}
          </a>
        </div>{# .home-cta #}
      </div> {# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="contact-container">
    <div class="orange-theme">
      {% include 'sections/contact/sub_nav.html' %}
    </div>
    <div class="neutral-theme">
      {% include 'sections/contact/directory.html' %}
      {% include 'sections/contact/offices.html' %}
    </div>
  </section>
{% endblock %}
