{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}home-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/home.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero hero-home"
         data-lazybg="true"
         id="hero">
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-line flex-align-center pad-bottom-base pad-top-base">
    <div class="header-text copy expand position-relative pad-top-base pad-bottom-base">

      <h1 class="pad-top-line gray-lightest">
        {% blocktrans %}
          At the forefront of digital frontline solutions
        {% endblocktrans %}
      </h1>

      <div class="headline content-width-small pad-bottom-small pad-top-base gray-lightest">
        {% blocktrans %}
          You know the challenges of frontline work. 
          We know the digital tools that can help you solve them. 
        {% endblocktrans %}
      </div>{# .headline #}

      <div class="content-width-large align-center pad-top-base ">
        <a class="button inverted alt gap-right-small gap-left-small"
          href="{% url 'about' %}">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
        <a class="button white-bg black " href="#contact-form-modal">
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </a>
      </div>
    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="homepage-container">
    {% include "sections/home/partners.html" %}
    {% include "sections/home/video.html" %}
    {% include "sections/home/global_services.html" %}
    {% include "sections/home/sure_adhere.html" %}
    {% include "sections/home/focus_mdm.html" %}
    {% include "sections/home/impact.html" %}
    {% include "sections/home/contact.html" %}
  </section>
{% endblock %}

{% block contact_form_id %}160467c5-1ae9-401c-81f2-09334ce10b1a{% endblock %}
