{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}home-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/home.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block meta %}
  <meta property="wistia:videoId" content="9uvnpbecdy" />
  <meta property="wistia:videoTrigger" content="demo-video" />
{% endblock %}

{% block hero %}
<section class="hero hero-home"
         data-lazybg="true"
         id="hero">
  <div class="hero-video">
    <script src="https://fast.wistia.com/embed/medias/nfnuo0iocx.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_nfnuo0iocx videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-line flex-align-center">
    <div class="copy expand position-relative">

      <h1>
        {% blocktrans %}
          Technology for Social Impact
        {% endblocktrans %}
      </h1>

      <div class="headline content-width-small">
        {% blocktrans %}
          Dimagi is on a mission to build technology that improves
          the efficiency and quality of impact-driven work globally.
        {% endblocktrans %}
      </div>{# .headline #}

      <div class="cta gap-vert-line">
        <a class="button inverted alt gap-right-small-at-medium gap-right-base-at-small {% click_hero 'contact' %}"
           href="#contact-form-modal">
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </a>
        {% click_hero 'demo' as click_class %}
        {% include "partials/schedule_demo_button.html" with click_class=click_class button_class="button button-accent-gray" %}
      </div>{# .home-cta #}

    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="homepage-container">
    {% include "sections/home/partners.html" %}
    {% include "sections/home/video.html" %}
    {% include "sections/home/build.html" %}
    {% include "sections/home/case_management.html" %}
    {% include "sections/home/workforce.html" %}
    {% include "sections/home/data.html" %}
    {% include "sections/home/awards.html" %}
    {% include "sections/home/trial.html" %}
  </section>
{% endblock %}
