{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}careers-page tucked-hero{% endblock %}

{% block title %}
  {{ job.title }} - {{ job.departments|JOIN:", " }} - {% trans "Careers at Dimagi" %}
{% endblock %}

{% block description %}{{ job.locations|JOIN:", " }}: {% blocktrans %}
  We’re seeking impact-driven problem solvers that are curious, care deeply,
  value quality and hustle.
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/careers.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block js %}
  <script src="https://boards.greenhouse.io/embed/job_board/js?for=dimagi"></script>
  <script type="text/javascript">
    Grnhse.Iframe.load({{ job.id }}, 'dimagidotcom');
  </script>
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero hero-careers"
           id="hero">
    <div class="content align-left-at-medium align-center">
      <h2 class="gap-top-line gap-bottom-base">
        {{ job.departments|JOIN:", " }}<br />
        {{ job.locations|JOIN:", " }}
      </h2>
      <h1>
        {{ job.title }}
      </h1>
      <a class="button alt inverted"
         href="#application">
        {% blocktrans %}
          Apply Now
        {% endblocktrans %}
      </a>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="careers-container orange-theme">
    {% include "sections/job/sub_nav.html" %}
    {% include "sections/job/description.html" %}
    {% include "sections/job/application.html" %}
  </section>
{% endblock %}
