{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}press-page tucked-hero{% endblock %}

{% block title %}{% blocktrans %}
  Dimagi in the News
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Read for a list of articles featuring work done by Dimagi.
  For press or awards inquiries, please email info@dimagi.com.
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/press.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-press"
             data-lazybg="true"
             id="hero">
      <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
        <div class="copy expand position-relative">

          <h1>
            {% blocktrans %}
              Dimagi in the News
            {% endblocktrans %}
          </h1>

          <div class="headline content-width-small">
            {% blocktrans %}
              For press or awards inquiries, please email info@dimagi.com.
            {% endblocktrans %}
          </div>{# .headline #}

        </div>{# .copy #}
      </div>{# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="press-container orange-theme">
    {% include 'sections/press/as_seen.html' %}
    {% include 'sections/press/list.html' %}
    {% include 'sections/press/resources.html' %}
  </section>
{% endblock %}
