{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}press-page tucked-hero{% endblock %}

{% block title %}{% blocktrans %}
  Pressroom
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Read for a list of articles featuring work done by Dimagi.
  For press or awards inquiries, please email info@dimagi.com.
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/blog.scss' %}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{% sass_src 'style/pages/press.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="blue-theme">
    <section class="hero hero-press"
             data-lazybg="true"
             id="hero">
      <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
        <div class="copy expand position-relative">

          <h1>
            {% blocktrans %}
              Pressroom
            {% endblocktrans %}
          </h1>

          <div class="headline content-width-small">
            {% blocktrans %}
              Working on a story about CommCare or Dimagi?
            {% endblocktrans %}
          </div>{# .headline #}

          <p class="align-center pad-top-small">
            <a class="button button-accent-gray {% click_hero 'contact' %}"
               href="#contact-form-modal">
              {% blocktrans %}
                Contact Us
              {% endblocktrans %}
            </a>
          </p>

        </div>{# .copy #}
      </div>{# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="press-container blue-theme">
    {% include "sections/press/sub_nav.html" %}
    {% include 'sections/press/overview.html' %}
    {% include 'sections/press/faq.html' %}
    {% include 'sections/press/brand_assets.html' %}
    {% include 'sections/press/press_kit.html' %}
    {% include 'sections/press/news.html' %}
    {% include 'sections/press/resources.html' %}
  </section>
{% endblock %}

{% block contact_form_id %}4da1d526-cf7d-4196-8d37-03e7de84e2b6{% endblock %}
