{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}press-page tucked-hero{% endblock %}

{% block title %}{% blocktrans %}
  Careers at Dimagi
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Read for a list of articles featuring work done by Dimagi.
  For press or awards inquiries, please email info@dimagi.com.
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/recruitmentfaqs.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="primary-theme">
    <section class="hero hero-recruitmentfaqs"
             data-lazybg="true"
             id="hero">
      <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
        <div class="copy expand position-relative">

          <h1>
            {% blocktrans %}
              Careers at Dimagi
            {% endblocktrans %}
          </h1>

          <div class="headline content-width-small">
            {% blocktrans %}
              Frequently asked questions about our recruitment process
            {% endblocktrans %}
          </div>{# .headline #}

          <p class="align-center pad-top-small">
            <a class="button button-accent-gray {% click_hero 'view-positions' %}"
              href="https://dimagi.com/careers/#open-positions">
              {% blocktrans %}
                View Open Positions
              {% endblocktrans %}
            </a>
          </p>

        </div>{# .copy #}
      </div>{# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="press-container primary-theme">
    {% include "sections/recruitmentfaqs/sub_nav.html" %}
    {% include 'sections/recruitmentfaqs/overview.html' %}
    {% include 'sections/recruitmentfaqs/application_process.html' %}
    {% include 'sections/recruitmentfaqs/interview_process.html' %}
    {% include 'sections/recruitmentfaqs/compensation.html' %}
    {% include 'sections/recruitmentfaqs/careers_cta.html' %}
  </section>
{% endblock %}

{% block contact_form_id %}4da1d526-cf7d-4196-8d37-03e7de84e2b6{% endblock %}
