{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}
{% load capture_tags %}

{% block title %}{% blocktrans %}
  Dimagi Research
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  The Research and Data Team
{% endblocktrans %}{% endblock %}

{% block body_class %}research-and-data-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/research_and_data.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<div class="orange-theme">
  <section class="hero hero-blog" id="hero"></section>
</div>
{% endblock %}

{% block content %}
  {% include "sections/research_and_data/intro.html" %}
  {% include "sections/research_and_data/team.html" %}
  {% include "sections/research_and_data/pdf.html" %}
  {% include "sections/research_and_data/learn_research.html" %}
{% endblock %}

{% block contact_form_id %}6b63893b-9937-46b7-be2f-f2bf11c5fac7{% endblock %}
