{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}services-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/services.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div id="top"></div>
  <section class="hero hero-services"
           id="hero">
    <div class="content align-left-at-medium align-center gap-top-large gap-top-small-at-medium gap-top-line-at-large">
      <h2 class="gap-vert-line">
        {% blocktrans %}
          Dimagi Global Services
        {% endblocktrans %}
      </h2>
      <h1>
        {% blocktrans %}
          An Experienced Team to Help You Maximize Your Impact
        {% endblocktrans %}
      </h1>
      <a class="button alt inverted"
         href="#global-services-form">
        {% blocktrans %}
          Contact Us
        {% endblocktrans %}
      </a>
    </div> {# .content #}
  </section>
{% endblock %}

{% block content %}
  <section class="services-container turquoise-theme">
    {% include "sections/services/sub_nav.html" %}
    {% include "sections/services/brief_overview.html" %}
    {% include "sections/services/overview.html" %}
    {% include "sections/services/packages.html" %}
    {% include "sections/services/advisory.html" %}
    {% include "sections/services/testimonials.html" %}
    {% include "sections/services/learn_more.html" %}
  </section>
{% endblock %}

{% block modals %}
  <div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="global-services-form">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium pad-vert-none turquoise-theme">
          <h3>
            {% blocktrans %}
              Contact Our Global Services Team
            {% endblocktrans %}
          </h3>
          <section id="global-services-form-content"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "4ea47909-e62e-4d34-8d75-47e08fb9711b",
      target: "#global-services-form-content",
      css: ""
    });
  </script>
{% endblock %}
