{% extends 'sections/sectors/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Cooperative Farming
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Cooperative farming holds the most potential for rural farmers to lift
      themselves out of poverty through their collective expertise and combined efficiencies,
      and can result in unprecedented income for many farmers.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      However, by obtaining usual fair market prices for their goods and discounts on inputs,
      cooperatives become exponentially more complex to manage as they scale and
      the administrative burden of large memberships creates an artificial limitation to their size.
      Dimagi’s management applications help cooperatives reduce the management burden in order to
      allowing them to dramatically increase their memberships, without increasing complexity.
    {% endblocktrans %}
  </p>
{% endblock %}
