{% extends 'sections/sectors/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for HIV/AIDS
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      The number of patients initiating antiretroviral treatment (ART) in
      resource-limited settings continues to increase, leading to
      concerns that conventional health systems will become increasingly
      overloaded. Community adherence groups have been suggested as one
      of these new strategies to extend delivery of services and
      retention in care. However, a major challenge for HIV/AIDS
      programs is ensuring timely and consistent linkage and retention
      of high-risk populations and patients to testing, treatment and care.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Dimagi has significant experience working on HIV/AIDS projects in
      numerous countries and contexts. CommCare has been used to identify
      and track HIV-positive patients, provide behavior change counseling
      messages, send SMS reminders for antiretroviral therapy (ART),
      and improve HIV-related follow up adherence.
    {% endblocktrans %}
  </p>
{% endblock %}
