{% extends 'sections/sectors/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Humanitarian Response Coordination Efforts
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Humanitarian response organizations (HROs) reduce the harmful
      impacts of crises on affected populations, often requiring
      mobilization within days of a disaster striking. Typically,
      a core group of international responders join a larger number
      of local responders to quickly mobilize humanitarian action
      for those most vulnerable in the aftermath of crisis.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Rapid advances in mobile technology and expanding network
      coverage provide a solid platform for the development of
      mobile applications to quickly organize and share data during
      humanitarian crises. Mobile applications like CommCare for
      humanitarian response (mHRs) improve the efficacy of relief
      efforts by decreasing data entry and transfer time, in addition
      to facilitating information between and among relief organizations,
      frontline workers, and Ministries of Health. Additionally,
      beneficiaries can participate in relief efforts more meaningfully
      by sharing their input while directly receiving accurate information,
      resulting in a more integrative response.
    {% endblocktrans %}
  </p>
{% endblock %}
