{% load dimagidotcom %}
{% load i18n %}


<h5>
  {% blocktrans %}
    What is the Maturity Model?
  {% endblocktrans %}
</h5>

<p>
  {% blocktrans %}
    Built from experience on 500+ mobile projects, Dimagi’s Maturity Model
    is a tool that helps organizations learn how to develop and grow their
    mobile systems, from the pilot phase through scale.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    Download and complete the maturity assessment to see where your
    organization falls across current and targeted maturity stages. Based on
    our results, the Maturity Model will identify specific activities that
    can help you build, grow, and scale your mobile system.
  {% endblocktrans %}
</p>

<h5>
  {% blocktrans %}
    Reasons to Use the Maturity Model:
  {% endblocktrans %}
</h5>

<ul class="check-list">
  <li class="gap-bottom-none">
    {% blocktrans %}
      Learn how to effectively use mobile tools to improve your program
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Establish a long-term vision and goals for your mobile system
    {% endblocktrans %}
  </li>
  <li class="gap-bottom-none">
    {% blocktrans %}
      Identify program gaps to improve upon existing processes and
      enhance staff capacity
    {% endblocktrans %}
  </li>
</ul>

<h5>
  {% blocktrans %}
    How to Get Started:
  {% endblocktrans %}
</h5>

<p>
  {% url 'contact' as contact_url %}
  {% blocktrans %}
    Get started by downloading the Maturity Model. If you'd
    rather connect with someone at Dimagi first or have questions
    about the Maturity Model, please
    <a href="{{ contact_url }}">get in touch</a> with us.
  {% endblocktrans %}
</p>
