{% load i18n %}
{% load dimagidotcom %}

<section  data-lazybg="true">
  <div id="benefits">
    <div class="content pad-top-medium pad-bottom-small">
      <h2 class="align-center">
        {% blocktrans %}
          Benefits of Mobile Data Collection in
          <br class="hide-until-medium">
          Agricultural Cooperative Programs
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
  </div>
  <div class="content pad-bottom-medium">
    <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
      <div class="column pad-top-small">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/agricultural-cooperatives/complex_calculations.html" %}
            </div> {# .theme-icon #}
          </div> {# .column .no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Complex calculations and data tracking help cooperatives with 
                data-driven financial planning
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/agricultural-cooperatives/offline_capes.html" %}
            </div> {# .theme-icon #}
          </div> {# .column. no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Offline capabilities allow the application to be used in 
                even the most rural, underserved communities.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/agricultural-cooperatives/mobile_workflows.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Mobile workflows can virtually consolidate bulk selling and 
                out-grower schemes to move cooperatives higher up the value 
                chain, improving margins.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/agricultural-cooperatives/multimedia.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Multimedia capabilities allow for the distribution of best 
                practices amongst cooperative members for improved and 
                more consistent training.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/agricultural-cooperatives/case_management.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Case management capabilities allow cooperative administrators 
                to keep track of individual farmer needs and outputs.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
    </div>
  </div>
</section>
