{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-base"
         id="build-your-outline-and-fill">
  <div class="content">

    <h2>
      {% blocktrans %}
         Build your outline and fill it in
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
         Now it’s time to build! With the overall structure and workflow that you designed and validated in the design phase, start
         integrating the more detailed content and logic into your forms.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        What are the <a href="https://dimagi.com/blog/mobile-data-collection-11-ways-to-avoid-bias/" target="_blank"><u>unbiased</u></a> questions you wrote when you designed your surveys? Add them in! Are there any documents, videos,
        or messages your app will need to share at certain times? Put those in, too!
      {% endblocktrans %}
    </p>

    <p>
    {% blocktrans %}
       Most versioning plans will start with a prototype for some initial testing. You can build your prototype in the data collection
       platform you plan to use or in a tool like <a href="https://moqups.com/" target="_blank"><u>Moqups</u></a> , which allows you to build interactive mockups that look and feel like a real,
       functioning app.
    {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
         Once your prototype is designed, validate it with your end users: Does your design actually address the workflow challenges
         you identified during scoping? Did you understand the participant registration process correctly, or does your design have gaps?
      {% endblocktrans %}
    </p>

    <p class="align-left pad-top-small pad-bottom-small">
      <a href="https://dimagi.com/blog/mobile-data-collection-app-build/"
         target="_blank"
         class="button">
        {% blocktrans %}
           Learn more about how to build your app
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
