{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="chapter-3-summary">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        With the number of features mobile data collection platforms
        out, it is often difficult to discern what you actually need and
        what your team can live without. So how can you break through
        the noise to focus on what you need?
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        The key to selecting a platform that serves your needs precisely
        is understanding your data requirements. A clear understanding
        of your data requirements will help you narrow your focus and
        identify the right mobile data collection platform for your
        project.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        The first step in this process is to make a list of what you
        data you know you need. Sometimes, you will have existing
        documents to give you a head start, such as results frameworks,
        M&E frameworks, or requests from supervisors and funders.
        Other times, you will need to start from scratch. In either
        case you should outline an initial list of data requirements,
        and then stress test that list to identify other factors.
        There are a number of questions you can ask that will help
        expand the list and describe each variable in more depth.
      {% endblocktrans %}
    </p>

  </div>
</section>
