{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-base">
  <div class="content">

    <p>
      {% blocktrans %}
        Once you understand the structure of your app, it's time to begin the building phase. 
        This includes a clear understanding of how you will approach development, an outline of what functionality each version of app will incorporate, 
        and some key features of mobile data collection tools you'll want to include.
      {% endblocktrans %}
    </p>
    

  </div>
</section>
