{% load i18n %}
{% load dimagidotcom %}

<section class="key-features border-top pad-bottom-small accent-gray-bg"
         id="key_features">
  <div class="content-width-large">
    <div class="pad-top-medium pad-bottom-small">
      <div class="intro">
        <h4 class="blue">
          {% blocktrans %}
            CommCare Supports Core COVID-19 Response Efforts
          {% endblocktrans %}
        </h4>
      </div>{# .intro #}
    </div>
    <div class="grid-1-at-small grid-2-at-large grid-row-space-small grid-row-equal-heights grid-col-space-line">
      {% include "sections/us_covid_19/response_efforts/screening.html" %}
      {% include "sections/us_covid_19/response_efforts/tracing.html" %}
    </div>{# .grid-2-at-small #}
    <p class="align-center">
      <a class="button uppercase"
         href="https://confluence.dimagi.com/display/commcarepublic/U.S.+COVID-19+Local+Response+System"
         target="_blank">
        {% blocktrans %}
          Learn More
        {% endblocktrans %}
      </a>
    </p>
  </div>
</section>
