#page-intro .hero-data-image {
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/intro/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 190px;
  transition: .5s background ease-in-out;
  position: relative; }

#page-intro .hero-data-image .bg-loader {
  background-image: url("../../../pages/sectors/disease-treatment/intro/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #page-intro .hero-data-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/intro/hero.small.jpg");
    height: 280px; }
  #page-intro .hero-data-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/intro/hero.small.jpg"); } }

@media (min-width: 718px) {
  #page-intro .hero-data-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/intro/hero.medium.jpg");
    height: 280px; }
  #page-intro .hero-data-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/intro/hero.medium.jpg"); } }

@media (min-width: 1024px) {
  #page-intro .hero-data-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/intro/hero.large.jpg");
    height: 280px; }
  #page-intro .hero-data-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/intro/hero.large.jpg"); } }

@media (min-width: 1292px) {
  #page-intro .hero-data-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/intro/hero.extra-large.jpg");
    height: 320px; }
  #page-intro .hero-data-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/intro/hero.extra-large.jpg"); } }

.news-images .image.blog1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/news/blog1.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .news-images .image.blog1.loaded,
  .news-images .image.blog1 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/news/blog1.jpg"); }

.news-images .image.blog2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/news/blog2.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .news-images .image.blog2.loaded,
  .news-images .image.blog2 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/news/blog2.jpg"); }

.news-images .image.blog3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/news/blog3.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .news-images .image.blog3.loaded,
  .news-images .image.blog3 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/news/blog3.jpg"); }

.programs-images .image.featured-project1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/programs/featured-project1.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .programs-images .image.featured-project1.loaded,
  .programs-images .image.featured-project1 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/programs/featured-project1.jpg"); }

.programs-images .image.featured-project2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/programs/featured-project2.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .programs-images .image.featured-project2.loaded,
  .programs-images .image.featured-project2 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/programs/featured-project2.jpg"); }

.programs-images .image.featured-project3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/programs/featured-project3.jpg");
  transition: .5s background ease-in-out;
  position: relative;
  height: 200px;
  background-size: contain;
  background-position: left; }
  .programs-images .image.featured-project3.loaded,
  .programs-images .image.featured-project3 .bg-preload {
    background-image: url("../../../pages/sectors/disease-treatment/programs/featured-project3.jpg"); }

.programs-images .image.featured-project1,
.programs-images .image.featured-project2,
.programs-images .image.featured-project3 {
  background-position: initial; }

.modal-popup {
  width: 309px !important; }

.part3 .epic-cover {
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 550px;
  transition: .5s background ease-in-out;
  position: relative; }

.part3 .epic-cover .bg-loader {
  background-image: url("../../../pages/sectors/disease-treatment/part3/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  .part3 .epic-cover {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/hero.small.jpg");
    height: 620px; }
  .part3 .epic-cover .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/hero.small.jpg"); } }

@media (min-width: 718px) {
  .part3 .epic-cover {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/hero.medium.jpg");
    height: 385px; }
  .part3 .epic-cover .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/hero.medium.jpg"); } }

@media (min-width: 1024px) {
  .part3 .epic-cover {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/hero.large.jpg");
    height: 360px; }
  .part3 .epic-cover .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/hero.large.jpg"); } }

@media (min-width: 1292px) {
  .part3 .epic-cover {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/hero.extra-large.jpg");
    height: 360px; }
  .part3 .epic-cover .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/hero.extra-large.jpg"); } }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.commcare-text .phone-image {
  background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 290px;
  transition: .5s background ease-in-out;
  position: relative; }

.commcare-text .phone-image .bg-loader {
  background-image: url("../../../pages/sectors/disease-treatment/part3/phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  .commcare-text .phone-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/phone.small.png");
    height: 290px; }
  .commcare-text .phone-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/phone.small.png"); } }

@media (min-width: 718px) {
  .commcare-text .phone-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/phone.medium.png");
    height: 290px; }
  .commcare-text .phone-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/phone.medium.png"); } }

@media (min-width: 1024px) {
  .commcare-text .phone-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/phone.large.png");
    height: 290px; }
  .commcare-text .phone-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/phone.large.png"); } }

@media (min-width: 1292px) {
  .commcare-text .phone-image {
    background-image: url("../../../thumbnails/pages/sectors/disease-treatment/part3/phone.extra-large.png");
    height: 290px; }
  .commcare-text .phone-image .bg-loader {
    background-image: url("../../../pages/sectors/disease-treatment/part3/phone.extra-large.png"); } }

@media (min-width: 718px) {
  .commcare-text .off-grid {
    top: 10%;
    left: 0;
    position: absolute;
    background-size: auto 0%;
    background-position: center;
    background-repeat: no-repeat;
    right: auto;
    width: 120%;
    z-index: 1; }
  .commcare-text .content {
    position: relative;
    z-index: 2; } }

.commcare-text .phone-image {
  background-size: auto 0%; }

.part3 .image .bg-loader {
  background-color: transparent; }

.mb-10 {
  margin-bottom: 10px; }

.read-more:hover,
.read-more:focus {
  color: #004ebc !important; }
