@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

#ag-intro {
  $_base-height: 190px;
  $_height-by-size: (
    small: 280px,
    medium: 280px,
    large: 280px,
    extra-large: 320px,
	);
	@include make-bg(hero-data-image, '../../../pages/sectors/maternal-and-newborn-health/intro/hero', $_base-height, $_height-by-size);
}

.part3 {
  $_base-height: 600px;
    $_height-by-size: (
      small: 620px,
      medium: 385px,
      large: 360px,
      extra-large: 360px,
      );
	@include make-bg(epic-cover, '../../../pages/sectors/maternal-and-newborn-health/part3/hero', $_base-height, $_height-by-size);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.commcare-text {
    $_base-height: 290px;
    $_height-by-size: (
      small: 290px,
      medium: 290px,
      large: 290px,
      extra-large: 290px,
    );
    @include make-bg(phone-image, '../../../pages/sectors/maternal-and-newborn-health/news/Phone', $_base-height, $_height-by-size, '.png');
  
    @media (min-width: $width-desktop) {
      .off-grid {
        top: 10%;
        left: 0;
        position: absolute;
        right: auto;
        width: 120%;
        z-index: 1;
      }
  
      .content {
        position: relative;
        z-index: 2;
      }
    }

  }

  .ac-part3 .phone-image .bg-loader{
    background-color: transparent;
}
.news .image.testimonial1{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/news/mdc-health-fico.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news .image.testimonial2{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/news/mdc-health-lp.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news .image.testimonial3{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/news/mdc-health-care.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.programs .image.testimonial1{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/part2/mdc-health-crs.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.programs .image.testimonial2{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/part2/mdc-healtn-kenya.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.programs .image.testimonial3{
  @include background-cover('../../../pages/sectors/maternal-and-newborn-health/part2/mdc-health-pathfinder.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.programs .image.crs{
  height: 275px;
}

.link-gray:hover,.link-gray:focus{
  color: #004ebc!important;
}