@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

#programmatic-research-intro {
  $_base-height: 190px;
  $_height-by-size: (
    small: 280px,
    medium: 280px,
    large: 280px,
    extra-large: 320px,
  );
  @include make-bg(hero-data-image, '../../../pages/sectors/programmatic-research/intro/hero', $_base-height, $_height-by-size);
}

.part3 {
  $_base-height: 600px;
  $_height-by-size: (
    small: 620px,
    medium: 385px,
    large: 360px,
    extra-large: 360px,
  );
  @include make-bg(epic-cover, '../../../pages/sectors/programmatic-research/commcare/hero', $_base-height, $_height-by-size);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.commcare-text {
  $_base-height: 290px;
  $_height-by-size: (
    small: 290px,
    medium: 290px,
    large: 290px,
    extra-large: 290px,
  );
  @include make-bg(phone-image, '../../../pages/sectors/maternal-and-newborn-health/news/phone', $_base-height, $_height-by-size, '.png');

  @media (min-width: $width-desktop) {
    .off-grid {
      top: 10%;
      left: 0;
      position: absolute;
      right: auto;
      width: 120%;
      z-index: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 0%;
    }

    .content {
      position: relative;
      z-index: 2;
    }
  }
}

.commcare-text .phone-image{
  background-size: auto 0%;
}

.ac-part3 .phone-image .bg-loader{
  background-color: transparent;
}

.news .image.testimonial1{
  @include background-cover('../../../pages/sectors/programmatic-research/news/research_blog_one.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news .image.testimonial2{
  @include background-cover('../../../pages/sectors/programmatic-research/news/research_blog_two.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.news .image.testimonial3{
  @include background-cover('../../../pages/sectors/programmatic-research/news/research_blog_three.jpg');
  height: 200px;
  background-size: contain;
  background-position: left;
}

.programs .image.testimonial1{
  @include background-cover('../../../pages/sectors/programmatic-research/programs/research_project_one.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial2{
  @include background-cover('../../../pages/sectors/programmatic-research/programs/research_project_two.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial3{
  @include background-cover('../../../pages/sectors/programmatic-research/programs/research_project_three.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial1,
.programs .image.testimonial2,
.programs .image.testimonial3 {
 background-position: initial;
}

.programs .image.crs{
  width: 309px;
}

.link-gray:hover,
.link-gray:focus {
  color: $color-blue !important;
}
