{% load i18n %}
{% load dimagidotcom %}

<div class="grid-1-at-small grid-2-at-large grid-row-space-base grid-row-equal-heights grid-col-space-line">
  <div class="column">
    <h5 class="turquoise-lightest-bg chw-tasks-card pad-top-medium-at-medium pad-vert-small pad-left-line">
      {% blocktrans %}
        CHW delivers to individuals and families in a designated community
      {% endblocktrans %}
    </h5>
  </div>
  <div class="column turquoise-light-bg chw-tasks-card">
    <ul class="pad-vert-line pad-horz-base">
      <li>
        {% blocktrans %}
          Health education, referral, and follow-up
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Case Management, basic preventive health care and home visitng services
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Information, support and assistance in  accessing in accessing and 
          using local health and social services
        {% endblocktrans %}
      </li>
    </ul>
  </div>
</div>
