  {% load i18n %}
{% load dimagidotcom %}


<section class="overview" id="overview">
  <div class="content pad-vert-medium">

    <h3 class="gap-bottom-small">
      {% blocktrans %}
        Sectors
      {% endblocktrans %}
    </h3>

    <div class="grid-4-at-extra-large grid-3-at-medium grid-2-at-small grid-row-space-small grid-row-equal-heights gap-bottom-small">
      {% for sector in sectors %}
        <div class="column {{ sector.area.theme }} {{ sector.area.css_class }}">
          {% include "sectors/partials/brief.html" with sector=sector %}
        </div>
      {% endfor %}
    </div>{# .grid-4-at-medium #}

  </div>{# .content #}
</section>
