{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Frontline Workforce
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Frontline workers may miss cases of GBV due to social
    stigma or lack of knowledge of how to screen patients.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Applications used in health centers increase adherence to tested,
      standardized protocols that accurately screen for GBV, thereby
      enabling health workers to correctly identify cases of GBV.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Interactive SMS messaging can be used by health workers to help
      convey key messages.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Applications assist frontline workers in referrals by streamlining
      services available to place survivors with most appropriate service.
    {% endblocktrans %}
  </li>
</ul>
