{% load dimagidotcom %}
{% load i18n %}

<section  class="pdf-sub">
  <div class="grid-flex-at-medium accent-gray-bg pad-small gap-top-medium">
    <div class="border-rounded-large image-3 white-lazy-bg hide-until-small" data-lazybg="true"></div>{# .image #}
    <div class="column flex-valign-middle-at-medium align-left-at-medium">
      <div class="pad-left-medium-at-medium align-left">
        <strong class="gap-bottom-base">
          {% blocktrans %}
            Effect of Performance Feedback on Community Health 
            Workers' Motivation and Performance in Madhya Pradesh, 
            India: A Randomized Controlled Trial
          {% endblocktrans %}
        </strong>
        <p class="gap-bottom-none">
          {% blocktrans %}
            2016
          {% endblocktrans %}
        </p>
        <p class="gap-bottom-base">
          {% blocktrans %}
            Kaphle S, Matheke-Fischer M, Lesh N
          {% endblocktrans %}
        </p>
        <a class="button pad-left-line orange-bg"
           href="https://doi.org/10.2196/publichealth.3381"
           target=_blank>
          {% blocktrans %}
            View Publication
          {% endblocktrans %}
        </a>
      </div>{# .copy #}
    </div>{# .column #}

  </div>{# .grid-flex-at-medium #}
</section>
