{% load dimagidotcom %}
{% load i18n %}

<section  class="pdf-sub">
  <div class="grid-flex-at-medium accent-gray-bg pad-small gap-top-medium">
    <div class="border-rounded-large image-6 white-lazy-bg hide-until-small" data-lazybg="true"></div>{# .image #}
    <div class="column flex-valign-middle-at-medium align-left-at-medium">
      <div class="pad-left-medium-at-medium align-left">
        <strong class="gap-bottom-base">
          {% blocktrans %}
            Automated quality control for mobile data collection.
          {% endblocktrans %}
        </strong>
        <p class="gap-bottom-none">
          {% blocktrans %}
            2012
          {% endblocktrans %}
        </p>
        <p class="gap-bottom-base">
          {% blocktrans %}
            Birnbaum B, DeRenzi B, Flaxman AD, and Lesh N.
          {% endblocktrans %}
        </p>
        <a class="button pad-left-line orange-bg"
           href="https://doi.org/10.1145/2160601.2160603"
           target=_blank>
          {% blocktrans %}
            View Publication
          {% endblocktrans %}
        </a>
      </div>{# .copy #}
    </div>{# .column #}

  </div>{# .grid-flex-at-medium #}
</section>
