{% load dimagidotcom %}
{% load i18n %}

<section  class="pdf-sub">
  <div class="grid-flex-at-medium accent-gray-bg pad-small gap-top-medium">
    <div class="border-rounded-large image-7 white-lazy-bg hide-until-small" data-lazybg="true"></div>{# .image #}
    <div class="column flex-valign-middle-at-medium align-left-at-medium">
      <div class="pad-left-medium-at-medium align-left">
        <strong class="gap-bottom-base">
          {% blocktrans %}
            Mobile phone tools for field-based health care workers in low-income countries
          {% endblocktrans %}
        </strong>
        <p class="gap-bottom-none">
          {% blocktrans %}
            2012
          {% endblocktrans %}
        </p>
        <p class="gap-bottom-base">
          {% blocktrans %}
            DeRenzi B, Borriello G, Jackson J, Kumar VS, Parikh TS, Virk P, Lesh N.
          {% endblocktrans %}
        </p>
        <a class="button pad-left-line button-primary"
           href="https://doi.org/10.1002/msj.20256"
           target=_blank>
          {% blocktrans %}
            View Publication
          {% endblocktrans %}
        </a>
      </div>{# .copy #}
    </div>{# .column #}

  </div>{# .grid-flex-at-medium #}
</section>
