{% load i18n %}
{% load dimagidotcom %}

<section id="rad-intro">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="grid grid-2-at-medium grid-1-at-small grid-row-equal-heights">
      <div class="column">
        <div class="pad-bottom-base">
          <h4 class="slate">
            {% blocktrans %}
              DIMAGI RESEARCH
            {% endblocktrans %}
          </h4>
          <h2>
            {% blocktrans %}
              The Research and Data Team
            {% endblocktrans %}
          </h2>
        </div>
        <p>
          {% blocktrans %}
            The Research and Data (RAD) team conducts research on digital solutions 
            that are intended to improve the health and quality of life of individuals 
            living in low-resource, underserved communities. We use a mixed-methods 
            approach to build and evaluate digital tools and data analytics to inform 
            our understanding of how digital tools are used and/or generate useful 
            insights for improving healthcare programs.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Our research aims to advance the field of digital development through 
            rigorous investigation of how current and emerging technologies are 
            used and how they can be improved. Progress in digital development 
            depends not only on validating digital technologies, but on the 
            generation of programmatic insights that can go towards the improvement 
            of digital solutions.
          {% endblocktrans %}
        </p>            
      </div>{# .column #}
      <div class="column" id="rad-intro-img">
        <div class="intro-image">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div>        
      </div> {# .column #}            
    </div>      
  </div>
</section>
