{% load i18n %}
{% load dimagidotcom %}

<section class="management accent-gray-bg border-vert">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2 class="capitalize">
        {% blocktrans %}
          Who’s on the team?
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <div class="grid-4-at-large grid-2-at-medium grid-2-at-small grid-row-equal-heights gap-bottom-none team-grid hide-until-large">
      <div class="column">
        <div class="align-center">
          <div class="rad-vikram gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Vikram Sheel Kumar, MD
          </h5>
          <p class="primary"> 
            Founder & Chief Medical Officer
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-neal gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Neal Lesh, PhD
          </h5>
          <p class="primary">
            Chief Strategy Officer
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-brian gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Brian DeRenzi, PhD
          </h5>
          <p class="primary">
            Global Director of Research Strategy
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-xian gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Xian Ho, PhD
          </h5>
          <p class="primary">
            Senior Director of Research Strategy
          </p>
        </div>
      </div>{# .column #}
    </div>
    <div class="grid-4-at-large grid-2-at-medium grid-2-at-small grid-row-equal-heights gap-bottom-none team-grid pad-top-medium-at-medium pad-top-line hide-until-large">
      <div class="column">
        <div class="align-center">
          <div class="rad-lewis gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Delta-Marie Lewis
          </h5>
          <p class="primary">
            Research Associate
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-rob gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Rob On, PhD
          </h5>
          <p class="primary">
            Senior Data Fellow
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-lauren gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Lauren Magoun, MPH, MBA
          </h5>
          <p class="primary">
            Senior Health Strategy Specialist
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-anna_dixon gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Anna Dixon, PhD
          </h5>
          <p class="primary">
            Data Fellow
          </p>
        </div>
      </div>{# .column #}
    </div>
    <!-- <div class="grid-2-at-medium grid-2-at-small grid-row-equal-heights gap-bottom-none team-grid hide-at-large">
      <div class="column">
        <div class="align-center">
          <div class="rad-vikram gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Vikram Sheel Kumar, MD
          </h5>
          <p class="orange">
            Founder & Chief Medical Officer
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-neal gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Neal Lesh, PhD
          </h5>
          <p class="orange">
            Chief Strategy Officer
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-brian gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Brian DeRenzi, PhD
          </h5>
          <p class="orange">
            Global Director of Research Strategy
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-xian gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Xian Ho, PhD
          </h5>
          <p class="orange">
            Senior Director of Research Strategy
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-lewis gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Delta-Marie Lewis
          </h5>
          <p class="orange">
            Research Associate
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-rob gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Rob On, PhD
          </h5>
          <p class="orange">
            Senior Data Fellow
          </p>
        </div>
      </div>{# .column #}
      <div class="column">
        <div class="align-center">
          <div class="rad-lauren gap-bottom-base rad-team-image white-lazy-bg"
             data-lazybg="true"></div>
          <h5 class="gap-bottom-base">
            Lauren Magoun, MPH
          </h5>
          <p class="orange">
            Senior Health Strategy Specialist
          </p>
        </div>
      </div>{# .column #}
    </div> -->
    <div>
      <p class="pad-top-medium align-center rad-desc">
        {% blocktrans %}
          RAD is a small, multidisciplinary team led by research scientists with 
          decades of experience and expertise in advanced analytics, cost-effectiveness, 
          US and global health, human-centered design, health informatics, and behavioral 
          psychology. Numerous members of our team hold doctorates and others have gone 
          on to pursue graduate degrees in public health and computer science.
        {% endblocktrans %}
      </p>
    </div>
  </div> {# .content #}
</section>
