@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.commcare-messaging {
  @include make-bg(hero, '../../../pages/commcare/commcare_messaging/hero');
}

.hero h1 {
  max-width: 100%;
}

.video-intro .image {
  @include background-cover('../../../pages/commcare/commcare_messaging/messaging-video.jpg');
  height: 170px;
  width: 250px;
}

.response {
  $_base-height: 195px;
  $_height-by-size: (
    small: 410px,
    medium: 290px,
  );
  @include make-bg(broadcast, '../../../pages/commcare/commcare_messaging/broadcast/broadcast_messages', $_base-height, $_height-by-size);
}

.response {
  $_base-height: 195px;
  $_height-by-size: (
    small: 410px,
    medium: 400px,
  );
  @include make-bg(sms, '../../../pages/commcare/commcare_messaging/sms/sms_surveys', $_base-height, $_height-by-size, '.png');
  @include make-bg(alerts, '../../../pages/commcare/commcare_messaging/alerts/alerts', $_base-height, $_height-by-size, '.png');
}

.messaging-work {
  cursor: pointer;
}
