@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


.commcare-ict4d {
  @include make-bg(hero, '../../../pages/commcare/ict4d/hero');
}

@media (min-width: $width-desktop) {
  .commcare-ict4d .hero {
    h1 {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

.response {
  $_base-height: 150px;
  $_height-by-size: (
    small: 210px,
    medium: 310px,
    large: 200px,
    extra-large: 230px,
  );
  @include make-bg(survey, '../../../pages/commcare/ict4d/survey/survey', $_base-height, $_height-by-size);
  @include make-bg(no-code, '../../../pages/commcare/ict4d/no-code/nocode', $_base-height, $_height-by-size);
}

.report {
  $_base-height: 221px;
  $_height-by-size: (
    small: 210px,
    medium: 223px,
    large: 290px,
    extra-large: 328px,
  );
  @include make-bg(report-ready, '../../../pages/commcare/ict4d/enforce/hero', $_base-height, $_height-by-size);
}

ul.integration {
  li {
    margin-bottom: 10px;
    &:before {
      // Adds white color to the checklist
      color: $color-white;
    }
  }
}

#integration {
  $_base-height: 190px;
  $_height-by-size: (
    small: 280px,
    medium: 280px,
    large: 280px,
    extra-large: 320px,
  );
  @include make-bg(integrate, '../../../pages/commcare/ict4d/comprehensive-spectrum/integrate', $_base-height, $_height-by-size, '.png');
}

.support {
  $_base-height: 195px;
  $_height-by-size: (
    small: 270px,
    medium: 376px,
    large: 316px,
    extra-large: 316px,
  );
  @include make-bg(services, '../../../pages/commcare/ict4d/support/services', $_base-height, $_height-by-size);
}

.programs .image.testimonial1{
  @include background-cover('../../../pages/commcare/ict4d/trust/sighsavers.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial2{
  @include background-cover('../../../pages/commcare/ict4d/trust/crs.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial3{
  @include background-cover('../../../pages/commcare/ict4d/trust/technoserve.jpg');
  height: 200px;
  background-size: contain;
}

.programs .image.testimonial1,
.programs .image.testimonial2,
.programs .image.testimonial3 {
 background-position: initial;
}

.programs .image.crs{
  width: 309px;
}

.attribution-sub {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 5px;
}

.attribution-modal-sub {
  font-weight: 400;
}
