@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.commcare-monitoring-evaluation {
    @include make-bg(hero, '../../../pages/commcare/enterprise/banner/hero');
  }
  
  @media (min-width: $width-desktop) {
    .commcare-monitoring-evaluation .hero {
      h1 {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
      }
    }
  }

  #intro {
    $_base-height: 190px;
    $_height-by-size: (
      small: 250px,
      medium: 250px,
      large: 250px,
      extra-large: 256px,
    );
    @include make-bg(intro-hero-image, '../../../pages/commcare/enterprise/intro/hero', $_base-height, $_height-by-size);
}

#network {
    $_base-height: 190px;
    $_height-by-size: (
      small: 200px,
      medium: 200px,
      large: 200px,
      extra-large: 206px,
    );
    @include make-bg(intro-hero-image, '../../../pages/commcare/enterprise/network/hero', $_base-height, $_height-by-size);
}

.chat-image {
    $_base-height: 425px;
    $_height-by-size: (
      extra-small: 390px,
      small: 500px,
      medium: 520px,
      large: 500px,
      extra-large: 500px,
    );
    @include make-bg(epic-cover, '../../../pages/commcare/enterprise/chat/hero', $_base-height, $_height-by-size);
  }

  @media (min-width: $width-desktop) {
    .chat-card {
        width: 380px;
        float: right;
      }
  }
