@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.partners-commcare-page {
  @include make-bg-loaded(hero, '../../../pages/commcare/partners/hero');
}

@media (min-width: $width-desktop) {
  .partners-commcare-page .hero h1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 55%;
  }
}

.partners-commcare-page {
  $_base-height: 175px;
  $_height-by-size: (
    extra-small: 205px,
    small: 270px,
    medium: 210px,
    large: 265px,
    extra-large: 320px,
  );
  @include make-bg-loaded(agimpact-image, '../../../pages/commcare/partners/agimpact', $_base-height, $_height-by-size);
  @include make-bg-loaded(noukod-image, '../../../pages/commcare/partners/noukod', $_base-height, $_height-by-size);
}

.testimonials {
  $_sizes: (
    extra-small: (w: 276px, h: 135px),
    small: (w: 424px, h: 158px),
    medium: (w: 680px, h: 277px),
    large: (w: 868px, h: 333px),
    extra-large: (w: 1016px, h: 408px),
  );

  @include make-carousel-slide-loaded(image-agimpact, $_sizes, '../../../pages/commcare/product/testimonial1.jpg');
  @include make-carousel-slide-loaded(image-nou-kod, $_sizes, '../../../pages/commcare/product/testimonial2.jpg');
  @include make-carousel-slide-loaded(image-delivery-services, $_sizes, '../../../pages/commcare/product/testimonial3.jpg');
  @include make-carousel-slide-loaded(image-cleaning-data, $_sizes, '../../../pages/commcare/product/testimonial4.jpg');
}
