@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

$width-extra-small-screen : 374px;

.products-commcare-features {
  @include make-bg(hero, '../../../pages/commcare/product_features/intro/hero');
}

.commcare-features-video-demo {
  $_base-height: 275px;
  $_height-by-size: (
    extra-small: 290px,
    small: 270px,
    medium: 270px,
    large: 316px,
    extra-large: 290px,
  );
  @include make-bg(image, '../../../pages/commcare/product_features/commcare_video/video', $_base-height, $_height-by-size);
}

@media (min-width: $width-desktop) {
  .products-commcare-features .hero {
    h1 {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

.overview-features {
  $_base-height: 175px;
  $_height-by-size: (
    extra-small: 170px,
    small: 240px,
    medium: 300px,
    large: 205px,
    extra-large: 260px,
  );
  @include make-bg(collect-data-image, '../../../pages/commcare/product_features/carousel/quality/collect', $_base-height, $_height-by-size);
  @include make-bg(improve-efficiency-image, '../../../pages/commcare/product_features/carousel/efficiency/improve', $_base-height, $_height-by-size);
  @include make-bg(clean-manage-image, '../../../pages/commcare/product_features/carousel/manage/clean', $_base-height, $_height-by-size);
  @include make-bg(report-insight-image, '../../../pages/commcare/product_features/carousel/insights/report', $_base-height, $_height-by-size);

  .device-container,
  .screen {
    width: 100%;
  }

  .improve-efficiency-image,
  .collect-data-image,
  .clean-manage-image,
  .report-insight-image {
    box-shadow: 2px 10px 22px $color-neutral-light;
  }

  .carousel-slide {
    background-color: $color-white;

    @media (min-width: $width-mobile) {
      height: 1030px;
    }

    @media (min-width: $width-extra-small-screen) {
      height: 960px;
    }

    @media (min-width: $width-desktop) {
      height: 1020px;
    }

    @media (min-width: $width-desktop-lg) {
      height: 755px;
    }

    @media (min-width: $width-desktop-xl) {
      height: 690px;
    }
  }
}

.features-carousel-dots {

  .carousel-dots {
    margin-top: -$space-small * 1.5 !important;
  }
}

blockquote {
  p {
    font-size: $font-size-medium + 3px;
    line-height: $space-line + 3px;

    &::before{
      font-size: $font-size-large * 2;
    }
  }
}

.testimonial-org {
  font-style: italic;
}
