{% load i18n %}
{% load dimagidotcom %}

<article class="epic purple-theme" id="chapter-4">

  <section class="parallax-ch4-1 epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="white section-header pad-top-base" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        {% blocktrans %}
          <span class="section-number">4</span>
          <span class="pad-left-medium-at-medium">
            Using CommCare Data to Adapt to COVID-19
          </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>  
  <section class="content content-width-large">
    {% include "sections/pillar/data_driven_programs/chapter4/intro.html" %}
  </section>

</article>
