{% load i18n %}
{% load dimagidotcom %}

<section class="request-demo align-center border-top blue-dark-bg" id="request-demo">
  <div class="content pad-vert-large blue-theme content-width-medium">

    <h2 class="white">
      {% blocktrans %}
        See Case Management in Action
      {% endblocktrans %}
    </h2>
    <p class="white">
      {% blocktrans %}
        Want to know how your organization can benefit from case management?<br class="hide-until-medium" />
        Tell us about your program and we'll reach out to
        schedule a hands-on demo.
      {% endblocktrans %}
    </p>

    <div class="request-demo-form" id="hubspot-request-demo-form"></div>

  </div>{# .content #}
</section>
