{% load i18n %}
{% load dimagidotcom %}

<footer class="page-footer"
        id="footer"
        role="footer">
  <div class="content pad-vert-medium">

    <nav class="primary align-center align-left-at-small">
      {% include 'partials/footer/navigation.html' %}
    </nav>



    <div class="grid-2-at-small grid-reverse">
      <div class="column align-center align-right-at-small">
        <ul class="reset links-social">
          <li>
            <a href="//facebook.com/dimagi.inc" target="_blank">
              {% include 'svg/footer/facebook.html' %}
            </a>
          </li>
          <li>
            <a href="//twitter.com/dimagi" target="_blank">
              {% include 'svg/footer/twitter.html' %}
            </a>
          </li>
          <li>
            <a href="//linkedin.com/company/dimagi" target="_blank">
              {% include 'svg/footer/linkedin.html' %}
            </a>
          </li>
          <li>
            <a href="//youtube.com/channel/UCt8JcRhWywkVJRR_YWv4OhA" target="_blank">
              {% include 'svg/footer/youtube.html' %}
            </a>
          </li>
        </ul>
      </div>{# .column #}

      <div class="column">
        <p class="copyright align-center align-left-at-small">
          &copy; {% now "Y" %} Dimagi, Inc.
        </p>
      </div>{# .column #}
    </div>{# .grid #}

  </div>{# .content #}
</footer>
