<footer class="page-footer" id="footer" role="footer">
  <div class="content pad-vert-medium" role="contentinfo">
    <nav class="primary align-center align-left-at-small">
      <div class="grid-2-at-small grid-col-space-medium">
        <div class="column">
          <div class="grid-2-at-large grid-col-space-medium">
            <div class="column">
              <h4 class="gap-bottom-base">
                <a class="arrow" data-transition-state="on" data-transition-target="footer-software" href="#">Software Products</a>
              </h4>
              <div class="collapse fade" data-transition-state="on" data-transition-types="collapse fade" id="footer-software">
                <ul class="destination-links reset gap-none">
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                  <li><a href="#">CommCare</a></li>
                </ul>
              </div>
            </div>
            <div class="column">
              <div class="grid grid-col-space-medium">
                <div class="column"><h4 class="gap-bottom-base">
                  <a class="arrow" data-transition-state="on" data-transition-target="footer-hardware" href="#">Case Studies</a>
                </h4>
                  <div class="collapse fade" data-transition-state="on" data-transition-types="collapse fade" id="footer-hardware">
                    <ul class="destination-links reset gap-none">
                      <li><a class="light-gray-swatch" href="#">Gates Foundation</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="tertiary">
      <div class="grid-flex-at-extra-small grid-space-line grid-align-justify">
        <div class="column no-shrink">
          <div class="grid-auto-at-extra-small grid-col-space-base grid-row-space-line align-center">
            <div class="column">
              <div class="popup-menu popup-menu-align-center popup-menu-align-left-at-extra-small"><a aria-haspopup="true" data-popup-menu="country-options" href="#" role="button"><span class="icon-flag icon-flag-US"></span></a></div>
            </div>
            <div class="column">
              <nav class="grid-auto grid-space-base grid-align-center grid-align-left-at-medium">
                <div class="column">
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                      <path fill="#2E3B4E" d="M16.4,6.6c0,0.2,0,0.3,0,0.5c0,4.8-3.3,10.1-9.3,10.1c-1.9,0-3.6-0.4-5-1.4c0.3,0,0.5,0.1,0.8,0.1 c1.5,0,3-0.6,4.1-1.6c-1.4,0-2.6-1.1-3.1-2.5c0.2,0,0.4,0.1,0.6,0.1c0.3,0,0.7,0,1-0.1C3.9,11.4,3,9.9,3,8.1c0,0,0,0,0,0 c0,0.3,0.7,0.4,1.2,0.5c-0.9-0.7-1.4-1.8-1.4-3c0-0.7,0.1-1.3,0.4-1.8c1.6,2.2,3.9,3.6,6.6,3.8C9.8,7.2,9.8,6.9,9.8,6.7 c0-2,1.5-3.9,3.3-3.9c0.9,0,1.8,0.7,2.4,1.4c0.7-0.2,1.4-0.5,2.1-0.9c-0.2,0.8-0.8,1.6-1.4,2C16.8,5.2,17.4,5,18,4.7 C17.6,5.5,17,6.1,16.4,6.6z"></path>
                    </svg>
                  </a>
                </div>
                <div class="column">
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                      <path fill="#2E3B4E" d="M14.2,11l0.4-3H11V6.3C11,5.4,11.9,5,13.1,5H14V2.1c0,0-1.3-0.1-2.4-0.1 C9.3,2,8,3.4,8,6v2H5v3h3v7h3v-7H14.2z"></path>
                    </svg>
                  </a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <p class="copyright">© 2017 Dimagi, Inc.</p>
  </div>
</footer>
