{% load i18n %}
{% load dimagidotcom %}

<footer class="page-footer"
        id="footer"
        role="footer">
  <div class="content pad-vert-medium">

    <nav class="primary align-center align-left-at-small">
      {% include 'partials/footer/navigation.html' %}
    </nav>



    <div class="grid-2-at-small grid-reverse">
      <div class="column align-center align-right-at-small">
        <ul class="reset links-social">
          <li>
            <a class="font-weight-bold {% click_footer 'contact-us' %}"
               href="#contact-form-modal">
              {% blocktrans %}
                Contact Us
              {% endblocktrans %}
            </a>
          </li>
          <li>
            <a href="//facebook.com/dimagi.inc"
               class="{% click_footer 'facebook' %}"
               target="_blank">
              {% include 'svg/footer/facebook.html' %}
            </a>
          </li>
          <li>
            <a href="//twitter.com/dimagi"
               class="{% click_footer 'twitter' %}"
               target="_blank">
              {% include 'svg/footer/twitter.html' %}
            </a>
          </li>
          <li>
            <a href="//linkedin.com/company/dimagi"
               class="{% click_footer 'linkedin' %}"
               target="_blank">
              {% include 'svg/footer/linkedin.html' %}
            </a>
          </li>
          <li>
            <a href="//youtube.com/channel/UCt8JcRhWywkVJRR_YWv4OhA"
               class="{% click_footer 'youtube' %}"
               target="_blank">
              {% include 'svg/footer/youtube.html' %}
            </a>
          </li>
        </ul>
        <p class="b-corp-logo align-center align-right-at-small">
          <a href="https://bcorporation.net/"
             target="_blank">
            {% include "svg/b_corp_logo.html" %}
          </a>
        </p>
      </div>{# .column #}

      <div class="column">
        <p class="copyright align-center align-left-at-small">
          &copy; {% now "Y" %} Dimagi, Inc.
        </p>
      </div>{# .column #}
    </div>{# .grid #}

  </div>{# .content #}
</footer>
