{% load dimagidotcom %}
{% load i18n %}

<a class="study" href="{% url 'case_study' study.slug %}">
  <div class="aspect-ratio-square study-thumbnail gap-bottom-line"
       style="background-image: url('{% static "pages/case_studies/covers/"|add:study.slug|add:".jpg" %}');"></div>

  <h6>{{ study.title }}</h6>
</a>
<p class="gap-top-base">
  {% trans "Partner" %}: {{ study.partners.0 }}<br />
  {% trans "Location" %}:
  {% if study.countries|length > 1 %}
    {{ study.countries|length }}+ {% trans "countries" %}
  {% else %}
    {{ study.countries.0 }}
  {% endif %}
</p>
