{% load i18n %}
{% load dimagidotcom %}

<div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="{{ employee.slug }}{% if extra_slug %}-{{ extra_slug }}{% endif %}">
  <div class="modal-scroll">
    <div class="modal-wrapper">
      <a href="#" class="modal-close-button"></a>
      <div class="content pad-horz-medium-at-medium pad-horz-small pad-bottom-none">
        <section>

          <h3 class="gap-bottom-none">
            {{ employee.name }}
          </h3>

          <p>
            {% if use_alt_title %}
              {{ employee.alt_title }}
            {% else %}
              {{ employee.role }}
            {% endif %}
          </p>

          <div class="grid-flex-at-large">

            <div class="column">
              <div class="aspect-ratio-square employee-image gap-bottom-line"
                   data-lazyplaceholder="true"
                   data-src="{{ employee.image }}"></div>
            </div>{# .column #}

            <div class="column">
              <p>
                {{ employee.bio }}
              </p>
            </div>{# .column #}

          </div>{# .grid #}

          <p class="align-right">
            <a class="arrow"
               href="{% url 'team_member' employee.office employee.slug %}">
              {% trans "Read More" %}
            </a>
          </p>

        </section>
      </div>{# .content #}
    </div>{# .modal-wrapper #}
  </div>{# .modal-scroll #}
</div>{# .modal #}
