{% load dimagidotcom %}

<div class="modal"
     data-dismissible="true"
     data-size="medium"
     id="{{ employee.slug }}">
  <div class="modal-scroll">
    <div class="modal-wrapper">
      <a href="#" class="modal-close-button"></a>
      <div class="content pad-horz-medium-at-medium pad-horz-small pad-bottom-none">
        <section>
          <h3 class="gap-bottom-none">
            {{ employee.name }}
          </h3>
          <p>
            {{ employee.role }}
          </p>
          <div class="grid-flex-at-large">
            <div class="column">
              <div class="aspect-ratio-square employee-image gap-bottom-line"
                   style="background-image:url('{{ employee.image }}');"></div>
            </div>{# .column #}
            <div class="column">
              <p>
                {{ employee.bio }}
              </p>
            </div>{# .column #}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
