<script src="//fast.wistia.com/embed/medias/{{ wistia_id }}.jsonp" async></script>
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<span class="wistia_embed
             wistia_async_{{ wistia_id }}
             popover=true
             popoverPreventScroll=true
             popoverBorderRadius=10
             popoverOverlayOpacity=.75
             playbar=true
             smallPlayButton=true
             volumeControl=false
             settingsControl=false
             fullscreenButton=true
             controlsVisibleOnLoad=false
             popoverContent=link">
  <a class="{% if show_image %}border-rounded-large image {% endif %}{% if show_play %}play-icon-small alt{% endif %} {{ click_class }}"
     {% if show_image %}data-lazybg="true"{% endif %}>{{ text }}</a>
</span>
