{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Ebola Response Template Applications on the CommCare Exchange
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Dimagi has committed to offering free CommCare licenses from November 2014
    through December 2016 for Ebola response-specific projects.
    In February 2015, USAID nominated Dimagi for the Fighting Ebola:
    a Grand Challenge for Development award, for the Information
    Communication Technology Solutions category together with Intrahealth.
    This has enabled Dimagi to provide additional CommCare app building
    and implementation support.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
    As part of this work, Dimagi is developing a collection of ready-to-use or
    customize apps for quick deployment in Ebola response. These apps can be
    tailored to other outbreaks or crises and can be easily added to existing
    CommCare deployments. Templates include:
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Contact Tracing (Existing)
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Ebola Treatment Unit (ETU) Decommissioning (In development)
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Psychosocial Support (In development)
    {% endblocktrans %}
  </li>
</ul>
