{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Small Businesses
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Few efficient methods exist for Small Businesses to remotely manage
    productivity and hold vendors accountable. There is a lack of detailed,
    real-time feedback on customer satisfaction to develop new approaches
    and increase market expansion.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Dimagi’s tools support improved workflows through real-time data
      collection about customer demographics for monitoring market
      expansion and penetration opportunities.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Applications can track inventory and manage orders, preventing
      stock-outs and improving forecasting of future demand, including
      predicting seasonal trends.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Eliminating need for paperwork reduces costs and improves
      security and data integrity.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      SMS customer satisfaction surveys and promotions increase
      market knowledge.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Scalable technology allows organizations to quickly deploy
      go-to-market strategies.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Small Businesses and vendors are directly connected so that communication
      and decisions can be made efficiently and securely in both directions.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Real-time monitoring of daily activity of vendors through web-based reports
      minimizes supervisory gaps, increasing workforce efficiency.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      SMS-based marketing system facilitates timely communication on new products
      and promotions.
    {% endblocktrans %}
  </li>
</ul>
