{% load i18n %}
{% load dimagidotcom %}

<section class="brief-overview align-center"
         id="brief-overview">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          CommCare Pricing
        {% endblocktrans %}
      </h2>
      <p class="content-width-small">
        {% blocktrans %}
          Get the features you need at an affordable price
          with our flexible plans, designed for projects of all sizes
        {% endblocktrans %}
      </p>
    </div>
  </div>{# .content #}
</section>
