{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a href="https://meetme.so/commcare"
         class="hide-until-medium"
         target="_blank">
        {% blocktrans %}
          Request Demo
        {% endblocktrans %}
      </a>
      <a class="primary"
         href="{{ URL_TRIAL }}">
        <span>
          {% blocktrans %}
            Start Free Trial
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="https://meetme.so/commcare"
           class="hide-at-medium"
           target="_blank">
          {% blocktrans %}
            Request Demo
          {% endblocktrans %}
        </a>
        <a href="#plans">
          {% blocktrans %}
            CommCare Plans
          {% endblocktrans %}
        </a>
        <a href="#details">
          {% blocktrans %}
            Detailed Comparison
          {% endblocktrans %}
        </a>
        <a href="#faq">
          {% blocktrans %}
            FAQ
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
