{% load i18n %}
{% load dimagidotcom %}

<a class="login-link gray-lightest {% click_nav 'login' %}"
   href="{{ URL_LOGIN }}">
  <div class="hide-at-medium">
    {% blocktrans %}
      Login
    {% endblocktrans %}
  </div>{# .hide-at-medium #}
  <div class="hide-until-medium">
    {% blocktrans %}
      Sign in
    {% endblocktrans %}
  </div>{# .hide-until-medium #}
</a>

<a class="trial-link cta-navigation-trial gray-lightest {% click_nav 'trial' %}"
   {% if kmq_track_pricing_nav %}
      data-kmq-external="true"
      data-kmq-name="{{ kmq_track_pricing_nav }}"
   {% endif %}
   href="{{ URL_TRIAL }}">
  <div class="hide-at-medium">
    {% blocktrans %}
      Trial
    {% endblocktrans %}
  </div>{# .hide-at-medium #}

  <div class="hide-until-medium ">
    {% blocktrans %}
      Start CommCare Trial
    {% endblocktrans %}
  </div>{# .hide-until-medium #}
</a>
