{% load i18n %}
{% load dimagidotcom %}

<section class="policy">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Privacy Policy
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <p>
      Dimagi’s Privacy Policy will be changing effective May 25, 2018. Click
      <a href="{% url 'terms' 'latest' 'privacy' %}">here</a> to review our new
      privacy policy.
    </p>

    <p>
      {% blocktrans %}
        This notice describes the privacy policy of Dimagi Inc and its
        affiliate entities, Dimagi South Africa (PTY) LTD and Dimagi
        Software Innovations, Pvt. Ltd ("Dimagi," "we", "us", or "our").
        The purpose of the Privacy Policy is to detail our information
        practices including the types of information we gather about you
        when you conduct business with Dimagi, how we may use that
        information, whether we disclose it to anyone, and the choices
        you have regarding our use of, and your ability to correct that
        information. By using and visiting our website you agree to this
        Privacy Policy.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      1.
      {% blocktrans %}
        What Information We Collect
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        This Privacy Statement covers the information practices of Web sites
        that link to this Privacy Statement, including:
        <a href="//www.commcarehq.org" target="_blank">www.commcarehq.org</a>.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        When registering to use its services or products, Dimagi requires
        you to provide your personal contact information, such as name,
        company name, address, phone number, and email address ("Contact
        Information.") When purchasing services or products, Dimagi may
        require you to provide financial qualification and billing information,
        such as billing name and address, credit card number, and the number of
        employees that will be using the product or services ("Billing
        Information"). Dimagi may also ask you to provide additional
        information, such as company annual revenues, number of employees,
        or industry ("Optional Information"). Required Contact Information,
        Billing Information, and Optional Information about Customers are
        referred to collectively as "Data About Dimagi Customers."
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        As you navigate the Company's Web sites, Dimagi may also collect 
        information through the use of information-gathering tools, such as 
        cookies and Web beacons ("Website Navigational Information"). 
        These tools collect standard information from your Web browser 
        (such as browser type and browser language), your Internet Protocol 
        ("IP") address, and the actions you take on the Company's Web sites 
        (such as the Web pages viewed and the links clicked).
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Dimagi's Web Sites use information from your devices to analyze
        traffic through our analytics partners, including Google Analytics,
        Kissmetrics, Hubspot, and Fullstory. Please see the following
        for more information:
      {% endblocktrans %}
    </p>

    <ul class="reset">
      <li>
        <a target="_blank"
           href="//www.google.com/policies/privacy/partners/">
          www.google.com/policies/privacy/partners/
        </a>
      </li>
      <li>
        <a target="_blank"
           href="//www.kissmetrics.com/privacy">
          www.kissmetrics.com/privacy
        </a>
      </li>
      <li>
        <a target="_blank"
           href="//legal.hubspot.com/privacy-policy">
          legal.hubspot.com/privacy-policy
        </a>
      </li>
      <li>
        <a target="_blank"
           href="//fullstory.com/legal/privacy">
          fullstory.com/legal/privacy
        </a>
      </li>
    </ul>

    <h3 class="h5">
      2.
      {% blocktrans %}
        How We Use Your Information
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        The Company uses Data About Dimagi Customers to perform the services 
        requested. For example, if you fill out a "Contact Me" or
        "Submit a Bug" Web form, the Company will use the information provided
        to contact you about your request.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Dimagi uses Web Site Navigational Information to operate and improve
        the Company's Web sites. Dimagi uses cookies to make interactions
        with the Company's Web sites easy and meaningful. When you visit
        one of the Company's Web sites, Dimagi servers send a cookie to
        your computer. Standing alone, cookies do not personally identify
        you; they merely recognize your Web browser. Unless you choose to
        identify yourself by responding opening an account or filling out a
        Web form, you remain anonymous to the Company. Dimagi uses cookies
        that are session-based and persistent-based. Session cookies exist
        only during one session. They disappear from your computer when you
        close your browser software or turn off your computer. Persistent
        cookies remain on your computer after you close your browser or turn
        off your computer. Please note that if you disable your Web browser's
        ability to accept cookies, you will be able to navigate the Company's
        Web sites, but you will not be able to successfully use the Services.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      3.
      {% blocktrans %}
        Sharing Your Information
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Dimagi will not share your Data, except for with our service providers
        or agents for the purposes described in section 2 above or as otherwise
        consented to by you.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Compliance with the law: We may release account and other personal
        information to comply with applicable law, for reasons relating to
        national security, or to protect the rights, property, or safety of
        Dimagi (and our employees), our users, or others. Such release includes
        responding to subpoenas and compliance with court orders and legal
        requests.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      4.
      {% blocktrans %}
        Accessing and Changing Your Information
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Dimagi seeks to ensure that your information and preferences are
        accurate and complete and you have the right to change your
        information. If you wish to do so, let us know by sending an e-mail
        with your name to support@dimagi.com with a description of the changes
        you request.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        You also have a right to access your personal data in our possession.
        To obtain a copy of the personal information we hold about you,
        please send an email to support@dimagi.com. There may be a charge
        associated with obtaining the copies.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      5.
      {% blocktrans %}
        Protecting Your Information
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Dimagi acknowledges your trust and is committed to protecting the
        nformation you provide to us. To prevent unauthorized access, maintain
        accuracy, and ensure proper use of information, we have employed
        physical, technical, and administrative processes to safeguard and
        secure the information we collect.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        You can help further protect your information by using a secure web
        browser and by changing any access passwords regularly.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      6.
      {% blocktrans %}
        Changes to This Privacy Policy
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        We may revise this Privacy Policy from time to time in our sole
        discretion. In the event of any such changes, the amended Privacy
        Policy will be posted on our website along with a notice of such
        changes. You will be deemed to have accepted such amended Privacy
        Policy upon such posting (provided that any such amendments will
        not affect any limitations you have placed on our use of your personal
        information). Accordingly, you are advised to check this Privacy Policy
        (and our website for amendment notices) from time to time. We will of
        course notify you of any changes where we are required to do so.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      7.
      {% blocktrans %}
        Other Links
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        From time to time this website may contain links to other websites
        owned by non-Dimagi affiliated entities. When you click on these links,
        you enter another website. Dimagi is not responsible for the content,
        operation or privacy practices of any such websites. In particular,
        unless expressly stated, Dimagi is not an agent for these sites, nor
        is it authorized to make representations on their behalf.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      8.
      {% blocktrans %}
        Other Information
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Dimagi or its related entities could merge with or be acquired by
        another business entity, or another entity's respective assets could
        be acquired. Should such a merger or acquisition occur, Dimagi would
        likely share some or all of your personally Identifiable Information
        so that the surviving entity could continue serving you. By providing
        your Personally Identifiable Information you agree that we may transfer
        such information to the acquiring entity without your further consent,
        although we will provide notice of any such combination or acquisition
        on our website.
      {% endblocktrans %}
    </p>

    <h3 class="h5">
      9.
      {% blocktrans %}
        Contact Us
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        If you have any questions or concerns about our use of your
        information or about this Privacy Policy, please send an e-mail to
        support@dimagi.com or write us at:
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Dimagi, Inc.<br />
        585 Massachusetts Ave, Suite 4<br />
        Cambridge, MA 02139
      {% endblocktrans %}
    </p>

  </div>{# .content #}
</section>

