{% load dimagidotcom %}
{% load i18n %}
{% block meta %}
  <meta property="wistia:videoId" content="jzm3ggrinr" />
  <meta property="wistia:videoTrigger" content="demo-video" />
{% endblock %}

<section class="testimonial pad-bottom-small news"
         id="news">
  <div class="content pad-top-medium pap-bottom-small">
    <h2 class="align-center">
      {% blocktrans %}
        The Latest on Mobile Data Collection in Maternal &  <br class="hide-until-medium"> Child Health Programs <br>
      {% endblocktrans %}
    </h2>
    <p>
      {% blocktrans %}
        Updates and advice from our world-class partners and Global Services team
      {% endblocktrans %}
    </p>
  </div>{# .content #}
  <div class="content">
    <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights ">
      <div class="column pad-top-line">
        <div class="">
          <div class="image testimonial1"
          data-lazybg="true"></div>
          <div class="pad-line">
            <h5 >
              <strong class="body-color">
                {% blocktrans %}
                  How FIGO Used Mobile Data 
                  Collection to Improve Maternal 
                  Healthcare
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                The International Federation of Gynecology and Obstetrics are improving healthcare for over 214 million women looking to avoid pregnancy.
              {% endblocktrans %}
            </p>
            <p>
              <a href="https://dimagi.com/blog/mobile-data-collection-figo/" target="_blank" class="link-gray">
                {% blocktrans %}
                  Read More >
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}

      <div class="column pad-top-line">
        <div class="">
          <div class="image testimonial2"
          data-lazybg="true"></div>
          <div class="pad-line">
            <h5 class="">
              <strong class="body-color">
                {% blocktrans %}
                  Midline Research Reveals
                  Promising Results for Partograph
                  Labour App
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                Seven months into the mLabour app in Tanzania and results are promising. 93% of eligible pregnancies were tracked and
                patient satisfaction is very positive.
              {% endblocktrans %}
            </p>
            <p class="pad-top-line-at-extra-large">
              <a href="https://www.dimagi.com/blog/midline-research-reveals-promising-results-for-mlabour-health-application/"  target="_blank" class="link-gray">
                {% blocktrans %}
                  Read More >
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}

      <div class="column pad-top-line">
        <div class="">
          <div class="image testimonial3"
          data-lazybg="true"></div>
          <div class="pad-line">
            <h5 class="">
              <strong class="body-color">
                {% blocktrans %}
                  Using Mobile Solutions to Improve 
                  Intrapartum Care in Tanzania
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                A group of private healthcare groups in Tanzania digitized the partograph to provide real-time decision support to
                health workers in 3 health facilities across the country.
              {% endblocktrans %}
            </p>
            <p class="pad-top-line-at-extra-large">
              <a href="https://www.dimagi.com/blog/using-mobile-solutions-to-improve-intrapartum-care-in-tanzania/" target="_blank" class="link-gray">
                {% blocktrans %}
                  Read More >
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}
    </div>{# .grid #}
  </div>{# .content #}
</section>
