{% load dimagidotcom %}
{% load i18n %}
{% block meta %}
  <meta property="wistia:videoId" content="jzm3ggrinr" />
  <meta property="wistia:videoTrigger" content="demo-video" />
{% endblock %}

<section class="pad-bottom-small" 
				 id="news">
				 

	<div class="content pad-top-small">
		<h2 class="">
			{% blocktrans %}
			  The Latest on Mobile Data Collection in Maternal &  <br> Child Health Programs <br>
			{% endblocktrans %}
		</h2>
		<p>
			<strong><b>
				{% blocktrans %}
				  Updates and advice from our world-class partners and Global Services team:
				{% endblocktrans %}
			</b></strong>
		</p>
	</div>{# .content #}
	<div class="content">
		<div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights ">
			<div class="column pad-top-small  ">
				<div class="">
					<img  src="../../../../static/pages/sectors/maternal-and-newborn-health/news/mdc-health-fico.jpg" />
					<div class="pad-line">
						<h5 >
							<strong class="body-color">
								{% blocktrans %}
								  How FIGO Used Mobile Data <br>
								  Collection to Improve Maternal <br>
								  Healthcare
								{% endblocktrans %}
							</strong>							
						</h5>
						<p class="body-color">
							{% blocktrans %}
							  The International Federation of Gynecology and Obstetrics are improving healthcare for over 214 million women looking to avoid pregnancy.
							{% endblocktrans %}
						</p>
						<h5>
							<br>
							<a href="https://dimagi.com/blog/mobile-data-collection-figo/" target="_blank" class="link-gray">
								{% blocktrans %}
									Read More >
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}

			<div class="column pad-top-small">
				<div class="">
					<img src="../../../../static/pages/sectors/maternal-and-newborn-health/news/mdc-health-lp.jpg" />
					<div class="pad-line">
						<h5 class="">
							<strong class="body-color">
								{% blocktrans %}
								  Midline Research Reveals <br>
								  Promising Results for Partograph <br>
								  Labour App
								{% endblocktrans %}
							</strong>						
						</h5>
						<p class="body-color">
							{% blocktrans %}
							  Seven months into the mLabour app in Tanzania and results are promising. 93 percent of eligible pregnancies were tracks and patient satisfaction is very positive.
							{% endblocktrans %}
						</p>
						<h5>
							<a href="https://www.dimagi.com/blog/midline-research-reveals-promising-results-for-mlabour-health-application/"  target="_blank" class="link-gray">
								{% blocktrans %}
									Read More >
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}

			<div class="column pad-top-small">
				<div class="">
					<img src="../../../../static/pages/sectors/maternal-and-newborn-health/news/mdc-health-care.jpg" />
					<div class="pad-line">
						<h5 class="">
							<strong class="body-color">
								{% blocktrans %}
								  Using Mobile Solutions to Improve <br>
								  Intrapartum Care in Tanzania
								{% endblocktrans %}
							</strong>						
						</h5>
						<p class="body-color">
							{% blocktrans %}
							  A group of private healthcare groups in Tanzania digitized the partograph to provide real-time decision support to health workers in 3 health facilities across the country.
							{% endblocktrans %}
						</p>
						<h5>
							<a href="https://www.dimagi.com/blog/using-mobile-solutions-to-improve-intrapartum-care-in-tanzania/" target="_blank" class="link-gray">
								{% blocktrans %}
									Read More >
								{% endblocktrans %}
							</a>
						</h5>
					</div>
				</div>				
			</div>{# .column #}
		</div>{# .grid #}
	</div>{# .content #} 	
</section>
