{% load i18n %}
{% load dimagidotcom %}
<section class=""
         data-lazybg="true">
    <div class="blue-bg pad-top-medium pad-bottom-medium">
      <div class="content align-center">
        <div class="">
          <h3 class="white">
            {% blocktrans %}
              Learn how CommCare helps maternal & child healthcare programs.
            {% endblocktrans %}
          </h3>
          <div class="cta">
            <a class="button button-accent-gray "
                  href="#schedule-demo-form">
              {% blocktrans %}
                SCHEDULE A DEMO
              {% endblocktrans %}
            </a>
          </div>{# .cta #}
        </div>
      </div> {# .content #}
    </div>

</section>
