{% load i18n %}
{% load dimagidotcom %}

<section id="about"
         class="orange-theme"
         data-lazybg="true">
  <div class="content pad-vert-medium">
    <div class="grid-flex-at-medium">
      <div class="column" id="intro-profile">
        <div class="intro-image pad-top-medium-at-medium">
          <div class="intro-profile-image white-lazy-bg"
               data-lazybg="true"></div>
        </div>
      </div> {# .column #}
      <div class="column pad-left-small">
        <h2 class="theme-color">
          {% blocktrans %}
            About Jonathan Jackson
          {% endblocktrans %}
        </h2>
        <p>
          {% blocktrans %}
            Jonathan Jackson is the Co-Founder and Chief Executive Officer of
            Dimagi. As the CEO of Dimagi, Jonathan oversees a team of global
            employees who are supporting digital solutions in the vast majority
            of countries with globally-recognized partners. He has led Dimagi
            to become a leading, scaling social enterprise and creator of the
            world’s most widely used and powerful data collection platform, CommCare. 
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            An award-winning social entrepreneur and software engineer, Jonathan
            made an uncompromising commitment early in his career to developing
            open technology that creates maximum impact and good in the world. He
            has since gone on to found multiple organizations focused on leveraging
            technology to improve healthcare delivery worldwide, including Cogito
            Corp, a pioneering behavioral analytics company.
          {% endblocktrans %}
        </p>
        <p class="gap-bottom-base">
          {% blocktrans %}
            Jonathan is a Schwab Foundation Social Entrepreneur and has been
            recognized by Business Week as one of the Most Promising Social
            Entrepreneurs. He currently sits on the boards of SimPrints and
            Spark Micro Grants. Jonathan earned his bachelor’s and master’s
            degrees in Electrical Engineering and Computer Science from the
            Massachusetts Institute of Technology.
          {% endblocktrans %}
        </p>
        <div class="post-social-header">
          <a href="https://www.linkedin.com/in/jonathanljackson/" target="_blank">
            {% include "svg/about/social/linkedin.html" %}
          </a>
          <a href="https://twitter.com/jonathanleej?lang=en" target="_blank">
            {% include "svg/about/social/twitter.html" %}
          </a>
        </div>
      </div>{# .column #}
    </div>
  </div>
</section>
