{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Agricultural Finance
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    CommCare is being used to help assess insurance and credit
    risks and can be used to track loan tenure for micro-credit
    in remote locations.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Mobile applications give loan officers offline capable systems,
      allowing for tracking of individual loans without large amounts of
      paperwork that get lost or destroyed in remote locations
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Forms in CommCare use complex logic to reduce data entry needs to
      allow for quicker turn-around times when loan officers are in remote
      locations. This allows officers to visit more potential customers,
      or customers in farther locations, by reducing administrative overhead
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      CommCare messaging allows farmers to receive SMS confirmation of
      payment history, allowing them to build up credit to obtain higher
      loan amounts upon successful repayment
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Cloud-hosting of data allows management to remotely view and monitor
      loan books in real-time, thereby reducing the risk portfolio, and
      allowing for increased lending to new markets
    {% endblocktrans %}
  </li>
</ul>
