{% extends "sections/pillar/community_health_worker/chapter4/accordion/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block accordion_collapsed %}collapsed{% endblock %}

{% block accordion_header %}
  {% blocktrans %}
    Advice from community health workers can improve client behavior
  {% endblocktrans %}
{% endblock %}

{% block accordion_image_class%}behaviour{% endblock %}

{% block accordion_content %}
  <h4 class="purple">
    {% blocktrans %}
      Advice from community health workers can improve client behavior
    {% endblocktrans %}
  </h4>
  <p class="chw-accordion-sub">
    {% blocktrans %}
      Improving Asthma Management among African-American Children via a
      Community Health Worker Model: Findings from a Chicago-Based Pilot Intervention
    {% endblocktrans %}
  </p>
  <blockquote>
    <p class="purple">
      {% blocktrans %}
        Findings suggest that individualized asthma education provided by a trained,
        culturally competent CHW is effective in improving asthma management
        among poorly controlled, inner-city children.
      {% endblocktrans %}
    </p>
  </blockquote>
  <p>
    {% blocktrans %}
      A study by the Sinai Urban Health Institute showed that “symptom
      frequency was reduced by 35% and urgent health resource utilization
      by 75%” when a community health worker program began in Chicago, a
      city with twice the national rate of asthma. In this program, CHWs
      were responsible for providing individualized health education and,
      as appropriate, serving as links between the affected families and
      the health system. The study also showed the intervention to be
      cost-effective, saving an estimated $5.58 per dollar spent.
    {% endblocktrans %}
  </p>
  <p>
    <a href="https://www.tandfonline.com/doi/abs/10.3109/02770903.2012.660295"
       class="button button-accent-gray arrow purple read-more"
       target="_blank">
      {% blocktrans %}
        Learn More
      {% endblocktrans %}
    </a>
  </p>
{% endblock %}
