{% load i18n %}
{% load dimagidotcom %}

<article class="epic orange-theme" id="chapter-5">

  <section class="parallax-ch5-1 epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="pad-top-small white" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        <p class="chapter-number">
          5
        </p>
        {% blocktrans %}
          How to Deploy <br class="hide-until-medium" />
          Your Mobile Data <br class="hide-until-medium" />
          Collection Software
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter5/summary.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part1.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part2.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part3.html" %}

</article>
