{% load i18n %}
{% load dimagidotcom %}

<article class="epic neutral-theme" id="chapter-7">

  <section class="parallax-ch7-1 epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="white section-header" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        {% blocktrans %}
          <span class="section-number gap-top-none">7</span>
          <span class="pad-left-medium-at-medium">
            How to Sustain Your <br class="hide-until-large" />
            Mobile Data Collection Program
          </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter7/summary.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter7/part1.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter7/part2a.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter7/part2b.html" %}

</article>
