{% load i18n %}
{% load dimagidotcom %}

<article class="epic epic-chapter-5 purple-theme" id="chapter-6">

  <section class="parallax-ch6-1 epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="white section-header" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
       
        {% blocktrans %}
          <span class="section-number gap-top-none">6</span>
          <span class="pad-left-medium-at-medium">
            How to Train Your Team <br class="hide-until-large" />
            in Mobile Data Collection
          </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter6/summary.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter6/part1a.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter6/part1b.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter6/part2.html" %}

</article>
