{% load i18n %}
{% load dimagidotcom %}

<article class="epic turquoise-theme" id="chapter-3">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="pad-top-large">
        {% blocktrans %}
          What Are<br />
          Your Data<br />
          Needs?<br />
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter3/summary.html" %}
  <div class="parallax-ch3-1"
       data-lazybg="true"></div>
  {% include "sections/pillar/mobile_data_collection/chapter3/part1.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter3/part2.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter3/part3.html" %}

</article>
