{% load i18n %}
{% load dimagidotcom %}

<article class="epic blue-theme" id="chapter-5">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content">
      <h2 class="pad-top-large" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
          <p class="chapter-number">
              5
          </p>
        {% blocktrans %}
          How to Deploy Your Mobile<br />
          Data Collection Software
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter5/summary.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part1.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part2.html" %}
  {% include "sections/pillar/mobile_data_collection/chapter5/part3.html" %}

</article>
