{% load i18n %}
{% load dimagidotcom %}

<article class="epic green-theme" id="chapter-2">

  <section class="parallax-ch2-1 epic-cover"
           data-lazybg="true">
    <div class="content">
      <h1 class="white section-header" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        {% blocktrans %}
        <span class="section-number gap-top-none">2</span>
        <span class="pad-left-medium-at-medium">
          How to Design Your <br class="hide-until-large" />
          Mobile Surveys
        </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/chapter2/summary.html" %}

</article>
