{% load i18n %}
{% load dimagidotcom %}

<article class="epic epic-intro blue-theme" id="intro">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content">
      <h2 class="pad-top-large" {% if request.is_amp %} amp-fx="parallax" data-parallax-factor="1.3" {% endif %}>
        {% blocktrans %}
        Mobile Data Collection:<br>
        Everything You Need To Know
        {% endblocktrans %}
      </h2>
      <h3 class="white">
        {% blocktrans %}
        Learn how to setup a program that will improve<br>
        the speed and accuracy of your data collection
        {% endblocktrans %}
      </h3>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/mobile_data_collection/intro/about_mdc.html" %}
  {% include "sections/pillar/mobile_data_collection/intro/chapter_summary.html" %}
</article>
