{% load i18n %}
{% load dimagidotcom %}

<article class="epic slate-theme" id="read-more">

  <section class="epic-read-more">
    <div class="content pad-vert-large">
      <h1 class="pad-bottom-small pad-left-small-at-medium pad-top-line">
        {% blocktrans %}
          Read More
        {% endblocktrans %}
      </h1>

      <div class="grid grid-2-at-medium grid-row-equal-heights pad-bottom-line">

        <div class="column">
          <a href="https://dimagi.com/blog/data-collection-project-objectives/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                What are your project objectives?
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Learn how to set clear project objectives to
                serve as the foundation of your mobile data
                collection program.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/what-is-your-data-collection-process/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                What is your data collection process?
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Learn why and how to examine and outline your
                existing data collection process.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-data-requirements/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                What are your data requirements?
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Get the tools to develop a comprehensive
                understanding of the data you need to collect.
              {% endblocktrans %}
            </p>
          </a>
        </div> {# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-how-to-choose-the-right-tool/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                How to choose the right mobile data collection tool
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                The eight questions to ask that will help you find
                the right platform for your program.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-mobile-survey-design/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                How to establish data collection standards
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Find out why a data collection tool alone is not
                enough to collect consistent, clean data.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-design-and-test/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                How to design &amp; test your mobile data collection solution
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Learn the process of designing, building, and testing
                your mobile data collection solution.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-app-deploy/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                How to implement your program and train your team
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Understand the implementation stage, including
                how to launch your app and train your team.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

        <div class="column">
          <a href="https://dimagi.com/blog/mobile-data-collection-sustain/"
             target="_blank"
             class="tile tile-more">
            <h2 class="gap-bottom-base">
              {% blocktrans %}
                How to sustain your mobile data collection program
              {% endblocktrans %}
            </h2>
            <p>
              {% blocktrans %}
                Our advice on how to make sure your program survives
                and thrives long beyond the pilot stage.
              {% endblocktrans %}
            </p>
          </a>
        </div>{# .column #}

      </div>{# .grid #}
    </div> {# .content #}
  </section>

</article>
