<div class="carousel-slide">
  <div class="content-width-small align-center gap-horz-small">
    <div class="theme-icon gap-vert-line">
      {% block icon %}{% endblock %}
    </div>{# .theme-icon #}
    <h3 class="gap-bottom-base">
      {% block name %}{% endblock %}
    </h3>
    <h6 class="uppercase gap-bottom-small">
      {% block country %}{% endblock %}
    </h6>
    <p class="align-left">
      {% block description %}{% endblock %}
    </p>
    <div class="cta align-left">
      {% block cta %}{% endblock %}
    </div>
  </div>
</div>{# .carousel-slide #}
