{% extends "sections/commcare/pricing/plans/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block kissmetrics_cta %}
Clicked Read More - Pricing (Advanced)
{% endblock %}

{% block name %}{% blocktrans %}
  Advanced
{% endblocktrans %}{% endblock %}

{% block price_monthly %}{% blocktrans %}
  $1000
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  For our savviest users, working on projects at scale that require advanced
  levels of data, security and support.
{% endblocktrans %}{% endblock %}

{% block features %}
  <li>
    {% blocktrans %}
      All Pro features
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Phone support
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Custom branding
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      HIPAA compliance assurance
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      External app integration framework
    {% endblocktrans %}
  </li>
{% endblock %}
