{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-medium"
         id="what-is-delivery-design">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        What is delivery design?
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        How you deliver a question is just as important as how you
        phrase your question. Determining the optimal delivery method
        is all about how to best structure and disseminate your survey.
        The survey structure and mode of communication are the primary
        considerations in this category.
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
        Survey Structure
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        The structure of a survey, including the sequencing of
        questions and their available responses, will affect the
        outcomes of your survey. Here are a few considerations for
        how you might recognize and solve these situations:
      {% endblocktrans %}
    </p>

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter5/icon1.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <h5>
          {% blocktrans %}
            Do certain questions depend on others?
          {% endblocktrans %}
        </h5>
        <p>
          {% blocktrans %}
            If you have questions that will only make sense within the
            context of a previous answer, you can use skip logic
            (also known as display conditions) to control when they
            appear. This tactic is important for collecting clear,
            consistent data.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter5/icon2.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <h5>
          {% blocktrans %}
            Which questions are required?
          {% endblocktrans %}
        </h5>
        <p>
          {% blocktrans %}
            With paper forms, you will find that important fields
            are often left completely blank, which can render the whole
            submission useless, but with mobile data collection, you
            can require that vital questions be answered. Find the
            right balance of required questions to make sure you are
            capturing all of the data that are essential to your
            project, while also ensuring that the survey is not
            too long or cumbersome to complete.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon align-center align-left-at-small">
          {% include "svg/pillar/mdc/chapter5/icon3.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <h5>
          {% blocktrans %}
            What type of answers are you expecting?
          {% endblocktrans %}
        </h5>
        <p>
          {% blocktrans %}
            When developing a structured-entry survey, you may want
            to consider whether a given question accepts only one
            response or multiple responses. While paper forms cannot
            enforce the number of responses that a respondent can
            provide, an electronic survey can. By using what are called
            validation conditions, you can ensure your enumerators
            correct mistakes on site that they might not otherwise
            notice until it is too late.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <h3>
      {% blocktrans %}
        Mode of Communication
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Are enumerators reading questions off a paper form or
        are respondents answering directly on a mobile device?
        This consideration is focused mostly on the user experience
        and how it can affect the reliability of their responses.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        For instance, if you have a short survey, and your respondents
        have access to smartphones, you may want to consider an
        SMS-based data collection program. However, if you are unsure of
        your audience's access to mobile phones, you may unknowingly
        restrict and bias your sample, based on the type of person
        who has access to a mobile phone in that population
        (e.g. male heads of households).
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Understanding how each mode of communication is used in your target
        location (and the norms and power dynamics associated with
        those types of interactions) will help you account for any
        bias as you design the delivery of your surveys and programs.
      {% endblocktrans %}
    </p>


  </div>
</section>
