{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-base"
         id="choose-the-right-device">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Choose the right device
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Your app should not only function on its device &mdash; it should thrive.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        <a href="https://www.dimagi.com/blog/mobile-data-collection-choose-device/"
           target="_blank">Deciding between a feature phone and a smartphone</a> determining an operating system, and choosing the right internal memory
           and battery life are all key considerations for the device your application will run on.
      {% endblocktrans %}
    </p>

    <h2 class="pad-top-small">
      {% blocktrans %}
         Prepare your devices
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
      As the number of users increases, the complexity of device preparation increases exponentially. Smaller projects might not have as
      much trouble preparing their devices for the field, but preparing a device for field use is still a tedious job and there are <a href="https://dimagi.com/blog/mobile-data-collection-four-pitfalls-deployment/" target="_blank">many pitfalls</a>
       you can encounter.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
         When a new device is opened, it takes a few minutes for the initial setup. Often, there is a mandatory operating system update,
         which adds a few more minutes. Once the device is ready, the mobile data collection app needs to be installed. And while projects
         with only a few users might not face much of an issue, projects with hundreds (or thousands) of users, this process can take
         weeks. Budget both time and resources for device preparation accordingly. 
      {% endblocktrans %}
    </p>


    <div class="pitfalls-image white-lazy-bg gap-vert-small"
         data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
        Device setup isn't so bad on a small program. For national deployments, it's another story.
      {% endblocktrans %}
    </p>

  </div>
</section>
