{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="chapter-5-summary">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        Consistent, clean data is the gold standard that every data
        collection program targets. Achieving this standard starts
        with careful consideration of the design of program content,
        delivery, and data storage and security.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Repeating the process of defining your data collection
        standards as you iterate on your program (after the preliminary
        design, the pilot phase, and initial data collection) will
        ensure that your data continues to serve your needs.
      {% endblocktrans %}
    </p>

  </div>
</section>
