{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Health Clinics and Supervisors
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Health clinics receive partographs that are filled out post-labor;
    data takes too long to reach decision makers;
    up to date statistics are not always available.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Real-time data reporting enables supervisors to detect data irregularities and observe whether
      recommended actions were taken, including identifying providers whose clinical practices in
      labor monitoring and management need improvement.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Algorithms are capable of detecting post-labor use, for increased accountability.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Live partograph reports enable district health centers and Ministries of Health
      to view and monitor complete labor records, including the full computer-plotted partograph.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Monthly and quarterly reports allow health administrators to assess labor monitoring,
      timely provision of care for abnormal labors, and maternal and fetal health outcomes.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Key alerts on emergency action can be sent to supervisors, and/or referral facilities,
      who can provide immediate back-up support on appropriate next steps.
    {% endblocktrans %}
  </li>
</ul>
