{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small">
  <div class="">
    <div class="content content-width-medium">
      <p>
        {% blocktrans %}
          The best thing about this process is that it relies upon the data you already have.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          Of course, for it to work, you need to know what that is. And that 
          involves quickly reviewing your current data practices, which can 
          range from baseline inputs and macro-level reporting to day-to-day 
          and micro-level reporting.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          Program managers and M&E officers, who are usually responsible for 
          the reporting practices of a program, often focus more on aggregate, 
          program-wide reports or dashboards that look at the state- or 
          district-level results of their programs. They are responsible for the 
          entire program, after all, and what time they have to spend on 
          monitoring and evaluation is often spent on high-level, donor-ready reports.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          But think about your field-level staff—the people actually putting 
          your program into action. They’re more often engaged with the 
          community at a micro level, responsible for a small cadre of 
          beneficiaries in the same village, school, or health center. And 
          by looking only at aggregate data, worrying trends in one of these 
          villages or schools might remain hidden.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          Each level of data review can have a role in your program. Let’s 
          have a look at each of the main types of data practices we see, 
          starting with the high-level approaches and moving into the more 
          precise, day-to-day readouts.
        {% endblocktrans %}
      </p>
    </div>

    <div class="content grid-4-at-large grid-1-at-medium grid-row-space-small grid-row-equal-heights pad-top-medium grid-col-space-medium gap-horz-none">
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level1.html" %}
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level3.html" %}
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level5.html" %}
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level7.html" %}
    </div>{# .sector-group #}
    <div class="content content-width-medium  info-graphic grid-3-at-large grid-1-at-medium grid-row-space-small grid-row-equal-heights">
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level2.html" %}
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level4.html" %}
      {% include "sections/pillar/data_driven_programs/chapter1/levels/level6.html" %}
    </div>{# .sector-group #}
    
  </div>{# .content #}
</section>
