{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        One crucial mistake we see organizations make is launching into the development of a data collection program without a clearly
        defined set of project objectives. Well-articulated project objectives are a lens through which you can examine each step of your data collection program. 
      {% endblocktrans %}
    </p>

    <p class="pad-bottom-base">
      {% blocktrans %}
        But starting with clearly-defined project objectives can be easier said than done. A challenge for
        all <a href="https://www.devex.com/news/want-to-work-in-monitoring-and-evaluation-start-with-these-5-skills-84449" target="_blank">monitoring and
        evaluation (M&E) professionals</a> is cutting through the competing priorities, obstacles, and stakeholders involved in a given project to pinpoint
        the core objectives their program is looking to address.
      {% endblocktrans %}
    </p>

    <h2 class="pad-top-small">
      {% blocktrans %}
       Identify your project objectives 
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        In order to define your project objectives, you must start by focusing on the right problem.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
       Prior to joining Dimagi, our Chief Services Officer, Rowena Luk, worked on building a consultation platform for specialist
       doctors in hospitals in Ghana. <a href="https://www.dimagi.com/blog/problems-that-matter/" target="_blank">After reflecting on her work</a>,
       she realized the project had been doomed from the start, because she was focused on an objective that was not solving the most pressing issue for the
       hospitals at the time: Rather than supporting better care for all patients through digital medical records, she was focusing on a small percentage
       that needed specialized care. 
      {% endblocktrans %}
    </p>

    <blockquote class="blue rowena">
      <p>
        Problems that matter will draw the attention of the Minister of Health or the Country Director.
        They will not just look at the results. They will demand them. They do not need to be convinced that this data is interesting.
        They will see it and know.
      </p>
      <cite>Dimagi Chief Services Officer Rowena Luk</cite>
    </blockquote>

    <p>
      {% blocktrans %}
      The right project objectives target issues that are urgent and clear to the community, whether that’s delivering healthcare to underserved regions,
      tracking crop yields, or measuring performance and attendance in schools.
      {% endblocktrans %}
    </p>
    
  </div>{# .content #}
</section>
