{% load i18n %}
{% load dimagidotcom %}

<section class="benefits border-top"
         id="benefits">
  <div class="content pad-vert-medium">

    <div class="intro">
      <h2>
        {% blocktrans %}
          Benefits
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          We care about our team’s happiness.
        {% endblocktrans %}
      </p>
    </div>

    <div class="grid-3-at-medium grid-2-at-small grid-row-space-small">
      {% include "careers/sections/benefits/fulfilling_work.html" %}
      {% include "careers/sections/benefits/flexible_work.html" %}
      {% include "careers/sections/benefits/time_off.html" %}

      {% include "careers/sections/benefits/travel.html" %}
      {% include "careers/sections/benefits/play.html" %}
      {% include "careers/sections/benefits/retirement.html" %}

      {% include "careers/sections/benefits/insurance.html" %}
      {% include "careers/sections/benefits/stock.html" %}
      {% include "careers/sections/benefits/parental_leave.html" %}
    </div>{# .grid-2-at-medium #}

    <p class="align-center pad-bottom-base">
      <a href="#open-positions"
         class="button">
        {% blocktrans %}
          View Open Positions
        {% endblocktrans %}
      </a>
    </p>

  </div>{# .content #}
</section>
