{% load i18n %}
{% load dimagidotcom %}

<section class="overview"
         id="overview">
  <div class="content pad-vert-medium">
    <div class="intro content-width-medium">
      <h2>
        {% blocktrans %}
          Join Our Team
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          We’re seeking impact-driven problem solvers<br />
          that are curious, care deeply, value quality and hustle.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    {% include "careers/sections/overview/grid.html" %}

    <div class="content-width-small align-center gap-top-medium pad-bottom-line">
      <h3 class="gap-bottom-base">
        {% blocktrans %}
          Core Values
        {% endblocktrans %}
      </h3>
      <h6 class="orange">
        {% blocktrans %}
          Impact. Team. Proft. In that order.
        {% endblocktrans %}
      </h6>

      <p>
        {% blocktrans %}'
          As a leading social enterprise, we care about creating an impact in the world,
          followed by our team’s satisfaction, and then profit. This phrase is fundamental to
          who we are as a company and how we prioritize our work.
        {% endblocktrans %}
      </p>

      <p>
        <a href="#open-positions"
           class="button">
          {% blocktrans %}
            View Open Positions
          {% endblocktrans %}
        </a>
      </p>
    </div>{# .content-width-medium #}

  </div> {# .content #}
</section>
