{% load i18n %}
{% load dimagidotcom %}

<div class="feature-row border-top">
  <div class="grid-4 grid-valign-middle">
    <div class="column pad-line pad-left-small">
      <h4>
        {% blocktrans %}
          Duration
        {% endblocktrans %}
      </h4>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          3 months <br />
          (3-6 hours/week)
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          2 months <br />
          (1-2 hours/week)
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          2 months <br />
          (1-2 hourss/week)
        {% endblocktrans %}
      </p>
    </div>{# .column #}
  </div>
</div>