{% load i18n %}
{% load dimagidotcom %}

<div class="feature-row border-top">
  <div class="grid-4 grid-valign-middle">
    <div class="column pad-line pad-left-small">
      <h4>
        {% blocktrans %}
          Practical Exercises
        {% endblocktrans %}
      </h4>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          Completed Live
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          Given as homework
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column pad-line">
      <p class="feature-standard align-center">
        {% blocktrans %}
          Given as homework
        {% endblocktrans %}
      </p>
    </div>{# .column #}
  </div>
</div>
