{% load i18n %}
{% load dimagidotcom %}

<div class="feature-row border-top accent-gray-bg">
  <div class="grid-4 grid-valign-middle gap-bottom-line pad-top-line">
    <div class="column">
    </div>{# .column #}
    <div class="column">
      <h5 class="align-center uppercase green font-weight-medium">
        {% blocktrans %}
          Basic Skills
        {% endblocktrans %}
      </h5>
      <p class="h5 align-center font-weight-medium">
        {% blocktrans %}
          $15,000
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column">
      <h5 class="align-center uppercase turquoise font-weight-medium">
        {% blocktrans %}
          Advanced Skills
        {% endblocktrans %}
      </h5>
      <p class="h5 align-center font-weight-medium">
        {% blocktrans %}
          $8000
        {% endblocktrans %}
      </p>
    </div>{# .column #}
    <div class="column">
      <h5 class="align-center uppercase purple font-weight-medium">
        {% blocktrans %}
          Advanced Custom Skills
        {% endblocktrans %}
      </h5>
      <p class="h5 align-center font-weight-medium">
        {% blocktrans %}
          $10,000
        {% endblocktrans %}
      </p>
    </div>{# .column #}
  </div>
</div>
