{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}case-study-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/case_studies/view_single.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-case-study" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="case-study-container orange-theme">
    {% include 'case_studies/sections/sub_nav.html' %}
    {% include 'case_studies/sections/summary.html' %}

    <section class="border-vert accent-gray-bg download"
             id="download">
      <div class="content pad-vert-medium align-center">
        <h3>
          {% blocktrans %}
            Download the Case Study
          {% endblocktrans %}
        </h3>
        <div id="hubspot-download-form" class="hubspot-download"></div>
      </div>
    </section>

  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "{{ study.hubspot_form }}",
      target: "#hubspot-download-form",
      css: "",
      onFormSubmit: function () {
        window.open('{{ study.download_url }}', "_blank");
      },
    });
  </script>
{% endblock %}
