{% load i18n %}
{% load dimagidotcom %}

<div class="item align-center border-right-at-large">
  <div class="theme-icon gap-bottom-line">
    {% include "svg/commcare/icon/support.html" %}
  </div>
  <h3>
    {% blocktrans %}
      Build on your own with onboarding support
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      Jumpstart your project with our customer success team.
    {% endblocktrans %}
  </p>
  <p>
    <a class="arrow {% click_body 'contact' %}"
       href="#contact-form-modal">
      {% blocktrans %}
        Contact Us
      {% endblocktrans %}
    </a>
  </p>
</div>{# .item #}
