{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="plan-for-development">
  <div class="content  content-width-medium">

    <h2>
      {% blocktrans %}
      Categorize your data needs
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
      Most often in data collection and service delivery programs, your data can be broken down into two categories: (1) program performance metrics and (2) worker performance metrics. These categories help explain which aspect of your program the data affects and are the best place to start when describing your data needs.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      Program performance metrics focus on how well you are meeting the project objectives. On the other hand, worker performance metrics are the best indicators for how well your workers are performing their duties and how much they are contributing to the success of the project.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      These two categories with help with getting at the specific insights each variable will offer. Once you have categorized your data at this high level, you can ask more specific questions about each group of variables.
      {% endblocktrans %}
    </p>

    <div class="agile-image white-lazy-bg gap-vert-small"
         data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
         Align with your team on your approach to app development &mdash; we recommend Agile.
      {% endblocktrans %}
    </p>     


  </div>
</section>