{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-bottom-large"
         id="build-your-outline-and-fill">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Describe your data needs
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Once you have organized a list of your data requirements by category, flesh out their attributes and characteristics.
        This step of the process should include your whole team for a holistic view of what each variable will mean for your program.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
       Marcos Lavandera, health analyst at <a  href="https://mexico.promujer.org/" target="_blank"><u>Pro Mujer</u></a>, a woman’s development
       organization in Latin America, explained that for his project that focused on women’s healthcare in Mexico, his entire team took part in the
       process of defining their data’s characteristics.
      {% endblocktrans %}
    </p>

    <blockquote>
      <p class="green">
        We had our program director, health analyst, and medical director all working together to make sure we
        looked at the data from all the possible perspectives.
      </p>
    </blockquote>

    <p>
      {% blocktrans %}
       Is your data quantitative, qualitative, or a combination? Are you collecting data from the same source over time (i.e. longitudinally)? Do certain
       variables depending on others? Each of the answers to these questions (and more) means something different about the method of data collection your
       program will need to follow. 
      {% endblocktrans %}  
    </p>

    <h2 class="pad-top-small">
      {% blocktrans %}
       Summarize your data requirements
      {% endblocktrans %}
    </h2>

    <p>
    {% blocktrans %}
      With the myriad methods of data collection, developing a clear, written summary of all the variables you need will help keep you focused.
      Differentiating between program performance metrics and worker performance metrics will help keep your data organized. The characteristics of
      your variables will help determine the method and features of data collection that will work best for your program. It won’t surprise you to know
      that data is the most important piece of any data collection program, so a comprehensive understanding of the data you need to collect is vital.
    {% endblocktrans %}
    </p>

    <p class="align-center pad-vert-small">
      <a href="https://www.dimagi.com/blog/data-collection-data-requirements"
         target="_blank"
         class="button">
        {% blocktrans %}
          Learn more about how to compile your data needs and what they mean
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
