{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-large">
  <div class="content content-width-medium">

    <p>
      {% blocktrans %}
      So how can you filter out the noise and focus on what you need? A clear understanding of your data requirements will help narrow your focus and identify a method of data collection that serves your needs precisely.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      The first step in this process is to make a list of what data you know you need. Whether that’s from results frameworks, requests from supervisors or funders, or scratch, outline an initial list of data requirements for your program. Then, based on what you have, work to expand the list and describe each variable in more depth.
      {% endblocktrans %}
    </p>

   
  </div>
</section>
