{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small">
  <div>
    <p>
      {% blocktrans %}
        Of course, for it to work, you need to know what that is. And that 
        involves quickly reviewing your current data practices, which can 
        range from baseline inputs and macro-level reporting to day-to-day 
        and micro-level reporting.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        Program managers and M&E officers, who are usually responsible for 
        the reporting practices of a program, often focus more on aggregate, 
        program-wide reports or dashboards that look at the state- or 
        district-level results of their programs. They are responsible for the 
        entire program, after all, and what time they have to spend on 
        monitoring and evaluation is often spent on high-level, donor-ready reports.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        But think about your field-level staff—the people actually putting 
        your program into action. They’re more often engaged with the 
        community at a micro level, responsible for a small cadre of 
        beneficiaries in the same village, school, or health center. And 
        by looking only at aggregate data, worrying trends in one of these 
        villages or schools might remain hidden.
      {% endblocktrans %}
    </p>
  </div>
</section>
