{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-large">
  <div class="content content-width-medium">
    {% include "sections/pillar/data_driven_programs/chapter2/review/exports.html" %}
    {% include "sections/pillar/data_driven_programs/chapter2/review/review.html" %}
    {% include "sections/pillar/data_driven_programs/chapter2/review/trigger.html" %}
    {% include "sections/pillar/data_driven_programs/chapter2/review/work.html" %}
  </div>
</section>
