{% load i18n %}
{% load dimagidotcom %}

<section class="testimonial programs" 
         data-lazybg="true" 
         id="testimonials">
  <div class="accent-gray-bg">
    <div class="content pad-vert-small">
      <div class="mdc-sector-program">
        <h2 class="content-width-medium align-center blue pad-top-small">
          {% blocktrans %}
            Trusted by Universities & <br class="hide-until-medium" />
            Research Teams Globally
          {% endblocktrans %}
        </h2>
        <p class="content-width-medium align-center pad-bottom-small">
          {% url 'toolkit' 'commcare-evidence-base' as evidence_base_tool %}
          {% blocktrans %}
            CommCare is both the most widely-used and most-widely researched
            digital tool for frontline work. If you would like to learn more
            about CommCare’s impact on frontline programs, visit our <a href="{{ evidence_base_tool }}">evidence
            base</a> here.  Read below to learn about some of the exciting
            studies our partners are leading across the world.
          {% endblocktrans %}
        </p>
      </div>
      <div class="content-width-large carousel carousel-fade-inactive carousel-numbered carousel-features">
        <div class="carousel-container">
          <div class="spinner spinner-large"></div>
          <div class="carousel-slider">
            {% include "sections/commcare/research/evidence/empower.html" %}
            {% include "sections/commcare/research/evidence/opportunity.html" %}
            {% include "sections/commcare/research/evidence/studies.html" %}
            {% include "sections/commcare/research/evidence/large_scale.html" %}
          </div>{# .carousel-slider #}
        </div>{# .carousel-container #}
      </div>{# .carousel #}
    </div>
  </div>
</section>

