{% load i18n %}
{% load dimagidotcom %}

<section class="blue-bg" id="integration">
  <div class="content pad-vert-medium">
    <div class="grid grid-2-at-medium grid-1-at-small white">
      <div class="column pad-top-base pad-top-medium-at-extra-large align-left-at-medium align-center">
        <h2 class="pad-top-small white">
          {% blocktrans %}
            Powering a range of research, CommCare advances global development research  
          {% endblocktrans %}
        </h2>
        <p class="pad-top-small">
          <a class="button white-bg blue uppercase {% click_body 'commcare_integration' %}"
             href="{% url 'commcare_integration' %}">
            {% blocktrans %}
              Learn More
            {% endblocktrans %}
          </a>
        </p>
      </div>{# .column #}
      <div class="column pad-top-medium-at-medium"
           id="integration">
        <div class="integrate white-lazy-bg"
             data-lazybg="true">
        </div>
      </div> {# .column #}
    </div> {# .grid #}
  </div> {# .content #}
</section>
