{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      {% click_subnav 'demo' as click_class %}
      {% include "partials/schedule_demo_button.html" with click_class=click_class button_class="primary" %}
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#key-features"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Key Features
          {% endblocktrans %}
        </a>
        <a href="#projects"
           class="{% click_subnav 'testimonials' %}">
          {% blocktrans %}
            Projects
          {% endblocktrans %}
        </a>
        <a href="#onboarding"
           class="{% click_subnav 'onboarding' %}">
          {% blocktrans %}
            Onboarding
          {% endblocktrans %}
        </a>
        <a href="#casestudies"
           class="{% click_subnav 'casestudies' %}">
          {% blocktrans %}
            Case Studies
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
