{% extends "sectors/sections/base/project_slide.html" %}
{% load i18n %}
{% load dimagidotcom %}


{% block icon %}
  {% include "svg/countries/burkina_faso.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  Terre Des Hommes
{% endblocktrans %}{% endblock %}

{% block country %}{% blocktrans %}
  Burkina Faso
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Through funding from the Bill & Melinda Gates Foundation, Terre des Homes
  is deploying CommCare to 400 clinics in Burkina Faso to improve IMCI
  adherence. Terre des Hommes adopted the Integrated eDiagnostic
  Approach (IeDA) utilizing the Electronic Consultation Register (REC),
  a simple and low-cost IMCI diagnostic support tool to help nurses comply
  with IMCI protocols to ensure data accuracy. REC 2.0 is built on CommCare
  and includes both a tablet-based mobile app in addition to a web dashboard.
{% endblocktrans %}{% endblock %}

{% block cta %}
  <a href="https://www.youtube.com/watch?v=YS4NFMCwkm4&feature=youtu.be&list=PLVmwIEfrcKqnGhas9Vy4CmPEvG9xVvQdr"
     class="play-icon-small">{% trans "Watch Video" %}</a>
{% endblock %}
