{% extends "sectors/sections/base/project_slide.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/countries/malawi.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  UNICEF
{% endblocktrans %}{% endblock %}

{% block country %}{% blocktrans %}
  Malawi
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
 To improve access to protection services and reduce HIV’s impact for
  women and children, UNICEF worked with the Malawi government to
  established a Community Survivor Support Unit (CSSU) in Malawi’s
  300 traditional authorities.
{% endblocktrans %}{% endblock %}

{% block cta %}{% endblock %}
