{% extends 'sections/sectors/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Agricultural Finance
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      The explosion of microfinance and insurance institutions (MFIs)
      has provided alternative sources to capital and security for
      small-scale farmers. Microfinance and insurance allow the
      agricultural community to reduce the risk of their investments,
      as well as provide the growth capital needed to thrive.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      However, while micro-finance and insurance has allowed for farmers
      to increase their yields through new investments, the penetration
      rates to extremely rural rates, where capital and risk hedging is
      needed most, still lag behind other geographies. Between complex
      dataflows and poor infrastructures leading to impossible demands on
      finance, insurance, and credit officers, only robust, off-grid IT
      solutions can help expand financial tools to the millions that require
      them to help expand their businesses.
    {% endblocktrans %}
  </p>
{% endblock %}
