{% load i18n %}
{% load dimagidotcom %}

<div class="plan-row border-horz">
  <div class="grid-4-at-large grid-5 grid-valign-middle">

    <div class="column">
      <div class="plan-column plan-standard">
        <h3 class="green">
          {% blocktrans %}
            Basic
          {% endblocktrans %}
        </h3>
        <div class="pricing-type pricing-type-green pricing-type-table gap-bottom-base"
             data-bind="text: paymentType, css: { monthly: showMonthly }">
          Paying Annually
        </div>
        <p>
          {% blocktrans %}
            $<span>1</span>/<span>device</span>/<span>month</span>
          {% endblocktrans %}
        </p>
      </div>{# .plan-column #}
    </div>{# .column #}

    <div class="column">
      <div class="plan-column plan-pro">
        <h3 class="turquoise">
          {% blocktrans %}
            Standard
          {% endblocktrans %}
        </h3>
        <div class="pricing-type pricing-type-turquoise pricing-type-table gap-bottom-base"
             data-bind="text: paymentType, css: { monthly: showMonthly }">
          Paying Annually
        </div>
        <p>
          {% blocktrans %}
            $<span>1.50</span>/<span>device</span>/<span>month</span>
          {% endblocktrans %}
        </p>
      </div>{# .plan-column #}
    </div>{# .column #}

    <div class="column">
      <div class="plan-column plan-advanced">
        <h3 class="purple">
          {% blocktrans %}
            Advanced
          {% endblocktrans %}
        </h3>
        <div class="pricing-type pricing-type-purple pricing-type-table gap-bottom-base"
             data-bind="text: paymentType, css: { monthly: showMonthly }">
          Paying Annually
        </div>
        <p>
          {% blocktrans %}
            $<span>2</span>/<span>device</span>/<span>month</span>
          {% endblocktrans %}
        </p>
      </div>{# .plan-column #}
    </div>{# .column #}

    <div class="column">
      <div class="plan-column plan-enterprise">
        <h3 class="blue hide-until-medium">
          {% blocktrans %}
            Custom
          {% endblocktrans %}
        </h3>
        <h3 class="blue hide-at-medium">
          {% blocktrans %}
            Custom
          {% endblocktrans %}
        </h3>
        <div class="pricing-type pricing-type-blue pricing-type-table gap-bottom-base"
             data-bind="text: paymentType, css: { monthly: showMonthly }">
          Paying Annually
        </div>
        <p class="gap-bottom-line gap-bottom-none-at-medium">
          {% blocktrans %}
            Custom
          {% endblocktrans %}
        </p>
      </div>{# .plan-column #}
    </div>{# .column #}

  </div>{# .grid-6 #}
</div>{# .plan-row #}
