{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-bottom-medium"
         id="intro-chapter-summary">
  <div class="content content-width-medium">
    <div class="grid  grid-row-equal-heights">

      <div class="column">
        <a href="#chapter-1"
           class="tile tile-chapter pad-bottom-small turquoise-bg turquoise-light-border">
          <h2>
            {% blocktrans %}
              1 &nbsp;Evaluate Current Data Practices
            {% endblocktrans %}
          </h2>
          
        </a>
      </div>{# .column #}

      <div class="column">
        <a href="#chapter-2"
           class="tile tile-chapter pad-bottom-small red-bg red-light-border">
          <h2>
            {% blocktrans %}
               2  &nbsp;Review data more regularly
            {% endblocktrans %}
          </h2>
        </a>
      </div>{# .column #}

      <div class="column">
        <a href="#chapter-3"
           class="tile tile-chapter pad-bottom-small green-bg green-light-border">
          <h2>
            {% blocktrans %}
               3  &nbsp;Uncover Hidden Insights
            {% endblocktrans %}
          </h2>
        </a>
      </div>{# .column #}

      <div class="column">
        <a href="#chapter-4"
           class="tile tile-chapter pad-bottom-small purple-bg purple-light-border">
          <h2>
            {% blocktrans %}
               4  &nbsp;Using CommCare Data to Adapt to COVID-19
            {% endblocktrans %}
          </h2>
        </a>
      </div>{# .column #}

      <div class="column">
        <a href="#chapter-5"
           class="tile tile-chapter pad-bottom-small neutral-bg neutral-light-border">
          <h2>
            {% blocktrans %}
               5  &nbsp;What’s next?
            {% endblocktrans %}
          </h2>
        </a>
      </div>{# .column #}

    </div>{# .grid #}
  </div>{# .content #}
</section>
