{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Health Workers
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    CHWs undergo extensive trainings, which require them to retain
    large amounts of information, which is frequently forgotten after
    a short time. Additionally, CHWs often have to track their own
    patients and submit that data to managers with little
    organizational support. This process often leads to lack of
    follow-up with patients and inadequate data collection systems.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Training manuals and behavior change communication
      materials are integrated within the app on a CHW’s
      phone, ensuring easy access to accurate information.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Multimedia allows pregnant women and mothers to
      listen to messages in their own language or view
      culturally relevant visuals alongside their CHW.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Real time submission of data directly from the CHW’s
      phone enables managers and supervisors to access data
      on health outcomes and CHW performance with up to date
      records.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Case management gives CHWs autonomy to manage their own
      case list directly through the mobile application, rather
      than relying on their memories or paper records systems
      when it comes to reaching patients.
    {% endblocktrans %}
  </li>
</ul>
