{% extends "sections/proposals/pricing/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/proposals/compass.html" %}
{% endblock %}

{% block header %}{% blocktrans %}
  Global Services
{% endblocktrans %}{% endblock %}

{% block price %}{% blocktrans %}
  Contact for pricing
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  Through our Global Services, we support budgets for projects that range
  from three to five years, with long-term, dedicated short-term technical
  assistance (STTA) staff.
{% endblocktrans %}{% endblock %}
