<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 92 68" width="92" height="68">
  <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		88.9,22.9 46,42.3 3.1,22.9 46,3.5 	"></polygon>
	<path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M70.2,32.7v22.1c0,0-8.3,9.7-24.9,9.7s-23.6-9.7-23.6-9.7V32.7"></path>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="81.7" y1="27.1" x2="81.7" y2="52"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78.9" y1="52" x2="84.4" y2="52"></line>
</svg>
