<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 85 68" width="85" height="68">
  <rect x="3.5" y="3.5" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="77.9" height="44.2"></rect>
  <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
      35.2,14.8 53.1,25.7 35.2,36.4 		"></polygon>
  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="16.4" cy="60.1" r="4.4"></circle>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78" y1="60.1" x2="22" y2="60.1"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="10.8" y1="60.1" x2="7" y2="60.1"></line>
</svg>
