<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 68 68" width="68" height="68">
  <rect x="42.3" y="30.2" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="7" height="4.7"></rect>
  <rect x="42.3" y="39.1" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="7" height="4.7"></rect>
  <rect x="42.3" y="48" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="7" height="4.7"></rect>
  <rect x="30.5" y="48" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="7" height="4.7"></rect>
  <rect x="18.7" y="48" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="7" height="4.7"></rect>
  <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			25.6,44 28.5,40 31.5,44 36.9,44 31.2,36.7 36.4,30.2 31.2,30.2 28.6,33.7 26,30.2 20.6,30.2 26,36.9 20.4,44 		"></polygon>
	<path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M59,3H9C7.6,3,6.5,4.1,6.5,5.5v57C6.5,63.9,7.6,65,9,65H59c1.4,0,2.5-1.1,2.5-2.5v-57C61.5,4.1,60.4,3,59,3z"></path>
  <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
  56.5,60 11.5,60 11.5,22.8 56.5,22.8 	"></polygon>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.5" y1="16" x2="52.5" y2="16"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.5" y1="10" x2="52.5" y2="10"></line>
</svg>
