<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 80 68" width="80" height="68">
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="76.9" y1="65" x2="3.1" y2="65"></line>
  <rect x="25.1" y="28" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10.1" height="30.2"></rect>
  <rect x="44.8" y="41" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10.1" height="17.1"></rect>
  <rect x="64.5" y="20.5" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10.1" height="37.7"></rect>
  <rect x="5.4" y="51" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10.1" height="7.2"></rect>
	<path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
			M9,23.7c-2.2,0-4,1.8-4,4s1.8,4,4,4s4-1.8,4-4S11.3,23.7,9,23.7z"></path>
	<circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="29.7" cy="7" r="4"></circle>
	<circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50.3" cy="27.5" r="4"></circle>
  <path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
			M71,3c-2.2,0-4,1.8-4,4s1.8,4,4,4s4-1.8,4-4S73.2,3,71,3z"></path>
	<line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="12.3" y1="24.1" x2="26.1" y2="10.3"></line>
	<line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="33.1" y1="10.3" x2="46.7" y2="24"></line>
	<line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="53.5" y1="24" x2="66.9" y2="10.5"></line>
</svg>
