<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 68 68" width="68" height="68">
  <path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M8.8,59.5h50.4c4,0,7.3-3.3,7.3-7.3V21.3v-5.4c0-4-3.3-7.3-7.3-7.3H8.8c-4,0-7.3,3.3-7.3,7.3v5.4v30.9C1.5,56.2,4.8,59.5,8.8,59.5z
		"></path>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.2" y1="21.3" x2="65.8" y2="21.3"></line>
  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="8.9" cy="15" r="2.6"></circle>
  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="17.5" cy="15" r="2.6"></circle>
  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="26" cy="15" r="2.6"></circle>
	<path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M26,30.5h3v17.3h-3c-4.7,0-8.7-3.9-8.7-8.7S21.2,30.5,26,30.5z"></path>
	<path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M38.9,30.5h3c4.7,0,8.7,3.9,8.7,8.7s-3.9,8.7-8.7,8.7h-3V30.5z"></path>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="34" y1="35.5" x2="38.4" y2="35.5"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="34" y1="42.8" x2="38.4" y2="42.8"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50.8" y1="39.1" x2="57.4" y2="39.1"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="9.8" y1="39.1" x2="16.4" y2="39.1"></line>
</svg>
