<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 96 68" width="96" height="68">
  <path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M74.1,57.6c0.7-2.5,1.2-5.3,1.2-8.1c0-15.1-12.3-27.3-27.3-27.3S20.7,34.4,20.7,49.5c0,2.8,0.4,5.6,1.2,8.1"></path>
  <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    91.6,66.5 4.4,66.5 1.5,57.6 94.5,57.6 "></polygon>
  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    7.4,57.6 7.4,1.5 88.6,1.5 88.6,57.6 "></polyline>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.4" y1="10.4" x2="88.6" y2="10.4"></line>
  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="47.3" cy="50.2" r="3"></circle>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.3" y1="22.2" x2="47.3" y2="28.1"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="61.6" y1="26.9" x2="59.5" y2="30.7"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="71.3" y1="36.7" x2="67.5" y2="38.7"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="74.6" y1="49.5" x2="70.2" y2="49.5"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50.2" y1="47.3" x2="57.6" y2="39.9"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="33.5" y1="27.6" x2="35.9" y2="31.5"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.9" y1="37.4" x2="27.8" y2="39.5"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.7" y1="50.2" x2="25.1" y2="50.2"></line>
</svg>
