{% load i18n %}
{% load dimagidotcom %}

<section class="resources accent-gray-bg border-vert"
         id="resources">
  <div class="content pad-vert-medium align-center">

    <div class="grid-2-at-small grid-4-at-large grid-row-equal-heights">
      {% include "about/sections/resources/press.html" %}
      {% include "about/sections/resources/careers.html" %}
      {% include "about/sections/resources/blog.html" %}
      {% include "about/sections/resources/contact_us.html" %}
    </div>

  </div> {# .content #}
</section>
