{% load i18n %}
{% load dimagidotcom %}

<article class="epic blue-theme content-width-medium" id="sehgal">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content content-width-small">
      <h2>
        {% blocktrans %}
          (Mobile Data Collection) gave us the ability to control the
          experience of our field-based data collectors, which drastically
          reduced human error. With paper-based forms, you can’t
          really make your field staff follow a strict protocol.
        {% endblocktrans %}
      </h2>
      <h4 class="white">
        {% blocktrans %}
          Bhawna Mangla, Senior Research Associate, Monitoring & Evaluation, Sehgal Foundation
        {% endblocktrans %}
      </h4>
    </div> {# .content #}
  </section>
</article>
