{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content blog-latest accent-gray-bg border-vert">
  <div class="content content-width-medium pad-bottom-small">
    <h3 class="blue">
      {% blocktrans %}
        How to choose?
      {% endblocktrans %}
    </h3>
    <p>
      {% blocktrans %}
        Mobile data collection applications on their own are not silver bullets. They cannot fix a poorly-designed program,
        and a solution designed for a basic survey will not aid your complex case management program. Indeed, you will
        not get the full value of a complex mobile tool without a technically competent program manager, and in the
        wrong environment, mobile tools can even be a detriment to frontline workers.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        However, combining the important considerations shared above around your data, workers’ needs, and project
        environment with the right mobile data collection tool will improve the accuracy and speed of your data
        collection, help your team do its best work, and ultimately, amplify the impact of your program.
      {% endblocktrans %}
    </p>
  </div>{# .content #}
</section>