{% load i18n %}
{% load dimagidotcom %}

<article class="epic blue-theme" id="how-to-choose">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content pad-top-medium content-width-medium">
      <h2 class="pad-top-large">
        {% blocktrans %}
          How to Choose a<br />
          Mobile Data Collection Tool
        {% endblocktrans %}
      </h2>
      <h3 class="white">
        {% blocktrans %}
          Learn what the data you need to collect can tell<br class="hide-until-medium" />
          you about the tool you use to collect it
        {% endblocktrans %}
      </h3>
    </div> {# .content #}
  </section>
  {% include 'sections/blog/mobile_blog_single/blog_two.html' %}
</article>
