{% load i18n %}
{% load dimagidotcom %}

<article class="epic epic-content blue-theme" id="how-to-choose">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="pad-top-medium content-width-medium">
      <h1>
        {% blocktrans %}
          How to Choose a<br />
          Mobile Data Collection Tool
          <span>Learn what the data you need to collect can tell
          you about the tool you use to collect it</span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>
  {% include 'sections/blog/mobile_blog_single/blog_two.html' %}
</article>
