{% load i18n %}
{% load dimagidotcom %}

<article class="epic blue-theme" id="learn-more">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content content-width-medium pad-top-medium align-center">
      <h2 class="pad-top-large">
        {% blocktrans %}
          Learn more about mobile data collection
        {% endblocktrans %}
      </h2>
      <p class="white">
        {% blocktrans %}
          Mobile data collection is a method of compiling qualitative and quantitative information with the help of a
          mobile device, like a smartphone or tablet. Check out our guide to launching a successful mobile data
          collection program of your own.
        {% endblocktrans %}
      </p>
      <p class="align-center">
      <a class="button button-accent-gray {% click_body 'mobile-data-collection' %}"
         href="{% url 'mobile_data_collection' %}">
        {% blocktrans %}
          Learn How
        {% endblocktrans %}
      </a>
    </p>
    </div> {# .content #}
  </section>
  {% include 'sections/blog/mobile_blog_single/blog_why_surveys.html' %}
</article>
