{% extends "sections/careers/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block image_class%}kishan{% endblock %}

{% block content %}
  <div class="testimonial-content content-width-medium align-left pad-top-medium pad-horz-base">
    <p>
      {% blocktrans %}
        “I feel lucky to have great mentors at Dimagi who care about my success. 
        I am here becuase I continue to learn something new every day and I 
        continue to grow every day.”
      {% endblocktrans %}  
    </p>
    <div class="attribution-heading primary pad-bottom-base uppercase">
      <p class="pad-bottom-base pad-top-line">
      {% blocktrans %}
        <strong> KISHAN SAMPAT </strong>  |  Associate Engineering Manager
      {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
