{% extends "sections/commcare/enterprise/faq/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}
{% url 'commcare_pricing' as pricing_url %}

{% block accordion_content_show %}collapsed{% endblock %}

{% block accordion_header %}
  {% blocktrans %}
    How do the features on the Enterprise offering compare to the other plans?
  {% endblocktrans %}
{% endblock %}

{% block accordion_content %}
  <p>
    Every project space included in our Enterprise subscription includes 
    all of our features. Additionally, the feature-set of our Enterprise 
    offering is aligned towards creating organizational value, which 
    includes capabilities like the Enterprise Console, Single Sign-On 
    (SSO), and Enterprise Release Management (ERM).
  </p>
  <p>
    Learn more about these Enterprise features 
    <a href="https://confluence.dimagi.com/display/commcarepublic/Enterprise+Features"
       target="_blank">here</a>.
  </p>
{% endblock %}
