{% extends "sections/commcare/enterprise/projects/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/commcare/enterprise/cost.html" %}
{% endblock %}

{% block heading %}
  {% blocktrans %}
    Reduce Costs and Simplify Billing 
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    No matter how decentralized your iNGO is, we’ll partner with 
    you to reduce administration and capture more value for your 
    country offices. Steady your organization’s monthly costs 
    with a bespoke plan at preferential pricing. 
  {% endblocktrans %}
{% endblock %}
