{% extends "sections/commcare/enterprise/projects/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/commcare/enterprise/beyond_project.html" %}
{% endblock %}

{% block heading %}
  {% blocktrans %}
    Beyond Project-Level Success
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    A custom number of project spaces and a powerful suite 
    of features only available to our own Solutions Delivery 
    team can help your organization institutionalize 
    CommCare in a sustainable way.
  {% endblocktrans %}
{% endblock %}
