{% extends "sections/commcare/enterprise/projects/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/commcare/enterprise/collab.html" %}
{% endblock %}

{% block heading %}
  {% blocktrans %}
    Collaborate With Us to Develop New Features
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    CommCare adds new features all the time, and our Enterprise 
    partners get them first. Play a vital role in the future 
    of CommCare by partnering with us in product discovery, 
    user testing, and early access programs.
  {% endblocktrans %}
{% endblock %}
