{% extends "snippets/icon_tile_cta.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block cta_link %}
  #todo
{% endblock %}

{% block icon_class %}{% endblock %}

{% block icon %}
  {% include "svg/products/commcare/icon/agriculture.html" %}
{% endblock %}

{% block header_class %}blue{% endblock %}

{% block header %}{% blocktrans %}
  Agriculture training
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  CommCare is helping Rainforest Alliance deliver important training
  information to 1.3 million farmers worldwide.
{% endblocktrans %}{% endblock %}

{% block link_class %}blue{% endblock %}

{% block cta_text %}{% blocktrans %}
  Watch video
{% endblocktrans %}{% endblock %}
