{% extends "snippets/icon_tile_cta.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block cta_link %}
  #todo
{% endblock %}

{% block icon_class %}{% endblock %}

{% block icon %}
  {% include "svg/products/commcare/icon/malaria.html" %}
{% endblock %}

{% block header_class %}blue{% endblock %}

{% block header %}{% blocktrans %}
  Retail distribution
{% endblocktrans %}{% endblock %}

{% block content %}{% blocktrans %}
  La Laiterie du Berger uses CommCare to track the
  distribution of milk across retail locations in Senegal.
{% endblocktrans %}{% endblock %}

{% block link_class %}blue{% endblock %}

{% block cta_text %}{% blocktrans %}
 Watch Video
{% endblocktrans %}{% endblock %}
