{% load i18n %}
{% load dimagidotcom %}

<div class="feature-partners">
  <div class="feature-projects pad-vert-line pad-horz-line">
    <div class="grid-flex-at-medium">
      <div class="feature-partner-mwcd column gap-top-medium flex-align-left">
        <div class="image"
             data-lazybg="true"></div>
        </div>
      <div class="column">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          Ministry of Women and Child Development, Government of India
        </h6>
        <p class="align-left">
          India’s Ministry of Women and Child Development uses CommCare to support 
          the largest mHealth program in the world. The mobile application, 
          known as the Integrated Child Development Services-Common Application 
          Software (ICDS-CAS), tracks 1 in 50 malnourished children and 1 in 110 
          new pregnancies globally.
        </p>
      </div>
    </div>
  </div>{# .feature-projects #}
</div>{# .feature-partners #}
