{% extends "sections/commcare/partners/brief_overview/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/commcare/icon/globe.html" %}
{% endblock %}

{% block header %}
  {% blocktrans %}
    OIKOI
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    Oikoi has tested and used CommCare on numerous agriculture projects in 
    15 countries across Southeast Asia and Oceania. In fact, Oikoi were our 
    first certified partner because of their inspiring approach to integrating 
    scientific research, emerging technologies, capacity building, and 
    storytelling to create impact in challenging environments.
  {% endblocktrans %}
{% endblock %}

