@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

#intro {
  @include make-bg(epic-cover, '../../../pages/pillar/dc/intro/hero');
}

.sub-nav-menu-active .sub-nav .dropdown {
  height: 350px;
}

.sub-nav a:not(.button).social {
  cursor: pointer;
  svg * {
    fill: $color-text;
    transition: fill 150ms ease-in-out;
  }
  svg {
  	cursor: pointer;
    margin-top: -1px;
    height: 20px;
    width: 20px;
  }
  &:hover svg * {
    fill: $color-blue;
  }
}

$_max-mobile: $width-desktop - 1px;
@media (max-width: $_max-mobile) {
  .sub-nav-menu-active .sub-nav .dropdown {
    height: auto;
  }
}

.dropdown .social-links {
  padding-top: $space-small;
  .social {
    display: inline-block;
    padding-right: $space-base;
  }
}

a:not(.button).tile-more {
  background: transparent;
  color: $color-white;
  padding: $space-small;
  padding-bottom: $space-small + $space-base;
  h2 {
    font-weight: $font-weight-medium;
  }
  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:hover {
    color: $color-white;
  }
  &::before {
    border-color: transparent !important;
  }
  &::after {
    border-color: $color-white !important;
  }
}

.tile-chapter {
  position: relative;
  &:after {
    border-width: 10px !important; //scss-lint:disable ImportantRule
  }
  h2 {
    color: $color-white;
    font-size: $font-size-h3;
    line-height: $line-height-header;
  }
  .chapter-number {
  	color: $color-white;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    bottom: $space-small;
  }
}

.parallax-ch1-1 {
  @include make-parallax-bg(epic-cover, '../../../pages/pillar/dc/chapter1/hero');
  height: auto !important; 
}

.parallax-ch2-1 {
  @include make-parallax-bg(hero, '../../../pages/pillar/dc/chapter2/hero');
  height: auto !important;
}

.parallax-ch3-1 {
  @include make-parallax-bg(hero, '../../../pages/pillar/dc/chapter3/hero');
  height: auto !important;
}

.parallax-ch4-1 {
  @include make-parallax-bg(hero, '../../../pages/pillar/dc/chapter4/hero');
  height: auto !important;
}

.epic {
  $_base-height: 190px;
  $_height-by-size: (
    small: 249px,
    medium: 399px,
  );
}

#chapter-intro {
  $_base-height: auto;
  $_height-by-size: (
    small: 324px,
    medium: 390px,
  );
  @include make-bg(community-image, '../../../pages/home/launch', $_base-height, $_height-by-size);
}

#chapter-accordion {
  $_base-height: auto;
  $_height-by-size: (
    small: 324px,
    medium: 400px,
  );
  @include make-bg(community-image-accordion, '../../../pages/home/launch', $_base-height, $_height-by-size);
}

.community-image-accordion {
  width: 200px;
  margin-top: 0px !important;
}

#chapter-2 {
  $_base-height: 190px;
  $_height-by-size: (
    small: 324px,
    medium: 390px,
  );
  @include make-bg(child-growth-image, '../../../pages/pillar/dc/chapter2/growth', $_base-height, $_height-by-size);
}

#chapter-3 {
  $_base-height: 247px;
  $_height-by-size: (
    small: 324px,
    medium: 390px,
  );
  @include make-bg(agile-image, '../../../pages/pillar/dc/chapter3/align', $_base-height, $_height-by-size);
}

#chapter-4 {
  $_base-height: 247px;
  $_height-by-size: (
    small: 324px,
    medium: 390px,
  );
  @include make-bg(plan-image, '../../../pages/pillar/dc/chapter4/plan', $_base-height, $_height-by-size);
}

.section-header span {
  font-size: 57px !important;
  line-height: 72px !important;
  font-weight: 700 !important;
}

.section-number {
  position: absolute;
}

#chapter-1 .community-image .bg-loader {
  background-size: 100% auto;
}

#chapter-2 .child-growth-image .bg-loader {
  background-size: 100% auto;
}

#chapter-3 .agile-image .bg-loader {
  background-size: 100% auto;
}

#chapter-4 .plan-image .bg-loader {
  background-size: 100% auto;
}

.blog_build {
  $_base-height: 290px;
  $_height-by-size: (
    small: 390px,
    medium: 390px,
    large: 390px,
    extra-large: 392px,
  );
  @include make-bg(blog_image, '../../../pages/blog/mobiledata_blog_page/blog_build/hero', $_base-height, $_height-by-size);
  @media (min-width: $width-desktop) {
    .off-grid {
      bottom: 20px;
      left: -337px;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 1;
    }
    
    .content {
      position: relative;
      z-index: 2;
    }
  }
  @media (min-width: $width-desktop-lg) {
    .off-grid {
      left: -180px;
    }
  }
}

blockquote.rowena p {
  position: relative;

  &:after{
    position: absolute;
    right: -10px;
    bottom: 0;
  }
}

.chw-border-left {
  border-left: 5px solid turquoise;
  padding-left: 10px;
  line-height: 30px !important; //scss-lint:disable ImportantRule
  margin-left: 8px;
}

.chw-tasks-card {
  border-radius: 5px;
  color: $color-text;
}

.chw-challenges {
  background-color: $color-red;
  height: 110px;
  width: 110px;
  border-radius: 100px;

    svg {
      margin-left: 20px;
      margin-top: 22px;
    }
    
}

.chw-ethiopia-program {
  width: 350px;
}

.chw-community ol {
  li {
    &:before {
      background-color: $color-neutral;
      color: $color-white;
      width: 34px;;
      height: -webkit-fill-available;
      font-size: 25px;
      padding-left: 10px;
      padding-top: 28px;
      content: counter(item) " ";
      font-weight: bolder;
    }
  }
}

.mhp-case-study .image.testimonial2 {
  @include background-cover('../../../pages/home/video-intro-banner.jpg');
}

.video-intro .image {
  @include background-cover('../../../pages/home/video-intro-banner.jpg');
  height: 200px;
  width: 270px;
}

.news-images .image.blog3 {
  @include background-cover('../../../pages/sectors/reproductive-health/news/blog3.jpg');
  height: 140px;
}

.news-images .image.blog2 {
  @include background-cover('../../../pages/sectors/reproductive-health/news/blog3.jpg');
  height: 250px;
}

.accordion-custom-heading-text {
  font-size: $font-size-extra-large !important; //scss-lint:disable ImportantRule
}

.chw-links {
  color: $color-text !important;
  font-size: $font-size-small !important;
}
