#intro .epic-cover {
  background-image: url("../../../thumbnails/pages/pillar/dc/intro/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 500px;
  transition: .5s background ease-in-out;
  position: relative; }

#intro .epic-cover .bg-loader {
  background-image: url("../../../pages/pillar/dc/intro/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #intro .epic-cover {
    background-image: url("../../../thumbnails/pages/pillar/dc/intro/hero.small.jpg");
    height: 500px; }
  #intro .epic-cover .bg-loader {
    background-image: url("../../../pages/pillar/dc/intro/hero.small.jpg"); } }

@media (min-width: 718px) {
  #intro .epic-cover {
    background-image: url("../../../thumbnails/pages/pillar/dc/intro/hero.medium.jpg");
    height: 500px; }
  #intro .epic-cover .bg-loader {
    background-image: url("../../../pages/pillar/dc/intro/hero.medium.jpg"); } }

@media (min-width: 1024px) {
  #intro .epic-cover {
    background-image: url("../../../thumbnails/pages/pillar/dc/intro/hero.large.jpg");
    height: 500px; }
  #intro .epic-cover .bg-loader {
    background-image: url("../../../pages/pillar/dc/intro/hero.large.jpg"); } }

@media (min-width: 1292px) {
  #intro .epic-cover {
    background-image: url("../../../thumbnails/pages/pillar/dc/intro/hero.extra-large.jpg");
    height: 500px; }
  #intro .epic-cover .bg-loader {
    background-image: url("../../../pages/pillar/dc/intro/hero.extra-large.jpg"); } }

.sub-nav-menu-active .sub-nav .dropdown {
  height: 220px; }

.sub-nav a:not(.button).social {
  cursor: pointer; }
  .sub-nav a:not(.button).social svg * {
    fill: #5f6a7d;
    transition: fill 150ms ease-in-out; }
  .sub-nav a:not(.button).social svg {
    cursor: pointer;
    margin-top: -1px;
    height: 20px;
    width: 20px; }
  .sub-nav a:not(.button).social:hover svg * {
    fill: #004ebc; }

@media (max-width: 717px) {
  .sub-nav-menu-active .sub-nav .dropdown {
    height: auto; } }

.dropdown .social-links {
  padding-top: 30px; }
  .dropdown .social-links .social {
    display: inline-block;
    padding-right: 10px; }

a:not(.button).tile-more {
  background: transparent;
  color: #ffffff;
  padding: 30px;
  padding-bottom: 40px; }
  a:not(.button).tile-more h2 {
    font-weight: 700; }
  a:not(.button).tile-more p:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  a:not(.button).tile-more:hover {
    color: #ffffff; }
  a:not(.button).tile-more::before {
    border-color: transparent !important; }
  a:not(.button).tile-more::after {
    border-color: #ffffff !important; }

.tile-chapter {
  position: relative; }
  .tile-chapter:after {
    border-width: 10px !important; }
  .tile-chapter h2 {
    color: #ffffff;
    font-size: 22px;
    line-height: 30px; }
  .tile-chapter .chapter-number {
    color: #ffffff;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    bottom: 30px; }

.dark-gray-bg {
  background-color: #E6E6E5 !important; }

.dc-icon svg {
  width: 60px !important;
  height: 70px;
  margin-left: 30px;
  margin-right: 0px; }

.parallax-ch1-1 {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  transition: .5s background ease-in-out, .5s height ease-in-out;
  height: auto !important; }
  .parallax-ch1-1.loaded,
  .parallax-ch1-1 .bg-preload {
    background-image: url("../../../pages/pillar/dc/chapter1/hero.jpg"); }
  @media (min-width: 480px) {
    .parallax-ch1-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/hero.small.jpg");
      height: 180px; }
      .parallax-ch1-1.loaded,
      .parallax-ch1-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter1/hero.small.jpg"); } }
  @media (min-width: 718px) {
    .parallax-ch1-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/hero.medium.jpg");
      height: 220px; }
      .parallax-ch1-1.loaded,
      .parallax-ch1-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter1/hero.medium.jpg"); } }
  @media (min-width: 1024px) {
    .parallax-ch1-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/hero.large.jpg");
      height: 280px; }
      .parallax-ch1-1.loaded,
      .parallax-ch1-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter1/hero.large.jpg"); } }
  @media (min-width: 1292px) {
    .parallax-ch1-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/hero.extra-large.jpg");
      height: 350px; }
      .parallax-ch1-1.loaded,
      .parallax-ch1-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter1/hero.extra-large.jpg"); } }
  @media (max-width: 717px) {
    .parallax-ch1-1 {
      background-attachment: initial; } }

.parallax-ch2-1 {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  transition: .5s background ease-in-out, .5s height ease-in-out;
  height: auto !important; }
  .parallax-ch2-1.loaded,
  .parallax-ch2-1 .bg-preload {
    background-image: url("../../../pages/pillar/dc/chapter2/hero.jpg"); }
  @media (min-width: 480px) {
    .parallax-ch2-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/hero.small.jpg");
      height: 180px; }
      .parallax-ch2-1.loaded,
      .parallax-ch2-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter2/hero.small.jpg"); } }
  @media (min-width: 718px) {
    .parallax-ch2-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/hero.medium.jpg");
      height: 220px; }
      .parallax-ch2-1.loaded,
      .parallax-ch2-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter2/hero.medium.jpg"); } }
  @media (min-width: 1024px) {
    .parallax-ch2-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/hero.large.jpg");
      height: 280px; }
      .parallax-ch2-1.loaded,
      .parallax-ch2-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter2/hero.large.jpg"); } }
  @media (min-width: 1292px) {
    .parallax-ch2-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/hero.extra-large.jpg");
      height: 350px; }
      .parallax-ch2-1.loaded,
      .parallax-ch2-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter2/hero.extra-large.jpg"); } }
  @media (max-width: 717px) {
    .parallax-ch2-1 {
      background-attachment: initial; } }

.parallax-ch3-1 {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  transition: .5s background ease-in-out, .5s height ease-in-out;
  height: auto !important; }
  .parallax-ch3-1.loaded,
  .parallax-ch3-1 .bg-preload {
    background-image: url("../../../pages/pillar/dc/chapter3/hero.jpg"); }
  @media (min-width: 480px) {
    .parallax-ch3-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/hero.small.jpg");
      height: 180px; }
      .parallax-ch3-1.loaded,
      .parallax-ch3-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter3/hero.small.jpg"); } }
  @media (min-width: 718px) {
    .parallax-ch3-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/hero.medium.jpg");
      height: 220px; }
      .parallax-ch3-1.loaded,
      .parallax-ch3-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter3/hero.medium.jpg"); } }
  @media (min-width: 1024px) {
    .parallax-ch3-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/hero.large.jpg");
      height: 280px; }
      .parallax-ch3-1.loaded,
      .parallax-ch3-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter3/hero.large.jpg"); } }
  @media (min-width: 1292px) {
    .parallax-ch3-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/hero.extra-large.jpg");
      height: 350px; }
      .parallax-ch3-1.loaded,
      .parallax-ch3-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter3/hero.extra-large.jpg"); } }
  @media (max-width: 717px) {
    .parallax-ch3-1 {
      background-attachment: initial; } }

.parallax-ch4-1 {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  transition: .5s background ease-in-out, .5s height ease-in-out;
  height: auto !important; }
  .parallax-ch4-1.loaded,
  .parallax-ch4-1 .bg-preload {
    background-image: url("../../../pages/pillar/dc/chapter4/hero.jpg"); }
  @media (min-width: 480px) {
    .parallax-ch4-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/hero.small.jpg");
      height: 180px; }
      .parallax-ch4-1.loaded,
      .parallax-ch4-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter4/hero.small.jpg"); } }
  @media (min-width: 718px) {
    .parallax-ch4-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/hero.medium.jpg");
      height: 220px; }
      .parallax-ch4-1.loaded,
      .parallax-ch4-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter4/hero.medium.jpg"); } }
  @media (min-width: 1024px) {
    .parallax-ch4-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/hero.large.jpg");
      height: 280px; }
      .parallax-ch4-1.loaded,
      .parallax-ch4-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter4/hero.large.jpg"); } }
  @media (min-width: 1292px) {
    .parallax-ch4-1 {
      background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/hero.extra-large.jpg");
      height: 350px; }
      .parallax-ch4-1.loaded,
      .parallax-ch4-1 .bg-preload {
        background-image: url("../../../pages/pillar/dc/chapter4/hero.extra-large.jpg"); } }
  @media (max-width: 717px) {
    .parallax-ch4-1 {
      background-attachment: initial; } }

#chapter-1 .community-image {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/community.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: auto;
  transition: .5s background ease-in-out;
  position: relative; }

#chapter-1 .community-image .bg-loader {
  background-image: url("../../../pages/pillar/dc/chapter1/community.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #chapter-1 .community-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/community.small.jpg");
    height: 324px; }
  #chapter-1 .community-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter1/community.small.jpg"); } }

@media (min-width: 718px) {
  #chapter-1 .community-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter1/community.medium.jpg");
    height: 390px; }
  #chapter-1 .community-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter1/community.medium.jpg"); } }

#chapter-2 .child-growth-image {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/growth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 190px;
  transition: .5s background ease-in-out;
  position: relative; }

#chapter-2 .child-growth-image .bg-loader {
  background-image: url("../../../pages/pillar/dc/chapter2/growth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #chapter-2 .child-growth-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/growth.small.jpg");
    height: 324px; }
  #chapter-2 .child-growth-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter2/growth.small.jpg"); } }

@media (min-width: 718px) {
  #chapter-2 .child-growth-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter2/growth.medium.jpg");
    height: 390px; }
  #chapter-2 .child-growth-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter2/growth.medium.jpg"); } }

#chapter-3 .agile-image {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/align.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 247px;
  transition: .5s background ease-in-out;
  position: relative; }

#chapter-3 .agile-image .bg-loader {
  background-image: url("../../../pages/pillar/dc/chapter3/align.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #chapter-3 .agile-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/align.small.jpg");
    height: 324px; }
  #chapter-3 .agile-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter3/align.small.jpg"); } }

@media (min-width: 718px) {
  #chapter-3 .agile-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter3/align.medium.jpg");
    height: 390px; }
  #chapter-3 .agile-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter3/align.medium.jpg"); } }

#chapter-4 .plan-image {
  background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/plan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 247px;
  transition: .5s background ease-in-out;
  position: relative; }

#chapter-4 .plan-image .bg-loader {
  background-image: url("../../../pages/pillar/dc/chapter4/plan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  #chapter-4 .plan-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/plan.small.jpg");
    height: 324px; }
  #chapter-4 .plan-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter4/plan.small.jpg"); } }

@media (min-width: 718px) {
  #chapter-4 .plan-image {
    background-image: url("../../../thumbnails/pages/pillar/dc/chapter4/plan.medium.jpg");
    height: 390px; }
  #chapter-4 .plan-image .bg-loader {
    background-image: url("../../../pages/pillar/dc/chapter4/plan.medium.jpg"); } }

.section-header span {
  font-size: 57px !important;
  line-height: 72px !important;
  font-weight: 700 !important; }

.section-number {
  position: absolute; }

#chapter-1 .community-image .bg-loader {
  background-size: 100% auto; }

#chapter-2 .child-growth-image .bg-loader {
  background-size: 100% auto; }

#chapter-3 .agile-image .bg-loader {
  background-size: 100% auto; }

#chapter-4 .plan-image .bg-loader {
  background-size: 100% auto; }

.blog_build .blog_image {
  background-image: url("../../../thumbnails/pages/blog/mobiledata_blog_page/blog_build/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 290px;
  transition: .5s background ease-in-out;
  position: relative; }

.blog_build .blog_image .bg-loader {
  background-image: url("../../../pages/blog/mobiledata_blog_page/blog_build/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

@media (min-width: 480px) {
  .blog_build .blog_image {
    background-image: url("../../../thumbnails/pages/blog/mobiledata_blog_page/blog_build/hero.small.jpg");
    height: 390px; }
  .blog_build .blog_image .bg-loader {
    background-image: url("../../../pages/blog/mobiledata_blog_page/blog_build/hero.small.jpg"); } }

@media (min-width: 718px) {
  .blog_build .blog_image {
    background-image: url("../../../thumbnails/pages/blog/mobiledata_blog_page/blog_build/hero.medium.jpg");
    height: 390px; }
  .blog_build .blog_image .bg-loader {
    background-image: url("../../../pages/blog/mobiledata_blog_page/blog_build/hero.medium.jpg"); } }

@media (min-width: 1024px) {
  .blog_build .blog_image {
    background-image: url("../../../thumbnails/pages/blog/mobiledata_blog_page/blog_build/hero.large.jpg");
    height: 390px; }
  .blog_build .blog_image .bg-loader {
    background-image: url("../../../pages/blog/mobiledata_blog_page/blog_build/hero.large.jpg"); } }

@media (min-width: 1292px) {
  .blog_build .blog_image {
    background-image: url("../../../thumbnails/pages/blog/mobiledata_blog_page/blog_build/hero.extra-large.jpg");
    height: 392px; }
  .blog_build .blog_image .bg-loader {
    background-image: url("../../../pages/blog/mobiledata_blog_page/blog_build/hero.extra-large.jpg"); } }

@media (min-width: 718px) {
  .blog_build .off-grid {
    bottom: 20px;
    left: -337px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1; }
  .blog_build .content {
    position: relative;
    z-index: 2; } }

@media (min-width: 1024px) {
  .blog_build .off-grid {
    left: -180px; } }

blockquote.rowena p {
  position: relative; }
  blockquote.rowena p:after {
    position: absolute;
    right: -10px;
    bottom: 0; }
