@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

a.tile-more {
  background: transparent;
  padding: $space-small;
  padding-bottom: $space-small + $space-base;

  h2 {
    font-weight: $font-weight-medium;
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:before {
    border-color: transparent !important;
  }

  &:after {
    border-color: $color-white !important;
  }

}

.sub-nav-menu-active .sub-nav .dropdown {
  height: 400px;
}

.sub-nav a.social {
  cursor: pointer;

  svg * {
    fill: $color-text;
    transition: fill 150ms ease-in-out;
  }

  svg {
    cursor: pointer;
    margin-top: -1px;
    height: 20px;
    width: 20px;
  }

  &:hover svg * {
    fill: $color-blue;
  }
}

.tile-chapter {
  position: relative;

  &:after {
    border-width: 10px !important;
  }

  h2 {
    color: $color-white;
    font-size: $font-size-h3;
    line-height: $line-height-header;
    margin-bottom: 60px;
  }

  .chapter-number {
    color: $color-white;
    font-size: $font-size-epic-h1;
    line-height: $font-size-epic-h1;
    position: absolute;
    bottom: $space-small;
  }

}

$_max-mobile: $width-desktop - 1px;
@media (max-width: $_max-mobile) {
  .sub-nav-menu-active .sub-nav .dropdown {
    height: auto;
  }
}

.dropdown .social-links {
  padding-top: $space-small;

  .social {
    display: inline-block;
    padding-right: $space-base;
  }
}


