@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

#intro {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/intro/hero');
}

#chapter-1 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter1/hero');
}

#chapter-2 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter2/hero');
}

#chapter-3 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter3/hero');
}

#chapter-4 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter4/hero');
}

#chapter-5 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter5/hero');
}

#chapter-6 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter6/hero');
}

#chapter-7 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter7/hero');
}

#chapter-8 {
  @include make-bg(epic-cover, '../../../pages/pillar/mdc/chapter8/hero');
}


a:not(.button).tile-more {
  background: transparent;
  color: $color-white;
  padding: $space-small;
  padding-bottom: $space-small + $space-base;

  h2 {
    font-weight: $font-weight-medium;
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:hover {
    color: $color-white;
  }

  &::before {
    border-color: transparent !important;
  }

  &::after {
    border-color: $color-white !important;
  }

}

.tile-chapter {
  position: relative;

  &:after {
    border-width: 10px !important;
  }

  h2 {
    color: $color-white;
    font-size: $font-size-h3;
    line-height: $line-height-header;
    margin-bottom: 60px;
  }

  .chapter-number {
    color: $color-white;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    bottom: $space-small;
  }

}

.cms-india-border-left {
  border-left: 5px solid #004ebc;
  padding-left: 10px;
  line-height: 30px !important;
  margin-left: 8px;
}


.strip-1 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/1.jpg);
  }

.strip-2 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/2.jpg);
}

.strip-3 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/3.jpg);
}

.strip-4 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/4.jpg);
}

.strip-5 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/5.jpg);
}

.strip-6 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/6.jpg);
  }

.strip-7 {
  background-image: url(/static/pages/pillar/mdc/intro/strips/7.jpg);
}

.epic {
  $_base-height: 190px;
  $_height-by-size: (
    small: 249px,
    medium: 399px,
  );
}

#chapter-6 {
  $_base-height: 229px;
  $_height-by-size: (
    small: 300px,
    medium: 636px,
  );
  @include make-bg(case-list-image, '../../../pages/pillar/mdc/chapter6/case-list', $_base-height, $_height-by-size);
}

#chapter-1 {
  $_base-height: auto;
  $_height-by-size: (
    small: 324px,
    medium: 540px,
  );
  @include make-bg(cms, '../../../pages/pillar/mdc/chapter1/cms/hero', $_base-height, $_height-by-size);
  @include make-bg(environmental-image, '../../../pages/pillar/mdc/chapter1/environmental', $_base-height, $_height-by-size);
}

#chapter-2 {
  $_base-height: 190px;
  $_height-by-size: (
    small: 324px,
    medium: 540px,
  );
  @include make-bg(identify-image, '../../../pages/pillar/mdc/chapter2/identify', $_base-height, $_height-by-size);
}

#chapter-3 {
  $_base-height: 247px;
  $_height-by-size: (
    small: 324px,
    medium: 520px,
  );
  @include make-bg(agile-image, '../../../pages/pillar/mdc/chapter3/agile', $_base-height, $_height-by-size);
}

#chapter-4 {
  $_base-height: 247px;
  $_height-by-size: (
    small: 324px,
    medium: 520px,
  );
  @include make-bg(qaprocess-image, '../../../pages/pillar/mdc/chapter4/qaprocess', $_base-height, $_height-by-size);
}

#chapter-5 {
  $_base-height: 269px;
  $_height-by-size: (
    small: 353px,
    medium: 566px,
  );
  @include make-bg(pitfalls-image, '../../../pages/pillar/mdc/chapter5/pitfalls', $_base-height, $_height-by-size);
}

#chapter-6 {
  $_base-height: 190px;
  $_height-by-size: (
    small: 324px,
    medium: 520px,
  );
  @include make-bg(trainning-image, '../../../pages/pillar/mdc/chapter6/train', $_base-height, $_height-by-size);
}


#chapter-7 {
  $_base-height: 190px;
  $_height-by-size: (
    small: 324px,
    medium: 520px,
  );
  @include make-bg(supervisors-image, '../../../pages/pillar/mdc/chapter7/supervisors', $_base-height, $_height-by-size);
}
