@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


@include jacket ($jacket-standard) {

  .accordion-header {
    border: 1px solid $color-border;
    cursor: pointer;

    &:hover {
      background-color: $color-accent-gray;
    }

    > * {
      vertical-align: middle;

      &:before { // scss-lint:disable NestingDepth
        content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%20width%3D%2225%22%20height%3D%2225%22%20class%3D%22accordion-icon%22%20fill%3D%22none%22%20stroke%3D%22%23002c5f%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2212.5%22%20cy%3D%2212.5%22%20r%3D%2211%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2217.5%22%20y1%3D%2212.5%22%20x2%3D%227.5%22%20y2%3D%2212.5%22%3E%3C%2Fline%3E%3C%2Fsvg%3E');
        display: block;
        float: left;
        height: 25px;
        margin-top: -3px;
        width: 25px + $space-base;
      }
    }
  }

  .accordion-content {
    border: 1px solid $color-border;
    border-top: none;
  }

  .accordion {
    text-align: left;
    width: 100%;

    &.collapsed {
      .accordion-header > *:before {
        content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%20width%3D%2225%22%20height%3D%2225%22%20class%3D%22accordion-icon%22%20fill%3D%22none%22%20stroke%3D%22%23002c5f%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2212.5%22%20cy%3D%2212.5%22%20r%3D%2211%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2212.5%22%20y1%3D%227.5%22%20x2%3D%2212.5%22%20y2%3D%2217.5%22%3E%3C%2Fline%3E%3Cline%20x1%3D%2217.5%22%20y1%3D%2212.5%22%20x2%3D%227.5%22%20y2%3D%2212.5%22%3E%3C%2Fline%3E%3C%2Fsvg%3E');
      }

      .accordion-content {
        border-bottom: none;
      }
    }
  }

  .accordion-group {
    border-top: 1px solid $color-border;

    .accordion-header {
      border-top: none;
    }
  }

  .accordion-color {
    .accordion-header {
      border-radius: $border-radius $border-radius 0 0;
    }

    &.collapsed {
      .accordion-header {
        border-radius: $border-radius;
      }
    }
  }

  .accordion-faq-color {
    .accordion-header {
      border-radius: $border-radius $border-radius 0 0;

      &:hover {
        background-color: $color-bg;
      }
    }

    &.collapsed {
      .accordion-header {
        border-radius: $border-radius;
      }
    }
  }

  .accordion-arrow {
    .accordion-header > *:before { // scss-lint:disable NestingDepth
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      display: block;
      float: right;
      height: 12px;
      margin-top: 17px;
      margin-right: -5px;
      width: 12px;
      transform: rotate(180deg);
    }
    &.collapsed .accordion-header > *:before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      transform: none;
      height: 12px;
      width: 12px;
      margin-top: -1px;
      margin-right: -5px;
    }
  }

  .accordion-faq-arrow {
    .accordion-header > *:before { // scss-lint:disable NestingDepth
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      display: block;
      float: right;
      height: 12px;
      margin-top: 17px;
      margin-right: -5px;
      width: 12px;
      transform: rotate(180deg);
    }
    &.collapsed .accordion-header > *:before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      transform: none;
      height: 12px;
      width: 12px;
      margin-top: -1px;
      margin-right: -5px;
    }
  }

}


@include jacket($jacket-standard) {

  @each $_name, $_color in $colors-by-theme {
    .#{$_name}-theme .accordion-icon {
      stroke: $_color;
    }
    .#{$_name}-theme .accordion-color .accordion-header {
      background-color: $_color;
      border: none;
    }
    .#{$_name}-theme .accordion-faq-color .accordion-header {
      border: none;
    }
  }

}


@include jacket($jacket-standard) {

  .show-time .accordion-header {
    transition: background-color .5s ease-in-out;
  }

}
