@import 'app/variables/colors';

.badge { //scss-lint:disable PropertyCount
  border-color: $color-border;
  border-radius: 999em;
  border-style: solid;
  border-width: 1px;
  color: $color-badge;
  display: inline-block;
  font-size: 11px;
  font-weight: $font-weight-medium;
  letter-spacing: 1px;
  line-height: 1;
  padding: 6px 15px 7px;
  text-transform: uppercase;

  &.small {
    padding-left: 9px;
    padding-right: 9px;
  }

  &.filled {
    background-color: $color-text;
    border-color: $color-text;
    color: $color-white;
  }
}

.chrome-android .badge {
  white-space: nowrap;
}

.badge.inverted,
.inverted .badge {
  border-color: $color-white;
  color: $color-white;
}

.badge.inverted.filled,
.inverted .badge.filled {
  background-color: $color-white;
  border-color: $color-white;
  color: $color-text;
}

@each $_name, $_color in $colors-by-theme {
  .#{$_name}-theme {

    .badge {
      border-color: $_color;
      color: $_color;

      &.filled {
        background-color: $_color;
        border-color: $_color;
        color: $color-white;
      }
    }
    .inverted .badge {
      border-color: $color-white;
      color: $color-white;

      &.filled {
        background-color: $color-white;
        border-color: $color-white;
        color: $_color;
      }
    }

  }
}

.badge.badge-default { //scss-lint:disable MergeableSelector
  border-color: $color-border;
  color: $color-badge;

  &.filled {
    background-color: $color-text;
    border-color: $color-text;
    color: $color-white;
  }
}

.inverted .badge.badge-default {
  border-color: $color-white;
  color: $color-white;

  &.filled {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-text;
  }
}

@each $_name, $_color in $colors-by-theme {
  .badge.badge-#{$_name} {
    border-color: $_color;
    color: $_color;

    &.filled {
      background-color: $_color;
      border-color: $_color;
      color: $color-white;
    }
  }

  .inverted .badge.badge-#{$_name} {
    border-color: $color-white;
    color: $color-white;

    &.filled {
      background-color: $color-white;
      border-color: $color-white;
      color: $_color;
    }
  }
}
