@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin _make-banner($_color) {
  background-color: $_color;
  color: color-invert($_color);

  [fill]:not([fill="none"]):not([fill^=url]) {
    fill: color-invert($_color);
  }

  [stroke]:not([stroke="transparent"]) {
    stroke: color-invert($_color);
  }
}

@include jacket($jacket-critical) {
  .banner {
    background-color: transparent;
    color: $color-white;
    height: $font-size-banner;
    overflow: hidden;
  }
}

@include jacket($jacket-standard) {
  .banner {
    @include _make-banner($color-banner);
  }
}

@include jacket($jacket-critical) {
  .banner .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
}

@include jacket($jacket-critical) {
  .banner .column {
    display: flex;
    flex: 1;
    height: 100%;
    margin-left: -$banner-pad-mobile;
    margin-right: -$banner-pad-mobile;
    position: relative;
    z-index: 4;

    > * {
      padding-left: $banner-pad-mobile;
      padding-right: $banner-pad-mobile;
    }
  }

  .banner .column-fill {
    flex: 2;
  }
}

@include jacket($jacket-critical) {
  .banner a {
    align-items: center;
    color: inherit !important; // scss-lint:disable ImportantRule
    display: flex;
    font-size: $font-size-banner-link;
    font-weight: $font-weight-banner;
    height: 100%;
    letter-spacing: $letter-spacing-banner-link;
    line-height: $line-height-banner;
    text-transform: uppercase;

    &.logo svg {
      height: $banner-logo-height-mobile;
      width: $banner-logo-width-mobile;
    }

    &.menu-link {
      left: 0;
      position: absolute;
      top: 0;
    }

    &.menu-open {
      opacity: 1;
      visibility: visible;
    }

    &.menu-close {
      opacity: 0;
      visibility: hidden;
    }

    &.login-link,
    &.trial-link {
      padding-left: 20px !important;
      padding-right: 0 !important;
      transition: color 300ms 0s;
    }

    &.menu-open-sibling {
      opacity: 1;
      padding-right: 20px !important;
    }
  }
}

@include jacket($jacket-critical) {
  @media (min-width: $width-desktop) {
    .banner {
      height: $banner-height-desktop;

      .column {
        margin-left: -$banner-pad-desktop;
        margin-right: -$banner-pad-desktop;

        > * {
          padding-left: $banner-pad-desktop;
          padding-right: $banner-pad-desktop;
        }
      }

      a.logo svg {
        height: $banner-logo-height-desktop;
        width: $banner-logo-width-desktop;
      }
    }
  }

  @media (max-width: $width-desktop - 1px) {
    .banner a.logo svg {
      padding-top: 5px;
    }
  }
}

@include jacket($jacket-standard) {
  .banner {
    a {
      &.menu-open {
        transition: opacity 300ms 600ms, visibility 0s, color 300ms;
      }

      &.menu-close {
        transition: opacity 300ms 0s, visibility 0s 300ms;
      }

      &.login-link,
      &.trial-link {
        transition: color 300ms 0s;
      }

      &.menu-open-sibling {
        transition: opacity 300ms 600ms, visibility 0s, color 300ms;
      }
    }
  }
}


@include jacket ($jacket-standard) {
  @each $_name, $_color in $colors-by-theme {
    .#{$_name}-theme .banner {
      @include _make-banner($_color);
    }

    .banner.banner-#{$_name} {
      @include _make-banner($_color);
    }

    .#{$_name}-theme.tucked-hero .banner {
      background-color: transparent;
    }

    .tucked-hero .banner.banner-#{$_name} {
      background-color: transparent;
    }
  }
}

@include jacket ($jacket-critical) {
  .menu-active .banner a {
    &.menu-open {
      opacity: 0;
      transition: opacity 150ms 0s, visibility 0s 300ms, color 300ms;
      visibility: hidden;
    }

    &.menu-close {
      opacity: 1;
      transition: opacity 300ms 300ms, visibility 0s;
      visibility: visible;
    }

    &.login-link,
    &.trial-link {
      transition: color 300ms 300ms;
    }

    &.menu-open-sibling {
      opacity: 0;
      transition: opacity 150ms 0s, visibility 0s 300ms, color 300ms;
    }
  }
}
