@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin _make-banner($_color) {
  background-color: $_color;
  color: color-invert($_color);

  [fill]:not([fill="none"]):not([fill^=url]) {
    fill: color-invert($_color);
  }

  [stroke]:not([stroke="transparent"]) {
    stroke: color-invert($_color);
  }
}

.banner {
  @include _make-banner($color-banner);
  height: $font-size-banner;
  overflow: hidden;

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex: 1;
    height: 100%;
    margin-left: -$banner-pad-mobile;
    margin-right: -$banner-pad-mobile;
    position: relative;
    z-index: 4;

    > * {
      padding-left: $banner-pad-mobile;
      padding-right: $banner-pad-mobile;
    }
  }

  .column-fill {
    flex: 2;
  }

  a {
    align-items: center;
    color: inherit !important; // scss-lint:disable ImportantRule
    display: flex;
    font-size: $font-size-banner-link;
    font-weight: $font-weight-banner;
    height: 100%;
    letter-spacing: $letter-spacing-banner-link;
    line-height: $line-height-banner;
    text-transform: uppercase;

    &.logo svg {
      height: $banner-logo-height-mobile;
      width: $banner-logo-width-mobile;
    }

    &.menu-link {
      left: 0;
      position: absolute;
      top: 0;
    }

    &.menu-open {
      opacity: 1;
      transition: opacity 300ms 600ms, visibility 0s, color 300ms;
      visibility: visible;
    }

    &.menu-close {
      opacity: 0;
      transition: opacity 300ms 0s, visibility 0s 300ms;
      visibility: hidden;
    }

    &.login-link,
    &.shop-link {
      transition: color 300ms 0s;
    }

    &.menu-open-sibling {
      opacity: 1;
      transition: opacity 300ms 600ms, visibility 0s, color 300ms;
    }
  }
}

@media (min-width: $width-desktop) {
  .banner {
    height: $banner-height-desktop;
    .column {
      margin-left: -$banner-pad-desktop;
      margin-right: -$banner-pad-desktop;

      > * {
        padding-left: $banner-pad-desktop;
        padding-right: $banner-pad-desktop;
      }
    }

    a.logo svg {
      height: $banner-logo-height-desktop;
      width: $banner-logo-width-desktop;
    }
  }
}

@each $_name, $_color in $colors-by-theme {
  .#{$_name}-theme .banner {
    @include _make-banner($_color);
  }

  .banner.banner-#{$_name} {
    @include _make-banner($_color);
  }
}

.tucked-hero .banner {
  background-color: transparent !important; // scss-lint:disable ImportantRule
}

.menu-active .banner a {
  &.menu-open {
    opacity: 0;
    transition: opacity 150ms 0s, visibility 0s 300ms, color 300ms;
    visibility: hidden;
  }

  &.menu-close {
    opacity: 1;
    transition: opacity 300ms 300ms, visibility 0s;
    visibility: visible;
  }

  &.login-link,
  &.shop-link {
    transition: color 300ms 300ms;
  }

  &.menu-open-sibling {
    opacity: 0;
    transition: opacity 150ms 0s, visibility 0s 300ms, color 300ms;
  }
}
