@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

.comparison-badge > .column:first-child {
  position: relative;
}

.comparison-badge > .column:first-child:after { //scss-lint:disable PropertyCount
  align-items: center;
  background-color: $color-white;
  border: 1px dashed $color-swatch-default;
  border-radius: 100%;
  content: attr(data-badge-content);
  display: flex;
  font-size: 18px;
  font-weight: $font-weight-regular;
  height: 70px;
  justify-content: center;
  left: 50%;
  line-height: $space-line;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 100;
}

@media (min-width: $width-desktop) {
  .comparison-badge > .column:first-child:after {
    left: 100%;
    top: 50%;
  }

  .comparison-badge-valign-top > .column:first-child:after {
    top: 0;
  }

  .comparison-badge-valign-middle > .column:first-child:after {
    top: 50%;
  }

  .comparison-badge-valign-bottom > .column:first-child:after {
    top: 100%;
  }
}

@each $_theme, $_color in $colors-by-theme {
  .#{$_theme}-theme .comparison-badge > .column:first-child:after {
    border-color: $_color;
    border-style: solid;
    color: $_color;
  }
}
