@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

$min-width-md: map-get($widths-by-size, medium);

.epic-read-more,
.epic-cover {
  background-color: $color-epic-cover;
  color: color-invert($color-epic-cover);
  height: auto;
  text-align: center;

  h1,
  .h1,
  h2,
  .h2,
  a:not(.button) {
    color: inherit;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }

  .content {
    padding-bottom: $epic-cover-padding;
    padding-top: $epic-cover-padding;
  }
}

.epic-read-more {
  p {
    font-size: $font-size-epic-copy;
    line-height: $line-height-epic-copy;
    font-weight: $font-weight-light;
  }

  h1,
  .h1 {
    font-weight: $font-weight-medium;
    font-size: $font-size-epic-h1-mobile * .85;
    line-height: $line-height-epic-mobile  * .85;
  }

  h2,
  .h2 {
    font-size: $font-size-h3;
    line-height: $line-height-header;
  }

}

.epic-cover {
  overflow: hidden;
  height: $epic-height;

  h1,
  .h1,
  h2,
  .h2 {
    font-weight: $font-weight-medium;
    font-size: $font-size-epic-h1-mobile;
    line-height: $line-height-epic-mobile;

    @media (min-width: $width-desktop) {
      font-size: $font-size-epic-h1;
      line-height: $line-height-epic;
    }

    @media (min-width: $min-width-md) {
      font-size: $font-size-epic-h1-lg;
      line-height: $line-height-epic-lg;
    }
  }

  h1 span,
  .h1 span,
  h2 span,
  .h2 span{
    display: block;
    font-weight: $font-weight-regular;
    font-size: $font-size-h1;
    line-height: $line-height-h1 + 2;
    margin-top: $space-line;
    margin-bottom: $space-line;

    @media (min-width: $min-width-md) {
      font-size: $font-size-h1-lg;
      line-height: $line-height-h1-lg;
    }
  }

}

@each $_theme, $_color in $colors-by-theme {

  .#{$_theme}-theme {
    .epic-cover,
    .epic-read-more {
      background-color: $_color;
      color: color-invert($_color);
    }
  }

  .epic-cover.epic-cover-#{$_theme},
  .epic-read-more.epic-read-more-#{$_theme} {
    background-color: $_color;
    color: color-invert($_color);
  }
}


.epic-intro .epic-cover {
  margin-top: -$menu-pad-top-mobile;
  padding-top: $menu-pad-top-mobile;
}

@media (min-width: $width-desktop) {
  .epic-intro .epic-cover {
    margin-top: -$menu-pad-top-desktop;
    padding-top: $menu-pad-top-desktop;
  }
}

.epic-content p {
  font-size: $font-size-epic-copy;
  line-height: $line-height-epic-copy;
  font-weight: $font-weight-light;

  &.first-letter::first-letter {
    padding-right: 4px;
    padding-top: 2px;
    margin-bottom: -2px;
    font-size: $font-size-epic-copy-first-letter;
    line-height: $line-height-epic-copy-first-letter;
    font-weight: $font-weight-medium;
    float: left;
  }
}

.epic-icon svg {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-right: 15px;
}
