.features-charts .feature {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0
}

.features-charts .level:last-child .feature:last-child {
    border: none
}

@media (min-width: 718px) {
    .features-charts .detail-level-charts .level:nth-child(3) .feature:last-child {
        border: none
    }
}

@media (min-width: 1024px) {
    .features-charts .level:nth-child(-1n+4) .feature:last-child {
        border: none
    }
}

.features-charts .high-level-chart .feature {
    position: relative
}

.features-charts .high-level-chart .feature h6,
.features-charts .high-level-chart .feature .h6 {
    padding-right: 60px
}

.features-charts .high-level-chart .feature:after {
    content: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icmVzZXQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPgogIDxwYXRoIGZpbGw9IiM1ZjZhN2QiIGQ9Ik03LjMyNywxNy42NmMtMC43MDMtMC4wMDgtMS4xNDQtMC41ODctMS41OTctMS4wMzljLTAuNjk0LTAuNjkyLTEuMzg5LTEuMzg1LTIuMDgzLTIuMDc3CiAgYy0wLjc0Ny0wLjc0NS0xLjQ5NC0xLjQ5LTIuMjQxLTIuMjM1Yy0wLjM5NS0wLjM5NC0wLjkwOC0wLjc4My0xLjIxOS0xLjI1NGMtMC44OTEtMS4zNDcsMS4wNDUtMi42ODcsMi4xMzEtMS42MDQKICBjMC40NzQsMC40NzIsMC45NDcsMC45NDQsMS40MjEsMS40MTdjMS4yMSwxLjIwNywyLjQxOSwyLjQxMywzLjYyOSwzLjYxOWMzLjI0MS0zLjY3Miw2LjQ4Mi03LjM0NCw5LjcyNC0xMS4wMTcKICBjMC42MDctMC42ODgsMS4zMTQtMS41NywyLjM1NS0wLjg4MmMxLjE3NywwLjc3NywwLjM1MSwxLjg0Ny0wLjMwMiwyLjU3NWMtMS44MTYsMi4wMjktMy42MzQsNC4wNTgtNS40NSw2LjA4NwogIGMtMS4zMDgsMS40NjEtMi42MTUsMi45MjEtMy45MjMsNC4zODJDOS4xNzksMTYuMjk0LDguMzQzLDE3LjY3NSw3LjMyNywxNy42NkM2Ljk4LDE3LjY1Niw3LjY3MiwxNy42NjUsNy4zMjcsMTcuNjZ6Ii8+Cjwvc3ZnPgo=");
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px
}

@media (min-width: 718px) {
    .features-charts .high-level-chart .feature[class*="-compatible"] .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }
}

.features-charts .detail-level-charts h6,
.features-charts .detail-level-charts .h6 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    cursor: pointer;
    position: relative
}

.features-charts .detail-level-charts h6:after,
.features-charts .detail-level-charts .h6:after {
    display: block;
    content: ">";
    font-size: 18px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18px;
    top: 22px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.features-charts .detail-level-charts .chart {
    max-height: 54px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    overflow: hidden
}

.features-charts .detail-level-charts .chart:first-child h6,
.features-charts .detail-level-charts .chart:first-child .h6 {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

.features-charts .detail-level-charts .chart [class*="grid-"] {
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out
}

.features-charts .detail-level-charts .chart.active {
    max-height: 1600px
}

.features-charts .detail-level-charts .chart.active h6:after,
.features-charts .detail-level-charts .chart.active .h6:after {
    top: 11px;
    right: 24px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.features-charts .detail-level-charts .chart.active [class*="grid-"] {
    opacity: 1
}

@media (min-width: 1024px) {
    .features-charts .detail-level-charts .chart {
        max-height: none
    }
    .features-charts .detail-level-charts .charts {
        max-height: 0;
        -webkit-transition: max-height 900ms ease-in-out;
        transition: max-height 900ms ease-in-out;
        overflow: hidden
    }
    .features-charts .detail-level-charts h6,
    .features-charts .detail-level-charts .h6 {
        cursor: auto
    }
    .features-charts .detail-level-charts h6:after,
    .features-charts .detail-level-charts .h6:after {
        content: ""
    }
    .features-charts .detail-level-charts .activate {
        opacity: 1;
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out
    }
    .features-charts .detail-level-charts .chart {
        margin-bottom: 30px
    }
    .features-charts .detail-level-charts .chart:first-child h6,
    .features-charts .detail-level-charts .chart:first-child .h6 {
        border-bottom: 1px solid #e0e0e0
    }
    .features-charts .detail-level-charts .chart [class*="grid-"] {
        opacity: 1
    }
    .features-charts .detail-level-charts.active .activate {
        opacity: 0;
        pointer-events: none
    }
    .features-charts .detail-level-charts.active .charts {
        max-height: 3200px
    }
}
