@import 'app/variables/sizes';

p+.fluid-iframe {
  margin: $space-medium 0;
}

.fluid-iframe {
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
