@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';


@include jacket ($jacket-standard) {

  input[type="text"], //scss-lint:disable PropertyCount
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  textarea {
    appearance: none;
    background: $color-white;
    border: 1px solid $color-border-input;
    border-radius: $border-radius;
    color: $color-text-old;
    display: block;
    font-family: $font-family-base;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    height: 40px;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: $space-base;
    position: relative;
    width: 100%;
    z-index: 0;

    &:disabled {
      opacity: 1;
    }

    &:focus {
      border-color: color-hover($color-default);
      z-index: 1;
    }
  }

}


@include jacket ($jacket-standard) {

  .show-time input[type="text"],
  .show-time input[type="password"],
  .show-time input[type="email"],
  .show-time input[type="search"],
  .show-time input[type="url"],
  .show-time input[type="tel"],
  .show-time input[type="number"],
  .show-time textarea {
    transition: color 300ms, border-color 300ms, background-color 300ms;
  }

  .error input[type="text"],
  .error input[type="password"],
  .error input[type="email"],
  .error input[type="search"],
  .error input[type="url"],
  .error input[type="tel"],
  .error input[type="number"],
  .error textarea {
    background: $color-white  calc(100% - 10px) 50% no-repeat;
    background-color: $color-white;
    border-color: $color-error;
    padding-right: 40px;
    z-index: 1;
  }

  .validated input[type="text"],
  .validated input[type="password"],
  .validated input[type="email"],
  .validated input[type="search"],
  .validated input[type="url"],
  .validated input[type="tel"],
  .validated input[type="number"],
  .validated textarea {
    background-color: $color-white;
    border-color: $color-validated;
    z-index: 1;
  }

}

@include jacket ($jacket-standard) {

  select { // scss-lint:disable PropertyCount
    background: $color-white;
    border: 1px solid $color-border-input;
    border-radius: $border-radius;
    color: $color-text-old;
    display: block;
    font-family: $font-family-base;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    height: 40px;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: $space-base;
    position: relative;
    width: 100%;
    z-index: 0;

    &:focus {
      border-color: color-hover($color-default);
      z-index: 1;
    }

    &:disabled {
      opacity: 1;
    }
  }

}

@include jacket ($jacket-standard) {

  .show-time select {
    transition: color 300ms, border-color 300ms, background-color 300ms;
  }

  .error select {
    background-color: $color-white;
    border-color: $color-error;
    z-index: 1;
  }

  .validated select {
    background-color: $color-white;
    border-color: $color-validated;
    z-index: 1;
  }

  ::placeholder {
    color: $color-border-input;
    font-smoothing: always;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-rendering: optimizeLegibility;
  }

  :invalid {
    box-shadow: none;
  }

  ::-ms-clear,
  ::-ms-reveal {
    display: none;
  }

  .field {
    position: relative;
  }

  .field::before,
  .field::after {
    content: ' ';
    display: none;
    pointer-events: none;
    transition: background-color 300ms, border-color 300ms, opacity 300ms, transform 300ms, visibility 0s 300ms;
  }

  .no-touch .field::before,
  .no-touch .field::after {
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(5px);
    visibility: hidden;
    z-index: 2;
  }

  .field::before {
    border-bottom: 4px solid $color-border-input;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    left: 20px;
    margin-top: 1px;
    width: 0;
  }

  .field::after {
    background-color: $color-border-input;
    border-radius: 0 0 $border-radius $border-radius;
    color: $color-white;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 16px;
    margin-top: -1px;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
  }

}

@include jacket ($jacket-standard) {
  .no-touch .field::after {
    border-radius: $border-radius;
    margin-top: 4px;
  }

  .field.active-field::before { // scss-lint:disable MergeableSelector
    border-bottom-color: $color-default;
  }

  .field.active-field::after { // scss-lint:disable MergeableSelector
    background-color: $color-default;
  }

  .field.error::before { // scss-lint:disable MergeableSelector
    border-bottom-color: $color-error;
  }

  .field.error::after { // scss-lint:disable MergeableSelector
    background-color: $color-error;
  }

  .field.validated::before { // scss-lint:disable MergeableSelector
    border-bottom-color: $color-validated;
  }

  .field.validated::after { // scss-lint:disable MergeableSelector
    background-color: $color-validated;
  }

  .field[data-validation-message]::after {
    content: attr(data-validation-message);
    display: block;
    word-wrap: break-word;
  }
}

@include jacket ($jacket-standard) {

  .field.disabled::before,
  .disabled .field::before {
    border-bottom-color: $color-border-input;
  }

  .field.disabled::after,
  .disabled .field::after {
    background-color: $color-border-input;
  }

  .field.disabled input,
  .field.disabled select,
  .field.disabled textarea,
  .disabled .field input,
  .disabled .field select,
  .disabled .field textarea {
    background-color: $color-accent-gray;
    border-color: $color-border-input;
    color: $color-border-input;
    cursor: not-allowed;
  }

}

@include jacket ($jacket-standard) {
  .input-element {
    position: relative;
  }

  .password-input {
    background-color: $color-white;
    border: 1px solid $color-border-input;
    border-radius: 3px;
    position: static;

    input {
      background: none;
      border: none;
      height: 38px;
    }
  }

  .active-field .password-input {
    border-color: $color-active-input;
  }

  .validated .password-input {
    border-color: $color-validated-input;
  }

  .error .password-input {
    border-color: $color-error-input;
  }

  .password-input.disabled button.toggle-password,
  .disabled .password-input button.toggle-password {
    display: none;
  }
}

@include jacket ($jacket-standard) {

  textarea {
    height: auto;
    max-width: 100%;
    min-height: 120px;
    overflow: auto;
    width: 100%;
  }

}

// hs-form buttons are overriding with their local theme since using important.
.hs-button {
  color : $color-white !important;
  
}

.form-columns-1 .legal-consent-container .hs-richtext p strong a {
  color: $color-primary !important;
}
