.intro {
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em
}

@media (min-width: 718px) {
    .intro {
        margin-bottom: 60px
    }
}

.intro h1,
.intro .h1,
.intro h2,
.intro .h2,
.intro h3,
.intro .h3 {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 10px
}

.purple-theme .intro h1,
.purple-theme .intro .h1,
.purple-theme .intro h2,
.purple-theme .intro .h2,
.purple-theme .intro h3,
.purple-theme .intro .h3 {
    color: #8033cc
}

.intro h4,
.intro .h4,
.intro h5,
.intro .h5,
.intro h6,
.intro .h6 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 10px
}
