@import "app/variables/colors";
@import "app/variables/sizes";
@import "app/variables/type";

label {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: $line-height-base;
  font-weight: 600;
  color: #5f6a7d
}

.show-time label {
  transition: color 300ms;
}

.error label {
  color: $color-red;
}

.validated label {
  color: $color-green;
}
