@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket ($jacket-standard) {
  label {
    color: $color-text-old;
    display: block;
    font-size: 12px;
    font-weight: $font-weight-medium;
    line-height: $space-line;
    width: 100%;
  }

  .show-time label {
    transition: color 300ms;
  }

  .error label {
    color: $color-red;
  }

  .validated label {
    color: $color-green;
  }
}
