@import 'app/variables/sizes';

$_logo-heights: (
  extra-small: 43px,
  small: 28px,
  medium: 30px,
  large: 37px,
  extra-large: 42px,
);

.partners .column {
  height: map-get($_logo-heights, 'medium');
  position: relative;

  .partner-logo {
    display: none;
    height: map-get($_logo-heights, 'medium');
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.current {
      display: block;
    }
  }
}

@each $_size, $_width in $widths-by-size {
  @media (min-width: $_width) {
    .partners .column,
    .partners .column .partner-logo {
      height: map-get($_logo-heights, $_size);
    }
  }
}
