.sticky-banner {
    position: fixed;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    z-index: 2;
    background-color: #fff
}

.show-time .sticky-banner.sticky-animate {
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms
}

.sticky-banner.sticky-top {
    top: 0;
    bottom: auto;
    border-top: none;
    border-bottom: 1px solid #e0e0e0;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.sticky-banner.sticky-bottom {
    top: auto;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: none;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%)
}

@media (min-width: 374px) {
    .sticky-banner.sticky-top-at-extra-small {
        top: 0;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    .sticky-banner.sticky-bottom-at-extra-small {
        top: auto;
        bottom: 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
}

@media (min-width: 480px) {
    .sticky-banner.sticky-top-at-small {
        top: 0;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    .sticky-banner.sticky-bottom-at-small {
        top: auto;
        bottom: 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
}

@media (min-width: 718px) {
    .sticky-banner.sticky-top-at-medium {
        top: 0;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    .sticky-banner.sticky-bottom-at-medium {
        top: auto;
        bottom: 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
}

@media (min-width: 1024px) {
    .sticky-banner.sticky-top-at-large {
        top: 0;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    .sticky-banner.sticky-bottom-at-large {
        top: auto;
        bottom: 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
}

@media (min-width: 1292px) {
    .sticky-banner.sticky-top-at-extra-large {
        top: 0;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #e0e0e0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    .sticky-banner.sticky-bottom-at-extra-large {
        top: auto;
        bottom: 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
}

.sticky-banner.sticky-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}
