@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket ($jacket-critical) {
  .sub-nav-fixed-bottom body {
    padding-bottom: $space-medium;
  }

  .sub-nav {
    background-color: $color-accent-gray;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    max-width: 1680px;
    min-height: $space-medium;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .sub-nav .wistia_click_to_play {
    display: inline;
  }
}

@include jacket ($jacket-critical) {
  .sub-nav a {
    color: $color-body-text;
    display: block;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
    line-height: $space-medium;
    margin-right: 20px;
    text-transform: uppercase;
  }
}

@include jacket ($jacket-standard) {
  .sub-nav a {
    &:hover,
    &:focus {
      color: $color-link;
    }

    &:active {
      color: $color-link;
    }
  }
}

@include jacket ($jacket-critical) {
  .sub-nav::before,
  .sub-nav::after {
    clear: both;
    content: ' ';
    display: table;
    width: 100%;
  }
}

@include jacket ($jacket-critical) {
  @media (min-width: $width-desktop) {
    .sub-nav a {
      display: inline-block;
    }
  }
}

@include jacket ($jacket-standard) {
  @each $_theme, $_color in $colors-by-theme {
    .#{$_theme}-theme .sub-nav a {
      color: $color-body-text;

      &:hover,
      &:focus {
        color: $_color;
      }

      &:active {
        color: $_color;
      }

    }

    .touch .#{$_theme}-theme .sub-nav a,
    .no-touch.sub-nav-fixed-top .#{$_theme}-theme .sub-nav a {
      &.primary span {
        background-color: $_color;
        border-color: $_color;
        color: color-invert($_color);

        &:hover,
        &:focus {
          background-color: color-hover($_color);
          color: color-invert($_color);
        }

        &:active {
          background-color: color-active($_color);
          color: color-invert($_color);
        }
      }
    }
  }
}

@include jacket ($jacket-critical) {
  .sub-nav a.primary {
    margin-right: 0;

    span {
      border-radius: 3px;
      display: inline-block;
      line-height: $space-line;
      padding: 0 14px;
    }
  }
}

@include jacket ($jacket-standard) {
  .chrome-android .sub-nav a.primary span { // scss-lint:disable SelectorDepth
    white-space: nowrap;
  }

  .show-time .sub-nav a.primary span { // scss-lint:disable SelectorDepth
    transition: border-color 150ms ease-in-out, background-color 150ms ease-in-out, color 150ms ease-in-out;
  }
}

@include jacket ($jacket-standard) {
  .no-touch .sub-nav a.primary span { // scss-lint:disable SelectorDepth
    border: 1px solid $color-border;
  }

  .touch .sub-nav a.primary span, // scss-lint:disable SelectorDepth
  .no-touch.sub-nav-fixed-top .sub-nav a.primary span { // scss-lint:disable SelectorDepth
    background-color: $color-link;
    border-color: $color-link;
    color: color-invert($color-link);
  }
}

@include jacket ($jacket-standard) {
  .touch .sub-nav a.primary span:hover,
  .touch .sub-nav a.primary span:focus,
  .no-touch.sub-nav-fixed-top .sub-nav a.primary span:hover,
  .no-touch.sub-nav-fixed-top .sub-nav a.primary span:focus {
    background-color: color-hover($color-link);
    color: color-invert($color-link);
  }

  .touch .sub-nav a.primary span:active,
  .no-touch.sub-nav-fixed-top .sub-nav a.primary span:active {
    background-color: color-active($color-link);
    color: color-invert($color-link);
  }
}

@include jacket ($jacket-critical) {
  .sub-nav a.secondary { // scss-lint:disable MergeableSelector
    display: none;
  }

  @media (min-width: $width-desktop) {
    .sub-nav a.secondary {
      display: inline-block;
    }

    .sub-nav a.prompt-link {
      display: none;
    }
  }
}


@include jacket ($jacket-critical) {
  .sub-nav .actions { // scss-lint:disable MergeableSelector
    float: right;
    position: relative;
    z-index: 2;

    a {
      line-height: $space-medium;
    }
  }

  .sub-nav .destinations { // scss-lint:disable MergeableSelector, PropertyCount
    background-color: $color-white;
    border-top: 1px solid $color-border;
    bottom: $space-medium + 1;
    left: 0;
    opacity: 0;
    padding: 0 0 $space-base;
    position: absolute;
    transform: translate3d(0, $space-base, 0);
    visibility: hidden;
    width: 100%;
  }

  .no-touch .sub-nav .destinations {
    bottom: auto;
    border-top: none;
    border-bottom: 1px solid $color-border;
    top: $space-medium + 1;
  }

  .sub-nav-menu-active .sub-nav .destinations {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  @media (min-width: $width-desktop) {
    .sub-nav .destinations {
      background-color: transparent;
      border: none;
      bottom: 0;
      opacity: 1;
      padding: 0;
      position: relative;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    .no-touch .sub-nav .destinations {
      top: 0;
      bottom: auto;
      border: none;
    }
  }

  .sub-nav .destinations a {
    display: block;
    line-height: $space-small;
    margin-top: $space-base;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    .sub-nav .destinations a {
      display: inline-block;
      line-height: $space-medium;
      margin-top: 0;
      width: auto;
    }
  }
}

@include jacket ($jacket-standard) {
  .show-time .sub-nav .destinations {
    transition: visibility 0s 300ms, opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }

  .sub-nav-menu-active .sub-nav .destinations {
    transition: visibility 0s 0s, opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }

  @media (min-width: $width-desktop) {
    .sub-nav .destinations {
      transition: none;
    }
  }
}


@include jacket ($jacket-critical) {
  .sub-nav.sub-nav-fixed {
    display: none;
    top: 0;
  }

  .sub-nav-fixed-top .sub-nav.sub-nav-fixed {
    display: block;
  }

  .sub-nav:not(.sub-nav-fixed) {
    bottom: 0;
  }

  .no-touch .sub-nav:not(.sub-nav-fixed) {
    bottom: auto;
    position: relative;
  }

  .sub-nav-fixed-top .sub-nav:not(.sub-nav-fixed) .destinations {
    display: none;
  }

  .sub-nav .dropdown {
    background-color: $color-accent-gray;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .12);
    color: $color-menu-text;
    left: 0;
    position: absolute;
    bottom: $space-medium;
    height: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    border-bottom: 1px solid $color-border;

    @media (min-width: $width-desktop) {
      top: $space-medium;
    }

    .content {
      opacity: 0;
    }

    a {
      display: block;
      line-height: 22px;
      margin: $space-line 0;
    }
  }

  .sub-nav-menu-active .sub-nav .dropdown {
    opacity: 1;

    .content {
      opacity: 1;
    }
  }

  .sub-nav .more-icon {
    padding-right: $space-base;
    display: inline-block;
    margin-top: -1px;
    vertical-align: top;

    svg * {
      fill: $color-text;
    }
  }
}

@include jacket ($jacket-standard) {
  .sub-nav .dropdown {
    transition: opacity 150ms ease-in-out, height 150ms ease-in-out;

    .content {
      transition: opacity 300ms 0s;
    }
  }
}
