table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 0 solid #e0e0e0;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    text-align: left;
    vertical-align: top
}

thead,
tbody,
tfoot,
tr,
th,
td {
    border-color: inherit;
    border-style: inherit;
    text-align: inherit;
    vertical-align: inherit
}

thead,
tfoot {
    background-color: rgba(0, 0, 0, 0.06)
}

th {
    color: #2e3b4e;
    font-weight: 600
}

th,
td {
    padding: 10px;
    border-width: 1px;
    background-color: transparent;
    -webkit-transition: background-color 150ms;
    transition: background-color 150ms
}

.table-border-cells th,
.table-border-cells td {
    border-width: 1px
}

.table-border-rows th,
.table-border-rows td {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px
}

.table-border-cols th,
.table-border-cols td {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0
}

.table-border-none th,
.table-border-none td {
    border-width: 0
}

.table-stripe-rows tbody tr:nth-child(odd) th,
.table-stripe-rows tbody tr:nth-child(odd) td {
    background-color: transparent
}

.table-stripe-rows tbody tr:nth-child(even) th,
.table-stripe-rows tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.02)
}

.table-stripe-cols tbody tr th:nth-child(odd),
.table-stripe-cols tbody tr td:nth-child(odd) {
    background-color: transparent
}

.table-stripe-cols tbody tr th:nth-child(even),
.table-stripe-cols tbody tr td:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02)
}

.table-pad-base th,
.table-pad-base td {
    padding: 10px
}

.table-pad-line th,
.table-pad-line td {
    padding: 20px
}

.table-pad-small th,
.table-pad-small td {
    padding: 30px
}

.table-pad-none th,
.table-pad-none td {
    padding: 0
}

.table-collapse thead,
.table-collapse tfoot {
    display: none
}

.table-collapse th,
.table-collapse td {
    display: block;
    text-align: left !important
}

.table-collapse th:not(:first-child),
.table-collapse td:not(:first-child) {
    padding-top: 0;
    border-top-width: 0
}

.table-collapse th:not(:last-child),
.table-collapse td:not(:last-child) {
    padding-bottom: 0;
    border-bottom-width: 0
}

.table-collapse th[data-col-header]:not(.no-header),
.table-collapse td[data-col-header]:not(.no-header) {
    text-align: right !important
}

.table-collapse th[data-col-header]:not(.no-header):before,
.table-collapse td[data-col-header]:not(.no-header):before {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    content: attr(data-col-header);
    display: block;
    float: left;
    max-width: 50%;
    padding-right: 10px;
    color: #5f6a7d;
    font-weight: 600;
    text-align: left
}

.table-collapse tr:not(:last-child) th:last-child,
.table-collapse tr:not(:last-child) td:last-child {
    border-bottom-width: 0
}

@media (min-width: 374px) {
    .table-border-cells-at-extra-small th,
    .table-border-cells-at-extra-small td {
        border-width: 1px
    }
    .table-border-rows-at-extra-small th,
    .table-border-rows-at-extra-small td {
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px
    }
    .table-border-cols-at-extra-small th,
    .table-border-cols-at-extra-small td {
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-bottom-width: 0
    }
    .table-border-none-at-extra-small th,
    .table-border-none-at-extra-small td {
        border-width: 0
    }
    .table-stripe-rows-at-extra-small tbody tr:nth-child(odd) th,
    .table-stripe-rows-at-extra-small tbody tr:nth-child(odd) td {
        background-color: transparent
    }
    .table-stripe-rows-at-extra-small tbody tr:nth-child(even) th,
    .table-stripe-rows-at-extra-small tbody tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-stripe-cols-at-extra-small tbody tr th:nth-child(odd),
    .table-stripe-cols-at-extra-small tbody tr td:nth-child(odd) {
        background-color: transparent
    }
    .table-stripe-cols-at-extra-small tbody tr th:nth-child(even),
    .table-stripe-cols-at-extra-small tbody tr td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-pad-base-at-extra-small th,
    .table-pad-base-at-extra-small td {
        padding: 10px
    }
    .table-pad-line-at-extra-small th,
    .table-pad-line-at-extra-small td {
        padding: 20px
    }
    .table-pad-small-at-extra-small th,
    .table-pad-small-at-extra-small td {
        padding: 30px
    }
    .table-pad-none-at-extra-small th,
    .table-pad-none-at-extra-small td {
        padding: 0
    }
}

@media (max-width: 373px) {
    .table-collapse-until-extra-small thead,
    .table-collapse-until-extra-small tfoot {
        display: none
    }
    .table-collapse-until-extra-small th,
    .table-collapse-until-extra-small td {
        display: block;
        text-align: left !important
    }
    .table-collapse-until-extra-small th:not(:first-child),
    .table-collapse-until-extra-small td:not(:first-child) {
        padding-top: 0;
        border-top-width: 0
    }
    .table-collapse-until-extra-small th:not(:last-child),
    .table-collapse-until-extra-small td:not(:last-child) {
        padding-bottom: 0;
        border-bottom-width: 0
    }
    .table-collapse-until-extra-small th[data-col-header]:not(.no-header),
    .table-collapse-until-extra-small td[data-col-header]:not(.no-header) {
        text-align: right !important
    }
    .table-collapse-until-extra-small th[data-col-header]:not(.no-header):before,
    .table-collapse-until-extra-small td[data-col-header]:not(.no-header):before {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-col-header);
        display: block;
        float: left;
        max-width: 50%;
        padding-right: 10px;
        color: #5f6a7d;
        font-weight: 600;
        text-align: left
    }
    .table-collapse-until-extra-small tr:not(:last-child) th:last-child,
    .table-collapse-until-extra-small tr:not(:last-child) td:last-child {
        border-bottom-width: 0
    }
}

@media (min-width: 480px) {
    .table-border-cells-at-small th,
    .table-border-cells-at-small td {
        border-width: 1px
    }
    .table-border-rows-at-small th,
    .table-border-rows-at-small td {
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px
    }
    .table-border-cols-at-small th,
    .table-border-cols-at-small td {
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-bottom-width: 0
    }
    .table-border-none-at-small th,
    .table-border-none-at-small td {
        border-width: 0
    }
    .table-stripe-rows-at-small tbody tr:nth-child(odd) th,
    .table-stripe-rows-at-small tbody tr:nth-child(odd) td {
        background-color: transparent
    }
    .table-stripe-rows-at-small tbody tr:nth-child(even) th,
    .table-stripe-rows-at-small tbody tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-stripe-cols-at-small tbody tr th:nth-child(odd),
    .table-stripe-cols-at-small tbody tr td:nth-child(odd) {
        background-color: transparent
    }
    .table-stripe-cols-at-small tbody tr th:nth-child(even),
    .table-stripe-cols-at-small tbody tr td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-pad-base-at-small th,
    .table-pad-base-at-small td {
        padding: 10px
    }
    .table-pad-line-at-small th,
    .table-pad-line-at-small td {
        padding: 20px
    }
    .table-pad-small-at-small th,
    .table-pad-small-at-small td {
        padding: 30px
    }
    .table-pad-none-at-small th,
    .table-pad-none-at-small td {
        padding: 0
    }
}

@media (max-width: 479px) {
    .table-collapse-until-small thead,
    .table-collapse-until-small tfoot {
        display: none
    }
    .table-collapse-until-small th,
    .table-collapse-until-small td {
        display: block;
        text-align: left !important
    }
    .table-collapse-until-small th:not(:first-child),
    .table-collapse-until-small td:not(:first-child) {
        padding-top: 0;
        border-top-width: 0
    }
    .table-collapse-until-small th:not(:last-child),
    .table-collapse-until-small td:not(:last-child) {
        padding-bottom: 0;
        border-bottom-width: 0
    }
    .table-collapse-until-small th[data-col-header]:not(.no-header),
    .table-collapse-until-small td[data-col-header]:not(.no-header) {
        text-align: right !important
    }
    .table-collapse-until-small th[data-col-header]:not(.no-header):before,
    .table-collapse-until-small td[data-col-header]:not(.no-header):before {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-col-header);
        display: block;
        float: left;
        max-width: 50%;
        padding-right: 10px;
        color: #5f6a7d;
        font-weight: 600;
        text-align: left
    }
    .table-collapse-until-small tr:not(:last-child) th:last-child,
    .table-collapse-until-small tr:not(:last-child) td:last-child {
        border-bottom-width: 0
    }
}

@media (min-width: 718px) {
    .table-border-cells-at-medium th,
    .table-border-cells-at-medium td {
        border-width: 1px
    }
    .table-border-rows-at-medium th,
    .table-border-rows-at-medium td {
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px
    }
    .table-border-cols-at-medium th,
    .table-border-cols-at-medium td {
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-bottom-width: 0
    }
    .table-border-none-at-medium th,
    .table-border-none-at-medium td {
        border-width: 0
    }
    .table-stripe-rows-at-medium tbody tr:nth-child(odd) th,
    .table-stripe-rows-at-medium tbody tr:nth-child(odd) td {
        background-color: transparent
    }
    .table-stripe-rows-at-medium tbody tr:nth-child(even) th,
    .table-stripe-rows-at-medium tbody tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-stripe-cols-at-medium tbody tr th:nth-child(odd),
    .table-stripe-cols-at-medium tbody tr td:nth-child(odd) {
        background-color: transparent
    }
    .table-stripe-cols-at-medium tbody tr th:nth-child(even),
    .table-stripe-cols-at-medium tbody tr td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-pad-base-at-medium th,
    .table-pad-base-at-medium td {
        padding: 10px
    }
    .table-pad-line-at-medium th,
    .table-pad-line-at-medium td {
        padding: 20px
    }
    .table-pad-small-at-medium th,
    .table-pad-small-at-medium td {
        padding: 30px
    }
    .table-pad-none-at-medium th,
    .table-pad-none-at-medium td {
        padding: 0
    }
}

@media (max-width: 717px) {
    .table-collapse-until-medium thead,
    .table-collapse-until-medium tfoot {
        display: none
    }
    .table-collapse-until-medium th,
    .table-collapse-until-medium td {
        display: block;
        text-align: left !important
    }
    .table-collapse-until-medium th:not(:first-child),
    .table-collapse-until-medium td:not(:first-child) {
        padding-top: 0;
        border-top-width: 0
    }
    .table-collapse-until-medium th:not(:last-child),
    .table-collapse-until-medium td:not(:last-child) {
        padding-bottom: 0;
        border-bottom-width: 0
    }
    .table-collapse-until-medium th[data-col-header]:not(.no-header),
    .table-collapse-until-medium td[data-col-header]:not(.no-header) {
        text-align: right !important
    }
    .table-collapse-until-medium th[data-col-header]:not(.no-header):before,
    .table-collapse-until-medium td[data-col-header]:not(.no-header):before {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-col-header);
        display: block;
        float: left;
        max-width: 50%;
        padding-right: 10px;
        color: #5f6a7d;
        font-weight: 600;
        text-align: left
    }
    .table-collapse-until-medium tr:not(:last-child) th:last-child,
    .table-collapse-until-medium tr:not(:last-child) td:last-child {
        border-bottom-width: 0
    }
}

@media (min-width: 1024px) {
    .table-border-cells-at-large th,
    .table-border-cells-at-large td {
        border-width: 1px
    }
    .table-border-rows-at-large th,
    .table-border-rows-at-large td {
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px
    }
    .table-border-cols-at-large th,
    .table-border-cols-at-large td {
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-bottom-width: 0
    }
    .table-border-none-at-large th,
    .table-border-none-at-large td {
        border-width: 0
    }
    .table-stripe-rows-at-large tbody tr:nth-child(odd) th,
    .table-stripe-rows-at-large tbody tr:nth-child(odd) td {
        background-color: transparent
    }
    .table-stripe-rows-at-large tbody tr:nth-child(even) th,
    .table-stripe-rows-at-large tbody tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-stripe-cols-at-large tbody tr th:nth-child(odd),
    .table-stripe-cols-at-large tbody tr td:nth-child(odd) {
        background-color: transparent
    }
    .table-stripe-cols-at-large tbody tr th:nth-child(even),
    .table-stripe-cols-at-large tbody tr td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-pad-base-at-large th,
    .table-pad-base-at-large td {
        padding: 10px
    }
    .table-pad-line-at-large th,
    .table-pad-line-at-large td {
        padding: 20px
    }
    .table-pad-small-at-large th,
    .table-pad-small-at-large td {
        padding: 30px
    }
    .table-pad-none-at-large th,
    .table-pad-none-at-large td {
        padding: 0
    }
}

@media (max-width: 1023px) {
    .table-collapse-until-large thead,
    .table-collapse-until-large tfoot {
        display: none
    }
    .table-collapse-until-large th,
    .table-collapse-until-large td {
        display: block;
        text-align: left !important
    }
    .table-collapse-until-large th:not(:first-child),
    .table-collapse-until-large td:not(:first-child) {
        padding-top: 0;
        border-top-width: 0
    }
    .table-collapse-until-large th:not(:last-child),
    .table-collapse-until-large td:not(:last-child) {
        padding-bottom: 0;
        border-bottom-width: 0
    }
    .table-collapse-until-large th[data-col-header]:not(.no-header),
    .table-collapse-until-large td[data-col-header]:not(.no-header) {
        text-align: right !important
    }
    .table-collapse-until-large th[data-col-header]:not(.no-header):before,
    .table-collapse-until-large td[data-col-header]:not(.no-header):before {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-col-header);
        display: block;
        float: left;
        max-width: 50%;
        padding-right: 10px;
        color: #5f6a7d;
        font-weight: 600;
        text-align: left
    }
    .table-collapse-until-large tr:not(:last-child) th:last-child,
    .table-collapse-until-large tr:not(:last-child) td:last-child {
        border-bottom-width: 0
    }
}

@media (min-width: 1292px) {
    .table-border-cells-at-extra-large th,
    .table-border-cells-at-extra-large td {
        border-width: 1px
    }
    .table-border-rows-at-extra-large th,
    .table-border-rows-at-extra-large td {
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 1px;
        border-bottom-width: 1px
    }
    .table-border-cols-at-extra-large th,
    .table-border-cols-at-extra-large td {
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-bottom-width: 0
    }
    .table-border-none-at-extra-large th,
    .table-border-none-at-extra-large td {
        border-width: 0
    }
    .table-stripe-rows-at-extra-large tbody tr:nth-child(odd) th,
    .table-stripe-rows-at-extra-large tbody tr:nth-child(odd) td {
        background-color: transparent
    }
    .table-stripe-rows-at-extra-large tbody tr:nth-child(even) th,
    .table-stripe-rows-at-extra-large tbody tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-stripe-cols-at-extra-large tbody tr th:nth-child(odd),
    .table-stripe-cols-at-extra-large tbody tr td:nth-child(odd) {
        background-color: transparent
    }
    .table-stripe-cols-at-extra-large tbody tr th:nth-child(even),
    .table-stripe-cols-at-extra-large tbody tr td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02)
    }
    .table-pad-base-at-extra-large th,
    .table-pad-base-at-extra-large td {
        padding: 10px
    }
    .table-pad-line-at-extra-large th,
    .table-pad-line-at-extra-large td {
        padding: 20px
    }
    .table-pad-small-at-extra-large th,
    .table-pad-small-at-extra-large td {
        padding: 30px
    }
    .table-pad-none-at-extra-large th,
    .table-pad-none-at-extra-large td {
        padding: 0
    }
}

@media (max-width: 1291px) {
    .table-collapse-until-extra-large thead,
    .table-collapse-until-extra-large tfoot {
        display: none
    }
    .table-collapse-until-extra-large th,
    .table-collapse-until-extra-large td {
        display: block;
        text-align: left !important
    }
    .table-collapse-until-extra-large th:not(:first-child),
    .table-collapse-until-extra-large td:not(:first-child) {
        padding-top: 0;
        border-top-width: 0
    }
    .table-collapse-until-extra-large th:not(:last-child),
    .table-collapse-until-extra-large td:not(:last-child) {
        padding-bottom: 0;
        border-bottom-width: 0
    }
    .table-collapse-until-extra-large th[data-col-header]:not(.no-header),
    .table-collapse-until-extra-large td[data-col-header]:not(.no-header) {
        text-align: right !important
    }
    .table-collapse-until-extra-large th[data-col-header]:not(.no-header):before,
    .table-collapse-until-extra-large td[data-col-header]:not(.no-header):before {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-col-header);
        display: block;
        float: left;
        max-width: 50%;
        padding-right: 10px;
        color: #5f6a7d;
        font-weight: 600;
        text-align: left
    }
    .table-collapse-until-extra-large tr:not(:last-child) th:last-child,
    .table-collapse-until-extra-large tr:not(:last-child) td:last-child {
        border-bottom-width: 0
    }
}

.table-scrollable {
    position: relative;
    margin-bottom: 20px
}

.table-scrollable:before {
    pointer-events: none;
    content: " ";
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #e0e0e0
}

.table-scrollable table {
    margin-bottom: 0
}

.table-scrollable .table-scroll {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%
}

.table-scrollable .table-pinned {
    position: relative;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff
}

.table-scrollable .table-pinned:before {
    pointer-events: none;
    content: " ";
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #e0e0e0
}

.table-scrollable .table-pinned th:not(:first-child),
.table-scrollable .table-pinned td:not(:first-child) {
    display: none
}
