@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket($jacket-critical) {
  .top-banner-ad {
    background-color: #222222;
    color: $color-white;
    display: none;
    left: 0;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;

    h3 {
      color: $color-white;
      font-size: 30px;
      margin-bottom: 0px;
      margin-top: 15px;
    }
  }
  .banner-fixed-height {
    height: 60px;
  }

  .top-banner-ad-close {
    display: block;
    height: 40px;
    position: absolute;
    right: 0;
    stroke: $color-white;
    top: 10px;
    width: 60px;
  }
}

@media (max-width: $width-desktop-xl) {
  .banner-fixed-height {
    height: 80px;
  }
} 
@media (max-width: $width-desktop) {
  .banner-fixed-height {
    height: 110px;
  }
} 

@media (max-width: $width-desktop-xl) {
  .top-banner-ad-close {
    width: 20px;
    height: 10px;
  }
}
