@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket($jacket-critical) {
  .top-banner-ad {
    color: $color-white;
    display: none;
    left: 0;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;

    h3 {
      color: $color-white;
      font-size: 20px;
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }
  .banner-fixed-height {
    height: 50px;
  }

  .top-banner-ad-close {
    display: block;
    height: 40px;
    position: absolute;
    right: 0;
    stroke: $color-white;
    top: 10px;
    width: 60px;
  }
}

@media (min-width: 919px) {
  .banner-fixed-height {
    height: 50px;
    padding-left: 30px;
    padding-right: 40px;
  }
} 
@media (min-width: 518px) and (max-width: 918px) {
  .banner-fixed-height {
    height: 75px;
    padding-left: 30px;
    padding-right: 40px;
  }
}

@media (max-width: 517px) {
  .banner-fixed-height {
    height: 100px;
    padding-left: 30px;
    padding-right: 40px;
  }
} 
@media (max-width: 366px) {
  .banner-fixed-height {
    height: 130px;
  }
} 
@media (max-width: $width-desktop-xl) {
  .top-banner-ad-close {
    width: 30px;
    padding-right: 10px;
  }
}
