{% load i18n %}
{% load dimagidotcom %}

<section class="webinar align-center pad-bottom-line blue-theme"
         id="webinar">
  <div class="content-width-large pad-bottom-line">
    <div class="content-width-large pad-bottom-small">
      <h2 class="gap-top-medium">
        {% blocktrans %}
          Remote Program Monitoring with CommCare
        {% endblocktrans %}
      </h2>
    </div>{# .content-width-large #}
  
    <div class=" content-width-large off-grid white-lazy-bg"
         data-lazybg="true">
      <div class="wistia-container image webinar-remote-video">
        {% include "partials/wistia_popover.html" with wistia_id='j3ky1zjzxq' play_icon_medium=True show_image=True %}
      </div>{# .wistia-container #}
      <h6 class="content-width-large blue align-left pad-top-small pad-left-line">
        {% blocktrans %}
          Published: April 22, 2020
        {% endblocktrans %}
      </h6>
    </div>{# .off-grid #}
    <div class="grid-4-at-large">
      <div class="column column-width-3-at-large pad-top-small align-left pad-left-small">
        <div class="border-right-at-medium">
          <h6 class="slate">
            {% blocktrans %}
              About
            {% endblocktrans %}
          </h6>
          <p class="pad-right-line">
            {% blocktrans %}
              There are many reasons that a project may shift to delivery 
              services or collecting data remotely. In this webinar, see 
              how SMS, WhatsApp, and email messaging in CommCare can be 
              used for remote program monitoring and contactless 
              beneficiary engagement.
            {% endblocktrans %}
          </p>
        </div>
      </div>{# .column #}
    </div>{# .grid-2 #}

  </div>{# .content-width-large #}
</section>
