{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-small">
  <div class="content content-width-medium">
    <h4 class="orange-dark">
      {% blocktrans %}
        Helpful Sites
      {% endblocktrans %}
    </h4>
    <p>
      {% blocktrans %}
        There are also a number of websites that do a good job of outlining
        the roles and responsibilities of community health workers, as
        well as best practices and other resources:
      {% endblocktrans %}
    </p>
    <div class="content pad-top-line helpful-sites content-width-medium">
      <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
        <div class="column">
          <a href="https://www.frontlinehealthworkers.org/" target="_blank">
            <div class="pad-bottom-base white-bg">
              <div class="image fhwc" data-lazybg="true"></div>
              <div class="pad-line accent-gray-bg">
                <h5>
                  <strong>
                    {% blocktrans %}
                      Frontline Health Workers Coalition
                    {% endblocktrans %}
                  </strong>
                </h5>
              </div> {# .pad-line #}
            </div> {# .white-bg #}
          </a>
        </div> {# .column #}
        <div class="column">
          <a href="https://www.chwcentral.org/" target="_blank">
            <div class="pad-bottom-base white-bg">
              <div class="image chw" data-lazybg="true"></div>
              <div class="pad-line accent-gray-bg">
                <h5>
                  <strong>
                    {% blocktrans %}
                      CHW Central
                    {% endblocktrans %}
                  </strong>
                </h5>
              </div> {# .pad-line #}
            </div> {# .white-bg #}
          </a>
        </div> {# .column #}
        <div class="column">
          <a href="https://www.communityhealthroadmap.org/" target="_blank">
            <div class="pad-bottom-base white-bg">
              <div class="image chr" data-lazybg="true"></div>
              <div class="pad-line accent-gray-bg">
                <h5>
                  <strong>
                    {% blocktrans %}
                      Community Health Roadmap
                    {% endblocktrans %}
                  </strong>
                </h5>
              </div> {# .pad-line #}
            </div> {# .white-bg #}
          </a>
        </div> {# .column #}
        <div class="column">
          <a href="https://www.ictworks.org/" target="_blank">
            <div class="pad-bottom-base white-bg">
              <div class="image ict" data-lazybg="true"></div>
              <div class="pad-line accent-gray-bg">
                <h5>
                  <strong>
                    {% blocktrans %}
                      ICTworks
                    {% endblocktrans %}
                  </strong>
                </h5>
              </div> {# .pad-line #}
            </div> {# .white-bg #}
          </a>
        </div> {# .column #}
      </div>{# .grid #}
    </div>{# .content #}

  </div>{# .content #}
</section>
