{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-large">
  <div class="content content-width-medium">

    <p  class="first-letter">
      {% blocktrans %}
        The proceess of designing you app involves both (1) defining who will use your app and 
        (2) determining how to best structure the app with the right modules and features. 
        A well-thought out design will make the building and testing phase that much easier.
      {% endblocktrans %}
    </p>

    <h2 class="pad-top-small"> 
      {% blocktrans %}
        Identify your user stories
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Your first step is to identify the users and user stories to build your app around.
        These should be centered around the biggest pain points and opportunities for impact you identified in scoping&mdash;not just the loudest voice in the room.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Ask your team:
      {% endblocktrans %}
    </p>

     <ul class="checked grid grid-row-space-base pad-bottom-base pad-left-base">
      <li>
        {% blocktrans %}
          How will this app change existing processes and roles?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          How will those changes affect each player in the system?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Are those changes addressing pain points and improving workflows, or just complicating things?
        {% endblocktrans %}
      </li>
    </ul>
    
    <p>
      {% blocktrans %}
        They should be able to answer these questions in a way that indicates whether your new mobile data collection tool aligns with
        original objectives of your program.
      {% endblocktrans %}
    </p>

    <div class="identify-image white-lazy-bg gap-top-small gap-bottom-line"
         data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
        Understand the precise needs for your application and its implications on everyone in the program.
      {% endblocktrans %}
    </p>

    <h2>
      {% blocktrans %}
        Design the structure of your system
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Once you validate your user stories, it is time to <a href="https://dimagi.com/blog/mobile-data-collection-app-design-tips-stc" target="_blank">
        translate these into your app's module and form structure.</a> This is important to
        do before you start building to ensure your vision is possible with the set of features at your disposal. Essentially, it is about
        confirming whether your chosen platform can do precisely what you need it to.
      {% endblocktrans %}
    </p>
    
    <p>
      {% blocktrans %}
        So while these user stories are an important start, you still need to map out how they actually look in your app, in the form of
        modules (groups of forms), individual forms, and features, which define how your app performs tasks.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Check out a sample form structure in our <a href="https://dimagi.com/blog/mobile-data-collection-mobile-survey-design/" target="_blank">Guide to Survey Design.</a>
      {% endblocktrans %}
    </p>

    <h2 class="pad-top-small">
      {% blocktrans %}
        Develop your content &amp; delivery design
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        By now, you know what data you need to collect, but the way you actually solicit  it might still be in question. 
        Content and delivery design are how you determine the phrasing and actual delivery of the questions you need to ask.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Content design focuses on developing a survey of clear questions that avoid bias, maintain consistency in phrasing, and are 
        culturally appropriate. Delivery design is all about how to best structure and disseminate your survey (e.g. order of questions, 
        requried questions, mode of communication, etc.).
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Spending a bit of time planning and strategically designing the content that will be used in your surveys, 
        as well as how those surveys will reach your beneficiaries, will help ensure that you follow a systematic process collecting data
        from the beginning to the end of data collection period.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        It is not about putting all the questions you can think of in the survey and sending it to everyone you can. 
        With a consistent, well thought out design, results that emerge from data collection will be cleaner and more reliable.
      {% endblocktrans %}
    </p>


    <p class="align-center pad-vert-small">
      <a href="https://dimagi.com/blog/mobile-data-collection-mobile-survey-design/"
         target="_blank"
         class="button">
        {% blocktrans %}
        Get more advice on mobile survey design
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
