{% extends "sections/commcare/pricing/faq/_base.html" %}
{% load i18n %}

{% block question %}{% blocktrans %}
  Can I upgrade or downgrade my plan?
{% endblocktrans %}{% endblock %}

{% block answer %}{% blocktrans %}
  You can upgrade or downgrade to another software plan at any time.
  Please note: the subscription will take effect as soon as you make
  the change in your project settings. If you change your subscription
  in the middle of the month, you will only be billed for the portion
  of the month when your subscription was active.
{% endblocktrans %}{% endblock %}
