{% load i18n %}
{% load dimagidotcom %}

<article class="epic" id="chapter-8">

  <section class="parallax-ch8-1 epic-cover"
           data-lazybg="true">
    <div class="content content-width-large">
      <h1 class="white section-header" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        {% blocktrans %}
          <span class="section-number gap-top-none">8</span>
          <span class="pad-left-medium-at-medium">
            Additional Resources on <br class="hide-until-large" />
            Community Health Workers
          </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>  

  {% include "sections/pillar/community_health_worker/chapter8/part1.html" %}
  {% include "sections/pillar/community_health_worker/chapter8/part2.html" %}
  {% include "sections/pillar/community_health_worker/chapter8/helpful_sites.html" %}
  {% include "sections/pillar/community_health_worker/chapter8/stay_know.html" %}

</article>
