{% load i18n %}
{% load dimagidotcom %}

<article class="epic purple-theme" id="chapter-4">

  <section class="parallax-ch4-1 epic-cover"
           data-lazybg="true">
    <div class="content content-width-large">
      <h1 class="white section-header" {% if request.is_amp %} amp-fx="fade-in" data-duration="1000ms" {% endif %}>
        {% blocktrans %}
          <span class="section-number gap-top-none">4</span>
          <span class="pad-left-medium-at-medium">
            Evidence for Community
            Health Workers
          </span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>  

  {% include "sections/pillar/community_health_worker/chapter4/part1.html" %}
  {% include "sections/pillar/community_health_worker/chapter4/part2.html" %}

</article>
