{% load i18n %}
{% load dimagidotcom %}


<article class="epic epic-intro blue-theme" id="intro">

  <section class="epic-cover"
           data-lazybg="true">
    <div class="content content-width-large">
      <h1 class="gap-top-line-at-medium" {% if request.is_amp %} amp-fx="parallax" data-parallax-factor="1.3" {% endif %}>
        {% blocktrans %}
          What is a Community
          Health Worker (CHW)?
          <span>Your guide to understanding the impact of an effective
                community health worker program and how they do it</span>
        {% endblocktrans %}
      </h1>
    </div> {# .content #}
  </section>

  {% include "sections/pillar/community_health_worker/intro/about_chw.html" %}
  {% include "sections/pillar/community_health_worker/intro/section_navigation.html" %}
</article>
