{% load i18n %}
{% load dimagidotcom %}

<section class="faq"
         id="faq">
  <div class="content pad-vert-medium">

    <div class="intro">
      <h2>
        {% blocktrans %}
          Pricing FAQ
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Get answers to all of your pricing questions.
        {% endblocktrans %}
      </p>
    </div>

    <div class="grid-3-at-large grid-2-at-medium grid-row-space-small">
      {% include 'sections/pricing/commcare/faq/how_to_subscribe.html' %}
      {% include 'sections/pricing/commcare/faq/mobile_users.html' %}
      {% include 'sections/pricing/commcare/faq/sent_invoice.html' %}
      {% include 'sections/pricing/commcare/faq/subscription_ends.html' %}
      {% include 'sections/pricing/commcare/faq/upgrade_downgrade.html' %}
      {% include 'sections/pricing/commcare/faq/pro_bono.html' %}
      {% include 'sections/pricing/commcare/faq/data_charges.html' %}
      {% include 'sections/pricing/commcare/faq/payments_accepted.html' %}
      {% include 'sections/pricing/commcare/faq/sms_fees.html' %}
    </div>{# .grid-2-at-medium #}

    <div class="align-center
                gap-top-line">
      <h3>
        {% blocktrans %}
          Have more questions?
        {% endblocktrans %}
      </h3>
      <p>
        <a class="button alt
                  gap-right-line"
           href="#todo">
          {% blocktrans %}
            View Full Pricing FAQ
          {% endblocktrans %}
        </a>
        <a class="button"
           href="#todo">
          {% blocktrans %}
            Talk to Sales
          {% endblocktrans %}
        </a>
      </p>
    </div>

  </div>{# .content #}
</section>
