{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Sensitization and Information Dissemination
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Lack of communication can lead to inappropriate handling
    of patients or unwillingness to cooperate with frontline
    workers.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Multimedia-enabled behavior change messaging engages
      families about safe health practices
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      CommCare enables new information and materials to be
      pushed out to a remote workforce
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      CommCare provides interactive, standardized, and trusted
      instructions on proper burial methods, detecting symptoms,
      when to go to health centers, and basic infection control
      measures
    {% endblocktrans %}
  </li>
</ul>
