{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Standardized Assessments
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Formal and informal assessments are critical tools for educators,
    as they provide the feedback necessary to improve teaching and
    learning outcomes. CommCare can be used to administer assessments
    that measure academic progress to-date, or identify children that
    may be at-risk for developmental delays.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Learning outcomes: literacy and math, or other subjects as desired
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Assessment of skills development, social-emotional learning or
      cognitive abilities
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Formative assessments for students or teachers,
      including SMS feedback
    {% endblocktrans %}
  </li>
</ul>
