{% extends "sections/pricing/commcare/faq/_base.html" %}
{% load i18n %}

{% block question %}{% blocktrans %}
  How many mobile users will I have on my software plan?
{% endblocktrans %}{% endblock %}

{% block answer %}{% blocktrans %}
  Each plan comes with a number of mobile users free of charge. This number
  represents all mobile users that are not currently deactivated. Both
  active and inactive mobile workers are counted. If you exceed the
  number of mobile users included for free in your plan, you will be
  charged $2/month.
{% endblocktrans %}{% endblock %}
