{% extends "sections/pricing/commcare/faq/_base.html" %}
{% load i18n %}

{% block question %}{% blocktrans %}
  What happens if my project subscription ends and gets downgraded
  to the Community software plan?
{% endblocktrans %}{% endblock %}

{% block answer %}{% blocktrans %}
  Your project will lose the features associated with the previous
  software plan, (e.g. if you were using an SMS reminder functionality
  as part of your workflow, this will get disabled), however all of
  your data will remain accessible.
{% endblocktrans %}{% endblock %}
