@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/mixins/background';
@import 'app/variables/type';


.card {
  background: $color-white;
  display: block;
  padding: $space-line;
  padding-bottom: $space-medium;
  position: relative;
  width: 200px;

  &:before { // scss-lint:disable PropertyCount
    border: 1px solid;
    border-radius: 5px;
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }

  .theme-icon + * {
    margin-top: $space-base;
  }

  &.full-bleed {
    padding: 0;

    .copy {
      padding: $space-small;
    }
  }

  .button-container {
    height: $space-small;
    position: relative;
  }

  &:not(.card-no-link) {
    .button {
      bottom: $space-small;
      left: $space-small;
      min-width: calc(100% - 60px);
      position: absolute;
      padding: 10px;
    }
  }
}

@media (max-width: $width-desktop) {
  .card {
    width: 100%;
  }
}
