{% load i18n %}
{% load dimagidotcom %}

<section class="details"
         id="details">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2 class="purple-dark">
        {% blocktrans %}
          Detailed Pricing Comparison
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <div class="hide-until-small">
      {% include "sections/focus_mdm/pricing/detailed_comparison/legend.html" %}
      {% include "sections/focus_mdm/pricing/detailed_comparison/header.html" %}
      {% include "sections/focus_mdm/pricing/detailed_comparison/accordion.html" %}
    </div>

      <div class="content pad-vert-medium align-center">
        <div class="intro">
          <h2 class="purple">
            {% blocktrans %}
              How FocusMDM Works
            {% endblocktrans %}
          </h2>
          <p class="cta">
            {% trans 'Watch a demo' as video_text %}
            {% click_hero 'video' as video_click_class %}
            {% include "partials/wistia_popover.html" with wistia_id='nmzscaaxgs' show_play=True text=video_text click_class=video_click_class %}
          </p>
        </div>
      </div>

  </div>{# .content #}
</section>
