{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a class="primary"
         href="#application">
        <span>
          {% blocktrans %}
            Apply Now
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="{% url "careers" %}#open-positions">
          {% blocktrans %}
            All Positions
          {% endblocktrans %}
        </a>
        <a href="#overview">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
