{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  The ICT4D Corner :: Dimagi's Blog
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  The intersection of technology and social good.
{% endblocktrans %}{% endblock %}

{% block body_class %}blog-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/blog.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-blog"
             data-lazybg="true"
             id="hero">
      <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
        <div class="copy expand position-relative">

          <h1>
            {% blocktrans %}
              The ICT4D Corner
            {% endblocktrans %}
          </h1>

          <p class="headline content-width-small">
            {% blocktrans %}
            The intersection of technology<br />and social good.
            {% endblocktrans %}
          </p>{# .headline #}

        </div>{# .copy #}
      </div>{# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="blog-container orange-theme">
    {% include 'sections/blog/sub_nav.html' %}
    {% include 'sections/blog/latest.html' %}
    {% include 'sections/blog/cta.html' %}
    {% include 'sections/blog/popular.html' %}
    {% include 'sections/blog/categories.html' %}
  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "46af351d-72ed-4c0f-9300-823e6c2f5b45",
      target: "#blog-cta-form-container",
      css: "",
    });
  </script>
{% endblock %}
