{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block body_class %}blog-post-page  tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/mdc_tool_blog.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-blog" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="blog-container">
    {% include 'sections/blog/mobile_blog_single/sub_nav.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_intro.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_learnmore.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_cms.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_sehgal.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_requirement_affect.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_beneficiaries.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_choose.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_build.html' %}
    {% include 'sections/blog/mobile_blog_single/blog_contact.html' %}
  </section>
{% endblock %}