{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block description %}
  {{ post.excerpt }}
{% endblock %}

{% block social_card_url %}
  {{ post.thumbnail }}
{% endblock %}

{% block body_class %}blog-post-page tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/blog.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero hero-blog" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="blog-container orange-theme">
    {% include 'sections/blog/sub_nav.html' %}
    {% include 'sections/blog/full_post.html' %}
    {% include 'sections/blog/powerful_data.html' %}
    {% include 'sections/blog/cta.html' with hide_class=True %}
    {% include 'sections/blog/categories.html' %}
  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "46af351d-72ed-4c0f-9300-823e6c2f5b45",
      target: "#blog-cta-form-container",
      css: "",
    });
  </script>
{% endblock %}
