{% extends "sections/contact/directory/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/contact/icon/community.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  Community Support
{% endblocktrans %}{% endblock %}

{% block description %}
  <p class="gap-bottom-base">
    {% click_body 'directory-user-group' as click_users %}
    {% click_body 'directory-help' as click_class %}
    {% blocktrans %}
      Share questions and answers with the
      <a class="orange {{ click_users }}"
         href="https://forum.dimagi.com/"
         target="_blank">
        CommCare Users Group</a>,
      or go directly to our
      <a class="orange {{ click_class }}"
         href="https://help.commcarehq.org/"
         target="_blank">Help Site</a>.
    {% endblocktrans %}
  </p>
{% endblock %}




