{% extends "sections/contact/directory/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/contact/icon/community.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  Community Support
{% endblocktrans %}{% endblock %}

{% block description %}
  <p class="gap-bottom-base">
    {% blocktrans %}
      Search 
      <a class="orange {{ click_users }}"
         href="https://wiki.commcarehq.org/display/commcarepublic/Home?__hstc=240960668.541af3f2dae2e2d91780bb490408d87a.1564757662581.1588796955095.1588858766778.466&__hssc=240960668.2.1588858766778&__hsfp=81600919&_ga=2.153557048.1872116163.1588796955-703993439.1564686931"
         target="_blank">
      CommCare’s Documentation</a> or share your questions on 
      the 
      <a class="orange {{ click_users }}"
         href="https://forum.dimagi.com/"
         target="_blank">
      CommCare Forum</a>.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      These resources are free and available 
      to all CommCare users.
    {% endblocktrans %}
  </p>
{% endblock %}




