{% extends "sections/contact/directory/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/contact/icon/support.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  Customer Support
{% endblocktrans %}{% endblock %}

{% block description %}
  <p class="gap-bottom-base">
    {% blocktrans %}
      CommCare customers on a Standard plan or higher have access to 
      guaranteed support.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Simply use Dimagi’s 
      <a class="orange {{ click_users }}"
         href="https://dimagi-dev.atlassian.net/servicedesk/customer/portals"
         target="_blank">
        Service Desk</a> to submit 
      a question to our technical support or account management teams.
    {% endblocktrans %}
  </p>
{% endblock %}
