{% extends "sections/contact/directory/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/contact/icon/sales.html" %}
{% endblock %}

{% block name %}{% blocktrans %}
  Sales
{% endblocktrans %}{% endblock %}

{% block description %}
  <p class="gap-bottom-base">
    {% blocktrans %}
      Interested in CommCare?
    {% endblocktrans %}
  </p>
  <p class="gap-bottom-base">
    <a class="orange {% click_body 'directory-sales' %}"
       href="#contact-form-modal">
       Talk with our Sales team
    </a>
    {% blocktrans %}
      to get started.
    {% endblocktrans %}
  </p>
{% endblock %}

{% block contact_form_id %}0e48719f-8cbc-4308-b1f2-6a6eea4f45fe{% endblock %}
