{% load i18n %}
{% load dimagidotcom %}

<section class="pad-vert-medium blue-theme accent-gray-bg">
  <div class="content">
    <div class="content align-left pad-left-medium">
      <h3>
        {% blocktrans %}
          Data Cleaning and Management with CommCare
        {% endblocktrans %}
      </h3>
      <h6 class="blue pad-bottom-line">
        {% blocktrans %}
          May 5, 2020
        {% endblocktrans %}
      </h6>
    </div>
    <div class="grid-2-at-small grid-reverse">
      <div class="column pad-top-none align-left pad-left-small">
        <p>
          {% blocktrans %}
            Data collection is only one part of the puzzle-- data management 
            and cleaning is just as important. This webinar will walk through 
            the various ways that you can clean data in CommCare, and recommends 
            different methods based on the type of data you’re working with. 
            Our Customer Success team also walks you through troubleshooting 
            various data issues you see-- both how to diagnose these issues, 
            and take corrective action to fix them going forward. Spend some 
            time watching this webinar and learn how to make the most of the 
            data you've collected with tips and best practices for data cleaning 
            and management in CommCare.
          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-base">
          <a class="button"
             href="{% url 'data_clean' %}">
            {% blocktrans %}
              View Webinar
            {% endblocktrans %}
          </a>
        </div>
      </div>{# .column #}
  
      <div class="column">
        <div class="off-grid white-lazy-bg"
           data-lazybg="true">
        <div class="wistia-container image webinar-home-data-clean-video">
          {% include "partials/wistia_popover.html" with wistia_id='qa569ksn94' play_icon_medium=True show_image=True %}
        </div>{# .wistia-container #}
      </div>{# .off-grid #}
      
      </div>{# .column #}
    </div>{# .grid-2 #}
  </div>
</section>{# .content #}
