{% load i18n %}
{% load dimagidotcom %}

<section class="pad-vert-medium blue-theme">
  <div class="content">
    <div class="content-width-large align-left">
      <h3>
        {% blocktrans %}
          Power BI Dashboards for Monitoring & Evaluation
        {% endblocktrans %}
      </h3>
      <h6 class="blue pad-bottom-line">
        {% blocktrans %}
          March 3, 2020
        {% endblocktrans %}
      </h6>
    </div>
    <div class="grid-2-at-small grid-reverse">
      <div class="column pad-top-medium align-left pad-left-small">
        <p>
          {% blocktrans %}
            A Dimagi-hosted discussion on Power BI dashboards with guest 
            speakers from PCI Global and Catholic Relief Services.
          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-base">
          <a class="button"
             href="{% url 'power_bi' %}">
            {% blocktrans %}
              View Webinar
            {% endblocktrans %}
          </a>
        </div>
      </div>{# .column #}
  
      <div class="column">
        <div class="off-grid white-lazy-bg"
           data-lazybg="true">
        <div class="wistia-container image webinar-home-power-bi-video">
          {% include "partials/wistia_popover.html" with wistia_id='cvje1rhnm0' play_icon_medium=True show_image=True %}
        </div>{# .wistia-container #}
      </div>{# .off-grid #}
      
      </div>{# .column #}
    </div>{# .grid-2 #}
  </div>
</section>{# .content #}
