{% extends "sections/commcare/product/pricing/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block name %}{% blocktrans %}
  Advanced
{% endblocktrans %}{% endblock %}

{% block price %}
  $<span data-bind="text: advanced.displayPrice">1000</span> {% trans "per month" %}
{% endblock %}

{% block description %}{% blocktrans %}
  For our savviest users, working on projects at scale that require advanced
  levels of data, security and support.
{% endblocktrans %}{% endblock %}

{% block link %}
  {% url 'commcare_pricing' %}#plans-advanced
{% endblock %}

{% block button_text %}{% blocktrans %}
  Learn More
{% endblocktrans %}{% endblock %}
