{% extends "sections/commcare/product/pricing/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block name %}{% blocktrans %}
  Standard
{% endblocktrans %}{% endblock %}

{% block price %}{% blocktrans %}
  $250 per month
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Perfect to prove the value of
  CommCare in the pilot phase. Access case
  imports, API integrations, and better support.
{% endblocktrans %}{% endblock %}

{% block link %}
  {% url 'commcare_pricing' %}#plans-standard
{% endblock %}

{% block button_text %}{% blocktrans %}
  Learn More
{% endblocktrans %}{% endblock %}
