{% load i18n %}
{% load dimagidotcom %}
<section data-lazybg="true" class="purple-theme">
  <div id="benefits">
    <div class="content pad-top-medium">
      <h2 class="align-center pad-bottom-small" >
        {% blocktrans %}
          Benefits of Mobile Data Collection in <br class="hide-until-medium">
          Education Programs
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
    <div class="content pad-bottom-medium">
      <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
        <div class="column pad-top-small">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_one.html" %}
              </div>{# .theme-icon #}
            </div>{# .column .no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Track student and teacher attendance and performance over 
                  time to develop strategies to improve.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>{# .column #}
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_two.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Multimedia capabilities can help introduce teachers 
                  to new pedagogical strategies.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_three.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}

            <div class="column">
              <p>
                {% blocktrans %}
                  Compare collected attendance and performance records 
                  to past data or local averages.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_four.html" %}
              </div>{# .theme-icon #}
            </div>{# .column. no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Offline capabilities allow the application to be used in 
                  even the most rural, underserved schools.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small ">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_five.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}
            <div class="column">
              <p>
                {% blocktrans %}
                  Collected data are uploaded in real time so supervisors can 
                  assess schools’ performance on relevant indicators.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
        <div class="column pad-top-small pad-bottom-small">
          <div class="grid-flex">
            <div class="column no-shrink">
              <div class="theme-icon">
                {% include "svg/sectors/education/icon_six.html" %}
              </div>{# .theme-icon #}
            </div>{# .column.no-shrink #}

            <div class="column">
              <p>
                {% blocktrans %}
                  Applications can be translated into multiple languages to 
                  be used across regions.
                {% endblocktrans %}
              </p>
            </div>{# .column #}
          </div>{# .grid-flex #}
        </div>
      </div>
    </div>
  </div>
</section>
