{% load i18n %}
{% load dimagidotcom %}

<div class="plan-row border-horz">
  <div class="grid-5-at-large grid-5 grid-valign-middle">

    <div class="column">
      <div class="plan-column plan-standard">
        <h4 class="blue">
          {% blocktrans %}
            Hosting Option
          {% endblocktrans %}
        </h4>
      </div>{# .plan-column #}
    </div>{# .column #}
    <div class="column">
      <div class="plan-column plan-standard">
        <h4 class="blue">
          {% blocktrans %}
            Resource Intensity
          {% endblocktrans %}
        </h4>
      </div>{# .plan-column #}
    </div>{# .column #}
    <div class="column">
      <div class="plan-column plan-standard">
        <h4 class="blue">
          {% blocktrans %}
            Time Until Data Collection
          {% endblocktrans %}
        </h4>
      </div>{# .plan-column #}
    </div>{# .column #}
    <div class="column">
      <div class="plan-column plan-standard">
        <h4 class="blue">
          {% blocktrans %}
            Datacenter Security and Privacy
          {% endblocktrans %}
        </h4>
      </div>{# .plan-column #}
    </div>{# .column #}
    <div class="column">
      <div class="plan-column plan-standard">
        <h4 class="blue">
          {% blocktrans %}
            Dimagi-provided Support
          {% endblocktrans %}
        </h4>
      </div>{# .plan-column #}
    </div>{# .column #}

  </div>{# .grid-6 #}
</div>{# .plan-row #}
