<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 68"
     width="68"
     height="68">
  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    66,32.5 38,58.5 30,46.5 2,66.5 	"></polyline>
  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    50,32.5 66,32.5 66,48.5 	"></polyline>
  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    43,21.5 21,21.5 21,1.5 43,1.5 	"></polyline>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="43" y1="53" x2="43" y2="2"></line>
  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
    20,7 5,7 11,16.5 5,25.5 30,25.5 30,22.5 	"></polyline>
</svg>
