{% extends "sections/covid_19/solutions/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block icon %}
  {% include "svg/covid_19/icon/contact_tracing.html" %}
{% endblock %}

{% block header %}
  {% blocktrans %}
    Surveillance and contact tracing
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans %}
    Track COVID-19 patients via robust mobile case management features and trace each case's contacts during the
    contagion period.
  {% endblocktrans %}
{% endblock %}
