{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small"
         id="chapter-intro">
  <div class="content content-width-medium">

    <p>
      {% blocktrans %}
        Community health workers can take on a number of different roles in their
        community, including responsibilities for different aspects of service delivery
        and the health system. The core responsibilities of a traditional community health
        worker role are to:
      {% endblocktrans %}
    </p>

    <div class="grid-1-at-small grid-reverse grid-valign-middle">

      <div class="column">
        <ul class="check-list align-left pad-left-small">
          <li>
            <p>
              {% blocktrans %}
                Deliver health information and services (e.g. first aid, vaccines, 
                diagnoses, counseling, etc.) to their local populations
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Improve the health-seeking behavior of their patients, employing their 
                unique understanding of the situations and challenges they face
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Make home visits to patients unable to visit clinics or health 
                facilities (e.g. high-risk illnesses, pregnant women, the elderly, etc.)
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Help their patients develop an understanding of and navigate available 
                health resources (e.g. clinics, insurance, etc.)
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Facilitate communication, connections, and care between 
                patients and the existing health system
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Collect data on the habits, conditions, and demographics of their 
                community to help inform the improvement of local health services and policy
              {% endblocktrans %}
            </p>
          </li>
          <li>
            <p>
              {% blocktrans %}
                Act as an advocate and representative of their patients and 
                community to the health system to educate stakeholders and 
                providers on health topics relevant to their community
              {% endblocktrans %}
            </p>
          </li>
        </ul>
      </div>{# .column #}

    </div>{# .grid-1 #}

  </div>{# .content #}
  <div class="content content-width-large community-image white-lazy-bg gap-top-small gap-bottom-line"
         data-lazybg="true"></div>
</section>
