{% load i18n %}
{% load dimagidotcom %}

<section class="brief-overview align-center blue-theme border-top" id="brief-overview">
  <div class="content pad-top-medium">
    <div class="grid-2-at-small grid-4-at-large grid-row-space-small">
      {% include "sections/commcare/product/brief_overview/data_over_time.html" %}
      {% include "sections/commcare/product/brief_overview/work_offline.html" %}
      {% include "sections/commcare/product/brief_overview/empower_users.html" %}
      {% include "sections/commcare/product/brief_overview/scale.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}
</section>
