{% load i18n %}
{% load dimagidotcom %}

<section class="overview border-top"
         id="overview">
  <div class="content pad-top-medium gap-bottom-small">
    <div class="intro content-width-small">
      <h2 class="blue">
        {% blocktrans %}
          How CommCare Works
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Collect the data you need to drive impact, <br class="hide-until-small"/>
          with a data collection app your workforce will love.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}
    {% include "sections/commcare/product/overview/app_builder.html" %}
    {% include "sections/commcare/product/overview/collect_data.html" %}
    {% include "sections/commcare/product/overview/analyze_data.html" %}
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
