{% load i18n %}
{% load dimagidotcom %}

<section class="pricing accent-gray-bg"
         id="pricing">
  <div class="content pad-vert-medium border-top align-center">
    <div class="intro">
      <h2 class="blue">
        {% blocktrans %}
          Pricing
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Affordable plans to fit your budget and needs.
        {% endblocktrans %}
      </p>
    </div>
    <div class="grid-2-at-medium grid-4-at-large grid-row-equal-heights gap-bottom-small">
      {% include "sections/commcare/product/pricing/standard.html" with theme="green" %}
      {% include "sections/commcare/product/pricing/pro.html" with theme="turquoise" %}
      {% include "sections/commcare/product/pricing/advanced.html" with theme="purple" %}
      {% include "sections/commcare/product/pricing/enterprise.html" with theme="blue" %}
    </div>{# .grid-2-at-medium #}
    <p>
      {% blocktrans %}
        No budget? Check out our free
        <a href="https://www.commcarehq.org/register/user"
           class="cta-product-pricing-community"
           data-kmq-external="true"
           data-kmq-name="Clicked Start Trial - CommCare (Community CTA)">Community</a> plan.
      {% endblocktrans %}
    </p>
  </div>
</section>
