{% load i18n %}
{% load dimagidotcom %}

<section class="advisory border-top"
         id="advisory">
  <div class="content pad-vert-medium">
    <div class="align-center gap-bottom-small">
      <h2 class="blue">
        {% blocktrans %}
          TRUST COMMCARE
        {% endblocktrans %}
      </h2>
      <h3>
        {% blocktrans %}
          More than 2,000 projects across 80 countries trust CommCare for
          mobile data collection and reporting needs.
        {% endblocktrans %}
      </h3>
    </div>{# .intro #}

    <div class="grid-3-at-medium gap-bottom-small">
      <div class="column border-right-at-medium pad-horz-medium-at-medium pad-top-small">
        <div class="theme-icon gap-bottom-line align-center">
          {% include "svg/home/stats/register.html" %}
        </div>
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            450 million
          {% endblocktrans %}
        </h3>
        <h4 class="align-center">
          {% blocktrans %}
            People and places have been registered in CommCare
          {% endblocktrans %}
        </h4>
      </div>{# .column #}

      <div class="column border-right-at-medium pad-horz-medium-at-medium pad-top-small">
        <div class="theme-icon gap-bottom-line align-center">
          {% include "svg/home/stats/births.html" %}
        </div>
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            1 in 30
          {% endblocktrans %}
        </h3>
        <h4 class="align-center">
          {% blocktrans %}
            Births globally are registered in CommCare
          {% endblocktrans %}
        </h4>
      </div>{# .column #}

      <div class="column pad-horz-medium-at-medium pad-top-small">
        <div class="theme-icon gap-bottom-line align-center">
          {% include "svg/home/stats/child.html" %}
        </div>
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            1 in 20
          {% endblocktrans %}
        </h3>
        <h4 class="align-center">
          {% blocktrans %}
            Malnourished children globally are tracked in CommCare
          {% endblocktrans %}
        </h4>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}

    <div class="align-center">
      <a class="arrow {% click_body 'impact-research' %} "
         href="{% url 'toolkit' 'commcare-evidence-base' %}">
        {% blocktrans %}
          View The Research
        {% endblocktrans %}
      </a>
    </div>{# .align-center #}
    
  </div>{# .content #}
</section>
