{% load i18n %}
{% load dimagidotcom %}

<section class="trial border-top"
         id="trial">
  <div class="content content-width-medium pad-vert-medium">
    <div class="intro gap-bottom-small">
      <h4>
        {% blocktrans %}
          Start CommCare Trial
        {% endblocktrans %}
      </h4>
      <p>
        {% blocktrans %}
          FREE 30-day CommCare Trial. No credit card necessary.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="grid-2">

      <div class="column flex-align-right">
        <p>
          <a class="button alt {% click_body 'demo' %}"
             target="_blank"
             href="{{ URL_DEMO }}">
            {% blocktrans %}
              Get a demo
            {% endblocktrans %}
          </a>
        </p>
      </div>{# .column #}

      <div class="column flex-align-left">
        <p>
          <a class="button cta-product-trial-get-started {% click_body 'trial' %}"
             href="{{ URL_TRIAL }}"
             data-kmq-external="true"
             data-kmq-name="Clicked Start Trial - CommCare (Get started)">
            {% blocktrans %}
              Get started
            {% endblocktrans %}
          </a>
        </p>
      </div>{#  .column #}

    </div>{# .grid-2 #}
  </div>{# .content #}
</section>
