{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      {% if study.hubspot_form_language %}
        <a class="download-language"
           href="#hubspot-download-form-pdf-summary">
          <span>
            {% blocktrans %}
              TÉLÉCHARGER LE RESUMÉ
            {% endblocktrans %}
          </span>
        </a>
      {% endif %}
      <a class="primary"
         href="#hubspot-download-form-pdf-summary">
        <span>
          {% blocktrans %}
            Download Overview
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="{% url 'case_studies' %}"
           class="{% click_subnav 'all' %}">
          {% blocktrans %}
            All Case Studies
          {% endblocktrans %}
        </a>
        <a href="#overview"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
