{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      {% if study.hubspot_form_language %}
        <a class="download-language"
           href="#hubspot-download-form-french-pdf-summary">
          <span>
            {% blocktrans %}
              TÉLÉCHARGER LE RESUMÉ
            {% endblocktrans %}
          </span>
        </a>
      {% endif %}
      <a class="primary"
         id="hubspot-download-cta"
         href="https://cta-redirect.hubspot.com/cta/redirect/503070/{{study.hubspot_form}}"
         target="_blank">
        <span>
          {% blocktrans %}
            Download Case Study
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="{% url 'case_studies' %}"
           class="{% click_subnav 'all' %}">
          {% blocktrans %}
            All Case Studies
          {% endblocktrans %}
        </a>
        <a href="#overview"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>

{% block modals %}
  <div class="modal"
       data-dismissible="true"
       data-size="medium"
       id="hubspot-download-form-french-pdf-summary">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none {{ sector.theme }}">
          <section class="orange-theme" id="download-pdf-summary-form-content-french"></section>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "{{ study.hubspot_form_language }}",
      target: "#download-pdf-summary-form-content-french",
      css: "",
      onFormSubmit: function () {
        window.open('{{ study.download_url_language }}', "_blank");
      },
    });
  </script>
{% endblock %}
