{% extends "sections/press/accordion/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block accordion_content_show %}{% endblock %}

{% block accordion_header %}
  {% blocktrans %}
    How does the recruitment process work?
  {% endblocktrans %}
{% endblock %}

{% block accordion_content %}
  <p>
    Once your application is reviewed, the first step in the interview process is an initial screening round. 
    This is a chance for us to get to know you and provide more information about the position and Dimagi. 
    Depending on the job you have applied for, there will be two or three additional rounds after the initial 
    screening. These rounds can include a combination of short exercises, interviews with team members, or pair coding interviews as applicable.
  </p>
{% endblock %}
