$color-bg:          #f2f2f1;
$color-bg-html:     ##161b1f;
$color-text:        #181715;

$color-white:       #ffffff;

$color-neutral:     #685c53;
$color-neutral-hi:  #d6d6d4;
$color-neutral-low: #373534;

$color-blue:        #004ebc;
$color-blue-hi:     #bcdeff;
$color-blue-low:    #002c5f;

$color-turquoise:     #00bdc5;
$color-turquoise-hi:  #ccf3f4;
$color-turquoise-low: #00799a;

$color-purple:      #9060c8;
$color-purple-hi:   #d6c5ea;
$color-purple-low:  #5d3f82;

$color-orange:      #ff8400;
$color-orange-hi:   #ffe3c2;
$color-orange-low:  #994f00;

$color-yellow:      #f9c700;
$color-yellow-hi:   #f8ecbd;
$color-yellow-low:  #685300;

$color-green:       #47b700;
$color-green-hi:    #d5eaca;
$color-green-low:   #216f00;

$color-red:         #e53e30;
$color-red-hi:      #efcfcb;
$color-red-low:     #812627;
