$color-bg:              #ffffff;
$color-bg-html:         #161b1f;
$color-text:            #5f6a7d;
$color-text-blog:       #4A4A51;
$color-text-blog-light: #A9ABB4;
$color-text-blog-caption: #6D6D73;

$color-white:           #ffffff;
$color-black:           #000000;

$color-slate:               $color-text;
$color-slate-light:         lighten($color-slate, 20);

$color-neutral-dark:        #373534;
$color-neutral:             #685c53;
$color-neutral-light:       #d6d6d4;
$color-neutral-lightest:    #f7f7f6;

$color-blue-dark:           #002c5f;
$color-blue:                #004ebc;
$color-blue-light:          #bcdeff;
$color-blue-lightest:       #edf3fa;

$color-purple-dark:         #5d3f82;
$color-purple:              #9060c8;
$color-purple-light:        #d6c5ea;
$color-purple-lightest:     #faf6ff;

$color-turquoise-dark:      #00799a;
$color-turquoise:           #00bdc5;
$color-turquoise-light:     #e5f8f9;
$color-turquoise-lightest:  #f2fcfc;

$color-orange-dark:         #994f00;
$color-orange:              #ff8400;
$color-orange-light:        #ffe3c2;
$color-orange-lightest:     #f8f3ed;

$color-green-dark:          #216f00;
$color-green:               #47b700;
$color-green-light:         #d5eaca;

$color-red-dark:            #812627;
$color-red:                 #e53e30;
$color-red-light:           #efcfcb;

$color-code-text:       $color-blue-dark;
$color-code-bg:         #f0f0f0;

$color-header:          $color-text;
$color-header-inverted: $color-white;

$color-menu-text:       #6c7980;
$color-menu-bg:         #1b2126;
$color-menu-link:       $color-white;

$color-swatch-default:  #636466;

$color-accent-gray:     #fafafa;

$color-tap-highlight: rgba(255, 255, 255, 0);
$color-footer-text: $color-menu-text;
$color-footer-border: darken($color-text, 20);

$colors-by-theme: (
  blue-dark: $color-blue-dark,
  blue: $color-blue,
  blue-light: $color-blue-light,
  blue-lightest: $color-blue-lightest,
  green-dark: $color-green-dark,
  green: $color-green,
  green-light: $color-green-light,
  turquoise-dark: $color-turquoise-dark,
  turquoise: $color-turquoise,
  turquoise-light: $color-turquoise-light,
  turquoise-lightest: $color-turquoise-lightest,
  purple-dark: $color-purple-dark,
  purple: $color-purple,
  purple-light: $color-purple-light,
  purple-lightest: $color-purple-lightest,
  neutral-dark: $color-neutral-dark,
  neutral: $color-neutral,
  neutral-light: $color-neutral-light,
  neutral-lightest: $color-neutral-lightest,
  accent-gray: $color-accent-gray,
  orange-dark: $color-orange-dark,
  orange: $color-orange,
  orange-light: $color-orange-light,
  orange-lightest: $color-orange-lightest,
  slate: $color-slate,
  slate-light: $color-slate-light,
  red-dark: $color-red-dark,
  red: $color-red,
  red-light: $color-red-light,
  black: $color-black,
);

$default-theme: blue;
$color-default: map-get($colors-by-theme, $default-theme);

$color-link: map-get($colors-by-theme, $default-theme);
$color-link-inactive: #8f8f8f;

$color-header: #2e3b4e;
$color-body-text: #5f6a7d;
$color-body-bg: $color-body-text;
$color-link-gray: #6c7980;
$color-header-bg: $color-header;
$color-banner: #1b2126;
$color-hero: #1b2126;
$color-badge: #969799;

$color-epic-cover: #1b2126;

$color-button: $color-blue;
$color-button-disabled: #e0e0e0;

$color-border: #e0e0e0;
$color-border-input: #c4c4c4;

$color-active-input: $color-blue;
$color-validated-input: $color-green;
$color-error-input: $color-red;

$color-error: $color-red;
$color-validated: $color-green;

@function color-hover($_color) {
  @return darken($_color, 20);
}

@function color-active($_color) {
  @return darken($_color, 30);
}

@function color-invert($_color) {
  @if $_color == $color-accent-gray {
    @return $color-text;
  }
  @return $color-white;
}

@function color-invert-hover($_color) {
  @if $_color == $color-accent-gray {
    @return $color-text;
  }
  @return $color-white;
}

@function color-invert-active($_color) {
  @if $_color == $color-accent-gray {
    @return $color-text;
  }
  @return $color-white;
}

@function color-button-hover($_color) {
  @return darken($_color, 20);
}

@function color-button-active($_color) {
  @return darken($_color, 25);
}

