$body-width-max: 1680px;
$body-width-min: 320px;

$widths-by-size: (
  extra-small: 374px,
  small: 480px,
  medium: 718px,
  large: 1024px,
  extra-large: 1292px,
);

$width-mobile: map-get($widths-by-size, small);
$width-desktop: map-get($widths-by-size, medium);
$width-desktop-lg: map-get($widths-by-size, large);
$width-desktop-xl: map-get($widths-by-size, extra-large);

$content-widths-by-size: (
  base: 276px,
  extra-small: 324px,
  small: 424px,
  medium: 680px,
  large: 868px,
  extra-large: 1016px,
);

$content-cell-padding-by-size: (
  medium: 40px,
  large: 60px,
  extra-large: 80px,
);

$modal-wrapper-widths-by-size: (
  small: 424px,
  medium: 680px,
  large: 868px,
  extra-large: 1016px,
);

$modal-content-widths-by-size: (
  small: 324px,
  medium: 424px,
  large: 680px,
  extra-large: 868px,
);

$content-width-base: map-get($content-widths-by-size, base);

$min-width-button: 200px;
$border-radius: 3px;
$border-radius-lg: 5px;

$space-by-type: (
  base: 10px,
  line: 20px,
  small: 30px,
  medium: 60px,
  large: 80px,
  none: 0,
);

$space-base: map-get($space-by-type, base);
$space-line: map-get($space-by-type, line);
$space-small: map-get($space-by-type, small);
$space-medium: map-get($space-by-type, medium);

$list-padding: 2.14286em;
$list-icon-width: 1.42857em;
$list-check-width: 1.07143em;
$list-check-margin: .28571em;
$list-circle-size: 2.18182em;
$list-circle-padding: 2.42857em;
$list-circle-margin: .45455em;

$pre-max-height: 424px;

$banner-pad-mobile: 5px;
$banner-pad-desktop: 15px;

$banner-height-desktop: 73px;

$banner-logo-height-mobile: 30px;
$banner-logo-width-mobile: 60px;

$banner-logo-height-desktop: 30px;
$banner-logo-width-desktop: 60px;

$hero-content-padding: 30px;

$epic-cover-padding: 30px;
$epic-height: 500px;

$menu-pad-top-mobile: 42px;
$menu-pad-top-desktop: 73px;

@function space-margin($_space) {
  @return $_space / 2;
}

@function space-gap-grid($_space) {
  @return $_space - 20px;
}

@function space-gap-list($_space) {
  @return $_space - 10px;
}

$toggle-switch-height: 28px;
$toggle-switch-width: 52px;

