$body-width-max: 1680px;
$body-width-min: 320px;

$widths-by-size: (
  extra-small: 374px,
  small: 480px,
  medium: 718px,
  large: 1024px,
  extra-large: 1292px,
);

$grid-pad: 10px;
$grid-gap: $grid-pad * 2;

$gaps-by-type: (
  base: 0,
  line: 10px,
  small: 20px,
  medium: 50px,
  large: 70px,
  none: -10px,
);

$pads-by-type: (
  base: 5px,
  line: 10px,
  small: 15px,
  medium: 30px,
  large: 40px,
  none: 0,
);

$margin-base: $grid-gap;

$line-height-base: 20px;
$line-height-header: 30px;
$line-height-header-lg: 30px;

$list-padding: 2.14286em;
$list-icon-width: 1.42857em;

$list-check-width: 1.07143em;
$list-check-margin: .28571em;

$list-circle-size: 2.18182em;
$list-circle-padding: 2.42857em;
$list-circle-margin: .45455em;

$pre-max-height: 424px;
