$font-family-base: 'Nunito Sans', sans-serif;;
$font-family-code: Menlo, Monaco, Consolas, monospace;

$font-size-small: 11px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;

$font-size-h1: 28px;
$font-size-h1-lg: 38px;

$line-height-h1: 30px;
$line-height-h1-lg: 40px;

$font-size-featured: 40px;
$font-size-featured-lg: 50px;
$line-height-featured: 50px;
$line-height-featured-lg: 60px;

$font-size-h2: 24px;
$font-size-h2-lg: 34px;
$font-size-h3: 22px;
$font-size-h3-lg: 28px;
$font-size-h4: $font-size-extra-large;
$font-size-h5: $font-size-large;
$font-size-h6: $font-size-medium;

$font-size-headline: $font-size-extra-large;
$line-height-headline: 22px;

$font-size-hero-h2: $font-size-large;
$line-height-hero-h2: 20px;

$font-size-blockquote: 20px;
$font-size-blockquote-lg: 24px;

$font-size-code: 90%;

$font-size-banner: 42px;
$font-size-banner-link: $font-size-small;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-weight-text: $font-weight-light;

$font-weight-h1: $font-weight-light;
$font-weight-h2: $font-weight-light;
$font-weight-h3: $font-weight-light;
$font-weight-h4: $font-weight-regular;
$font-weight-h5: $font-weight-regular;
$font-weight-h6: $font-weight-medium;
$font-weight-h6-bold: $font-weight-bold;

$font-weight-button: $font-weight-bold;
$font-weight-link: $font-weight-medium;
$font-weight-banner: $font-weight-medium;
$font-weight-featured: $font-weight-thin;
$font-weight-coming-soon: $font-weight-regular;

$line-height-header: 30px;
$line-height-header-lg: 40px;

$line-height-banner: 15px;

$letter-spacing-banner-link: 1px;


