{% extends "sections/press/accordion/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block accordion_collapsed %}collapsed{% endblock %}

{% block accordion_header %}
  {% blocktrans %}
    Who are Dimagi’s partners?
  {% endblocktrans %}
{% endblock %}

{% block accordion_content %}
  <p>
    {% blocktrans %}
    Our team of exceptional engineers, physicians, public health professionals, 
    data analysts, and project managers partner with governments, international 
    non-governmental organizations (iNGOs), and nonprofits across sectors to amplify 
    their frontline impact through scalable digital solutions and expert services. 
    We have worked on more than 3,000 projects in more than 80 countries, with partners 
    that include the World Health Organization, World Bank, USAID, CDC, World Vision, 
    UNICEF, the Rockefeller Foundation, and the Bill & Melinda Gates Foundation.

    {% endblocktrans %}
  </p>
  <p>
    {% url 'partners' as partners %}
    {% blocktrans %}
      For more information on our partners, please
      <a href="{{ partners }}">click here</a>.
    {% endblocktrans %}
  </p>
{% endblock %}
