{% extends "sections/press/accordion/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block accordion_content_show %}{% endblock %}

{% block accordion_header %}
  {% blocktrans %}
    What is Dimagi doing for COVID-19 response in the US?
  {% endblocktrans %}
{% endblock %}

{% block accordion_content %}
  <p class="chw-accordion-sub">
    {% url 'blog_post' 'sf-ucsf-contact-tracing-announcement' as San_Francisco_Department_Public_Health %}
    {% blocktrans %}
      Partnering with numerous government agencies across the United States,
      Dimagi is helping to deploy CommCare to support contact tracing and
      health facility readiness. One of these partner organizations is the
      <a href="{{ San_Francisco_Department_Public_Health }}"
         target="_blank">San Francisco Department of Public Health</a>, which has
      chosen CommCare as its primary contact tracing technology. The digital
      system that will support city health workers, UCSF epidemiologists and
      medical students – and even the city's librarians – was designed and
      deployed in less than a week. Dimagi continues to establish new
      partnerships in the fight against COVID-19, partnering with states,
      counties, and territories across the country.
    {% endblocktrans %}
  </p>
{% endblock %}
