{% load dimagidotcom %}
{% load i18n %}

<section id="overview">
    <div class="content pad-vert-medium">
    <div class="grid-2-at-medium">
      <div class="column">
        <h1>
          Mobile App
        </h1>
        <h4>
          This is a mobile app that ....
        </h4>

        <p></p>
    <h5>

    Features

    </h5>

    <p>

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    </p>

    <p>


        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five <a href="/#">centuries</a>, but also the leap into electronic typesetting, remaining essentially unchanged.

    </p>

      </div>
      <div class="column">
        <a class="tile align-center height-100">
            <div id="overview-mobile" class="overview-mobile">
                <div class="image off-grid white-lazy-bg" data-lazybg="true"></div>
            </div>
        </a>
      </div>
    </div>
</div>
    <div class="content pad-vert-large">
    <div class="grid-2-at-medium">
        <div class="column">
            <a class="tile align-center height-100">
                <div id="overview-web" class="overview-web">
                    <div class="image off-grid white-lazy-bg" data-lazybg="true"></div>
                </div>
            </a>
        </div>
      <div class="column">
        <h1>
          Web App
        </h1>
        <h4>
          This is a web app that ....
        </h4>

        <p></p>
    <h5>

    Features

    </h5>

    <p>

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    </p>

    <p>


        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five <a href="/#">centuries</a>, but also the leap into electronic typesetting, remaining essentially unchanged.

    </p>

      </div>

    </div>
</div>
</section>
