{% load i18n %}
{% load dimagidotcom %}

<section class="contact-us border-top accent-gray-bg blue-theme" id="schedule">
  <div class="content content-width-medium pad-vert-medium gap-bottom-base align-center">
    <div class="gap-bottom-small">
      <h3 class="slate">
        {% blocktrans %}
          Would you like to discuss your vaccine delivery project with a solutions expert?
        {% endblocktrans %}
      </h3>
    </div>{# .intro #}
    <div class="column flex-align-center">
      <p>
        <a class="button" href="#contact-form-modal">
          {% blocktrans %}
            Get in Touch
          {% endblocktrans %}
        </a>
      </p>
    </div>{# .column #}
  </div>{# .content #}
</section>
