{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-small">
  <div class="content content-width-medium">

    <p>
      {% blocktrans %}
        Community health workers have a wide range of responsibilities and come
        from an even wider range of backgrounds. Here, in their own words, they
        explain their roles, their routines, and how mobile tools have helped them succeed.
      {% endblocktrans %}
    </p>

  </div>{# .content #}
</section>
