{% load dimagidotcom %}
{% load i18n %}

<section  class="video-intro pad-vert-small"
          id="video">
  <div class="content content-width-large align-center">
    <h2 class="align-left orange gap-bottom-small content-width-large">
      {% blocktrans %}
        Working on the largest mHealth program in the world
      {% endblocktrans %}
    </h2>
    <div class="grid-flex-at-medium">

      <a class="border-rounded-large image play-icon-small alt gap-top-large-at-medium gap-left-small"
         href="https://www.youtube.com/watch?v=tuLmGLYZq1s&feature=youtu.be"
         data-lazybg="true"
         target=_blank>
        <div class="border-rounded-large image white-lazy-bg" data-lazybg="true"></div>{# .image #}
      </a>

      <div class="column flex-valign-middle-at-medium align-left-at-medium">
        <div class="copy">
          <p class="gap-bottom-base pad-left-line">
            {% blocktrans %}
              Launched in March 2017, the Integrated Child Development Services-Common
              Application Software (ICDS-CAS) is the largest e-nutrition program in
              the world. The application serves as a key pillar of POSHAN Abhiyaan,
              the Indian Prime Minister’s Overarching Scheme for Holistic Nourishment.
              More than 210,000 frontline workers across 16 states and 121 districts in
              India use the platform to support POSHAN Abhiyaan, the Indian Prime
              Minister’s Overarching Scheme for Holistic Nourishment
            {% endblocktrans %}
          </p>
          <a class="arrow pad-left-line"
             href="https://www.youtube.com/watch?v=tuLmGLYZq1s&feature=youtu.be"
             target=_blank>
            {% blocktrans %}
              Play Video
            {% endblocktrans %}
          </a>
        </div>{# .copy #}
      </div>{# .column #}

    </div>{# .grid-flex-at-medium #}
  </div>{# .content #}
</section>
