{% load i18n %}
{% load dimagidotcom %}

<section id="overview"
         data-lazybg="true">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <strong>
        {% blocktrans %}
          MOBILE DATA COLLECTION
        {% endblocktrans %}
      </strong>
      <h2>
        {% blocktrans %}
          Gender-Based Violence Response
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small grid-row-equal-heights ">
      <div class="column">
        <p>
          {% blocktrans %}
            Gender-based violence (GBV) is a global issue that refers to 
            physical, sexual, psychological, and economic harm resulting from 
            discrimination against a person on the basis of gender.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            The majority of people who experience GBV are women, and 
            approximately 70% of women worldwide encounter violence in their 
            lifetime. While the most common form of GBV experienced by women 
            is inflicted by an intimate partner, GBV can also occur in a 
            variety of practices, such as early (childhood) marriage, female 
            feticide, violence during pregnancy, female genital mutilation, 
            honor killings, dowry murder, human trafficking, prostitution, 
            and sexual violence in conflict, including using rape as a 
            weapon of war (UNiTE, 2009).
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            In order to reduce GBV prevalence, governments and organizations 
            around the world are leading efforts to prevent and respond to GBV. 
            Legal frameworks to protect against common forms of GBV now exist 
            in many countries, while public fervor following high-profile GBV 
            cases has also driven forward legislative and social action. Yet, 
            even with widespread support, implementing anti-GBV initiatives 
            has been fraught with challenges. Private and public sector 
            entities are actively seeking innovative responses to effectively 
            prevent and address GBV in various countries around the world.
          {% endblocktrans %}
        </p>              
      </div>{# .column #}
      <div class="column" id="small-business-intro">
        <div class="intro-image">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div>        
      </div> {# .column #}            
    </div>      
  </div>
</section>
