{% load i18n %}
{% load dimagidotcom %}

<section class="testimonial programs purple-theme" 
         data-lazybg="true" 
         id="programs">
  <div class="accent-gray-bg">
    <div class="content pad-vert-small">
      <div class="mdc-sector-program">
        <h2 class="align-center">
          {% blocktrans %}
            Featured CommCare-Based <br class="hide-until-medium">
            Gender-Based Violence Response Projects
          {% endblocktrans %}
        </h2>
      </div>
      <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights grid-col-space-small pad-top-medium">
        <div class="column  pad-bottom-small ">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial1"
                 data-lazybg="true"></div>
            <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
              <h5><strong class="body-color">
                {% blocktrans %}
                  USAID Innovative Uses of Mobile Technology to Improve GBV Services  <br>
                  India
                {% endblocktrans %}
              </strong></h5>
              <p class="body-color">
                {% blocktrans %}
                  St. John’s Research Institute uses CommCare to improve 
                  protocol adherence and case management for their frontline 
                  workers serving victims of gender-based violence.
                {% endblocktrans %}
              </p>
              <p><a href="#agri-ep-feature-card-1" class="arrow link-gray">
                {% blocktrans %}
                  Read More 
                {% endblocktrans %}
              </a></p>
            </div>
          </div>
        </div>{# .column #}

        <div class="column pad-bottom-small">
          <div class="pad-bottom-base white-bg">
            <div class="image testimonial2"
                 data-lazybg="true"></div>
          <div class="pad-line pad-top-none-at-large pad-top-line-at-extra-large">
            <h5>
              <strong class="body-color">
               {% blocktrans %}
                  UNICEF Community Survivor Support Unit Teams <br>
                  Malawi
               {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                UNICEF uses CommCare to strengthen monitoring and support for 
                their Community Victim Support Units in Malawi.
              {% endblocktrans %}
            </p>
            <p class="pad-top-line-at-extra-large">
              <a href="#agri-ep-feature-card-2" class="arrow link-gray">
                {% blocktrans %}
                  Read More
                {% endblocktrans %}
              </a>
            </p>
          </div>
          </div>
        </div>{# .column #}
      </div>
    </div>
  </div>
</section>

{% block modals %}
  <div class="modal testimonial programs"
       data-dismissible="true"
       data-size="medium"
       id="agri-ep-feature-card-1">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-small pad-bottom-none turquoise-theme">
          <h4>
            <strong class="body-color">
              {% blocktrans %}
                USAID Innovative Uses of Mobile Technology to Improve GBV Services  <br>
                India
              {% endblocktrans %}
            </strong>
          </h4>
          <div class="grid-flex-at-large">
            <div class="column">
              <p class="body-color">
                {% blocktrans %}
                  Since September 2013, Dimagi has been collaborating with 
                  partners at St. John’s Research Institute to apply CommCare 
                  to help auxiliary nurses and other health workers identify 
                  and manage cases of gender-based violence. Their custom 
                  mobile app helps the health workers follow tested, 
                  standardized protocols and inform survivors of their rights 
                  and options, provide counseling messages, and facilitate 
                  support services. CommCare reduces the burden of paper-based 
                  reporting and increases adherence to tested protocols that 
                  accurately screen for gender-based violence.
                {% endblocktrans %}
              </p>
            </div>
            <div class="column pad-top-none-until-large">
              <div class="image testimonial1 crs"
                   data-lazybg="true"></div>
            </div>
          </div>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}

  <div class="modal testimonial programs"
       data-dismissible="true"
       data-size="medium"
       id="agri-ep-feature-card-2">
    <div class="modal-scroll">
      <div class="modal-wrapper">
        <a href="#" class="modal-close-button"></a>
        <div class="content pad-horz-medium-at-medium pad-horz-line pad-vert-none turquoise-theme">
          <h4>
            <strong class="body-color">
              {% blocktrans %}
                UNICEF Community Survivor Support Unit Teams <br>
                Malawi
              {% endblocktrans %}
            </strong>
          </h4>
          <div class="grid-flex-at-large">
            <div class="column">
              <p class="body-color">
                {% blocktrans %}
                  In an effort to improve access to women and child protection 
                  services and reduce the impact of HIV on women and children, 
                  UNICEF worked with the government of Malawi established a 
                  Community Victim Support Unit (CVSU) in each of the 300 
                  authorities in the country. CVSUs provide psychosocial 
                  support, meditation, and referral services for women and 
                  children survivors of abuse, violence, exploitation, and 
                  neglect. CommCare has been used to strengthen monitoring and 
                  support the activities and information systems of CVSUs.
                {% endblocktrans %}
              </p>
            </div>
            <div class="column">
              <div class="image testimonial2 crs"
                   data-lazybg="true"></div>
            </div>
          </div>
        </div>{# .content #}
      </div>{# .modal-wrapper #}
    </div>{# .modal-scroll #}
  </div>{# .modal #}

{% endblock %}
