@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

html {
  text-size-adjust: 100%;
}

body {
  color: $color-text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-smoothing: always;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
}

article {
  font-size: $font-size-article;
  line-height: $line-height-header;
}

p {
  margin-bottom: $space-line;
}

strong,
b {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

sup {
  font-size: .5em;
  vertical-align: super;
}
