@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket ($jacket-critical) {

  html {
    text-size-adjust: 100%;
  }

  body {
    color: $color-text;
    font-family: $font-family-base;
    font-size: $font-size-medium;
    font-smoothing: always;
    font-weight: $font-weight-text;
    line-height: $space-line;
    text-rendering: optimizeLegibility;
  }

  article {
    font-size: $font-size-large;
    line-height: $line-height-header;
  }

  p {
    margin-bottom: $space-line;
  }

  strong,
  b {
    font-weight: $font-weight-medium;
  }

  em {
    font-style: italic;
  }

  sup {
    font-size: .5em;
    vertical-align: super;
  }
}
