@import "app/layout/variables/grid";
@import "variables/headings";
@import "variables/base";

$min-width-lg: map-get($grid-sizes, large);

blockquote, .callout {
  margin-bottom: $base-margin;
  font-size: 20px;
  line-height: $h-line-height;
  font-weight: 300;
}

@media (min-width: $min-width-lg) {
  blockquote, .callout {
    font-size: 24px;
    line-height: $h-line-height;
  }
}

blockquote p, .callout p {
  position: relative;
}

blockquote p:before {
  content: "“";
  position: relative;
  margin-left: -0.8ex;
}

blockquote p:after {
  content: "”";
}

blockquote cite {
  display: block;
  font-size: 11px;
  line-height: $base-line-height;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
