@import 'app/variables/sizes';
@import 'app/variables/type';

$_min-width-lg: map-get($widths-by-size, large);

blockquote,
.callout {
  font-size: $font-size-blockquote;
  font-weight: $font-weight-normal;
  line-height: $line-height-header;
  margin-bottom: $space-line;
}

@media (min-width: $_min-width-lg) {
  blockquote,
  .callout {
    font-size: 24px;
    line-height: $line-height-header-lg;
  }
}

blockquote p,
.callout p {
  position: relative;
}

blockquote p::before {
  content: '“';
  margin-left: -.8ex;
  position: relative;
}

blockquote p::after {
  content: '”';
}

blockquote cite {
  display: block;
  font-size: $font-size-standard;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  line-height: $line-height-base;
  text-transform: uppercase;
}

.blockquote-small {
  font-size: $font-size-base;
  line-height: $line-height-base;
  p {
    margin-bottom: 5px;
  }
}
