@import 'app/lib/jacket';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@include jacket ($jacket-standard) {
  pre,
  code {
    background-color: $color-code-bg;
    color: $color-code-text;
    font-family: $font-family-code;
    font-size: $font-size-code;
    font-weight: normal;
    hyphens: none;
    word-spacing: normal;
  }

  code {
    border-radius: .2em;
    display: inline;
    padding-bottom: .5em;
    padding-top: .3em;
  }

  pre {
    display: block;
    margin-bottom: $space-line;
    max-height: $pre-max-height;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: $space-line;
    tab-size: 2;
    text-align: left;
    width: 100%;

    code {
      background-color: transparent;
      border-radius: 0;
      font-size: inherit;
      padding: 0;
    }
  }
}
