.purple-theme .theme-color {
    color: #8033cc !important
}

.purple-theme .theme-muted-color {
    color: #9d73c7 !important
}

.purple-theme .theme-ui-color {
    color: #8033cc !important
}

.purple-theme .theme-text-color {
    color: #fff !important
}

.purple-theme .theme-border {
    border-color: #8033cc !important
}

.purple-theme .theme-icon [fill]:not([fill="none"]):not([fill^=url]) {
    fill: #8033cc !important
}

.purple-theme .theme-icon [stroke]:not([stroke="transparent"]) {
    stroke: #8033cc !important
}

.purple-theme .theme-bg {
    color: #fff !important;
    background-color: #8033cc !important
}

.purple-theme .theme-muted-bg {
    color: #fff !important;
    background-color: #9d73c7 !important
}

.purple,
.purple-color {
    color: #8033cc !important
}

.purple-muted {
    color: #9d73c7 !important
}

.purple-ui-color {
    color: #8033cc !important
}

.purple-text-color {
    color: #fff !important
}

.purple-border {
    border-color: #8033cc !important
}

.purple-icon [fill]:not([fill="none"]):not([fill^=url]) {
    fill: #8033cc !important
}

.purple-icon [stroke]:not([stroke="transparent"]) {
    stroke: #8033cc !important
}

.purple-icon.inverted [fill]:not([fill="none"]):not([fill^=url]),
.inverted .purple-icon [fill]:not([fill="none"]):not([fill^=url]) {
    fill: #fff !important
}

.purple-icon.inverted [stroke]:not([stroke="transparent"]),
.inverted .purple-icon [stroke]:not([stroke="transparent"]) {
    stroke: #fff !important
}

.purple-bg {
    background-color: #8033cc !important
}

.purple-muted-bg {
    background-color: #9d73c7 !important
}

// todo finish themes

.inverted {
    color: #fff !important
}

.inverted .theme-icon [fill]:not([fill="none"]):not([fill^=url]) {
    fill: #fff !important
}

.inverted .theme-icon [stroke]:not([stroke="transparent"]) {
    stroke: #fff !important
}

.white {
    color: #fff !important
}

.header-color {
    color: #2e3b4e !important
}

.body-color {
    color: #5f6a7d !important
}

.link-gray {
    color: #6c7980 !important
}

.white-bg {
    background-color: #fff !important
}

.header-color-bg {
    background-color: #2e3b4e !important
}

.body-color-bg {
    background-color: #5f6a7d !important
}
