p+.cta {
  margin-top: -10px;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

@mixin _align-at($_size: null) {
  $_suffix: if($_size != null, -at-#{$_size}, null);

  @each $_align in (
    left, center, right, justify
  ) {
    .align-#{$_align}#{$_suffix} {
      text-align: $_align !important; // scss-lint:disable ImportantRule
    }
  }

  @each $_valign in (
    baseline, top, middle, bottom
  ) {
    .valign-#{$_valign}#{$_suffix} {
      vertical-align: $_valign !important; // scss-lint:disable ImportantRule
    }

    .valign-#{$_valign}#{$_suffix} * {
      vertical-align: inherit;
    }
  }
}

@include _align-at();

@each $_size, $_width in $widths-by-size {
  @media (min-width: $_width) {
    @include _align-at($_size);
  }
}
