<script src="//fast.wistia.com/embed/medias/{{ wistia_id }}.jsonp" async></script>
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<span class="wistia_embed
             wistia_async_{{ wistia_id }}
             popover=true
             popoverPreventScroll=true
             popoverBorderRadius=10
             popoverOverlayOpacity=.75
             playbar=false
             smallPlayButton=false
             volumeControl=false
             settingsControl=false
             fullscreenButton=false
             controlsVisibleOnLoad=false
             popoverContent=link">
  <a class="border-rounded-large image play-icon-small alt"></a>
</span>
