{% load i18n %}
{% load dimagidotcom %}

<div class="grid-2-at-medium grid-row-space-small grid-reverse blue-theme">
  <div class="copy content-cell-padding-right">
    <h4>
      {% blocktrans %}
        Build your data collection app in days, not weeks.
      {% endblocktrans %}
    </h4>
    <p>
      {% blocktrans %}
        Our drag-and-drop app builder makes it easy for you to get started.
      {% endblocktrans %}
    </p>
    <ul class="check-list grid-2 gap-bottom-small">
      <li>
        <strong>
          {% blocktrans %}
            Test app changes live with our app preview feature
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            No coding necessary with our drag-and-drop app builder
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Start small with simple surveys and add complexity as you go
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Easily deploy your app to Android devices in the field
          {% endblocktrans %}
        </strong>
      </li>
    </ul>
    <blockquote class="blockquote-small">
      <p>
        {% blocktrans %}
          We are ready to design applications that are everything from
          simple and straightforward to those with challenging and
          unique designs and case uses.
        {% endblocktrans %}
      </p>
      <cite>
      {% blocktrans %}
        Ted Barlow, President, NouKod
      {% endblocktrans %}
      </cite>
    </blockquote>
  </div>{# .copy #}
  <div class="app-builder-image"></div>
</div>{# .grid-2-at-medium #}
