{% load i18n %}
{% load dimagidotcom %}

<div class="grid-2-at-medium grid-row-space-small blue-theme">
  <div class="copy content-cell-padding-right">
    <h3>
      {% blocktrans %}
        Collect better data with an app your workforce will love to use.
      {% endblocktrans %}
    </h3>
    <p>
      {% blocktrans %}
        The key to securing cleaner data is offering your workforce a tool
        that guides them to do their best work. Make magic happen
        behind-the-scenes with features like case management (our secret sauce)
        that simplify their work.
      {% endblocktrans %}
    </p>
    <ul class="check-list grid-2 gap-bottom-small">
      <li>
        <strong>
          {% blocktrans %}
            Build-in decision support and notifications to guide your team
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Link data from multiple forms to avoid duplicate
            data entry and errors
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Incorporate performance feedback for regular progress updates
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Enhance how your team communicates in the field with multimedia
          {% endblocktrans %}
        </strong>
      </li>
    </ul>
  </div>{# .copy #}
  <div class="collect-data-image"></div>
</div>{# .grid-2-at-medium #}
