{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Child Health
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Dimagi has significant experience designing and implementing e-IMCI solutions that
      replace paper forms and chart booklets with mobile phone and tablet applications.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Mobile applications address IMCI and CCM limitations by supplementing health worker
      trainings, simplifying health workers’ workflows, supporting supervision efforts,
      and increasing communication within the last mile of health systems.
    {% endblocktrans %}
  </p>
{% endblock %}
