{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Ebola Response
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      In West Africa, CommCare is being used to improve core infectious
      disease response roles in the Ebola epidemic and in future disease
      outbreaks
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      These areas include adherence to screening and triage protocols,
      sensitization and information dissemination, surveillance and
      contact tracing, diagnostics and lab tracking, stock tracking,
      and patient self-reporting.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Even as affected countries move beyond the Ebola epidemic,
      CommCare enables implemented programs to shift focus to
      other health and development areas. These areas include
      livelihoods, infectious disease surveillance, maternal
      and child health, diagnostics and lab tracking, and core
      responsibilities of frontline workers that are supported
      by CommCare.
    {% endblocktrans %}
  </p>
{% endblock %}
