{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Education
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      CommCare can assist in better data collection and analysis, and
      help educational organizations gain visibility into what’s working
      and what’s not, improve quality of services, inform decision-making,
      and strengthen accountability. CommCare can also strengthen teacher
      professional development programs by equipping instructional coaches
      with mobile tools for monitoring teacher performance and providing
      individualized support.
    {% endblocktrans %}
  </p>
{% endblock %}
