{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Logistics & Supply Chain
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      The need for systematic approaches to inventory management
      and informed resupply is chronic across multiple sectors
      serving the last mile. To help organizations address
      unique problems related to supply chain, Dimagi has
      developed a specialized CommCare Solution called CommCare
      Supply, which is designed to inform and empower supervisors
      and supply officers with key supply information.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      By proactively tracking stock among a workforce, anticipating
      stockouts, suggesting reorder quantities, and facilitating
      resupply, CommCare Supply has played a crucial role in reducing
      stockouts for frontline workers in countries across Sub-Saharan
      Africa. To date, CommCare Supply has received nearly one
      million stock reports from over 7,250 active facilities and
      more than 3,000 community health workers (CHWs) using the system.
    {% endblocktrans %}
  </p>
{% endblock %}
