{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Maternal and Newborn Health
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Over the course of the past two decades,
      inspiring progress has been made in improving
      the health outcomes of women and their newborns.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Of Dimagi’s extensive experience across a wide range of sectors,
      we have worked with more MNH projects than in any other sector,
      including 58 projects globally that use CommCare to support CHWs
      working directly with mothers and their children. These 58 projects
      have equipped over 4,000 CHWs with CommCare in countries including
      Bangladesh, Benin, Ethiopia, Guatemala, Ghana, India, Kenya, Malawi,
      Mozambique, Nepal, Nigeria, Sierra Leone, Senegal, South Africa,
      Tanzania, and Uganda. With CommCare, CHWs are able to do their work
      more efficiently by supplementing or eliminating the need for paper
      records and providing them with a job aid that supports counseling,
      decision-making, and referrals for emergencies.
    {% endblocktrans %}
  </p>
{% endblock %}
