{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Programmatic Research
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Since 2002, researchers have been using Dimagi’s open source
      mobile technologies to bring efficiency, visibility, and
      scalability to their field- based studies
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Universities and organizations conducting field-based international
      research face unique challenges with data collection, monitoring,
      and program implementation. Research teams have to address
      coordination and integration of multiple paper-based tools,
      field deployment organizations, training of local staff and a
      variety of country-specific logistical considerations. The
      team is often only on-site for a short amount of time, and
      then may need to manage long term initiatives remotely.
    {% endblocktrans %}
  </p>
{% endblock %}
