{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Reproductive Health
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Studies have shown that when women are able to make informed decisions
      regarding their family planning needs, their families are more
      economically secure, educated, and healthy. Yet, it is estimated
      that worldwide there are 215 million women and girls whose FP needs
      are not being met (CHANGE 2012). As a result, it is estimated that
      there are 75 million unplanned pregnancies each year, which has
      negative health outcomes for women and their families.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Dimagi and partners have been working together to develop programs
      and technologies that increase women’s access to reproductive
      health care, specifically to FP and safe abortion. By using
      mobile applications, CHWs are better able to share sensitive
      messages, track FP commodities, and ensure safe and efficient
      follow-up of patients after procedures.
    {% endblocktrans %}
  </p>
{% endblock %}
