{% extends 'sectors/sections/content_base.html' %}
{% load i18n %}
{% load dimagidotcom %}


{% block title %}{% blocktrans %}
  CommCare for Small Businesses
{% endblocktrans %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Many small businesses have recently emerged to market by employing vendors
      to sell poverty-alleviating products at the Bottom of the Economic Pyramid
      (BoP), including cook stoves, pay toilets, tampons, and solar lanterns.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      These products often pay for themselves through reduced fuel and healthcare
      expenditures, while reducing disease and increasing access to education.
      However, in order to achieve profitability at scale and to expand access
      to products at the BoP and other emerging markets, businesses need tools
      to increase sales penetration, expand their market size, and sustain
      product innovation. This can be achieved through use of mobile technology.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Small Businesses and their vendors can benefit from the versatility, flexibility
      and portability of mobile applications. Mobile technology enables Small
      Businesses to make more timely decisions, increase productivity, reduce
      overhead, improve organizational agility, prompt customer services, and gain
      a stronger bottom line. Dimagi is uniquely positioned to offer a cloud product
      that can serve frontline workers with limited education and technical literacy
      to increase organizational agility, enhance workforce management, and improve
      customer satisfaction.
    {% endblocktrans %}
  </p>
{% endblock %}
