{% load i18n %}
{% load dimagidotcom %}

<section  data-lazybg="true">
  <div id="benefits">
    <div class="content pad-top-medium pad-bottom-small">
      <h2 class="align-center">
        {% blocktrans %}
          Benefits of Mobile Data Collection in
          <br class="hide-until-medium">
          Agricultural Logistics Programs
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
  </div>
  <div class="content pad-bottom-medium">
    <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
      <div class="column pad-top-small">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/multimedia.html" %}
            </div> {# .theme-icon #}
          </div> {# .column .no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Multimedia capabilities allow supervisors to include photos of 
                produce being stocked, improving the effectiveness of 
                quality control efforts.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/open_solutions.html" %}
            </div> {# .theme-icon #}
          </div> {# .column. no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Open solutions allow for greater flexibility in 
                potential value-chain logistics.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/offline_capes.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Offline capabilities allow the application to be used 
                in even the most rural, underserved communities.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/decision_support.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Decision support and checklists increase adherence to 
                protocols, improving extension agents’ performance 
                and efficiency.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/complex_calculations.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Complex geo-referencing data-types are reduced to intuitive, 
                localized stock ledgers to reduce training requirements.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/ag-logistics/case_management.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Case management capabilities allow stock supervisors to 
                quickly enter product quantities and suppliers for 
                follow-up and re-stocking.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div>
    </div>
  </div>
</section>
