{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true"
         id="overview">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <strong>
        {% blocktrans %}
          MOBILE DATA COLLECTION
        {% endblocktrans %}
      </strong>
      <h2>
        {% blocktrans %}
          Agricultural Logistics Programs
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small">
      <div class="column">
        <p>
          {% blocktrans %}
            Modern supply chain tools require heavy investments in training, 
            computer infrastructure, and communications which developing 
            countries may not be able to afford with closed-source or 
            custom development solutions.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Inefficient power supplies, poor internet penetration rates, and 
            high capital costs mean that most systems used in developed 
            countries are not transposable to low-resource settings, often 
            leading to stock-outs of important agricultural inputs. The right 
            mobile tool can serve as a low cost, robust platform capable of 
            alleviating issues related to logistics, distribution, and 
            management of food systems.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            CommCare, which has been deployed nationally in several countries 
            as a last-mile value-chain system for reducing stock-outs of 
            health supplies, can also be used to manage input distribution, 
            the cold chain of perishable goods, and warehouse receipt systems 
            at a lower cost than complex custom-built systems.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="column" id="page-intro">
        <div class="hero-data-image white-lazy-bg"
             data-lazybg="true">
        </div>
      </div> {# .column #}
    </div> {# .grid #}
  </div> {# .content #}
</section>
