@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin webinar-logo-resolution {
  height: 42px;
  width: 100px;
}

.webinar-video-demo {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
  @include make-bg(image, '../../../pages/webinar/intro/intro', $_base-height, $_height-by-size);
}

.people-sarah {
  @include background-cover('../../../pages/webinar/authors/sarah.jpg');
  height: 80px;
  width: 80px;
}

.people-nathan {
  @include background-cover('../../../pages/webinar/authors/nathan.jpg');
  height: 80px;
  width: 80px;
}

.local-response {
  $_base-height: 186px;
  $_height-by-size: (
    small: 190px,
    medium: 246px,
    large: 246px,
    extra-large: 246px,
  );
  @include make-bg(image, '../../../pages/webinar/me/global_me', $_base-height, $_height-by-size)
}
.data-already {
  $_base-height: 186px;
  $_height-by-size: (
    small: 190px,
    medium: 246px,
    large: 246px,
    extra-large: 246px,
  );
  @include make-bg(image, '../../../pages/webinar/data/data', $_base-height, $_height-by-size)
}

.goal {
  @include background-cover('../../../../static/pages/webinar/partners/goal.jpg');
  @include webinar-logo-resolution;
}

.childfund {
  @include background-cover('../../../../static/pages/webinar/partners/Childfund.jpg');
  @include webinar-logo-resolution;
}
