@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin webinar-logo-resolution {
  height: 42px;
  width: 100px;
}

.request-webinar-form {
  label {
    text-align: left;
    color: $color-white;
  }

  .hs-richtext {
    color: $color-white;
    a {
      color: $color-white !important; // scss-lint:disable ImportantRule

      &:hover {
        color: $color-white;
      }
    }
  }

  .hs-button {
    color: $color-blue;
    background-color: $color-white;
  }

  .submitted-message {
    color: $color-white;
  }
}
.webinar-frontline-video {
    $_base-height: 186px;
    $_height-by-size: (
      small: 290px,
      medium: 376px,
      large: 360px,
      extra-large: 360px,
    );
  @include make-bg(image, '../../../pages/webinar/frontline/intro', $_base-height, $_height-by-size);
}
.webinar-data-democracy-video {
    $_base-height: 186px;
    $_height-by-size: (
      small: 290px,
      medium: 376px,
      large: 360px,
      extra-large: 360px,
    );
  @include make-bg(image, '../../../pages/webinar/intro/intro', $_base-height, $_height-by-size);
}
.webinar-interoperability-video {
    $_base-height: 186px;
    $_height-by-size: (
      small: 290px,
      medium: 376px,
      large: 360px,
      extra-large: 360px,
    );
  @include make-bg(image, '../../../pages/webinar/interoperability/intro', $_base-height, $_height-by-size);
}
.webinar-optimize-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/optimize/optimize', $_base-height, $_height-by-size);
}
.webinar-global-me-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/global_me/global_me', $_base-height, $_height-by-size);
}
.webinar-data-already-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/data_already/data_already', $_base-height, $_height-by-size);
}
.webinar-adapt-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/adapt/adapt', $_base-height, $_height-by-size);
}
.webinar-new-function-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/new_function/new_function', $_base-height, $_height-by-size);
}
.webinar-data-clean-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/data_clean/data_clean', $_base-height, $_height-by-size);
}
.webinar-remote-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/remote/remote', $_base-height, $_height-by-size);
}
.webinar-covid19-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/covid19/covid19', $_base-height, $_height-by-size);
}
.webinar-power-bi-video {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 360px,
    extra-large: 360px,
  );
@include make-bg(image, '../../../pages/webinar/power_bi/power_bi', $_base-height, $_height-by-size);
}

.people-image1 {
  @include background-cover('../../../pages/webinar/authors/mala_ram.jpg');
  height: 80px;
  width: 80px;
}

.people-image2 {
  @include background-cover('../../../pages/webinar/authors/monica.jpg');
  height: 80px;
  width: 80px;
}

.people-amanda {
    @include background-cover('../../../pages/webinar/authors/amanda.jpg');
    height: 80px;
    width: 80px;
  }
  .people-johnny {
    @include background-cover('../../../pages/webinar/authors/johnny.jpg');
    height: 80px;
    width: 80px;
  }
  .people-malaram {
    @include background-cover('../../../pages/webinar/authors/malaram.jpg');
    height: 80px;
    width: 80px;
  }
  .people-monica {
    @include background-cover('../../../pages/webinar/authors/monica.jpg');
    height: 80px;
    width: 80px;
  }
  .people-nathan {
    @include background-cover('../../../pages/webinar/authors/nathan.jpg');
    height: 80px;
    width: 80px;
  }
  .people-sarah {
    @include background-cover('../../../pages/webinar/authors/sarah.jpg');
    height: 80px;
    width: 80px;
  }
  .people-tony {
    @include background-cover('../../../pages/webinar/authors/tony.jpg');
    height: 80px;
    width: 80px;
  }
  .people-jenna {
    @include background-cover('../../../pages/webinar/authors/jenna.jpg');
    height: 80px;
    width: 80px;
  }
  .people-mary {
    @include background-cover('../../../pages/webinar/authors/mary.jpg');
    height: 80px;
    width: 80px;
  }
  .people-rashmi {
    @include background-cover('../../../pages/webinar/authors/rashmi.jpg');
    height: 80px;
    width: 80px;
  }
.people-buddha_thakuri {
  @include background-cover('../../../pages/webinar/authors/buddha_thakuri.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.people-daniela_sarzosa {
  @include background-cover('../../../pages/webinar/authors/daniela_sarzosa.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.people-rajeev_dhungel {
  @include background-cover('../../../pages/webinar/authors/rajeev_dhungel.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.people-amanda_gupta {
  @include background-cover('../../../pages/webinar/authors/amanda_gupta.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.people-elodie_lebas {
  @include background-cover('../../../pages/webinar/authors/elodie_lebas.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.people-raneem_safi {
  @include background-cover('../../../pages/webinar/authors/raneem_safi.jpg');
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.goal {
  @include background-cover('../../../pages/webinar/partners/goal.jpg');
  @include webinar-logo-resolution;
}

.childfund {
  @include background-cover('../../../pages/webinar/partners/Childfund.jpg');
  @include webinar-logo-resolution;
}
@mixin webinar-logo-resolution {
    height: 42px;
    width: 100px;
  }
  
  .request-webinar-form {
    label {
      text-align: left;
      color: $color-white;
    }
  
    .hs-richtext {
      color: $color-white;
      text-align: center;
  
      a {
        color: $color-white !important; // scss-lint:disable ImportantRule
  
        &:hover {
          color: $color-white;
        }
      }
    }
  
    .hs-button {
      color: $color-blue !important; // scss-lint:disable ImportantRule
      background-color: $color-white !important; // scss-lint:disable ImportantRule
    }
  
    .submitted-message {
      color: $color-white;
    }
  }
  
  .accordion-faq-arrow-webinar {
    .accordion-header>*:before {
      // scss-lint:disable NestingDepth
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      display: block;
      float: right;
      height: 12px;
      margin-top: 5px;
      margin-right: 120px;
      width: 12px;
      transform: rotate(180deg);
    }
  
    &.collapsed .accordion-header>*:before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
      transform: none;
      height: 12px;
      width: 12px;
      margin-top: -1px;
      margin-right: 120px;
    }
  }
  
  .people-sarah {
    @include background-cover('../../../pages/webinar/authors/sarah.jpg');
    height: 80px;
    width: 80px;
  }
  
  .people-nathan {
    @include background-cover('../../../pages/webinar/authors/nathan.jpg');
    height: 80px;
    width: 80px;
  }
  
  .local-response {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/me/global_me', $_base-height, $_height-by-size)
  }
  
  .data-already {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/data/data', $_base-height, $_height-by-size)
  }
  
  .webinar-home-interoperability-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
      @include make-bg(image, '../../../pages/webinar/interoperability/intro', $_base-height, $_height-by-size);
  }
  .webinar-home-data-democracy-video {
    $_base-height: 186px;
    $_height-by-size: (
      small: 190px,
      medium: 190px,
      large: 190px,
      extra-large: 190px,
    );
  @include make-bg(image, '../../../pages/webinar/intro/intro', $_base-height, $_height-by-size);
}
  
  .webinar-home-optimize-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/optimize/optimize', $_base-height, $_height-by-size);
  }
  
  .webinar-home-global-me-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/global_me/global_me', $_base-height, $_height-by-size);
  }
  
  .webinar-home-data-already-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/data_already/data_already', $_base-height, $_height-by-size);
  }
  
  .webinar-home-adapt-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/adapt/adapt', $_base-height, $_height-by-size);
  }
  .webinar-home-inter-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
    @include make-bg(image, '../../../pages/webinar/interoperability/intro', $_base-height, $_height-by-size);
  }
  .webinar-home-new-function-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/new_function/new_function', $_base-height, $_height-by-size);
  }
  
  .webinar-home-data-clean-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/data_clean/data_clean', $_base-height, $_height-by-size);
  }
  
  .webinar-home-remote-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/remote/remote', $_base-height, $_height-by-size);
  }
  
  .webinar-home-covid19-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/covid19/covid19', $_base-height, $_height-by-size);
  }
  
  .webinar-home-power-bi-video {
    $_base-height: 186px;
    $_height-by-size: (small: 190px,
        medium: 246px,
        large: 246px,
        extra-large: 246px,
      );
    @include make-bg(image, '../../../pages/webinar/power_bi/power_bi', $_base-height, $_height-by-size);
  }
  
  .goal {
    @include background-cover('../../../../static/pages/webinar/partners/goal.jpg');
    @include webinar-logo-resolution;
  }
  
  .childfund {
    @include background-cover('../../../../static/pages/webinar/partners/Childfund.jpg');
    @include webinar-logo-resolution;
  }
  
  .crs {
    @include background-cover('../../../../static/pages/webinar/partners/crs.jpg');
    @include webinar-logo-resolution;
  }
  
  .irc {
    @include background-cover('../../../../static/pages/webinar/partners/irc.jpg');
    @include webinar-logo-resolution;
  }
  
  .miracle-feet {
    @include background-cover('../../../../static/pages/webinar/partners/miracle-feet.jpg');
    @include webinar-logo-resolution;
  }
  
  .view-older-webinar {
    font-size: 14px;
  }
  
  @media (max-width: $width-desktop-lg) {
    .accordion-faq-arrow-webinar {
      .accordion-header>*:before {
        // scss-lint:disable NestingDepth
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
        display: block;
        float: right;
        height: 12px;
        margin-top: 5px;
        margin-right: 90px;
        margin-left: -60px;
        width: 12px;
        transform: rotate(180deg);
      }
    
      &.collapsed .accordion-header>*:before {
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
        transform: none;
        height: 12px;
        width: 12px;
        margin-top: -1px;
        margin-right: 90px;
        margin-left: -60px;
      }
    }
  }
  
