@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin webinar-logo-resolution {
  height: 42px;
  width: 100px;
}

.webinar-video-demo {
  $_base-height: 186px;
  $_height-by-size: (
    small: 290px,
    medium: 376px,
    large: 400px,
    extra-large: 400px,
  );   
  @include make-bg(image, '../../../pages/webinar/me/global_me', $_base-height, $_height-by-size);
}

.people-image1 {
  @include background-cover('../../../pages/webinar/authors/mala_ram.jpg');
  height: 80px;
  width: 80px;
}

.people-image2 {
  @include background-cover('../../../pages/webinar/authors/monica.jpg');
  height: 80px;
  width: 80px;
}

.goal {
  @include background-cover('../../../pages/webinar/partners/goal.jpg');
  @include webinar-logo-resolution;
}

.childfund {
  @include background-cover('../../../pages/webinar/partners/Childfund.jpg');
  @include webinar-logo-resolution;
}

// .impact {
//   $_base-height: 186px;
//   $_height-by-size: (
//     small: 290px,
//     medium: 376px,
//     large: 360px,
//     extra-large: 360px,
//   );
//   @include make-bg(image, '../../../pages/home/impact/launch', $_base-height, $_height-by-size);

//   width: 100%;
// }
