@import 'app/mixins/background';
@import 'app/variables/colors';
@import 'app/variables/sizes';
@import 'app/variables/type';

@mixin webinar-logo-resolution {
  height: 42px;
  width: 100px;
}

.request-webinar-form {
  label {
    text-align: left;
    color: $color-white;
  }

  .hs-richtext {
    color: $color-white;
    text-align: center;

    a {
      color: $color-blue-light;

      &:hover {
        color: $color-white;
      }
    }
  }

  .hs-button {
    color: $color-blue !important;
    background-color: $color-white !important;
  }

  .submitted-message {
    color: $color-white;
  }
}

.accordion-faq-arrow-webinar {
  .accordion-header>*:before {
    // scss-lint:disable NestingDepth
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
    display: block;
    float: right;
    height: 12px;
    margin-top: 5px;
    margin-right: 70px;
    width: 12px;
    transform: rotate(180deg);
  }

  &.collapsed .accordion-header>*:before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj4KICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA0ZWJjIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTguNSw1LjggMTAsMTQuMiAxLjUsNS44ICI+PC9wb2x5bGluZT4KPC9zdmc+');
    transform: none;
    height: 12px;
    width: 12px;
    margin-top: -1px;
    margin-right: 70px;
  }
}

.people-sarah {
  @include background-cover('../../../pages/webinar/authors/sarah.jpg');
  height: 80px;
  width: 80px;
}

.people-nathan {
  @include background-cover('../../../pages/webinar/authors/nathan.jpg');
  height: 80px;
  width: 80px;
}

.local-response {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/me/global_me', $_base-height, $_height-by-size)
}

.data-already {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/data/data', $_base-height, $_height-by-size)
}

.webinar-home-interoperability-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/intro/intro', $_base-height, $_height-by-size);
}

.webinar-home-optimize-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/optimize/optimize', $_base-height, $_height-by-size);
}

.webinar-home-global-me-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/global_me/global_me', $_base-height, $_height-by-size);
}

.webinar-home-data-already-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/intro/intro', $_base-height, $_height-by-size);
}

.webinar-home-adapt-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/adapt/adapt', $_base-height, $_height-by-size);
}

.webinar-home-new-function-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/new_function/new_function', $_base-height, $_height-by-size);
}

.webinar-home-data-clean-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/data_clean/data_clean', $_base-height, $_height-by-size);
}

.webinar-home-remote-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/remote/remote', $_base-height, $_height-by-size);
}

.webinar-home-covid19-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/covid19/covid19', $_base-height, $_height-by-size);
}

.webinar-home-power-bi-video {
  $_base-height: 186px;
  $_height-by-size: (small: 190px,
      medium: 246px,
      large: 246px,
      extra-large: 246px,
    );
  @include make-bg(image, '../../../pages/webinar/power_bi/power_bi', $_base-height, $_height-by-size);
}

.goal {
  @include background-cover('../../../../static/pages/webinar/partners/goal.jpg');
  @include webinar-logo-resolution;
}

.childfund {
  @include background-cover('../../../../static/pages/webinar/partners/Childfund.jpg');
  @include webinar-logo-resolution;
}

.crs {
  @include background-cover('../../../../static/pages/webinar/partners/crs.jpg');
  @include webinar-logo-resolution;
}

.irc {
  @include background-cover('../../../../static/pages/webinar/partners/irc.jpg');
  @include webinar-logo-resolution;
}

.miracle-feet {
  @include background-cover('../../../../static/pages/webinar/partners/miracle-feet.jpg');
  @include webinar-logo-resolution;
}

.view-older-webinar {
  font-size: 14px;
}
