{% load i18n %}
{% load dimagidotcom %}

<section class="agimpact border-top accent-gray-bg"
         id="agimpact">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          AgImpact
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}
    <div class="grid-2-at-medium grid-reverse">
      <div class="column">
        <p>
          {% blocktrans %}
            AgImpact is a research and development company based in Australia
            working for a world where people are informed, empowered and
            inspired by research to create impact. AgImpact makes technology
            work for people, and has used CommCare to improve a wide variety
            of research projects and development programs, across all sectors,
            in over 12 countries in the Asia-Pacific.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="agimpact-image"></div>
    </div>{# .grid-2-at-medium #}

    <p class="align-center gap-top-small">
      <a class="button"
         href="#todo">
        {% blocktrans %}
          Contact AgImpact
        {% endblocktrans %}
      </a>
    </p>
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
