{% load i18n %}
{% load dimagidotcom %}

<section class="certified_partners border-top pad-bottom-small accent-gray-bg"
         id="commcare_providers">
  <div class="content">
    <div class="pad-vert-medium">
      <div class="intro ">
        <h2>
          {% blocktrans %}
            Commcare Providers
          {% endblocktrans %}
        </h2>
        <p>
          {% blocktrans %}
            Find the right partner for you. Organizations around the world are 
            providing CommCare services, from Nigeria to Turkey to Australia. 
            Our vetted Provider network ensures you can work with experts in 
            the right timezone, the right language, and the right expertise to meet your needs. 
          {% endblocktrans %}
        </p>
      </div>{# .intro #}
      <ul class="check-list grid-3-at-medium white-bg pad-top-small pad-left-small">
        <li>
          {% blocktrans %}
            Looking for services in your neighborhood, 
            in your language, in your industry?
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Seeking expertise to integrate CommCare with your existing tools?
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Need domain expertise in your specific industry, program, or department?
          {% endblocktrans %}
        </li>
      </ul>
    </div>
    <div class="grid-1 grid-row-space-small grid-row-equal-heights">
      {% include "sections/commcare/partners/certified_partners/oikoi.html" %}
      {% include "sections/commcare/partners/certified_partners/noukod.html" %}
      {% include "sections/commcare/partners/certified_partners/im_saf.html" %}
      {% include "sections/commcare/partners/certified_partners/illimitis.html" %}
      {% include "sections/commcare/partners/certified_partners/statinfo.html" %}
      {% include "sections/commcare/partners/certified_partners/it4life.html" %}
      {% include "sections/commcare/partners/certified_partners/bongo_hive.html" %}
      {% include "sections/commcare/partners/certified_partners/good_citizen.html" %}
      {% include "sections/commcare/partners/certified_partners/compelling_works.html" %}
      {% include "sections/commcare/partners/certified_partners/in_strat.html" %}
    </div>{# .grid-1 #}
  </div>
</section>