{% load i18n %}
{% load dimagidotcom %}

<section class="certified_partners border-top pad-bottom-small accent-gray-bg"
         id="certified_partners">
  <div class="content">
    <div class="pad-vert-medium">
      <div class="intro ">
        <h2>
          {% blocktrans %}
            Certified Providers
          {% endblocktrans %}
        </h2>
        <p>
          {% blocktrans %}
            CommCare Certified Service Providers are organizations
            in a global network of CommCare implementers. Certified
            Providers are recommended by Dimagi because they meet
            the following criteria:
          {% endblocktrans %}
        </p>
      </div>{# .intro #}
      <ul class="check-list grid-3-at-medium white-bg pad-top-small pad-left-small">
        <li>
          {% blocktrans %}
            Demonstrated ability to successfully deploy
            CommCare mobile solutions
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Have completed CommCare training program and
            passed assessments administered by Dimagi
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Show a commitment to continued learning about CommCare
          {% endblocktrans %}
        </li>
      </ul>
    </div>
    <div class="grid-1 grid-row-space-small grid-row-equal-heights">
      {% include "sections/commcare/partners/certified_partners/oikoi.html" %}
      {% include "sections/commcare/partners/certified_partners/noukod.html" %}
      {% include "sections/commcare/partners/certified_partners/im_saf.html" %}
      {% include "sections/commcare/partners/certified_partners/illimitus.html" %}
      {% include "sections/commcare/partners/certified_partners/statinfo.html" %}
    </div>{# .grid-1 #}
  </div>
</section>
