{% load i18n %}
{% load dimagidotcom %}

<section class="noukod border-top"
         id="noukod">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Noukod
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}
    <div class="grid-2-at-medium">
      <div class="column">
        <p>
          {% blocktrans %}
            ANouKòd (means “We Code” in Haitian Creole) is a mission driven
            startup dedicated to creating technology jobs in Haiti. NouKòd
            provides training in programming and other technical skills, and
            then connects creative and talented Haitian youth with technology
            jobs from Haitian & US-based companies. NouKòd is committed to
            providing equal opportunity to Haitian women and our goal is to
            train and employ at least 50% women.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="noukod-image"></div>
    </div>{# .grid-2-at-medium #}

    <p class="align-center gap-top-small">
      <a class="button"
         href="#todo">
        {% blocktrans %}
          Contact Noukod
        {% endblocktrans %}
      </a>
    </p>
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
