{% load i18n %}
{% load dimagidotcom %}

<section class="oikoi border-top accent-gray-bg"
         id="oikoi">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Oikoi
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}
    <div class="grid-2-at-medium grid-reverse">
      <div class="column">
        <p>
          {% blocktrans %}
            Oikoi integrates scientific research, emerging technologies,
            capacity building, and storytelling to create impact in
            challenging environments. Oikoi was Dimagi's first certified
            partner, and since 2016 the company has developed CommCare apps
            for 37 teams, assisting or direcly managing surveys in over
            460,000 households across 15 countries. Oikoi has trained 138
            project staff and over 300 frontline workers in using
            CommCare&mdash;building capacity in more than 22 institutions in
            the Asia-Pacific.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="oikoi-image"
           data-lazybg="true"></div>
    </div>{# .grid-2-at-medium #}

    <p class="align-center gap-top-small">
      <a class="button {% click_body 'oikoi-contact' %}"
         target="_blank"
         href="https://oikoi.io/">
        {% blocktrans %}
          Contact Oikoi
        {% endblocktrans %}
      </a>
    </p>
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
