{% load i18n %}
{% load dimagidotcom %}

<section class="overview border-top"
         id="overview">
  <div class="content pad-vert-medium content-width-medium">
    <div class="intro ">
      <h2>
        {% blocktrans %}
          Certified Partners
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          Dimagi Certified Partners are organizations in a global network of
          CommCare implementers. Certified partner organizations are
          recommended by Dimagi because they meet the following criteria:
        {% endblocktrans %}
      </p>
    </div>{# .intro #}
    <ul class="check-list grid-3-at-medium">
      <li>
        {% blocktrans %}
          Demonstrate a proven history of successful CommCare project
          deployments
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Employ at least three CommCare-certified staff
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Show a commitment to continued learning about CommCare
        {% endblocktrans %}
      </li>
    </ul>
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
