{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      {% trans "Watch Demo" as demo_text %}
      {% click_subnav 'demo' as click_demo %}
      {% include "partials/wistia_popover.html" with wistia_id='9uvnpbecdy' text=demo_text click_class=click_demo %}
      <a class="primary cta-pricing-subnav-trial {% click_subnav 'trial' %}"
         data-kmq-external="true"
         data-kmq-name="Clicked Start Trial - Partner (sticky bar)"
         href="{{ URL_TRIAL }}">
        <span>
          {% blocktrans %}
            Start Trial
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#overview"
           class="{% click_subnav 'overview' %}">
          {% blocktrans %}
            Overview
          {% endblocktrans %}
        </a>
        <a href="#agimpact"
           class="{% click_subnav 'agimpact' %}">
          {% blocktrans %}
            AgImpact
          {% endblocktrans %}
        </a>
        <a href="#noukod"
           class="{% click_subnav 'noukod' %}">
          {% blocktrans %}
            Noukod
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
