{% load i18n %}
{% load dimagidotcom %}

<section class="testimonials border-top accent-gray-bg"
         id="testimonials">
  <div class="content pad-vert-small">
  <div class="content pad-bottom-small align-center">
    {% include "partials/partners.html" with partners=partners %}
  </div>{# .content #}

  <div class="carousel carousel-fade-inactive pad-bottom-medium">
    <div class="carousel-container">
      <div class="spinner spinner-large"></div>
      <div class="carousel-slider">

        {% include "sections/commcare/product/testimonials/oikoi.html" %}
        {% include "sections/commcare/product/testimonials/nou_kod.html" %}

      </div>{# .carousel-slider #}
    </div>{# .carousel-container #}
  </div>{# .carousel #}
</section>
