{% load i18n %}
{% load dimagidotcom %}

<section class="see-commcare blue-bg white"
         id="see-commcare">
  <div class="content pad-vert-medium align-center">

    <h3 class="white">
      {% blocktrans %}
        Want to see CommCare in action?
      {% endblocktrans %}
    </h3>
    <div class="grid-flex grid-align-center">
      <div class="pad-right-small-at-medium border-right border-white-at-medium">
        {% blocktrans %}
          Watch the video
        {% endblocktrans %}
      </div>
      <div class="pad-left-small-at-medium">
        {% blocktrans %}
          See case studies
        {% endblocktrans %}
      </div>
    </div>
  </div>{# .content #}
</section>
