{% load i18n %}
{% load dimagidotcom %}

<section class="help align-center blue-theme border-top" id="brief-overview">
  <div class="content pad-top-medium">
    <div class="grid-3-at-small grid-5-at-large grid-row-space-small">
      {% include "sections/quick_start/help/help_site.html" %}
      {% include "sections/quick_start/help/user_forum.html" %}
      {% include "sections/quick_start/help/status.html" %}
      {% include "sections/quick_start/help/faq.html" %}
      {% include "sections/quick_start/help/sla.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}
</section>
