{% load dimagidotcom %}
{% load i18n %}
{% block meta %}
  <meta property="wistia:videoId" content="jzm3ggrinr" />
  <meta property="wistia:videoTrigger" content="demo-video" />
{% endblock %}

<section class="testimonial pad-bottom-small news"
         id="news">
  <div class="content pad-top-medium pap-bottom-small">
    <h2 class="align-center">
      {% blocktrans %}
        The Latest on Mobile Data Collection<br class="hide-until-medium"> in Vaccine Delivery Programs <br>
      {% endblocktrans %}
    </h2>
    <p class="align-center">
      {% blocktrans %}
        Updates and advice from our world-class partners and Global Services team
      {% endblocktrans %}
    </p>
  </div>{# .content #}
  <div class="content">
    <div class="grid grid-3-at-large grid-1-at-medium grid-row-equal-heights">
      <div class="column pad-top-line">
        <div class="news-image-testimonial">
          <div class="image testimonial1"
               data-lazybg="true"></div>
          <div class="pad-line">
            <h5>
              <strong class="body-color">
                {% blocktrans %}
                  Equitable Vaccine Delivery of the COVID-19 Vaccine
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                Dimagi shares our vision for how our digital vaccine delivery 
                platform can play a critical role in ensuring the COVID-19 
                vaccine is delivered at the last mile in LMICs equitably and efficiently.
              {% endblocktrans %}
            </p>
            <p>
              <a href="{% url 'blog_post' 'covid-19-equitable-vaccine-delivery' %}" target="_blank" class="arrow link-gray">
                {% blocktrans %}
                  Read More
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}

      <div class="column pad-top-line">
        <div class="news-image-testimonial">
          <div class="image testimonial2"
               data-lazybg="true"></div>
          <div class="pad-line">
            <h5>
              <strong class="body-color">
                {% blocktrans %}
                  Biometric Identification and Validation for Vaccine Verification
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                Learn how a partner in Nepal used CommCare combined with biometrics 
                technology to verify services were delivered to the intended 
                recipients. Last mile client-level tracking of this kind can help 
                verify vaccine recipients and accurately report vaccine coverage indicators.
              {% endblocktrans %}
            </p>
            <p class="pad-top-line-at-extra-large">
              <a href="{% url 'blog_post' 'tablet-based-community-health-intervention-with-integrated-fingerprint-scanning' %}"  target="_blank" class="arrow link-gray">
                {% blocktrans %}
                  Read More
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}

      <div class="column pad-top-line">
        <div class="news-image-testimonial">
          <div class="image testimonial3"
               data-lazybg="true"></div>
          <div class="pad-line">
            <h5>
              <strong class="body-color">
                {% blocktrans %}
                  Equitable Vaccine Delivery: What Our Obstacles Are and How to Overcome Them
                {% endblocktrans %}
              </strong>
            </h5>
            <p class="body-color">
              {% blocktrans %}
                As viable COVID-19 vaccines become available, the tools we use to ensure 
                the equitable delivery of those vaccines will determine whether we can 
                overcome the challenges that accompany them.
              {% endblocktrans %}
            </p>
            <p class="pad-top-line-at-extra-large">
              <a href="{% url 'blog_post' 'covid-19-equitable-vaccine-delivery-challenges' %}" target="_blank" class="arrow link-gray">
                {% blocktrans %}
                  Read More
                {% endblocktrans %}
              </a>
            </p>
          </div>
        </div>
      </div>{# .column #}
    </div>{# .grid #}
  </div>{# .content #}
</section>
