{% load i18n %}
{% load dimagidotcom %}

<section id="overview"
         data-lazybg="true">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <strong>
        {% blocktrans %}
          MOBILE DATA COLLECTION
        {% endblocktrans %}
      </strong>
      <h2>
        {% blocktrans %}
          Vaccine Delivery
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small grid-row-equal-heights ">
      <div class="column">
        <p>
          {% blocktrans %}
            One of the main challenges of immunization worldwide is that timely coverage
            often drops off after the first few rounds. And if patients miss a booster—or
            are even just delayed—the immunizations are no longer effective.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            To ensure the success of immunization campaigns and help countries improve
            coverage of under-immunised and zero-dose children, it is critical to verify
            delivery to target populations and accurately track patients’ immunization schedule.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            CommCare is a highly adaptable open-source mobile health platform that can be
            customized to meet a variety of vaccine administration and management needs.
            It has been successfully used to register, identify, and follow both clients
            and vaccine stock in a variety of countries and for a range of diseases.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Dimagi is a proud member of GAVI Innovation for Uptake, Scale and Equity
            in immunization (INFUSE) community, allowing us to contribute to saving
            lives and protecting people’s health by increasing equitable and
            sustainable use of vaccines.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="column" id="ag-intro">
        <div class="intro-image">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div>        
      </div> {# .column #}            
    </div>      
  </div>
</section>
