{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
     School Performance Monitoring
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Students and teachers alike require safe and healthy learning spaces
    in order to thrive. With CommCare, implementers and Ministries of
    Education can record and track school-specific data, monitor
    improvements on-site, and provide targeted recommendations and
    reminders at the school level or across multiple schools.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Track enrollment, materials on-site, curriculum creation, and
      lesson plan adherence
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Monitor safety and sanitation, food distribution, classroom management,
      and community involvement
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Trace results over time: supervisors can assess schools’ performance
      on relevant indicators
    {% endblocktrans %}
  </li>
</ul>
