{% load i18n %}
{% load dimagidotcom %}

<section id="overview"
         data-lazybg="true">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <h2 class="blue">
        {% blocktrans %}
          OPEN SOURCE: HOSTING
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small grid-row-equal-heights ">
      <div class="column">
        <p>
          {% blocktrans %}
            The CommCare platform can be hosted in a variety of ways to best 
            suit your program’s unique circumstances and requirements. Depending 
            on the needs and the resources of your organization, your options 
            range from our secure cloud-hosted environment to fully-independent 
            self-hosting. This page provides an overview of available 
            options, including their resource intensity, security, and 
            available support.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            For detailed information on your hosting options for CommCare, 
            including how to make the right decision for your 
            project, please get in touch with us.
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="button {% click_body 'open_source_hosting' %}"
             href="{% url 'contact' %}">
            {% blocktrans %}
              Contact our team
            {% endblocktrans %}
          </a>
        </p>
      </div>{# .column #}
      <div class="column" id="education-intro">
        <div class="intro-image">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div>        
      </div> {# .column #}            
    </div>      
  </div>
</section>
