{% load i18n %}
{% load dimagidotcom %}

<section class="awards accent-gray-bg border-top"
         id="awards">
  <div class="content pad-top-medium pad-bottom-small align-center">

      <h3 class="gap-bottom-base">
        {% blocktrans %}
          Workplace Awards
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
          A few trophies we are proud of
        {% endblocktrans %}
      </p>

    <div class="grid-4-at-medium grid-2-at-small grid-row-space-small">
      {% include "sections/careers/awards/company_culture.html" %}
      {% include "sections/careers/awards/best_workplace.html" %}
      {% include "sections/careers/awards/b_corporation.html" %}
      {% include "sections/careers/awards/top_5000.html" %}
    </div>{# .grid-4-at-medium #}

  </div>{# .content #}
</section>
