{% load i18n %}
{% load dimagidotcom %}

<section class="life border-vert"
         id="life">
  <div class="content pad-top-medium pad-bottom-base">

      <h3 class="gap-bottom-base primary align-center">
        {% blocktrans %}
          Life at Dimagi
        {% endblocktrans %}
      </h3>
      <p class="align-center">
        {% blocktrans %}
          Diverse, Inclusive, Collaborative. Come for the mission. Stay for the team. 
        {% endblocktrans %}
      </p>

      <div class="content-width-large carousel carousel-fade-inactive carousel-numbered carousel-features">
        <div class="carousel-container">
          <div class="spinner spinner-large"></div>
          <div class="carousel-slider">
            {% include "sections/careers/testimonials/corlia.html" %} 
            {% include "sections/careers/testimonials/kishan.html" %} 
            {% include "sections/careers/testimonials/penda.html" %}
            {% include "sections/careers/testimonials/namrata.html" %}
          </div>{# .carousel-slider #}
        </div>{# .carousel-container #}
      </div>{# .carousel #}

    <div class="grid-4-at-medium grid-2-at-small pad-top-small grid-row-space-small">
      {% click_body 'life-tedx' as click_tedx %}
      {% include "sections/careers/life/tedx_talk.html" with click_class=click_tedx video_play=True %}
      {% click_body 'life-away' as click_away %}
      {% include "sections/careers/life/away_month.html" with click_class=click_away blog_read=True %}
      {% click_body 'life-values' as click_values %}
      {% include "sections/careers/life/core_values.html" with click_class=click_values blog_read=True %}
      {% click_body 'life-services' as click_services %}
      {% include "sections/careers/life/global_services.html" with click_class=click_services blog_read=True %}
    </div>{# .grid-4-at-medium #}

  </div>{# .content #}
</section>
