{% load i18n %}
{% load dimagidotcom %}

<section class="life border-vert"
         id="life">
  <div class="content pad-vert-medium">

      <h3 class="gap-bottom-base align-center">
        {% blocktrans %}
          Life at Dimagi
        {% endblocktrans %}
      </h3>
      <p class="align-center">
        {% blocktrans %}
          Feel inspired by your work and your colleagues
        {% endblocktrans %}
      </p>

    <div class="grid-4-at-medium grid-2-at-small grid-row-space-small">
      {% click_body 'life-tedx' as click_tedx %}
      {% include "sections/careers/life/tedx_talk.html" with click_class=click_tedx video_play=True %}
      {% click_body 'life-away' as click_away %}
      {% include "sections/careers/life/away_month.html" with click_class=click_away blog_read=True %}
      {% click_body 'life-values' as click_values %}
      {% include "sections/careers/life/core_values.html" with click_class=click_values blog_read=True %}
      {% click_body 'life-services' as click_services %}
      {% include "sections/careers/life/global_services.html" with click_class=click_services blog_read=True %}
    </div>{# .grid-4-at-medium #}

    <p class="align-center pad-bottom-base">
      <a href="#open-positions"
         class="button {% click_body 'life-positions' %}">
        {% blocktrans %}
          View Open Positions
        {% endblocktrans %}
      </a>
    </p>

  </div>{# .content #}
</section>
