{% load i18n %}
{% load dimagidotcom %}

<section class="open-positions border-top accent-gray-bg"
         id="open-positions">
  <div class="content pad-vert-medium">
    <div class="intro content-width-medium gap-bottom-none">
      <h2>
        {% blocktrans %}
          Open Positions
        {% endblocktrans %}
      </h2>
      <p class="gap-bottom-none">
        {% blocktrans %}
          View all open positions below.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="positions-select-container">
      <div class="grid-4-at-medium">
        <div class="column">
          <label for="role-select">
            {% blocktrans %}
            Role
            {% endblocktrans %}
          </label>
          <select id="role-select"
                  data-bind="options: roles,
                             value: currentRole,
                             optionsCaption: '{% trans "All roles" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="team-select">
            {% blocktrans %}
            Team
            {% endblocktrans %}
          </label>
          <select id="team-select"
                  data-bind="options: teams,
                             value: currentTeam,
                             optionsCaption: '{% trans "All teams" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="type-select">
            {% blocktrans %}
            Type
            {% endblocktrans %}
          </label>
          <select id="type-select"
                  data-bind="options: types,
                             value: currentType,
                             optionsCaption: '{% trans "All types" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="location-select">
            {% blocktrans %}
            Location
            {% endblocktrans %}
          </label>
          <select id="location-select"
                  data-bind="options: locations,
                             value: currentLocation,
                             optionsCaption: '{% trans "All locations" %}'"></select>
        </div>{# .column #}
      </div>{# .grid-4 #}
    </div>{# .positions-select-container #}

    <div class="positions-container">
      <p class="gap-bottom-none align-center" data-bind="visible: jobs().length === 0">
        {% blocktrans %}
          No Open Positions Available
        {% endblocktrans %}
      </p>
      <div class="grid-4-at-medium gap-bottom-none" data-bind="foreach: jobs, visible: jobs().length > 0">
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p>
            <a data-bind="attr: { href: url}, text: role"></a>
          </p>
        </div>{# .column #}
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: team"></p>
        </div>{# .column #}
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: type"></p>
        </div>{# .column #}
        <div class="column gap-bottom-line">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: location"></p>
        </div>{# .column #}
      </div>{# .grid-4 #}
    </div>{# .positions-container #}
    <p class="gap-top-line align-center">Questions on the recruitment process? Check out 
      <a class="orange {{ click_class }}"
         href="https://cdn2.hubspot.net/hubfs/503070/Sector%20PDFs/CommCare_MaternalChildHealth.pdf"
         target="_blank"> FAQ </a>.
    </p>
  </div> {# .content #}
</section>
