{% load i18n %}
{% load dimagidotcom %}

<section class="open-positions border-top accent-gray-bg"
         id="open-positions">
  <div class="content pad-vert-medium">
    <div class="intro-base content-width-medium gap-bottom-none">
      <h2 class ="primary">
        {% blocktrans %}
          Current Openings
        {% endblocktrans %}
      </h2>
      <p class="gap-bottom-none">
        {% blocktrans %}
          A bold take on a better world. Join Us!
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    <div class="positions-select-container">
      <div class="grid-4-at-medium">
        <div class="column">
          <label for="role-select">
            {% blocktrans %}
              Position
            {% endblocktrans %}
          </label>
          <select id="role-select"
                  data-bind="options: roles,
                             value: currentRole,
                             optionsCaption: '{% trans "All roles" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="team-select">
            {% blocktrans %}
              Role Type
            {% endblocktrans %}
          </label>
          <select id="team-select"
                  data-bind="options: teams,
                             value: currentTeam,
                             optionsCaption: '{% trans "All types" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="type-select">
            {% blocktrans %}
              Employment Type
            {% endblocktrans %}
          </label>
          <select id="type-select"
                  data-bind="options: types,
                             value: currentType,
                             optionsCaption: '{% trans "All types" %}'"></select>
        </div>{# .column #}
        <div class="column">
          <label for="location-select">
            {% blocktrans %}
            Location
            {% endblocktrans %}
          </label>
          <select id="location-select"
                  data-bind="options: locations,
                             value: currentLocation,
                             optionsCaption: '{% trans "All locations" %}'"></select>
        </div>{# .column #}
      </div>{# .grid-4 #}
    </div>{# .positions-select-container #}

    <div class="positions-container">
      <p class="gap-bottom-none align-center" data-bind="visible: jobs().length === 0">
        {% blocktrans %}
          No Open Positions Available
        {% endblocktrans %}
      </p>
      <div class="grid-4-at-medium gap-bottom-none" data-bind="foreach: jobs, visible: jobs().length > 0">
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p>
            <a data-bind="attr: { href: url}, text: role"></a>
          </p>
        </div>{# .column #}
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: team"></p>
        </div>{# .column #}
        <div class="column gap-bottom-base gap-bottom-line-at-medium">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: type"></p>
        </div>{# .column #}
        <div class="column gap-bottom-line">
          <p class="gap-left-line gap-left-none-at-medium"
             data-bind="text: location"></p>
        </div>{# .column #}
      </div>{# .grid-4 #}
    </div>{# .positions-container #}
    <p class="gap-top-line align-center">
      Have questions about our hiring process? Check out our
      <a class="primary {{ click_class }}"
         href="https://cdn2.hubspot.net/hubfs/503070/Dimagi_Recruitment%20FAQ.pdf"
         target="_blank"> FAQ </a>.
    </p>
    <p class="align-center content-width-large">
      {% blocktrans %}
        Don’t see a job opening you would enjoy? Join our Talent Community. 
        Share your resume and field of interest. 
      {% endblocktrans %}
    </p>

    <p class="align-center">
      <a class="button {% click_body 'view-positions' %}"
         href="mailto:careers@dimagi.com">
        {% blocktrans %}
          Join Our Talent Community
        {% endblocktrans %}
      </a>{# .button #}
    </p>
    <p class="gap-top-line align-center">
      Don’t see a job opening you would enjoy? Send your resume and field of interest to
      <a class=" primary {% click_body 'view-positions' %}"
         href="mailto:careers@dimagi.com"> careers@dimagi.com</a>.
    </p>
    <div>
      <p class="align-center content-width-large pad-top-line">
        {% blocktrans %}
          <strong>Dimagi is an Equal Opportunity Employer.</strong> We celebrate and support diversity
          and are committed to providing a work environment that is inclusive and free
          of discrimination and harassment. All qualified applicants will receive
          consideration for employment without regard to race, color, religion, sex,
          sexual orientation, gender identity, national origin, or protected veteran
          status and will not be discriminated against on the basis of disability.
        {% endblocktrans %}
      </p>

      <div class="grid-1 content-width-large align-center pad-vert-base ">
        <a class="column arrow-down button alt gap-right-small gap-left-small" onclick="toggleText()">
          {% blocktrans %}
            For US Applicants
          {% endblocktrans %}
        </a>
      </div>

      <p style="display : none" class="align-center content-width-large pad-top-line" id="usappli">
        Dimagi maintains an Affirmative Action Plan for the purpose of proactively seeking 
        employment of qualified protected veterans and individuals with disabilities. Upon 
        request, Dimagi will make accessible to you its Affirmative Action Plan for protected 
        veterans and individuals with a disability. If you are interested, please contact us 
        at 617-649-2214 or email aaprequests@dimagi.com. We will then schedule a time for you 
        to review the Affirmative Action Plan during normal business hours which are Monday 
        through Friday 9:00 am to 3:00 pm Eastern time zone.Dimagi's corporate office is 
        located at 585 Massachusetts Ave, Cambridge, MA 02139.
      </p>
      <p class="align-center gap-top-small">
        <a class="primary"
            href="https://sites.dimagi.com/hubfs/Pay%20Transparency%20Nondiscrimination%20Provision.pdf"
            target="_blank">
          {% blocktrans %}
            EEO is The Law and Pay Transparency Non-Discrimination Provision Poster
          {% endblocktrans %}
        </a>
      </p>
    </div>
  </div> {# .content #}
</section>

{% block js %}
  <script>
    function toggleText() {
      var x = document.getElementById("usappli");
      if (x.style.display === "none") {
        x.style.display = "block";
      } 
      else {
        x.style.display = "none";
      }
    }
  </script>
{% endblock %}
