{% load i18n %}
{% load dimagidotcom %}


<section class="overview" id="overview">
  <div class="content pad-vert-medium">
    <div class="intro-base content-width-medium">
      <h2 class="primary">
        {% blocktrans %}
          Powered By a Passion for Impact
        {% endblocktrans %}
      </h2>
      <p class="content-width-medium">
        {% blocktrans %}
          Dimagi is more than a tech company. We are a diverse team
          of creative problem solvers dedicated to using our skills and
          experience to enable our partners and frontline programs to
          deliver more impact globally. We celebrate differences, treat
          each other with respect, and value failure as a chance to learn.
          At Dimagi, you can be uniquely you!
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    {% include "sections/careers/overview/video.html" %}
    {% include "sections/careers/overview/values.html" %}
  </div>
</section>
