{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Instructional Coaching
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Meaningful feedback and personalized coaching can improve teachers’
    knowledge, skills, and attitudes. With CommCare, instructional
    coaches can:
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Better monitor the performance of teachers
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Better provide targeted reminders, counseling, encouragement,
      and instructional guidance according to an individual teacher’s needs.
    {% endblocktrans %}
  </li>
</ul>
