{% load i18n %}
{% load dimagidotcom %}

<div class="carousel-slide pad-horz-base pad-vert-small pad-horz-large-at-medium pad-top-medium-at-medium pad-bottom-large-at-medium">

  <div class="dots-numbered pad-bottom-small blue">

    <div class="display-inline-block pad-right-small">
      <span data-dot="1" class="carousel-number {% block build_selected %}{% endblock %}">1</span>
      <div class="pad-top-base uppercase">Build</div>
    </div>

    <div class="display-inline-block pad-right-small">
      <span data-dot="2" class="carousel-number {% block collect_selected %}{% endblock %}">2</span>
      <div class="pad-top-base uppercase">Collect</div>
    </div>

    <div class="display-inline-block">
      <span data-dot="3" class="carousel-number {% block analyze_selected %}{% endblock %}">3</span>
      <div class="pad-top-base uppercase">Analyze</div>
    </div>
  </div>

  <div class="pad-horz-line">
    {% block content %}{% endblock %}
  </div>

{#  <div class="carousel-arrow previous"></div>#}
{#  <div class="carousel-arrow next"></div>#}
</div>
