{% load i18n %}
{% load dimagidotcom %}

<div class="grid-2-at-medium grid-row-space-small blue-theme">
  <div class="copy content-cell-padding-right">
    <h3>
      {% blocktrans %}
        Analyze data to improve decision making.
      {% endblocktrans %}
    </h3>
    <p>
      {% blocktrans %}
        Our easy-to-use reporting tools allow you to aggregate data
        and identify trends, so you can make informed decisions.
      {% endblocktrans %}
    </p>
    <ul class="check-list grid-2 gap-bottom-small">
      <li>
        <strong>
          {% blocktrans %}
            Visualize trends with CommCare’s built-in reporting tool
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Create daily reports to track workforce performance
          {% endblocktrans %}
        </strong>
      </li>
      <li>
        <strong>
          {% blocktrans %}
            Export your CommCare data to use in your favorite 3rd party
            data analysis tool
          {% endblocktrans %}
        </strong>
      </li>
    </ul>
  </div>{# .copy #}
  <div class="analyze-data-image white-lazy-bg"
       data-lazybg="true"></div>
</div>{# .grid-2-at-medium #}
