{% load i18n %}
{% load dimagidotcom %}

<div>
  <h3>
    {% blocktrans %}
      Analyze data to improve decision making.
    {% endblocktrans %}
  </h3>
  <div class="grid-2-at-medium  blue-theme">
    <div class="column pad-right-medium-at-base align-left">
      <p>
        {% blocktrans %}
          Our easy-to-use reporting tools allow you to aggregate data
          and identify trends, so you can make informed decisions.
        {% endblocktrans %}
      </p>
      <ul class="check-list grid-2-at-medium">
        <li>
          {% blocktrans %}
            Visualize trends with CommCare’s built-in reporting tool
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Create daily reports to track workforce performance
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Export your CommCare data to use in your favorite 3rd party
            data analysis tool
          {% endblocktrans %}
        </li>
      </ul>
    </div>{# .column #}
    <div class="column analyze-data-image white-lazy-bg"
         data-lazybg="true">
    </div>{# .column #}
  </div>{# .grid-2-at-medium #}
</div>
