{% extends "sections/commcare/product/overview/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block analyze_selected %}selected{% endblock %}

{% block content %}
  <h3>
    {% blocktrans %}
      Analyze data to improve decision making.
    {% endblocktrans %}
  </h3>
  <div class="grid-2-at-large blue-theme grid-valign-middle">
    <div class="column pad-right-medium-at-base align-left">
      <p>
        {% blocktrans %}
          Our easy-to-use reporting tools allow you to aggregate data
          and identify trends, so you can make informed decisions.
        {% endblocktrans %}
      </p>
      <ul class="check-list grid-2-at-extra-large">
        <li>
          {% blocktrans %}
            Visualize trends with CommCare’s built-in reporting tool
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Create daily reports to track workforce performance
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Export data collected in CommCare for use in any 3rd 
            party tool, from Excel to SPSS
          {% endblocktrans %}
        </li>
        <li>
          <a class="slate"
             href="{% url 'commcare_integration' %}">
            {% blocktrans %}
              Seamlessly integrate CommCare with Tableau and Power BI for 
              beautiful reports and visualizations
            {% endblocktrans %}
          </a>
        </li>
      </ul>
    </div>{# .column #}
    <div class="column analyze-data-image white-lazy-bg"
         data-lazybg="true">
    </div>{# .column #}
  </div>{# .grid-2-at-medium #}
  <div class="cta pad-vert-medium">
    <p>
      <a class="button {% click_body 'features-view' %}" 
         href="{% url 'commcare_features' %}">
        {% blocktrans %}
          View All Features
        {% endblocktrans %}
      </a>
    </p>
  </div>{# .cta #}
{% endblock %}
