<div class="pad-bottom-base white-bg">
  <div class="aspect-ratio-{{ ratio }} post-thumbnail gap-bottom-line orange-lazy-bg" data-lazyplaceholder="true"
    data-src="{{ post.thumbnail }}"></div>
  <div class="pad-line">
    <h6 class="uppercase text-old align-left pad-bottom-base">
      {{ post.title }}
    </h6>
    <p>
      {{ post.excerpt }}
    </p>
    <p class="align-left ">
      <a class="arrow turquoise-dark" href="#" target="_blank">
        Contact
      </a>
    </p>
  </div> {# .pad-line #}
</div> {# .white-bg #}