{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a class="primary cta-blog-subnav-trial"
         data-kmq-external="true"
         data-kmq-name="Clicked Start Trial - Blog Sticky"
         href="{{ URL_TRIAL }}">
        <span>
          {% blocktrans %}
            Start Trial
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse' %}"
       href="#"  data-bind="click: closeFilters" >
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="{% url 'commcareproviders' %}">
          {% include "svg/blog/icon/nav/home.html" %} {% trans "Home" %}
        </a>
        <a href="#"
          class="toggle-filters"
          data-bind="click: toggleFilters, css: { 'has-filters': showHasFiltersAlert}">
          {% include "svg/blog/icon/nav/filter.html" %} {% trans "Sort" %}
        </a>
        <div class="search-bar-container">
          <input type="text" placeholder="{% trans "Search..." %}" data-bind="textInput: searchTerm, event: {keypress: submitSearchOnEnter}" />
          <button type="button" data-bind="click: submitSearch">
            {% include "svg/blog/icon/nav/search.html" %}
          </button>
        </div>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
  {% include 'sections/certified_partners/filter_nav.html' %}
</section>
