{% load i18n %}
{% load dimagidotcom %}

<section class="mhp-case-study blue-lightest-bg pad-vert-small pad-horz-line">
    <div class="grid-2 grid-row-space-line">
      <div class="column">
        <div class="image aspect-ratio-rect testimonial2"
             data-lazybg="true"></div>
      </div>{# .column #}
      <div class="column">
        <div class="image aspect-ratio-rect testimonial2"
             data-lazybg="true"></div>
      </div>{# .column #}
    </div>{# .grid-2 #}
    <div class="grid-1">
      <h4 class="blue">
        {% blocktrans %}
          <b>MHP Salud</b>
        {% endblocktrans %}
      </h4>
      <p>
        {% blocktrans %}
          For the last 35 years, nonprofit organization MHP Salud has implemented
          CHW programs to support underserved Latino communities across the
          United States. From case management for older adults to assistance
          navigating the Health Insurance Marketplace, MHP Salud’s mobile app
          keeps track of participants across various community-based health
          initiatives, including referrals to external organizations. MHP Salud
          has increased enrollment in public assistance and health insurance
          programs and continues to offer support to over 5,000 Latino Americans
          annually struggling with mental health issues, chronic disease, and
          other health challenges.
        {% endblocktrans %}
      </p>
      <p>
        <a href="#"
           class="arrow blue read-more"
           target="_blank">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
      </p>

    </div>{# .grid-1 #}
</section>
