{% load i18n %}
{% load dimagidotcom %}

<section class="mhp-case-study blue-lightest-bg pad-vert-small pad-horz-line gap-top-small">
    <div class="grid-2 grid-row-space-line">
      <div class="column">
        <div class="image aspect-ratio-rect testimonial2"
             data-lazybg="true"></div>
      </div>{# .column #}
      <div class="column">
        <div class="image aspect-ratio-rect testimonial2"
             data-lazybg="true"></div>
      </div>{# .column #}
    </div>{# .grid-2 #}
    <div class="grid-1">
      <h4 class="blue">
        {% blocktrans %}
          <b>TulaSalud</b>
        {% endblocktrans %}
      </h4>
      <p>
        {% blocktrans %}
          Due to a substantial majority of its population living below the
          poverty line and a severe lack of formal health services, Guatemala’s
          northern highlands has one of the highest burdens of maternal
          mortality in the world. To improve maternal care and reproductive
          health in Guatemala, TulaSalud introduced a digital health program
          for frontline health workers. In collaboration with the Guatemalan
          Ministry of Health, the organization has enhanced its community-based
          digital health program by expanding its network of care beyond Alta
          Verapaz to three additional priority regions (Huehuetenango, Quiché,
          and Sololà) and increasing accountability at all levels.
        {% endblocktrans %}
      </p>
      <p>
        <a href="https://dimagi.com/case-studies/mhealth-guatemala-childhealth/"
           class="arrow blue read-more"
           target="_blank">
          {% blocktrans %}
            Learn More
          {% endblocktrans %}
        </a>
      </p>

    </div>{# .grid-1 #}
</section>
