{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-base pad-bottom-small">
  <div class="content content-width-medium">

    <h3>
      {% blocktrans %}
        Identify your user stories
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Your first step is to identify the users and user stories to
        build your solution around. These should be centered around
        the biggest pain points and opportunities for impact you
        identified in scoping–not just around the loudest voice
        in the room.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Here are a few key questions to consider while developing this
        list of user stories. These questions should help open your
        eyes to the potential impact of your solution:
      {% endblocktrans %}
    </p>

    <ol class="grid grid-row-space-base pad-bottom-base">
      <li>
        {% blocktrans %}
          How will my solution change existing processes and roles?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          How will those changes affect each player in the system?
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Are those changes addressing pain points and improving
          workflows, or just complicating things?
        {% endblocktrans %}
      </li>
    </ol>

    <p>
      {% blocktrans %}
        Validate your user stories and the answers to these
        questions with your team before you start designing the
        technical structure of your solution to avoid building a
        solution that is misaligned with your project and end
        users' needs. Are these experiences they would like to
        be improved? Can your program provide
        <a href="https://dimagi.com/blog/mobile-data-collection-feedback/"
           target="_blank">feedback</a> to help?
        Is your proposed solution going to conflict
        with any other responsibilities they hold? They should
        be able to answer these questions so you can make sure
        your new mobile data collection solution will be well
        received and happily used.
      {% endblocktrans %}
    </p>

    <h3>
      {% blocktrans %}
        Design the structure of your system
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Once you have your user stories validated, it's time to
        translate these into your app's module and form
        structure. This is important to do this before you start
        building to ensure your vision is possible with the set
        of features at your disposal. Essentially, it is about
        figuring out precisely what your app is supposed to do and
        how it will do it.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Approach this task systematically by starting with a simple
        table like the one below. By translating the user stories
        you have defined and validated into individual requirements,
        you answer the question of what you need your app to do.
        Those requirements then become a summary of modules (or
        group of forms), individual forms, and features, which
        define how your app performs its tasks:
      {% endblocktrans %}
    </p>

    <div class="table-image white-lazy-bg gap-vert-small"
         data-lazybg="true"></div>

    <h3>
      {% blocktrans %}
        Prototype your tool
      {% endblocktrans %}
    </h3>

    <p>
      {% blocktrans %}
        Once your app is mapped out in terms of actual features and
        app functionality, you can build a prototype that brings your
        design to life. Once again, you should validate this step with
        your end users: Does your design actually address the workflow
        challenges you identified during scoping? Did you understand
        the participant registration process correctly, or does your
        design have gaps?
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        One option is to build your prototype in the data collection
        platform you plan to use. This approach ensures your workflows
        are truly possible with the set of features available to you,
        but it also requires that you know how to build on the platform
        before starting the process. Alternatively, you can also use
        a tool like Moqups, which allows you to build interactive
        mockups that look and feel like a real, functioning app.
      {% endblocktrans %}
    </p>

    <div class="moqups-image white-lazy-bg"
         data-lazybg="true"></div>

    <p class="align-center">
      <a href="https://moqups.com/"
         target="_blank"
         class="button">
        {% blocktrans %}
          Check out our recommended tool for prototyping, Moqups
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
