<div class="content content-width-medium turquoise-light-bg gap-bottom-small">
  <div class="grid grid-flex-at-small grid-valign-middle pad-vert-line pad-horz-medium">
    <div class="column content align-left">
      <h2 class="slate">
        {% block heading %}{% endblock %}
      </h2>
    </div>{# .column #}
    <div class="column no-shrink">
      <div class="chw-challenges">
        {% block icon %}{% endblock %}
      </div>
    </div>{# .column #}
  </div>{# .grid #}
  <div>
    <div class="content-width-medium pad-bottom-small pad-horz-medium">
      {% block description %}{% endblock %}
    </div>
  </div>
</div>
