{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-line pad-bottom-small">
  <div class="pad-horz-medium">
    <p>
      {% blocktrans %}
        Higher-level reports are where we see most organizations having 
        success. They know how to track their program’s performance overall, 
        and they do it well. It’s worth noting that part of the reason programs 
        do this well is because they know their funding is dependent on it.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        Let’s now look at a few data practices that we only see our more 
        successful partners leveraging. These are more precise, micro-level 
        reports that can help you uncover the potential program improvements 
        available to you.
      {% endblocktrans %}
    </p>
  </div>{# .content #}
</section>
