{% extends "sections/pillar/data_driven_programs/chapter1/practices/_base.html" %}
{% load i18n %}

{% block icon %}
{% include "svg/pillar/ddp/step1/baseline.html" %}
{% endblock %}

{% block heading %}{% blocktrans %}
    1. Baseline & input reporting
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  <p>
    Baseline & input reporting comes before your program even truly 
    begins, but it can play a key role in measuring the performance 
    of your program after it’s implemented. It can measure things like the 
    number of resources distributed (e.g. hygiene packets, school books, etc.), 
    the number of teachers trained, or the number of community members reached.
  </p>
  <p>
    Baseline reports also help us determine the priority areas of projects 
    with multiple objectives. Capturing the right information before your 
    intervention begins can show you which aspects of your target population 
    best align to which objectives. In fact, baseline reports or needs assessments 
    are sometimes required by funding organizations or partners in order to 
    ensure the optimal use of their resources.
  </p>
  <p>
    To learn more about implementing baseline (& endline) reporting, 
    <a href="https://www.dimagi.com/blog/data-collection-baseline-endline-surveys/"
       target="_blank">click here</a>.
  </p>
{% endblocktrans %}{% endblock %}
