{% load dimagidotcom %}
{% load i18n %}

<div class="card-container blue-theme gap-right-small-at-large gap-right-base-at-medium">
  <a class="card card-bottom theme-border align-center"
     href="#level-summary-3">
    <h5 class="theme-color">
      {% blocktrans %}
        Endline &<br class="hide-until-medium" />
        outcome reporting
      {% endblocktrans %}
    </h5>
    <p class="theme-icon">
      {% include "svg/pillar/ddp/step1/endline.html" %}
    </p>
  </a>
  <div class="level-dot-container level3-dot-container">
    <div class="level-dot level3-dot blue-bg"></div>
  </div>
</div>
