{% load dimagidotcom %}
{% load i18n %}

<div class="column purple-theme">
  <a class="card theme-border align-center"
    href="#">
    <h5 class="theme-color">
      {% blocktrans %}
        Workforce <br class="hide-until-medium" />
        monitoring
      {% endblocktrans %}
    </h5>
    <p class="theme-icon">
      {% include "svg/pillar/ddp/step1/workforce.html" %}
    </p>
  </a>
  <div class="pad-top-medium align-center hide-until-medium">
    <span class="level-dot level5-dot purple-bg"></span>
  </div>
</div>
