{% load dimagidotcom %}
{% load i18n %}

<div class="column blue-theme">
  <a class="card theme-border align-center"
    href="#">
    <h5 class="theme-color">
      {% blocktrans %}
        Endline &<br class="hide-until-medium" />
        outcome reporting
      {% endblocktrans %}
    </h5>
    <p class="theme-icon">
      {% include "svg/pillar/ddp/step1/endline.html" %}
    </p>
  </a>
  <div class="pad-top-medium align-center">
    <span class="level-dot level3-dot blue-bg"></span>
  </div>
</div>
