{% extends "sections/commcare/research/evidence/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block image_class%}empower{% endblock %}

{% block content %}
  <div class="testimonial-content content-width-medium align-left pad-horz-base">
    <h6 class="blue testimonial-org">
      {% blocktrans %}
        Experimental Research on Digital Tools for Community Health Workers 
        with Mobile Technology in Rural Guatemala
      {% endblocktrans %}
    </h6>
    <p>
      {% blocktrans %}
        “CommCare has streamlined our ability to collect, review, and analyze
        data across various projects, including child nutrition surveillance
        and type 2 diabetes management. The intuitive user interface makes
        it simple to train our team of community health workers, and the
        ability to incorporate decision-support protocols and branching
        logic within CommCare has allowed them to provide services with
        remote physician supervision typically reserved for more highly
        trained personnel.”
      {% endblocktrans %}  
    </p>
    <div class="attribution-heading body-color uppercase">
      <p class="pad-bottom-base">
      {% blocktrans %}
        <strong> Alejandro Chavez</strong> | Data Analyst & Consultant for Mobile Technology
      {% endblocktrans %}
      </p>
    </div>
    <p class="attribution-sub uppercase">
      {% blocktrans %}
        Stanford University & The University of Wisconsin School of Medicine and Public Health
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
