{% extends "sections/commcare/research/evidence/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block image_class%}large-scale{% endblock %}

{% block content %}
  <div class="testimonial-content content-width-medium align-left pad-horz-base">
    <h6 class="blue testimonial-org">
      {% blocktrans %}
        A Large-Scale HIV Behavioral Intervention Trial for Youth 
        at risk of HIV in the USA Built an Electronic Data 
        Collection System on CommCare
      {% endblocktrans %}
    </h6>
    <p>
      {% blocktrans %}
        “We recently used CommCare for electronic data collection and 
        monitoring in a large multi-site longitudinal study to evaluate 
        the impact of HIV interventions in two US cities. Studies of 
        this magnitude and complexity are always accompanied by 
        challenges. Thanks to thoughtful input from the Dimagi team on 
        the front end and the robustness and flexibility of the CommCare 
        system, the development of data collection protocols to meet our 
        needs and data collection were not part of those challenges.”
      {% endblocktrans %}  
    </p>
    <div class="attribution-heading body-color uppercase">
      <p class="pad-bottom-base">
      {% blocktrans %}
        <strong>W. Scott Comulada</strong>
      {% endblocktrans %}
      </p>
    </div>
    <p class="attribution-sub uppercase">
      {% blocktrans %}
        DrPH, Professor-in-Residence, UCLA Department of Psychiatry and Biobehavioral Sciences
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
