{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="encourage-feedback">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Encourage and Incorporate Feedback
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        Consistent interaction with your end users is key to
        improving your data collection application over time.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        After all, those who use the tool will have the most
        valuable insight into its strengths and weaknesses.
        Listen to them as much and as often as possible to
        understand how you might improve both your tool and
        your program outcomes.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Feedback will come in on considerations as big as new
        use cases and functionality that field workers might
        be interested in or as small as specific feature bugs.
        Taking this feedback and reviewing how you might
        <a href="https://dimagi.com/blog/mobile-data-collection-build-and-test"
           target="_blank">design it into your platform</a>
        is crucial to an engaged and
        effective workforce.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        There are a numerous ways you can collect feedback. The
        most direct way is through your program supervisors.
        General check-ins and and feedback collection should
        already be part of their responsibilities, so expanding
        that feedback to the new tool should be a logical fit.
        However, it should not be taken for granted that the
        supervisors are aware of this, so not only should they
        be made aware of how their workers are meant to be using
        the new tool, but they should be empowered to understand
        how it works so the feedback they receive will make sense.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        You might also incorporate some indirect feedback
        collection methods, such as SMS surveys, or Interactive
        Voice Response (IVR) calls. These have the advantage of
        being very scalable and require very few resources
        to implement.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
        Of course, however you receive feedback, it is the act
        of listening to your users and the understanding that
        your platform is never complete that will help improve
        the tool itself, as well as the overall impact
        of your program.
      {% endblocktrans %}
    </p>

    <p class="align-center pad-top-small pad-bottom-medium">
      <a href="https://dimagi.com/blog/mobile-data-collection-sustain/"
         target="_blank"
         class="button">
        {% blocktrans %}
          Learn about how to sustain your mobile data collection program
        {% endblocktrans %}
      </a>
    </p>

  </div>
</section>
