{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="incentivize-use">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Incentivize the Use of Your Application
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        If the users are not given sufficient incentive to use the
        application, then you should expect usage to decline once
        the novelty of the program wears off. There are a number
        of ways to ensure your team continues to use your tool
        for the duration of your program:
      {% endblocktrans %}
    </p>

    <div class="grid grid-flex grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon">
          {% include "svg/pillar/chapter3/icon1.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              Save them time and effort
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            Reduction in the amount of time and effort required from
            a user is a great way to ensure sustained usage. If they
            understand that it is easier for them to fulfill their
            reporting requirements via the data collection app compared
            to using paper forms, they will be more than happy to
            keep using it.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon">
          {% include "svg/pillar/chapter3/icon1.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              Send them reminders
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            The implementation of reminders and nudges from supervisors
            into the app will help keep users on task and aware of their
            responsibilities. Whether you do it with a simple SMS or
            during weekly or monthly check-ins, it is always a good
            idea to let you team know what they need to do next.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon">
          {% include "svg/pillar/chapter3/icon1.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              Show them their impact
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            When users understand the impact they have, they are more
            likely to continue to participate. Show them the number of
            children they helped vaccinate or the number of institutional
            deliveries they carried out.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <div class="grid grid-flex grid-valign-middle pad-vert-line">
      <div class="column no-shrink">
        <div class="theme-icon epic-icon">
          {% include "svg/pillar/chapter3/icon1.html" %}
        </div>
      </div>{# .column #}
      <div class="column">
        <p>
          <strong class="display-block">
            {% blocktrans %}
              Give them feedback
            {% endblocktrans %}
          </strong>
          {% blocktrans %}
            Regular feedback and engagement through supervisors is
            another way to motivate your users. The immediate
            availability of a wide range of data should allow
            your supervisors to extract insights on the users'
            strengths and weaknesses.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}

    <p class="pad-top-small">
      {% blocktrans %}
        To sum up, closing the feedback loop by offering tools to
        improve their performance will help ensure that your team
        continues to use your application. And the more reasons you
        give your users to pick up the app, the better.
      {% endblocktrans %}
    </p>

  </div>
</section>
