{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="develop-strong-support-system">
  <div class="content content-width-medium">

    <h2>
      {% blocktrans %}
        Develop a Strong Support System
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        The importance of a good support system in sustaining a
        mobile data collection program cannot be overstated. Ensuring
        that responsive channels exist for users to flag issues they
        might face &mdash; related to the application, device, or
        data &mdash; is important to build trust in the system.
      {% endblocktrans %}
    </p>

    <p>
      <strong>
        {% blocktrans %}
          First point of contact.
        {% endblocktrans %}
      </strong>
      {% blocktrans %}
        In-depth user manuals (printed, digital,
        or otherwise) for each section of your application are a useful
        resource and should be a first point of reference for most users.
        These manuals can contain information about application features,
        how to access them, and (depending on your needs) programmatic
        guidelines.
      {% endblocktrans %}
    </p>

    <p>
      <strong>
        {% blocktrans %}
          Channels of support.
        {% endblocktrans %}
      </strong>
      {% blocktrans %}
        Make your users aware and encourage them to use the
        support channels you give them. The end user training
        before launch is a good first opportunity to introduce
        them to what support is available to them. From user
        manuals to support personnel, training sessions, and
        refresher courses your program should develop a variety
        of ways to offer your workers support and sustain their
        usage.
      {% endblocktrans %}
    </p>

    <p>
      <strong>
        {% blocktrans %}
          Program Scale.
        {% endblocktrans %}
      </strong>
      {% blocktrans %}
        The scale of the support needed is another factor to
        consider: A single designated support person can handle
        a 50-user pilot, but a national-level project with
        thousands of users might require something more robust
        like district-level help desks or a central call center.
        In both cases, the designated support person(s) should have:
      {% endblocktrans %}
    </p>

    <ul class="check-list grid grid-row-space-none pad-bottom-line">
      <li>
        {% blocktrans %}
          A good working knowledge of the application
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Admin rights to look into the system backend
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
          Strong communication skills
        {% endblocktrans %}
      </li>
    </ul>

    <p>
      {% blocktrans %}
        If you want your workers to use your platform, you need to
        make sure they know how and have the tools they need. A
        well-executed and diverse support system should ensure
        your team is always performing at its best.
      {% endblocktrans %}
    </p>

  </div>
</section>
