{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="chapter-8-summary">
  <div class="content content-width-medium">

    <p class="first-letter">
      {% blocktrans %}
        To ensure all the effort put into the implementation of
        the program pays off, you must set up a system to support
        your users. They should have proper resources and supervision,
        incentives to continue their usage, and if they have thoughts
        or suggestions about the program, opportunities to be heard.
      {% endblocktrans %}
    </p>

  </div>
</section>
