{% load i18n %}
{% load dimagidotcom %}


<section class="post-content">
  <div class="content content-width-medium pad-vert-medium">
    <header>
      <h1 class="gap-bottom-small gap-top-base">
        {{ post.title }}
      </h1>
      <div rel="thumbnail" class="post-featured-image pad-top-small pad-bottom-base">
        <img src="{{ post.thumbnail }}" />
      </div>
      <div class="gap-top-small gap-bottom-small">
        {% if not post.hide_author %}
          {% if post.has_multiple_authors %}
            <div class="post-multi-author-icon orange-icon">
              {% include "svg/blog/icon/blog_authors.html" %}
            </div>
          {% else %}
            <div class="post-author-image"
                 data-lazyplaceholder="true"
                 data-src="{{ post.author.image }}"></div>
          {% endif %}
        {% endif %}
        <div class="post-social-header">
          {% include 'partials/social.html' with url=request.build_absolute_uri text=post.title %}
        </div>
        <div class="post-info-container">
          {% if not post.hide_author %}
            <div rel="author" class="author-name">
              {{ post.authors_list}}
            </div>
          {% endif %}
          <div class="post-details {% if post.hide_author %}post-details-author-hidden{% endif %}">
            {% if not post.hide_date %}{{ post.date_human }};{% endif %}
            {{ post.reading_time_in_minutes }} min read
          </div>
        </div>
      </div>
    </header>

    <div class="post-content-text pad-top-small pad-bottom-small epic-content">
      {{ post.content|safe }}
    </div>

    <h4 class="post-additional-details pad-top-medium">
      {% trans "Share" %}
    </h4>
    <div class="pad-bottom-base">
      {% include 'partials/social.html' with url=request.build_absolute_uri text=post.title %}
    </div>

    <h4 class="post-additional-details pad-top-small">
      {% trans "Tags" %}
    </h4>
    <ul class="post-tags inline-list gap-bottom-line">
      {% for tag in post.tags %}
        <li><a href="{% url 'blog_tag_archive' tag.slug %}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>

    <h4 class="post-additional-details pad-top-small">
      {% trans "Similar Articles" %}
    </h4>
    <div class="grid-3-at-medium grid-2-at-small grid-row-space-small">
      {% for related_post in related_posts %}
        <div class="column">
          {% include "partials/blog_summary.html" with post=related_post ratio='square' %}
        </div>
      {% endfor %}
    </div>

  </div>{# .content #}
</section>
