{% load i18n %}
{% load dimagidotcom %}


<section class="post-content">
  <div class="content content-width-medium pad-vert-medium">
    <h1 class="gap-bottom-base">
      {{ post.title }}
    </h1>
    <p class="h4 gap-bottom-small">
      {{ post.date_human }}
    </p>
    <p>
      {% include 'partials/social.html' with url=request.build_absolute_uri text=post.title %}
    </p>
    <div class="post-content-text pad-bottom-small">
      {{ post.content|safe }}
    </div>
    <div class="accent-gray-bg pad-horz-small pad-vert-line">
      <h6>
        {% trans "Written by" %}
      </h6>
      <div class="grid-3-at-medium grid-2-at-small">
        {% for author in post.authors %}
          <div class="column">
            <div class="grid-flex">
              {% if author.image %}
                <div class="column">
                  <div class="aspect-ratio-square post-author-image"
                       data-lazybg="true"
                       data-src="{{ author.image }}"></div>
                </div>{# .column #}
              {% endif %}
              <div class="column">
                <h5 class="gap-bottom-none">
                  {{ author.name }}
                </h5>
                {% if author.role %}
                  <p>{{ author.role }}</p>
                {% endif %}
              </div>{# .column #}
            </div>{# .post-author #}
          </div>{# .column #}
        {% endfor %}
      </div>{# .grid-3-at-medium #}
    </div>{# .orange-bg #}

    <div class="pad-top-line theme-border">
      <div class="grid-2">
        <div class="column">
          <p>
            {% include 'partials/social.html' with url=request.build_absolute_uri text=post.title %}
          </p>
        </div>
        <div class="column align-right">
          {% blocktrans %}Read more from{% endblocktrans %}<br />
          <a href="{% url 'archive_category' post.category.slug %}">
            {{ post.category.name }}
          </a>
        </div>
      </div>
    </div>
  </div>{# .content #}
</section>
