{% load i18n %}
{% load dimagidotcom %}

<section class="border-vert accent-gray-bg powerful-data">
  <div class="content pad-vert-medium">

    <div class="grid-2-at-medium grid-row-space-none grid-valign-middle">
      <div class="copy content-cell-padding-right">
        <h3>
          {% blocktrans %}
            The World's Most Powerful Mobile Data Collection Platform
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            Start a FREE 30-day CommCare trial today. No credit card required.
          {% endblocktrans %}
        </p>
        <p>
          <a href="{{ URL_TRIAL }}"
             class="button">
            {% blocktrans %}
              Get Started
            {% endblocktrans %}
          </a>
        </p>
        <p>
          <a href="{% url 'commcare' %}"
             class="arrow">
            {% blocktrans %}
              Learn More
            {% endblocktrans %}
          </a>
        </p>
      </div>{# .copy #}

      <div class="powerful-data-image hide-until-medium"></div>

    </div>{# .grid-2-at-medium #}
  </div>{# .content #}
</section>
