{% load i18n %}

<div class="pad-bottom-base border-bottom gap-bottom-line">
  <h4 class="link-gray gap-none">
    {% blocktrans %}
      Products &amp; Services
    {% endblocktrans %}
  </h4>
</div>{# .pad-bottom-base #}

<div class="grid grid-2-at-medium grid-4-at-extra-large">
  <div class="column">
    <a class="blue-swatch"
       href="{% url 'page_products' %}">
      {% blocktrans %}
        CommCare
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="light-gray-swatch"
       href="#todo">
      {% blocktrans %}
        Project Implementation
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="light-gray-swatch"
       href="#todo">
      {% blocktrans %}
        Advisory Services
      {% endblocktrans %}
    </a>
  </div>{# .column #}

</div>{# .grid #}
