{% load i18n %}
{% load dimagidotcom %}

<div class="pad-bottom-base border-bottom gap-bottom-line">
  <h4 class="link-gray gap-none">
    {% blocktrans %}
      Products &amp; Services
    {% endblocktrans %}
  </h4>
</div>{# .pad-bottom-base #}

<div class="grid grid-2-at-medium grid-4-at-extra-large">
  <div class="column">
    <a class="blue-swatch {% click_nav 'commcare' %}"
       href="{% url 'commcare' %}">
      {% blocktrans %}
        CommCare
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="purple-swatch {% click_nav 'focus_mdm' %}"
       href="{% url 'focus_mdm' %}">
      {% blocktrans %}
        FocusMDM
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a class="turquoise-swatch {% click_nav 'global-services' %}"
       href="{% url 'services' %}">
      {% blocktrans %}
        Solutions Delivery
      {% endblocktrans %}
    </a>
  </div>{# .column #}
  <div class="column">
    <a class="orange-swatch {% click_nav 'commcare' %}"
       href="https://www.sureadhere.com/"
       target="_blank">
      {% blocktrans %}
        SureAdhere
      {% endblocktrans %}
    </a>
  </div>{# .column #}

</div>{# .grid #}
