{% load i18n %}

<div class="pad-bottom-base border-bottom gap-bottom-line">
  <h4 class="link-gray gap-none">
    {% blocktrans %}
      Resources
    {% endblocktrans %}
  </h4>
</div>{# .pad-bottom-base #}

<div class="grid grid-2-at-medium grid-4-at-large">

  <div class="column">
    <a href="{% url 'commcare_pricing' %}">
      {% blocktrans %}
        CommCare Pricing
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'sectors' %}">
      {% blocktrans %}
        Sectors
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'case_studies' %}">
      {% blocktrans %}
        Case Studies
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'toolkits' %}">
      {% blocktrans %}
        Toolkits
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'blog_home' %}">
      {% blocktrans %}
        Blog
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'about' %}">
      {% blocktrans %}
        About Us
      {% endblocktrans %}
    </a>
  </div>{# .column #}

  <div class="column">
    <a href="{% url 'careers' %}">
      {% blocktrans %}
        Careers
      {% endblocktrans %}
    </a>
  </div>{# .column #}

</div>{# .grid #}
