{% load i18n %}
{% load dimagidotcom %}

<div class="carousel-slide pad-horz-base pad-vert-small pad-horz-large-at-medium pad-top-medium-at-medium pad-bottom-large-at-medium">

  <div class="dots-numbered pad-bottom-small hide-until-small">

    <div class="display-inline-block pad-right-medium">
      <div data-dot="1" class="carousel-icon {% block quality_selected %}{% endblock %}">
        {% include "svg/b_corp_logo.html" %}
        <div class="pad-top-base">Collect high <br class="hide-until-medium" />quality data</div>
      </div>
    </div>

    <div class="display-inline-block pad-right-medium">
      <div data-dot="2" class="carousel-icon {% block manual_selected %}{% endblock %}">
        {% include "svg/b_corp_logo.html" %}
        <div class="pad-top-base">Eliminate <br class="hide-until-medium" />manual tasks</div>
      </div>
    </div>

    <div class="display-inline-block pad-right-medium">
      <div data-dot="3" class="carousel-icon {% block clean_selected %}{% endblock %}">
        {% include "svg/b_corp_logo.html" %}
        <div class="pad-top-base">Clean and <br class="hide-until-medium" />manage data</div>
      </div>
    </div>

    <div class="display-inline-block pad-right-medium">
      <div data-dot="4" class="carousel-icon {% block report_selected %}{% endblock %}">
        {% include "svg/b_corp_logo.html" %}
        <div class="pad-top-base">Report on <br class="hide-until-medium" />insights</div>
      </div>
    </div>
  </div>

  <div class="pad-horz-line">
    {% block content %}{% endblock %}
  </div>

{#  <div class="carousel-arrow previous"></div>#}
{#  <div class="carousel-arrow next"></div>#}
</div>
