{% extends "sections/commcare/product_features/overview/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block clean_selected %}selected{% endblock %}

{% block content %}
  <div class="grid-2-at-large blue-theme grid-reverse grid-valign-middle">
    <div class="column pad-right-medium-at-base align-left">
      <h3 class="blue pad-bottom-base">
        {% blocktrans %}
          Clean and manage data
        {% endblocktrans %}
      </h3>
      <ul class="check-list grid-1-at-extra-large">
        <li>
          <p class="blue gap-bottom-none">
            {% blocktrans %}
              Inspect form submissions
            {% endblocktrans %}
          </p>
          <ol class="gap-top-base">
            {% blocktrans %}
              Say goodbye to error-prone surveys. With CommCare, field staff 
              register a subject once, then easily view and update 
              the case over time
            {% endblocktrans %}
          </ol>
        </li>
        
        <li>
          <p class="blue gap-bottom-none">
            {% blocktrans %}
              Easily edit data
            {% endblocktrans %}
          </p>
          <ol class="gap-top-base">
            {% blocktrans %}
              Quickly edit erroneous submissions, without ever leaving CommCare, 
              using built-in data cleaning tools for both forms and cases.
            {% endblocktrans %}
          </ol>
        </li>

        <li>
          <p class="blue gap-bottom-none">
            {% blocktrans %}
              Automate your data cleaning
            {% endblocktrans %}
          </p>
          <ol class="gap-top-base">
            {% blocktrans %}
              Clean and safeguard data by setting parameters that 
              automatically close and archive cases—like when health 
              indicators show a patient is healthy.  
            {% endblocktrans %}
          </ol>
        </li>

        <li>
          <p class="blue gap-bottom-none">
            {% blocktrans %}
              Upload external data sets
            {% endblocktrans %}
          </p>
          <ol class="gap-top-base">
            {% blocktrans %}
              Register a case outside your app? No problem; easily import 
              external data like new cases or third-party datasets into 
              CommCare.
            {% endblocktrans %}
          </ol>
        </li>
      </ul>
    </div>{# .column #}
    <div class="column clean-manage-image white-lazy-bg"
         data-lazybg="true">
    </div>{# .column #}
  </div>{# .grid-2-at-medium #}
{% endblock %}
