{% extends "sections/commcare/product_features/overview/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block manual_selected %}selected{% endblock %}

{% block content %}
  <h3>
    {% blocktrans %}
      Eliminate manual tasks
    {% endblocktrans %}
  </h3>
  <div class="grid-2-at-large blue-theme grid-valign-middle">
    <div class="column pad-right-medium-at-base align-left">

      <p>
        {% blocktrans %}
          Our drag-and-drop app builder makes it easy for you to get started.
        {% endblocktrans %}
      </p>
      <ul class="check-list grid-2-at-extra-large">
        <li>
          {% blocktrans %}
            Test app changes live with our app preview feature
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            No coding necessary, just drag-and-drop
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Start small with simple surveys and add complexity as you go
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Easily deploy your data collection app to Android devices in the field
          {% endblocktrans %}
        </li>
      </ul>
    </div>{# .column #}
    <div class="column">
      <div class="flex-valign-middle-at-medium">
        <div class="device-container browser-ui">
          <div class="screen">
            {% include "partials/wistia_embed_autoplay.html" with wistia_id='3p3get3okj' %}
          </div>{# .screen #}
        </div>{# .device-container.browser-ui #}
      </div>{# .flex-valign-middle-at-medium #}
    </div>{# .column #}
  </div>{# .grid-2-at-medium #}
{% endblock %}
