{% load i18n %}
{% load dimagidotcom %}

<section class="accent-gray-bg border-top overview"
         id="overview">
  <div class="content pad-vert-medium align-center">
    <div class="pad-bottom-medium">
      <h2 class="blue">
        {% blocktrans %}
          A 360 Platform for Data Collection & Management
        {% endblocktrans %}
      </h2>
    </div>

    <div class="carousel carousel-fade-inactive carousel-numbered carousel-arrows hide-dots carousel-features">
      <div class="carousel-container">
        <div class="spinner spinner-large"></div>
        <div class="carousel-slider">
          {% include "sections/commcare/product_features/overview/app_builder.html" %}
          {% include "sections/commcare/product_features/overview/collect_data.html" %}
          {% include "sections/commcare/product_features/overview/analyze_data.html" %}
        </div>{# .carousel-slider #}
      </div>{# .carousel-container #}
    </div>{# .carousel #}

    <div class="cta pad-vert-small">
      <p>
        <a class="arrow {% click_body 'features-view' %}" 
           href="{% url 'commcare_pricing' %}#details">
          {% blocktrans %}
            View All Features
          {% endblocktrans %}
        </a>
      </p>
    </div>{# .cta #}

  </div>
</section>
