{% load i18n %}
{% load dimagidotcom %}

<section class="content pad-vert-medium content-width-large blue-theme">
  <div class="grid-2-at-small">
    <div class="column pad-top-base">
      <h3 class="header-label gap-bottom-line blue">
        {% blocktrans %}
          Follow Strict Research Protocols
        {% endblocktrans %}
      </h3>
      <ul class="align-left">
        <li>
          <h5 class="blue">
            {% blocktrans %}
              Powerful form logic
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              Stop errors in data entry before they happen with custom
              validation conditions and enforce data collection protocols
              with intelligent display and skip logic.
            {% endblocktrans %}
          </p>
        </li>
        <li>
          <h5 class="blue">
            {% blocktrans %}
              Researcher performance indicators
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              Remotely monitor enumerator performance in real time with
              pre-built reports that highlight problem areas and help you
              address inefficiencies before they spread.
            {% endblocktrans %}
          </p>
        </li>
        <li>
          <h5 class="blue">
            {% blocktrans %}
              Automatic alerts and reminders
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              Send alerts to enumerators and assistants when tasks are overdue
              and conduct more efficient subject outreach with 2-way SMS messaging.
            {% endblocktrans %}
          </p>
        </li>
      </ul>
    </div>{# .column #}

    <div class="column">
      <div class="phone-image white-lazy-bg"
           data-lazybg="true"></div>
    </div>{# .column #}
  </div>{# .grid-2 #}
</section>{# .content #}