{% load i18n %}
{% load dimagidotcom %}

<section class="content pad-vert-medium content-width-large blue-theme">
  <div class="grid-2-at-small grid-reverse">
    <div class="column pad-top-base">
      <h3 class="header-label gap-bottom-line blue align-left">
        {% blocktrans %}
          Keep Your Data Secure
        {% endblocktrans %}
      </h3>
      <ul class="inline-list align-left">
        <li>
          <h5 class="blue">
            {% blocktrans %}
              Strong data security protocols
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              CommCare is fully secured and compliant with HIPAA regulations
              and all data is encrypted, backed-up, and monitored for intrusions.
            {% endblocktrans %}
          </p>
        </li>
        <li>
          <h5 class="pad-top-base blue">
            {% blocktrans %}
              User-based permissions
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              Control who can access and share data across enumerators, teams,
              and even regions – increasing the efficiency and security of your team.
            {% endblocktrans %}
          </p>
        </li>
        <li>
          <h5 class="pad-top-base blue">
            {% blocktrans %}
              Simple and secure data integrations
            {% endblocktrans %}
          </h5>
          <p>
            {% blocktrans %}
              Connect your CommCare data to Excel dashboards and dozens of
              third-party tools, from Salesforce to PowerBI, Tableau, and
              SQL databases.
            {% endblocktrans %}
          </p>
        </li>
      </ul>
    </div>{# .column #}

    <div class="column">
      <div class="secure white-lazy-bg gap-top-small"
           data-lazybg="true"></div>
    </div>{# .column #}
  </div>{# .grid-2 #}
</section>{# .content #}
