{% load i18n %}
{% load dimagidotcom %}

<section data-lazybg="true">
  <div class="purple-bg pad-top-medium pad-bottom-medium">
    <div class="content align-center">
      <div class="cta-button-mdc-sector">
        <h3 class="white">
          {% blocktrans %}
            Learn how CommCare can help your small business
          {% endblocktrans %}
        </h3>
        <div class="cta">
          <a class="button button-accent-gray"
             href="#demo-form-modal">
            {% blocktrans %}
              SCHEDULE A DEMO
            {% endblocktrans %}
          </a>
        </div>{# .cta #}
      </div>
    </div> {# .content #}
  </div>
</section>
