{% load i18n %}
{% load dimagidotcom %}

<section id="demo-section"
         data-lazybg="true">
  <div class="purple-bg pad-top-base pad-bottom-medium">
    <div class="content align-center pad-top-medium">
      <div class="get-demo">
        <h3 class="white">
          {% blocktrans %}
            Learn more about CommCare
          {% endblocktrans %}
        </h3>
        <p class="white">
          {% blocktrans %}
            Learn how the world’s most powerful mobile data collection platform can help your program
          {% endblocktrans %}
        </p>
        <div class="cta gap-vert-line">
          <a class="button button-accent-gray"
             href="#demo-form-modal">
              {% blocktrans %}
                GET A DEMO
              {% endblocktrans %}
          </a>
        </div>{# .cta #}
        </div>
    </div> {# .content #}
  </div>{# .green-bg #}
</section>
