{% load i18n %}
{% load dimagidotcom %}

<section id="overview"
         data-lazybg="true">
  <div class="content pad-top-medium pad-bottom-medium">
    <div class="pad-bottom-line pad-bottom-small-at-medium pad-bottom-small-at-large pad-bottom-small-at-extra-large">
      <strong>
        {% blocktrans %}
          MOBILE DATA COLLECTION
        {% endblocktrans %}
      </strong>
      <h2>
        {% blocktrans %}
          Small Business
        {% endblocktrans %}
      </h2>
    </div>
    <div class="grid grid-2-at-medium grid-1-at-small grid-row-equal-heights ">
      <div class="column">
        <p>
          {% blocktrans %}
            Many small businesses have recently entered the market by employing 
            vendors to sell poverty-alleviating products at the Bottom of the 
            Economic Pyramid (BoP), including cook stoves, pay toilets, 
            tampons, and solar lanterns.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            These products often pay for themselves through reduced fuel and 
            healthcare expenditures, while reducing disease and increasing 
            access to education. However, in order to achieve profitability at 
            scale and to expand access to these products, businesses need 
            tools that help increase sales penetration, expand their market 
            size, and sustain product innovation. That’s where mobile 
            technology comes in.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Small businesses and their vendors can benefit from the 
            versatility, flexibility, and portability of custom mobile 
            applications. They enable small businesses to make more timely 
            decisions, increase productivity, reduce overhead, improve 
            organizational agility, offer prompt customer services, and gain a 
            stronger bottom line. Dimagi is uniquely positioned to offer a 
            product that can serve frontline workers with limited education 
            and technical literacy to increase organizational agility, enhance 
            workforce management, and improve customer satisfaction.
          {% endblocktrans %}
        </p>              
      </div>{# .column #}
      <div class="column" id="ag-intro">
        <div class="intro-image">
          <div class="hero-data-image white-lazy-bg"
               data-lazybg="true">
          </div>
        </div>        
      </div> {# .column #}            
    </div>      
  </div>
</section>
