{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large pad-bottom-small"
         id="intro-about-mdc">
  <div class="content">

    <p>
      {% blocktrans %}
      Mobile data collection is a method of compiling qualitative and quantitative information with the help of a mobile device (e.g.
      mobile phone, tablet, etc.). 
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      This approach has been proven to increase the speed and accuracy of data collection, service delivery effectiveness, and
      program staff performance. Features of mobile data collection, such as decision support, form logic, and checklists, improve the
      quality of the data collected, while also ensuring adherence to data collection and care protocols.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      While it is an effective medium, it is also important to treat mobile data collection the same as any other data collection program.<br>
      To make sure you’re ready, check out our <a href="https://www.dimagi.com/data-collection" target="_blank"><u> guide to data collection.</u></a>
      {% endblocktrans %}
    </p>

  </div>
</section>
