{% load i18n %}
{% load dimagidotcom %}

<section class="trial gap-top-medium blue-bg"
         id="trial">
  <div class="content pad-vert-medium">
    <div class="align-center gap-top-small white">
      <h3 class="white">
        {% blocktrans %}
         Download the complete guide to mobile data collection
        {% endblocktrans %}
      </h3>
      <p class="blog-contact">
        {% blocktrans %}
        There's so much more to mobile data collection than what we could include on this page.
        That's why we made a complete guide of more than thirty pages of advice, insights, tips, and examples.
        {% endblocktrans %}
      </p>
      <p class="align-center pad-top-small pad-bottom-medium">
        <a href="https://app.hubspot.com/forms/503070/editor/6d2f8b0a-f085-4a9a-be6e-383f02b1769f/edit/form"
           target="_blank"
           class="button white-bg">
          {% blocktrans %}
            <span class="slate">download the complete guide </span>
          {% endblocktrans %}
        </a>
      </p>
    </div>{# .intro #}


  </div>{# .content #}
</section>