{% extends "sections/commcare/product_features/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block quality_selected %}selected{% endblock %}

{% block content %}
  <div class="content-width-medium align-left">
    <div class="grid-2-at-medium gap-bottom-line pad-vert-small uppercase">
      <div class="column pad-left-small">
        <h4 class="blue">
          {% blocktrans %}
            Bhawna Mangla
          {% endblocktrans %}
        </h4>
        <strong>
          Senior Research Associate, Monitoring & Evaluation
        </strong>
      </div>{# .column #}
      <div class="column">
        <h4 class="blue">
          {% blocktrans %}
            Sehgal Foundation
          {% endblocktrans %}
        </h4>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}
    <p class="body-color">
      {% blocktrans %}
        CommCare gave us the ability to control the experience of our 
        field-based data collectors, which drastically reduced human error. 
        With paper-based forms, you can't really make your field staff 
        follow a strict protocol.
      {% endblocktrans %}  
    </p>
  </div>
{% endblock %}
