{% extends "sections/commcare/product_features/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block quality_selected %}selected{% endblock %}

{% block content %}
  <div class="content-width-medium align-left pad-horz-medium">
    <blockquote>
      <p class="body-color">
        {% blocktrans %}
          At all stages of our program – from the farmer's enrollment to input 
          delivery, money collection, inventory, and tracking – CommCare helps us 
          collect and manipulate highly-structured and quality data using case management 
          and structuring our organization with ease.
        {% endblocktrans %}  
      </p>
    </blockquote>
    <div class="grid-2-at-medium gap-bottom-line pad-top-base uppercase pad-left-base">
      <div class="column">
        <h5 class="blue">
          {% blocktrans %}
            Eyram Adzra
          {% endblocktrans %}
        </h5>
        <h5>
          {% blocktrans %}
            MyAgro
          {% endblocktrans %}
        </h5>
        <strong>
          Technical Product Manager
        </strong>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}
  </div>
{% endblock %}
