{% extends "sections/commcare/product/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block class_image %}image-sarah-baird{% endblock %}

{% block quote %}{% blocktrans %}
  This is a love letter from our organization to say thank you for helping
  us to gather data, refine programming, and spread the message about our
  impact in fighting global climate change and extreme poverty.
{% endblocktrans %}{% endblock %}

{% block cite %}{% blocktrans %}
  Sarah Baird, Executive Director, Let There Be Light International
{% endblocktrans %}{% endblock %}
