{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    Cooperative Farming
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    Dimagi’s management applications provide real time visibility into key data,
    such as how farmers are planting and harvesting their crops,
    to enable management teams to make strategic decisions.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Create applications that can assist in financial planning
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Mobile applications support on and offline data collection,
      facilitating record-keeping and enabling reports
      to be quickly shared with cooperative managers
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Multimedia allows for distribution of best practices amongst
      cooperative members for training when agricultural extension
      workers are not available. This also ensures consistency in produce.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Bulk selling, such as through out-grower schemes, can be virtually consolidated,
      allowing for cooperatives to achieve better margins by moving higher up
      the value-chain or even into international sales of high demand goods
    {% endblocktrans %}
  </li>
</ul>
