{% extends "sections/pillar/community_health_worker/chapter7/testimonials/_base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block content %}
  <div class="testimonial-content content-width-medium align-left">
    <blockquote>
      <p>
        {% blocktrans %}
          If a child comes for [a] consultation, we type his/her name and the
          name of his village, and we retrieve his history in a few seconds.
          This is impossible with the manual registry.
        {% endblocktrans %}  
      </p>
    </blockquote>
    <p class="orange uppercase">
      {% blocktrans %}
        Health Center Nurse for IeDA Project with Terre des hommes
      {% endblocktrans %}  
    </p>
  </div>
{% endblock %}
