{% load i18n %}
{% load dimagidotcom %}
<section class="advisory border-top" id="software">
  <div class="content pad-vert-medium">
    <div class="align-center">
      <h2 class="blue">
        {% blocktrans %}
          Software
        {% endblocktrans %}
      </h2>
      <h3>
        {% blocktrans %}
          All of CommCare’s open source code is freely accessible on Github
        {% endblocktrans %}
      </h3>
      <div class="software-section-commcare-logo gap-bottom-line">
        <img src="{% static 'pages/open_source/open_source_home/commcare-logo-black-rgb.svg'%}" alt="CommCare">
      </div>
      <ul class="open-source-software-links">
          <li><a href="http://github.com/dimagi/">Github Home ></a></li>
          <li><a href="https://dimagi.github.io/commcare-cloud/">Running a Production Instance of CommCare ></a></li>
      </ul>
    </div> {# .intro #}
  </div> {# .content #}
</section>
<section class="advisory">
  <div class="content">
    <div class="align-center">
      <h4>
        {% blocktrans %}
          CommCare’s two main components are CommCareHQ (Web) and CommCare Mobile.
        {% endblocktrans %}
      </h4>
    </div>
    <div class="grid-4-at-medium grid-align-center open-source-about-text pad-vert-small">
      <div class="column align-center">
        <div class="software-section-icon gap-bottom-line">
          <img src="{% static 'pages/open_source/open_source_home/commcare-laptop.png'%}">
        </div>
        <h4>CommCareHQ (Web)</h4>
        <ul class="open-source-software-links">
          <li><a href="https://github.com/dimagi/commcare-hq">Source Code ></a></li>
          <li><a href="https://commcare-hq.readthedocs.io">Documentation ></a></li>
          <li><a href="https://github.com/dimagi/commcare-hq/blob/master/DEV_SETUP.md">Developer Set up ></a></li>
        </ul>
      </div>
      <div class="column align-center">
        <div class="software-section-icon gap-bottom-line">
          <img src="{% static 'pages/open_source/open_source_home/commcare-mobile.png'%}">
        </div>
        <h4>CommCare Mobile</h4>
        <ul class="open-source-software-links">
          <li><a href="https://github.com/dimagi/commcare-android">Source Code ></a></li>
          <li><a href="https://github.com/dimagi/commcare-android/wiki">Documentation ></a></li>
          <li><a href="https://github.com/dimagi/commcare-android#setup">Developer Set up ></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
