{% extends "sections/contact/offices/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/countries/south_africa.html" %}
{% endblock %}

{% block city %}{% blocktrans %}
  Cape Town
{% endblocktrans %}{% endblock %}

{% block country %}{% blocktrans %}
  South Africa
{% endblocktrans %}{% endblock %}

{% block contact_info %}
  <li>
    Somerset Square, First Floor
  </li>
  <li>
    %% Somerset Rd
  </li>
  <li>
    Green Point
  </li>
  <li>
    Cape Town
  </li>
  <li>
    ZA 8001
  </li>
  <li>
    +27 21 461 4294
  </li>
  <li>
    info@dimagi.com
  </li>
{% endblock %}
