{% extends "sections/contact/offices/_base.html" %}
{% load i18n %}

{% block icon %}
  {% include "svg/countries/united_states.html" %}
{% endblock %}

{% block city %}{% blocktrans %}
  Washington, D.C.
{% endblocktrans %}{% endblock %}

{% block country %}{% blocktrans %}
  United States
{% endblocktrans %}{% endblock %}

{% block contact_info %}
  <li>
    1638 R street NW
  </li>
  <li>
    Suite 217
  </li>
  <li>
    Washington, DC 20009
  </li>
  <li>
    United States
  </li>
  <li>
    info@dimagi.com
  </li>
{% endblock %}
