{% load i18n %}
{% load dimagidotcom %}

<section  data-lazybg="true">
  <div id="benefits">
    <div class="content pad-top-medium pad-bottom-small">
      <h2 class="align-center">
        {% blocktrans %}
          Benefits of Mobile Data Collection in <br class="hide-until-medium"> Reproductive Health Programs
        {% endblocktrans %}
      </h2>
    </div> {# .content #}
  </div>
  <div class="content pad-bottom-medium">
    <div class="grid grid-2-at-large grid-1-at-medium grid-row-equal-heights ">
      <div class="column pad-top-small">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/icon4.html" %}
            </div> {# .theme-icon #}
          </div> {# .column .no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Case management allows CHWs and supervisors to register & track patients, pregnancies,
                rates of contraception, and family planning commodities.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/icon3.html" %}
            </div> {# .theme-icon #}
          </div> {# .column. no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Data validations and display conditions, or skip logic,both reduce time spent and
                increase the accuracy and completeness of data collection at the point of entry.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/mobile_icon.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Mobile apps support real-time data collection both online and offline, enabling
                counselors to provide appropriate messages based on the data collected.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/report_icon.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Applications allow clinics to report on suppliesin real time, improving commodity
                procurement and resulting in fewer stock outs.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
      <div class="column pad-top-small ">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/sms_icon.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                SMS features allow CHWs to communicate with patients to remind them of appointments
                and prescriptions and notify them of the stock outs.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
      <div class="column pad-top-small">
        <div class="grid-flex">
          <div class="column no-shrink">
            <div class="theme-icon">
              {% include "svg/sectors/benefit/multimedia_icon.html" %}
            </div> {# .theme-icon #}
          </div> {# .column.no-shrink #}
          <div class="column">
            <p>
              {% blocktrans %}
                Multimedia offers a more engaging counseling session and may help ease any discomfort
                around discussing the sensitive topics associated with reproductive health.
              {% endblocktrans %}
            </p>
          </div> {# .column #}
        </div> {# .grid-flex #}
      </div> {# .column .pad-top-small #}
    </div> {# .grid #}
  </div> {# .content .blue-theme #}
</section>
