{% load i18n %}

<div class="column">
  <div class="post {{ click_class }}">
    <div class="aspect-ratio-square
                gap-bottom-line
                post-thumbnail
                image {% block image %}{% endblock %}"
         data-lazybg="true"></div>

    <h6 class ="gap-bottom-base pad-bottom-none">
      {% block name %}{% endblock %}
    </h6>
      {% block description %}{% endblock %}
    <p class="gap-bottom-base">
      {% block area %}{% endblock %}
    </p>
    
    <a class="button-container gap-vert-none"
       target="_blank"
       href="{% block link %}{% endblock %}">
      <div class="align-left ">
        {% blocktrans %}
          Read More
        {% endblocktrans %}
      </div>{# .button #}
    </a>
  </div>
</div>{# .column #}
