{% extends "sections/careers/life/_base.html" %}
{% load dimagidotcom %}
{% load i18n %}

{% block link %}
  https://www.dimagi.com/blog/tech-team-summit-2022/
{% endblock %}

{% block image %}gtd-summit{% endblock %}

{% block name %}{% blocktrans %}
  Getting to Know Each Other: Tech Team Summit 2022
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  <p class="tech-team">
    Dimagi’s tech team holds its first in person summit in 4 years, 
    navigating its way to bringing together the team’s global workforce. 
  </p>
{% endblocktrans %}{% endblock %}

{% block area %}
  Glitter Chadhliwa
{% endblock %}
