{% extends "sections/careers/life/_base.html" %}
{% load dimagidotcom %}
{% load i18n %}

{% block link %}
  https://www.dimagi.com/blog/a-day-in-the-life-of-themba-nyirenda-senior-technical-project-analyst-solutions-division/
{% endblock %}

{% block image %}gtd-summit{% endblock %}

{% block name %}{% blocktrans %}
  A Day in the Life Of Themba Nyirenda
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  <p class="tech-team">
    Learn more about Dimagi’s Solutions Division through the eyes of a Senior Technical Project Analyst on the Delivery team.
  </p>
{% endblocktrans %}{% endblock %}

{% block area %}
  Nisreen Harianawala
{% endblock %}
