{% extends "sections/careers/life/_base.html" %}
{% load dimagidotcom %}
{% load i18n %}

{% block link %}
  https://www.dimagi.com/blog/commcare-in-the-classroom/
{% endblock %}

{% block image %}technology{% endblock %}

{% block name %}{% blocktrans %}
  CommCare in the Classroom
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  <p class="tech-world">
    Partnering with Universities to teach real-world digital skills for Global Development.
  </p>
{% endblocktrans %}{% endblock %}

{% block area %}
    Gabriella Stoudemire, Dev More
{% endblock %}
