{% load dimagidotcom %}

<section class="overview slate-theme"
         id="overview">
  <div class="content content-width-medium gap-vert-medium">
    <h2>Overview</h2>

    <p>
      The goal of the style guide is to help new developers &amp; designers working
      on dimagi.com to understand what design styles are available for use on
      the website.
    </p>

    <h3>
      Sizes
    </h3>

    <p>
      Learn about what content widths used and how to implement
      white spacing (padding and margins) design rules.
      <a href="{% url 'styleguide_sizes' %}">Read more about sizes.</a>
    </p>

    <h3>
      Grids  &amp; Columns
    </h3>

    <p>
      Learn about our grid system and how to arrange and align blocks of content.
      <a href="{% url 'styleguide_grid' %}">Read more about grids &amp; columns.</a>
    </p>

    <h3>
      Colors &amp; Themes
    </h3>

    <p>
      Learn about our color palette and how to apply color accents and themes to content.
      <a href="{% url 'styleguide_colors' %}">Read more about colors &amp; themes.</a>
    </p>


  </div>{# .content #}
</section>
