{% load i18n %}
{% load dimagidotcom %}

<div class="accordion-group"
     id="chapter-accordion">
  <div class="accordion">
    <div class="accordion-custom-header">
      <p class="accordion button white normalcase">
        {% blocktrans %}
          Community health workers programs can improve health outcomes
        {% endblocktrans %}
      </p>
    </div>
    <div class="grid-flex accordion-custom-content pad-vert-small pad-horz-small">
      <div class="column">
        <div class="community-image-accordion white-lazy-bg gap-top-small gap-bottom-line"
             data-lazybg="true"></div>
      </div>
      <div class="column">
        <h4 class="purple">
          {% blocktrans %}
            Community health workers programs can improve health outcomes
          {% endblocktrans %}
        </h4>
        <b>
          {% blocktrans %}
            Outcomes of Community Health Worker Interventions
          {% endblocktrans %}
        </b>
        <blockquote>
          <p class="purple">
            {% blocktrans %}
              CHWs can serve as a means of improving outcomes for underserved
              populations for some health conditions.
            {% endblocktrans %}
          </p>
        </blockquote>
        <p>
          {% blocktrans %}
            A literature review by RTI International found that a community health
            worker model will improve health outcomes for underserved or
            low-resource communities depending on the health conditions they face.
            For instance, CHW interventions were found to have the greatest effect
            compared to alternatives when used for disease prevention, asthma
            management, cervical cancer screening, and mammography screening outcomes.
          {% endblocktrans %}
        </p>
        <p>
          <a href="#"
             class="button button-accent-gray arrow purple read-more"
             target="_blank">
            {% blocktrans %}
              Learn More
            {% endblocktrans %}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
