{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-medium pad-bottom-small">
  <div class="content content-width-large">

    {% include "sections/pillar/community_health_worker/chapter4/accordion1.html" %}
    {% include "sections/pillar/community_health_worker/chapter4/accordion2.html" %}
    {% include "sections/pillar/community_health_worker/chapter4/accordion3.html" %}
    {% include "sections/pillar/community_health_worker/chapter4/accordion4.html" %}

  </div>{# .content #}
</section>
