<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="7.73334" y="8" width="54.5333" height="51" rx="2.39181" stroke="black" stroke-width="2"></rect>
  <path d="M6.73334 21.1334H62.0889" stroke="black" stroke-width="2"></path>
  <path d="M25.8119 30.8929L16.8236 39.8812L25.8119 48.8696" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  <path d="M43.7885 30.8929L52.7768 39.8812L43.7885 48.8696" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  <path d="M38.7951 27.8968L30.8055 52.365" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
