{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/sectors/sectors.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block body_class %}sectors-page tucked-hero{% endblock %}

{% block hero %}
  <div class="{{ sector.area.theme }}">
    <section class="hero"
             id="hero">
      <div class="content content-width-large inverted align-center
                  display-flex flex-valign-middle expand-vertical
                  offset-top-small flex-align-center">
        <div class="copy expand position-relative">

          <h2 class="gap-bottom-line">
            {% blocktrans %}
              Sectors
            {% endblocktrans %}
          </h2>

          <h1>
            {{ sector.name }}
          </h1>

          <p class="headline content-width-small">
            {{ sector.summary }}
          </p>{# .headline #}

        </div>{# .copy #}
      </div>{# .content #}
    </section>
  </div>
{% endblock %}

{% block content %}
  <section class="sections-container {{ sector.area.theme }}">
    {% include "sectors/sections/sub_nav.html" %}
    {% include sector.template%}
    {% include "sectors/sections/slides.html" %}
    {% if sector.projects %}
      {% include "sectors/sections/projects.html" %}
    {% endif %}
    {% if sector.case_studies %}
      {% include "sectors/sections/case_studies.html" %}
    {% endif %}
    {% if sector.additional_resources %}
      {% include "sectors/sections/additional_resources.html" %}
    {% endif %}
  </section>
{% endblock %}
