{% load i18n %}
{% load dimagidotcom %}

<section class="how-commcare-works border-top" id="how-commcare-works">
  <div class="content pad-vert-medium">
    <div class="intro content-width-small">
      <h4>
        {% blocktrans %}
          How CommCare Works
        {% endblocktrans %}
      </h4>
      <p>
        {% blocktrans %}
          Let's add some more descriptive text here to give just a brief
          overview of what we'll discuss in the bullet point sections below.
        {% endblocktrans %}
      </p>
    </div>{# .intro #}
    {% include "sections/products/commcare/how_commcare_works/app_builder.html" %}
    {% include "sections/products/commcare/how_commcare_works/collect_data.html" %}
    {% include "sections/products/commcare/how_commcare_works/analyze_data.html" %}
  </div> {# .content #}
{#  <div class="image off-grid"></div>#}
</section>
