{% load i18n %}
{% load dimagidotcom %}

<section class="drive-impact accent-gray-bg"
         id="impact">
  <div class="content pad-vert-medium border-top align-center">
    <div class="intro">
      <h2 class="blue">
        {% blocktrans %}
          Drive Impact With CommCare
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          How our customers are using CommCare's mobile data collection platform for good.
        {% endblocktrans %}
      </p>
    </div>
    <div class="grid-2-at-medium grid-4-at-large grid-row-equal-heights gap-bottom-small">
      {% include "sections/products/commcare/impact/child_health.html" with theme="blue" %}
      {% include "sections/products/commcare/impact/agriculture.html" with theme="blue" %}
      {% include "sections/products/commcare/impact/malaria.html" with theme="blue" %}
      {% include "sections/products/commcare/impact/retail.html" with theme="blue" %}
    </div>
    <a class="arrow"
       href="#todo">
      {% blocktrans %}
        See our research
      {% endblocktrans %}
    </a>
  </div>
</section>
