{% load i18n %}
{% load dimagidotcom %}

<section class="testimonials border-top"
         id="testimonials">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Testimonials
        {% endblocktrans %}
      </h2
    </div>{# .intro #}
  </div>{# .content #}

  <div class="carousel pad-bottom-small">
    <div class="carousel-container">
      <div class="spinner spinner-large"></div>
      <div class="carousel-slider">

        {% include "sections/products/commcare/testimonials/ag_impact.html" %}
        {% include "sections/products/commcare/testimonials/nou_kod.html" %}
        {% include "sections/products/commcare/testimonials/delivery_services.html" %}
        {% include "sections/products/commcare/testimonials/cleaning_data.html" %}

      </div>{# .carousel-slider #}
    </div>{# .carousel-container #}
  </div>{# .carousel #}
</section>
