{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-small slate-theme">
  <div class="content">
    <h2 class="event-resources align-center pad-bottom-line">
      {% blocktrans %}
        Events
      {% endblocktrans %}
    </h2>
    <div class="feature-projects gap-top-small pad-bottom-small">
        <div class="grid-flex-at-medium">
          <div class="date-block feature-partner-im-saf column pad-top-medium-at-medium flex-align-left-at-large align-center">
            <h5 class="gap-vert-none-at-medium pad-top-line">
              {% blocktrans %}
                September 30, 2021
              {% endblocktrans %}
            </h5>
          </div>
          <div class="column display-flex-at-medium pad-left-small-at-medium pad-vert-line-at-large pad-vert-small pad-left-line align-center gap-bottom-none accent-gray-bg">
            <div class="align-left-at-medium align-center next-video-block pad-vert-line">
              <h5>
                {% blocktrans %}
                  What Interoperability Actually Means
                {% endblocktrans %}
              </h5>
              <p class="pad-right-line">
                {% blocktrans %}
                  The way your project looked at the start isn't what it looks like today. 
                  We know organisational needs evolve over time, from new and larger projects 
                  to changes in reporting requirements. The only way to be sure that your 
                  team can stay ahead of these changes is with an adaptable, ecosystem-driven 
                  approach. In this lively panel discussion, our partners from Trocaire, MSI, 
                  and Global Communities discuss how interoperability and integrations can 
                  grow your long-term impact.
                {% endblocktrans %}
              </p>
            </div>
            <p class="watch-next-review button align-center gap-vert-large-at-medium gap-top-small gap-right-small">
              {% trans 'View Webinar' as video_text %}
              {% include "partials/wistia_popover.html" with wistia_id='hmzenq3684' text=video_text white_class='white' %}
            </p>
          </div>
        </div>
      </div>{# .feature-projects #}
    <div class="feature-projects gap-top-small pad-bottom-small">
      <div class="grid-flex-at-medium">
        <div class="date-block feature-partner-im-saf column pad-top-medium-at-medium flex-align-left-at-large align-center">
          <h5 class="gap-vert-none-at-medium pad-top-small">
            {% blocktrans %}
              24 June, 2021
            {% endblocktrans %}
          </h5>
        </div>
        <div class="column display-flex-at-medium pad-left-small-at-medium pad-vert-line-at-large pad-vert-small pad-left-line align-center gap-bottom-none accent-gray-bg">
          <div class="align-left-at-medium align-center next-video-block pad-vert-line">
            <h5>
              {% blocktrans %}
                Optimize your global rollout of CommCare
              {% endblocktrans %}
            </h5>
            <p class="pad-right-line">
              {% blocktrans %}
                In this webinar, we will hear from International Rescue Committee 
                (IRC) and Catholic Relief Services (CRS) about their global rollout 
                of CommCare Enterprise. Why they did it and how they did it—with 
                some priceless lessons learned along the way.
              {% endblocktrans %}
            </p>
          </div>
          <p class="watch-next-review button align-center gap-top-medium gap-right-small button-webinar">
            {% trans 'View Webinar' as video_text %}
            {% include "partials/wistia_popover.html" with wistia_id='g1h9q6353u' text=video_text white_class='white' %}
          </p>
        </div>
      </div>
    </div>{# .feature-projects #}

    <div class="align-center pad-top-small">
      <a class="arrow"
         href="{% url 'webinar_home' %}">
        {% blocktrans %}
          view all webinars
        {% endblocktrans %}
      </a>
    </div>
  </div>{# .content #}
</section>
