{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-small pad-bottom-small slate-theme">
  <div class="content">
    <h2 class="event-resources align-center pad-bottom-line">
      {% blocktrans %}
        Events
      {% endblocktrans %}
    </h2>
    <div class="feature-projects gap-top-small pad-bottom-small">
        <div class="grid-flex-at-medium">
          <div
            class="date-block feature-partner-im-saf column pad-top-medium-at-medium flex-align-left-at-large align-center">
            <h5 class="gap-vert-none-at-medium pad-top-line">
              {% blocktrans %}
                June 23, 2022
              {% endblocktrans %}
            </h5>
          </div>
          <div
            class="column display-flex-at-medium pad-left-small-at-medium pad-vert-line-at-large pad-vert-small pad-left-line align-center gap-bottom-none accent-gray-bg">
            <div class="align-left-at-medium align-center next-video-block pad-vert-line">
              <h5>
                {% blocktrans %}
                  From Studies to Practice: Building Digital Solutions to Advance Frontline Research
                {% endblocktrans %}
              </h5>
              <p class="pad-right-line">
                {% blocktrans %}
                  Rigorous research is indispensable for understanding and building better
                  solutions to global development challenges –– and so is the translation
                  of research from studies to programs at scale. How do digital solutions
                  accelerate the translation of frontline research? What are common challenges
                  associated with frontline research and how can we overcome them? Learn from
                  research practitioners with University of California, San Francisco and
                  Yale School of Public Health and hear the official launch of the CommCare
                  Grant for Advancing Frontline Research.
                {% endblocktrans %}
              </p>
            </div>
            <p class="watch-next-review button align-center gap-vert-large-at-medium gap-top-small gap-right-small">
              {% trans 'View Webinar' as video_text %}
              {% include "partials/wistia_popover.html" with wistia_id='lwacafe3gy' text=video_text white_class='white' %}
            </p>
          </div>
        </div>
      </div>{# .feature-projects #}
    <div class="feature-projects gap-top-small pad-bottom-small">
      <div class="grid-flex-at-medium">
        <div
          class="date-block feature-partner-im-saf column pad-top-medium-at-medium flex-align-left-at-large align-center">
          <h5 class="gap-vert-none-at-medium pad-top-small">
            {% blocktrans %}
              March 31, 2022
            {% endblocktrans %}
          </h5>
        </div>
        <div
          class="column display-flex-at-medium pad-left-small-at-medium pad-vert-line-at-large pad-vert-small pad-left-line align-center gap-bottom-none accent-gray-bg">
          <div class="align-left-at-medium align-center next-video-block pad-vert-line">
            <h5>
              {% blocktrans %}
                How to Build Data Democracy With an Analytics Ecosystem
              {% endblocktrans %}
            </h5>
            <p class="pad-right-line">
              {% blocktrans %}
                Too often, data collection programs yield valuable data
                to only a few stakeholders at the HQ level. With Data
                Democracy, more people gain access to actionable insights, enabling
                your organization to unlock more value from your data. Hear from
                our partners that have developed better reporting and analytics
                tools to democratize data in their own organizations.
              {% endblocktrans %}
            </p>
          </div>
          <p class="watch-next-review button align-center gap-top-medium gap-right-small button-webinar">
            {% trans 'View Webinar' as video_text %}
            {% include "partials/wistia_popover.html" with wistia_id='uahen8i6un' text=video_text white_class='white' %}
          </p>
        </div>
      </div>
    </div>{# .feature-projects #}

    <div class="align-center pad-top-small">
      <a class="arrow" href="{% url 'webinar_home' %}">
        {% blocktrans %}
          view all webinars
        {% endblocktrans %}
      </a>
    </div>
  </div>{# .content #}
</section>
