{% load i18n %}
{% load dimagidotcom %}

<section class="next-steps"
         id="objectives">
  <div class="content-width-large pad-vert-small align-center">

    <div class="grid grid-3-at-large grid-row-space-small grid-col-space-medium grid-row-equal-heights">
      {% include "sections/resources/next_steps/getting_started.html" %}
      {% include "sections/resources/next_steps/press.html" %}
      {% include "sections/resources/next_steps/help.html" %}
    </div>{# .grid-3-at-medium #}

  </div>{# .content #}
</section>
