<div class="grid-3-at-medium grid-col-space-medium">

  <div class="column">
    {% include 'partials/footer/nav_section/software_products.html' with slug="software" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/services.html' with slug="services" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/resources.html' with slug="resources" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/about.html' with slug="about" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/help.html' with slug="help" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/legal.html' with slug="legal" %}
  </div>{# .column #}

</div>{# .grid-2-at-large #}
