<div class="grid-5-at-medium grid-col-space-small">

  <div class="column">
    {% include 'partials/footer/nav_section/products_and_software.html' with slug="software" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/resources.html' with slug="resources" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/about.html' with slug="about" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/help.html' with slug="help" %}
  </div>{# .column #}

  <div class="column">
    {% include 'partials/footer/nav_section/legal.html' with slug="legal" %}
  </div>{# .column #}

</div>{# .grid-5-at-medium #}
