{% load i18n %}
{% load dimagidotcom %}

<section class="webinar align-center pad-bottom-line blue-theme"
         id="webinar">
  <div class="content-width-large pad-bottom-line">
    <div class="content-width-large pad-bottom-small">
      <h2 class="gap-top-medium">
        {% blocktrans %}
          Adding New Functionality to Your CommCare Application
        {% endblocktrans %}
      </h2>
    </div>{# .content-width-large #}
  
    <div class=" content-width-large off-grid white-lazy-bg"
         data-lazybg="true">
      <div class="wistia-container image webinar-new-function-video">
        {% include "partials/wistia_popover.html" with wistia_id='335ho8hr1a' play_icon_medium=True show_image=True %}
      </div>{# .wistia-container #}
      <h6 class="content-width-large blue align-left pad-top-small pad-left-line">
        {% blocktrans %}
          Published: July 9, 2020
        {% endblocktrans %}
      </h6>
    </div>{# .off-grid #}
    <div class="grid-4-at-large">
      <div class="column column-width-3-at-large pad-top-small align-left pad-left-small">
        <div class="border-right-at-medium">
          <h6 class="slate">
            {% blocktrans %}
              About
            {% endblocktrans %}
          </h6>
          <p class="pad-right-line">
            {% blocktrans %}
              Projects change and adapt throughout the course of their life 
              cycle, and so do your organization’s needs. Learn how to build 
              and add in new functionality to an existing CommCare application, 
              so your application becomes as dynamic as your projects and 
              workforce. Our Customer Success team will take you through 
              several real-world examples of applications that added 
              new features into their apps.
            {% endblocktrans %}
          </p>
        </div>
      </div>{# .column #}
    </div>{# .grid-2 #}

  </div>{# .content-width-large #}
</section>
