{% extends "sections/commcare/pricing/faq/_base.html" %}
{% load i18n %}

{% block question %}{% blocktrans %}
  How will I be charged for SMS fees?
{% endblocktrans %}{% endblock %}

{% block answer %}{% blocktrans %}
  Dimagi charges incoming and outgoing messages on a per-message fee
  for both Dimagi's gateway and your own Android gateways. Learn more
  about SMS pricing
  <a href="https://help.commcarehq.org/display/commcarepublic/SMS+Basics"
     target="_blank">here</a>.
{% endblocktrans %}{% endblock %}
