{% load i18n %}
{% load dimagidotcom %}

<div class="grid grid-4-at-large grid-1-at-medium gap-top-small grid-row-equal-heights ">
  <div class="column">
    <div class="pad-bottom-base white-bg">
      <div class="feature-partner-ss column pad-small gap-base flex-align-center accent-gray-bg">
        <div class="image" data-lazybg="true"></div>
      </div>
      <div class="pad-line">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          <strong>
            {% blocktrans %}
              SIGHTASAVERS
            {% endblocktrans %}
          </strong>
        </h6>
        <p>
          {% blocktrans %}
            Sightsavers is a Senegalese company that delivers specialized 
            services in IT, statistics, and econometrics. 
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="arrow" href="https://oikoi.io/" target="_blank">
            {% blocktrans %}
              Contact
            {% endblocktrans %}
          </a>
        </p>
      </div> {# .pad-line #}
    </div> {# .white-bg #}
  </div> {# .column #}
  <div class="column">
    <div class="pad-bottom-base white-bg">
      <div class="feature-partner-tula column gap-base pad-small accent-gray-bg flex-align-center ">
        <div class="image" data-lazybg="true"></div>
      </div>
      <div class="pad-line">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          <strong>
            {% blocktrans %}
              TULA FOUNDATION
            {% endblocktrans %}
          </strong>
        </h6>
        <p>
          {% blocktrans %}
          NouKòd (means “We Code” in Haitian Creole) is a mission driven startup
          dedicated to creating technology jobs in Haiti.
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="arrow" href="https://noukod.com/" target="_blank">
            {% blocktrans %}
              Contact
            {% endblocktrans %}
          </a>
        </p>
      </div> {# .pad-line #}
    </div> {# .white-bg #}
  </div> {# .column #}
  <div class="column">
    <div class="pad-bottom-base white-bg">
      <div class="feature-partner-child-fund column gap-base pad-small accent-gray-bg flex-align-center">
        <div class="image" data-lazybg="true"></div>
      </div>
      <div class="pad-line">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          <strong>
            {% blocktrans %}
              CHILD FUND
            {% endblocktrans %}
          </strong>
        </h6>
        <p>
          {% blocktrans %}
          Illitmus uses CommCare as part of their Reducing Maternal and Newborn
          Deaths (ReMiND) project to improve the delivery of community-level
          prenatal and postnatal care.
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="arrow" href="https://www.illimitis.com/" target="_blank">
            {% blocktrans %}
              Contact
            {% endblocktrans %}
          </a>
        </p>
      </div> {# .pad-line #}
    </div> {# .white-bg #}
  </div> {# .column #}
  <div class="column">
    <div class="pad-bottom-base white-bg">
      <div class="feature-partner-goal column gap-base pad-small accent-gray-bg flex-align-center">
        <div class="image" data-lazybg="true"></div>
      </div>
      <div class="pad-line">
        <h6 class="uppercase theme-color align-left pad-bottom-base">
          <strong>
            {% blocktrans %}
              GOAL
            {% endblocktrans %}
          </strong>
        </h6>
        <p>
          {% blocktrans %}
          Illitmus uses CommCare as part of their Reducing Maternal and Newborn
          Deaths (ReMiND) project to improve the delivery of community-level
          prenatal and postnatal care.
          {% endblocktrans %}
        </p>
        <p class="align-left">
          <a class="arrow" href="https://www.illimitis.com/" target="_blank">
            {% blocktrans %}
            Contact
            {% endblocktrans %}
          </a>
        </p>
      </div> {# .pad-line #}
    </div> {# .white-bg #}
  </div> {# .column #}
</div>{# .grid #}
