{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a href="https://sites.dimagi.com/blog/commcare-provider-program?_ga=2.98858139.427522035.1677066722-228128125.1626699913"
         class="hide-until-large"
         target="_blank">
        {% blocktrans %}
          Become a CommCare Provider
        {% endblocktrans %}
      </a>

    </div>{# .actions #}
    <a class="prompt-link "
       href="#"
       data-bind="click: closeFilters">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="https://sites.dimagi.com/blog/commcare-provider-program?_ga=2.98858139.427522035.1677066722-228128125.1626699913"
           class="hide-at-medium"
           target="_blank">
          {% blocktrans %}
            Become a CommCare Provider
          {% endblocktrans %}
        </a>
        <a href="{% url 'partners' %}">
          {% include "svg/blog/icon/nav/home.html" %} {% trans "Home" %}
        </a>
        <a href="#"
           class="toggle-filters"
           data-bind="click: toggleFilters, css: { 'has-filters': showHasFiltersAlert}">
          {% include "svg/blog/icon/nav/filter.html" %} {% trans "Filter" %}
        </a>
        <div class="search-bar-container">
          <input type="text" placeholder="{% trans "Search..." %}" data-bind="textInput: searchTerm, event: {keypress: submitSearchOnEnter}" /><button type="button" data-bind="click: submitSearch">{% include "svg/blog/icon/nav/search.html" %}</button>
        </div>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
  {% include 'sections/commcare_providers/filter_nav.html' %}
</section>
