{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}
  {{ area.title }} - CommCare Quick Start Guide
{% endblock %}

{% block description %}
  {{ area.description }}
{% endblock %}

{% block body_class %}quick-starts-page-single tucked-hero{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/quick_start.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
<section class="hero hero-quick-starts"
         data-lazybg="true"
         id="hero">
  <div class="content content-width-large inverted align-center display-flex flex-valign-middle expand-vertical offset-top-small flex-align-center">
    <div class="copy expand position-relative">

      <h2 class="pad-bottom-line commcare-title">
        {% include "svg/commcare/logo.html" %} Quick Start Guides
      </h2>
      <h1 class="guide-title">
        {{ area.title }}
      </h1>

{#      <h4 class="selected selected-card gap-bottom-line pad-base">#}
{#        <div class="words">#}
{#          Select your <strong>goal</strong>#}
{#        </div>#}
{#      </h4>#}
{#      <ul class="tile pad-none reset selector card-selector pad-vert-base charcoal-muted">#}
{#        <li class="pad-horz-small pad-vert-base" data-gpv="under-250k" data-gpv-text="Under $250K per year">#}
{#          <div class="h4 font-weight-medium gap-bottom-none">Under $250K per year</div>#}
{#        </li>#}
{#        <li class="pad-horz-small pad-vert-base" data-gpv="over-250k" data-gpv-text="Over $250K per year">#}
{#          <div class="h4 font-weight-medium gap-bottom-none">Over $250K per year</div>#}
{#        </li>#}
{#      </ul>#}

      <div class="headline content-width-small">
        {{ area.description }}
      </div>{# .headline #}

    </div>{# .copy #}
  </div>{# .content #}
</section>
{% endblock %}

{% block content %}
  <section class="quick-starts-container blue-theme">
    {% include 'sections/quick_start/cards.html' %}
    {% include 'sections/quick_start/commcare_in_action.html' %}
    {% include 'sections/quick_start/see_all_quickstarts.html' %}
  </section>
{% endblock %}

{% block js %}
{% endblock %}
