{% extends "snippets/pricing_tile.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block name %}{% blocktrans %}
  Pro
{% endblocktrans %}{% endblock %}

{% block price %}{% blocktrans %}
  $500 per month
{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans %}
  Ideal for projects that need a complete mobile solution
  with data management tools, and access to priority
  email support.
{% endblocktrans %}{% endblock %}

{% block link %}
  #todo
{% endblock %}

{% block button_text %}{% blocktrans %}
  Learn More
{% endblocktrans %}{% endblock %}
