{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-bottom-small"
         id="build-your-outline-and-fill">
  <div class="content content-width-medium pad-right-small">
    <div class="grid grid-flex-at-small grid-valign-middle pad-bottom-line">
      <div class="column lign-center align-left-at-small">
        <h3 class="display-block theme-color">
          {% blocktrans %}
            Interviews <br class="hide-until-medium" />
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            Interviews can be based on a common set of questions, like a survey, but they allow for more flexibility in the responses.
            The organic insights gleaned from interviews can give you answers to questions you didn’t even think to ask.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}
    <div class="grid grid-flex-at-small grid-valign-middle pad-bottom-line">
      <div class="column no-shrink">
        <div class="theme-icon dc-icon align-center align-left-at-small">
          {% include "svg/pillar/dc/chapter3/individual_interview.html" %}
        </div>
      </div>{# .column #}
      <div class="column pad-left-small">
        <p>
          <strong class="display-block theme-color">
            {% blocktrans %}
              Individual Interviews
            {% endblocktrans %}
          </strong>
        </p>
      </div>{# .column #}
      <div class="column pad-left-small">
        <p>
          {% blocktrans %}
            Individual interviews are relatively self-explanatory. An individual with experience in the topic you are curious about answers questions
            from the data collection team. Individual interviews can be a good way to start other types of data collection programs,
            especially when you are trying to figure out the right question to ask on something like a survey.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}
    <div class="grid grid-flex-at-small grid-valign-middle pad-bottom-line">
      <div class="column no-shrink">
        <div class="theme-icon dc-icon align-center align-left-at-small">
          {% include "svg/pillar/dc/chapter3/focus_group.html" %}
        </div>
      </div>{# .column #}
      <div class="column pad-left-small">
        <p>
          <strong class="display-block theme-color">
            {% blocktrans %}
              Focus Groups
            {% endblocktrans %}
          </strong>
        </p>
      </div>{# .column #}
      <div class="column pad-left-line">
        <p class="pad-left-small">
          {% blocktrans %}
            Focus groups are like group interviews, often including a stimulus for discussion. Focus group leaders will prompt the group with a set
            of questions or statements and gather the reflections of the group. It’s a good way to quickly compare reactions or information from
            representative sources and an opportunity to see how group dynamics might affect an individual’s reaction.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid #}
  </div>
</section>
