{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-vert-small"
         id="plan-for-development">
  <div class="content  content-width-medium">

    <h2>
      {% blocktrans %}
      How data requirements inform method selection
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
      The data you mean to collect should inform everything about your program – especially the method of data collection you intend to use. The characteristics of those data will mean different things for that decision, and each method has different strengths and weaknesses: How often you plan to collect data will tell you whether you need one-off surveys or a case management system. The scale of your data collection program can help you figure out whether you can get away with a simple paper-based program or if you would benefit from a mobile data collection or IVR program. Any technical inputs will probably require outside tools (i.e. heart rate monitors, GPS locators, etc.).
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      Your data will tell you a lot – almost everything – about the tools you’ll need to collect them. Review the characteristics of each variable to make sure the method you choose will actually help you collect it.
      {% endblocktrans %}
    </p>

    <div class="agile-image white-lazy-bg gap-vert-small"
         data-lazybg="true"></div>

    <p class="align-center">
      {% blocktrans %}
      Align with your team on your approach to app development – we recommend Agile.
      {% endblocktrans %}
    </p>     


  </div>
</section>
