{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-none pad-bottom-medium"
         id="summary-of-techniques">
  <div class="content content-width-medium">

    <h2 class="pad-top-small">
      {% blocktrans %}
        Summary of techniques
      {% endblocktrans %}
    </h2>

    <p>
      {% blocktrans %}
        There are so many different methods of collecting data available today. The following are just a selection:
      {% endblocktrans %}
    </p>
  </div>
</section>
