{% load i18n %}
{% load dimagidotcom %}

<section class="epic-content pad-top-large">
  <div class="content content-width-medium">

    <p class="first-letter pad-bottom-small">
      {% blocktrans %}
        The entire purpose of a data collection program is the data, but it doesn’t collect itself.
        There are many options to choose from for how to approach this problem, and each one has strengths in a different area.
        The type of data you are looking to collect, as well as the characteristics of its source and environment, should all inform
        what method of data collection makes the most sense for your program. 
      {% endblocktrans %}
    </p>   

  </div>
</section>
