{% extends "base.html" %}
{% load i18n %}
{% load dimagidotcom %}

{% block title %}{% blocktrans %}
  Learn how to build a global M&E system
{% endblocktrans %}{% endblock %}

{% block stylesheets %}
  {% compress css %}
    <link href="{% sass_src 'style/pages/webinar/view_single.scss' %}" rel="stylesheet" media="screen" type="text/css" />
  {% endcompress %}
{% endblock %}

{% block hero %}
  <div class="orange-theme">
    <section class="hero" id="hero"></section>
  </div>
{% endblock %}

{% block content %}
  <section class="case-studies-container">
    {% include 'sections/webinar/global-me/intro.html' %}
    {% include 'sections/webinar/global-me/speakers.html' %}
    {% include 'sections/webinar/global-me/featuring.html' %}
    {% include 'sections/webinar/global-me/social-link.html' %}
    {% include 'sections/webinar/global-me/contact.html' %}
  </section>
{% endblock %}

{% block js %}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "503070",
      formId: "30bdca5c-def2-4479-af70-9f6b0455f312",
      target: "#global-cta-form-container",
      css: "",
    });
  </script>
{% endblock %}
