<div class="partners js-partners-web display-block-at-medium hide pad-vert-small">
  <div class="grid-6">
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/newyork.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/newjersey.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/sanfrancisco.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/alaska.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/philadelphia.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/navajonation.html" %}
      </div>
    </div>
  </div>{# .grid-6 #}
</div>

<div class="partners js-partners-mobile hide-at-medium gap-vert-medium gap-vert-none-at-small">
  <div class="grid-2 grid-4-at-small grid-row-space-small">
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/newyork.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/newjersey.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/sanfrancisco.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/alaska.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/philadelphia.html" %}
      </div>
    </div>
    <div class="column">
      <div class="partner-logo current">
        {% include "svg/us_covid_19/navajonation.html" %}
      </div>
    </div>
  </div>{# .grid-2 #}
</div>
