{% load i18n %}
{% load dimagidotcom %}

<section id="intro"
         class="blue-theme border-bottom"
         data-lazybg="true">
  <div class="content pad-vert-medium">
    <div class="grid grid-2-at-medium grid-1-at-small grid-reverse">
      <div class="column" id="case-study">
        <div class="align-center">
          <div class="intro-image intro-hero-image pad-top-medium-at-medium pad-top-small white-lazy-bg" data-lazybg="true">
            <div class="pad-top-medium gap-top-base">
              {% include "partials/wistia_popover.html" with wistia_id='gl3bzwgn35' play_icon_medium=True show_image=True %}
            </div>
          </div>
        </div>
      </div> {# .column #}
      <div class="column pad-top-base">
        <strong>
          {% blocktrans %}
            Our CommCare Enterprise offering allows INGOs to unlock all of 
            CommCare’s features across every country office.
          {% endblocktrans %}
        </strong>
        <p class="pad-top-line">
          {% blocktrans %}
            You’re familiar with what CommCare can do for your data collection 
            and service delivery needs. With CommCare Enterprise, you’ll move 
            beyond project-level administration and create an 
            organisation-wide success story.

          {% endblocktrans %}
        </p>
        <div class="align-left pad-top-small">
          <a class="button"
              href="#set-up-call-enterprise">
            {% blocktrans %}
              Let's talk
            {% endblocktrans %}
          </a>
          <p class="button white">
            {% trans 'Watch IRC story' as video_text %}
            {% click_hero 'video' as video_click_class %}
            {% include "partials/wistia_popover.html" with wistia_id='gl3bzwgn35' show_play=False text=video_text click_class=video_click_class %}
          </p>
        </div>
      </div>{# .column #}
    </div>
  </div>
</section>
