{% load i18n %}
{% load dimagidotcom %}

<section class="overview align-center blue-theme white-bg border-top" id="overview">
  <div class="content pad-top-medium pad-bottom-small">
    <div class="grid-3-at-medium grid-row-space-small pad-top-line grid-col-space-medium">
      {% include "sections/commcare/enterprise/projects/step_1.html" %}
      {% include "sections/commcare/enterprise/projects/step_2.html" %}
      {% include "sections/commcare/enterprise/projects/step_3.html" %}
    </div>{# .grid-2-at-small #}
  </div>{# .content #}
</section>
