{% load i18n %}
{% load dimagidotcom %}

<section class="company-info border-bottom"
         id="company-info">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Company Information
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <div class="grid-2-at-medium grid-reverse gap-bottom-line">
      <div class="column pad-left-small">
        <h3>
          {% blocktrans %}
            Social Impact is in Our DNA
          {% endblocktrans %}
        </h3>
        <p>
          {% blocktrans %}
            Dimagi was founded in 2002 out of the MIT Media Lab and the
        Harvard-MIT Health Sciences and Technology programs. While volunteering
        for an MIT course developing technology for Africa, Jonathan Jackson,
        co-founder and CEO, met Dr. Vikram Kumar, co-founder and chief medical
        officer, who was completing his MD/MS at Harvard-MIT and working on an
        early version of Dimagi.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Vikram wanted to build a company that combined global health and
        technology, but had realized informatics consulting was premature in
        the industry. Instead, Vikram and Jonathan focused on developing open
        source software for low-resource settings, building some of the first
        mobile solutions for frontline health programs in developing countries.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Today, Dimagi continues to operate on the foundation that mobile
        solutions are key to improving the quality and efficiency of global
        development programs. While we got our start in healthcare, we work
        across sectors today with organizations of all sizes and have
        supported over 600 projects.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Dimagi is a recognized social enterprise,
            <a href="https://bcorporation.net/"
               target="_blank">B Corp</a>, and certified
            Benefit Corporation, reflecting our commitment to making an
            impact.
            <a href="https://cdn2.hubspot.net/hubfs/503070/2018-03-13%20-%20Dimagi%20-%20MA%20Annual%20Report%20to%20Secretary%20of%20State.pdf"
               target="_blank">View our Annual Benefit Report</a>.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
      <div class="column">
        {% include "sections/about/company_info/grid.html" %}
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}

  </div> {# .content #}
</section>
