{% load i18n %}
{% load dimagidotcom %}

<section class="management accent-gray-bg border-vert"
         id="executive-committee">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h2>
        {% blocktrans %}
          Managing Directors &amp; Regional Leadership
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <div class="grid-4-at-large grid-3-at-medium grid-2-at-small grid-row-equal-heights gap-bottom-none team-grid">
      {% for employee in directors %}
        {% include "partials/team_card.html" with extra_slug="director" use_alt_title='yes' %}
      {% endfor %}
    </div>

    <p class="align-center gap-top-small gap-bottom-base">
      <a class="arrow {% click_body 'see-employees' %}" href="{% url 'team' %}">
        {% blocktrans %}
          See all Dimagi employees
        {% endblocktrans %}
      </a>
    </p>

  </div> {# .content #}
</section>
