{% load i18n %}
{% load dimagidotcom %}

<section class="impact"
         id="our_impact">
  <div class="content pad-vert-medium">
    <div class="align-center gap-bottom-small">
      <h2>
        {% blocktrans %}
          Our Impact
        {% endblocktrans %}
      </h2>
    </div>{# .intro #}

    <div class="grid-3-at-medium gap-bottom-small">
      <div class="column pad-horz-medium-at-medium pad-top-small">
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            130+
          {% endblocktrans %}
        </h3>
        <p class="align-center">
          {% blocktrans %}
            Countries with CommCare users
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="column pad-horz-medium-at-medium pad-top-small">
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            3000+
          {% endblocktrans %}
        </h3>
        <p class="align-center">
          {% blocktrans %}
            Total projects affiliated with CommCare
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="column pad-horz-medium-at-medium pad-top-small">
        <h3 class="theme-color gap-bottom-line align-center">
          {% blocktrans %}
            1 Million+
          {% endblocktrans %}
        </h3>
        <p class="align-center">
          {% blocktrans %}
            Users supported with CommCare
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}
    
  </div>{# .content #}
</section>
