{% load i18n %}
{% load dimagidotcom %}

<section class="mission"
         id="our_why">
  <div class="content pad-top-medium ">
    <div class="content-width-large">
      <h3 class="mission-heading align-center ">
        {% blocktrans %}
          At least 50% of people lack access to essential health services.<br class="hide-at-medium" /> We 
          help bridge this gap by empowering Frontline Workers to <br />deliver 
          critical services to communities in need.
        {% endblocktrans %}
      </h3>
    </div>
    <div class="design-tool content-width-large-at-medium grid-2-at-medium">
      <div class="tools-cards-vision column align-center pad-top-small blue-lightest-theme pad-bottom-small gap-bottom-line-at-medium gap-bottom-none">
        <div class="blue-lightest-bg pad-small">
          <h2 class="gap-bottom-line">
            {% blocktrans %}
              Our Vision
            {% endblocktrans %}
          </h2>
          <p class="body-color font-weight-light">
            {% blocktrans %}
              A world where all people have access to the services<br class="hide-until-large" />
              they need to thrive.
            {% endblocktrans %}
          </p>
        </div>
      </div>{# .column #}

      <div class="tools-cards-mission column align-center pad-top-small-at-medium pad-bottom-small">
        <div class="blue-lightest-bg pad-small">
          <h2 class="gap-bottom-line">
            {% blocktrans %}
              Our Mission
            {% endblocktrans %}
          </h2>
          <p class="body-color font-weight-light">
            {% blocktrans %}
              To build and scale sustainable, high-impact digital 
              solutions that amplify frontline work.
            {% endblocktrans %}
          </p>
        </div>
      </div>{# .column #}
    </div>{# .grid-3-at-medium #}
  </div> {# .content #}
</section>
