{% load i18n %}
{% load dimagidotcom %}

<section class="mission"
         id="mission">
  <div class="content pad-vert-medium">
    <div class="grid-2-at-medium">
      <div class="column">
        <h2>
          {% blocktrans %}
            We believe there’s a better way to provide services to those in need.
          {% endblocktrans %}
        </h2>
        <p>
          {% blocktrans %}
            We are changing the way frontline services are delivered by
            providing our customers with better data and giving their
            workforce new tools to help those in need.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Our technology, CommCare, the world’s most powerful mobile data
            collection platform, was built with this goal in mind. Using
            CommCare, organizations build mobile apps that improve the
            quality and efficiency of services in the most remote corners
            of the world.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            We believe the sustained adoption of digital solutions is only
            possible if we create tools that users love. Accordingly, our
            design philosophy puts end users first.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid-2-at-medium #}
  </div> {# .content #}
  <div class="image off-grid"></div>{# .mission .image {} => pages/about.scss #}
</section>
