{% load i18n %}
{% load dimagidotcom %}

<section class="mission"
         id="mission">
  <div class="content pad-vert-medium">
    <div class="content-width-large">
      <h3>
        {% blocktrans %}
          At least 50% of people lack access to essential health services. We 
          help bridge this gap by empowering Frontline Workers to deliver 
          critical services to communities in need.
        {% endblocktrans %}
      </h3>
    </div>
    <div class="design-tool content-width-large grid-2-at-medium gap-vert-small">
      <div class="tools-cards column align-center pad-horz-small-at-medium pad-top-small blue-lightest-bg blue-lightest-theme pad-bottom-small">
        <h2 class="gap-bottom-line">
          {% blocktrans %}
            Our Vision
          {% endblocktrans %}
        </h2>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            A world where all people receive the services they need to thrive.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="tools-cards column align-center pad-horz-small-at-medium pad-top-small pad-bottom-small border-custom">
        <h2 class="gap-bottom-line">
          {% blocktrans %}
            Our Mission
          {% endblocktrans %}
        </h2>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            To build and scale sustainable, high-impact digital solutions that
            amplify Frontline Workers and programs
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid-3-at-medium #}
    <div class="content-width-medium align-center pad-top-line pad-bottom-small">
      <h3>
        {% blocktrans %}
          We strive for high-impact growth and evaluate our work against four pillars:
        {% endblocktrans %}
      </h3>
    </div>
    <div class="design-tool content grid-4-at-medium gap-bottom-small">
      <div class="about-pillars column align-center pad-horz-small-at-medium pad-top-small pad-bottom-small"
         href="{% url 'monitoring_evaluation' %}">
        <div class="orange-icon wellbeing gap-bottom-line align-center">
          {% include 'svg/about/icons/pillars/wellbeing.html' %}
        </div>
        <h5 class="text-color gap-bottom-line">
          {% blocktrans %}
            Improves wellbeing
          {% endblocktrans %}
        </h5>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            We seek ideas that have the potential to 
            ambitiously and provably improve wellbeing.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium pad-top-small pad-bottom-small"
         href="{% url 'ict4d' %}">
        <div class="purple-icon gap-bottom-line inclusive">
          {% include 'svg/about/icons/pillars/inclusive.html' %}
        </div>
        <h5 class="text-color gap-bottom-line">
          {% blocktrans %}
            Inclusive
          {% endblocktrans %}
        </h5>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            We design to reach the most underserved populations, 
            especially in technically challenging contexts.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium pad-top-small pad-bottom-small"
         href="{% url 'research' %}">
        <div class="blue-icon gap-bottom-line robust">
          {% include 'svg/about/icons/pillars/robust.html' %}
        </div>
        <h5 class="text-color gap-bottom-line">
          {% blocktrans %}
            Robust
          {% endblocktrans %}
        </h5>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            We focus on building robust technology that meets the 
            highest standards, with a foundation that can last for years.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium pad-top-small pad-bottom-small"
         href="{% url 'monitoring_evaluation' %}">
        <div class="green-icon gap-bottom-line align-center market-driven">
          {% include 'svg/about/icons/pillars/market-driven.html' %}
        </div>
        <h5 class="text-color gap-bottom-line">
          {% blocktrans %}
            Market-driven
          {% endblocktrans %}
        </h5>
        <p class="body-color font-weight-light">
          {% blocktrans %}
            We balance merit and market. We ensure that all work 
            has a path to scale via the market.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid-3-at-medium #}
    <div class="column align-center">
      <a class="arrow"
         href="{% url 'archive' %}">
        {% blocktrans %}
          Read More
        {% endblocktrans %}
      </a>
    </div>{# .column #}
  </div> {# .content #}
</section>
