{% load i18n %}
{% load dimagidotcom %}

<section class="resources accent-gray-bg border-vert"
         id="resources">
  <div class="content pad-vert-medium align-center">

    <div class="grid-2-at-small grid-4-at-large grid-row-equal-heights">
      {% click_body 'resources-press' as click_resources %}
      {% include "sections/about/resources/resources.html" with click_class=click_resources %}
      {% click_body 'resources-careers' as click_careers %}
      {% include "sections/about/resources/careers.html" with click_class=click_careers %}
      {% click_body 'resources-blog' as click_blog %}
      {% include "sections/about/resources/blog.html" with click_class=click_blog %}
      {% click_body 'resources-podcast' as click_podcast %}
      {% include "sections/about/resources/podcast.html" with click_class=click_podcast %}
    </div>

  </div> {# .content #}
</section>
 