{% load i18n %}
{% load dimagidotcom %}

<section class="sub-nav"
         id="sub-nav">
  <div class="content">
    <div class="actions">
      <a class="primary {% click_subnav 'contact' %}"
         href="{% url 'contact' %}">
        <span>
          {% blocktrans %}
            Contact Us
          {% endblocktrans %}
        </span>
      </a>
    </div>{# .actions #}
    <a class="prompt-link {% click_subnav 'browse-mobile' %}"
       href="#">
      {% blocktrans %}
        Browse
      {% endblocktrans %}
    </a>
    <div class="destinations">
      <div class="content">
        <a href="#mission"
           class="{% click_subnav 'mission' %}">
          {% blocktrans %}
            Mission
          {% endblocktrans %}
        </a>
        <a href="#team"
           class="{% click_subnav 'team' %}">
          {% blocktrans %}
            Team
          {% endblocktrans %}
        </a>
        <a href="#management"
           class="{% click_subnav 'management' %}">
          {% blocktrans %}
            Management
          {% endblocktrans %}
        </a>
        <a href="#company-info"
           class="{% click_subnav 'company-info' %}">
          {% blocktrans %}
            Company Info
          {% endblocktrans %}
        </a>
      </div>{# .content #}
    </div>{# .destinations #}
  </div>{# .content #}
</section>
