{% load i18n %}
{% load dimagidotcom %}

<section class="team"
         id="team">
  <div class="content pad-bottom-small">
    <div class="align-center content-width-medium pad-bottom-small">
      <h2>
        {% blocktrans %}
          Our Team
        {% endblocktrans %}
      </h2>
      <p>
        {% blocktrans %}
          We are a team of social impact professionals: data geeks, doctors,
          former consultants, public health professionals, and everything in between.
          We share a passion for social impact technology and helping those in need. 
        {% endblocktrans %}
      </p>
    </div>{# .intro #}

    {% include "sections/about/team/grid.html" %}

    <div class="content-width-medium pad-top-medium">
      <p class="align-center pad-bottom-small">
        {% blocktrans %}
          Dimagi is a global organization with a remote friendly work 
          culture. We work from 18 countries and counting, as well 
          as offices in Cambridge, MA, Cape Town, South Africa and Delhi, India
        {% endblocktrans %}
      </p>
    </div>
    <div class="gap-top-line">
      <div class="map-image"
           data-lazybg="true"></div>
    </div>{# .gap-top-line #}
    <div class="align-center pad-vert-small">
      <a class="button"
         href="{% url 'partners' %}">
        {% blocktrans %}
          All Team Members
        {% endblocktrans %}
      </a>
    </div>

  </div> {# .content #}
</section>
