{% load i18n %}
{% load dimagidotcom %}

<div class=" gap-top-base timeline">
  <div class="grid-flex-at-medium grid-1-at-small">
    <div class="column-at-medium pad-vert-small pad-left-small pad-right-medium">
      <ul class="timeline-list">
        <h6 class="story-year orange gap-bottom-none">
          {% blocktrans %}
            2002
          {% endblocktrans %}
        </h6>
        <li class="display-flex">
          <h6 class="vertical-line"></h6>
          <p class="pad-left-line">
            {% blocktrans %}
              Dimagi founded based on a desire to use technology to help underserved populations
            {% endblocktrans %}
          </p>
        </li>
        <h6 class="story-year blue gap-bottom-none heading-vertical-line">
          {% blocktrans %}
            2008
          {% endblocktrans %}
        </h6>
        <li class="display-flex">
          <h6 class="vertical-line"></h6>
          <p class="pad-left-line">
            {% blocktrans %}
              CommCare, our flagship software platform, created
            {% endblocktrans %}
          </p>
        </li>
        <h6 class="story-year orange gap-bottom-none heading-vertical-line">
          {% blocktrans %}
            2010
          {% endblocktrans %}
        </h6>
        <li class="display-flex">
          <h6 class="vertical-line"></h6>
          <p class="pad-left-line">
            {% blocktrans %}
              Professional services team created to help organizations build and 
              deploy digital health applications
            {% endblocktrans %}
          </p>
        </li>
        <h6 class="story-year blue gap-bottom-none heading-vertical-line">
          {% blocktrans %}
            2013
          {% endblocktrans %}
        </h6>
        <li class="display-flex">
          <h6 class="vertical-line"></h6>
          <p class="pad-left-line">
            {% blocktrans %}
              CommCare offered as Software-as-a-Service, enabling organizations to 
              build their own applications
            {% endblocktrans %}
          </p>
        </li>
        <h6 class="story-year orange gap-bottom-none heading-vertical-line">
          {% blocktrans %}
            2021
          {% endblocktrans %}
        </h6>
        <li class="display-flex">
          <h6 class="vertical-line"></h6>
          <p class="pad-left-line">
            {% blocktrans %}
              More than 1 million total users supported with CommCare
            {% endblocktrans %}
          </p>
        </li>
      </ul>
    </div>
    <div class="column-at-medium gap-bottom-none gap-top-small hide-until-medium">
      <div class="timeline-image image white-lazy-bg gap-top-small "
           data-lazybg="true"></div>
    </div>
  </div>
</div>
