{% load i18n %}
{% load dimagidotcom %}

<section class="story accent-gray-bg" id="our_values">
  <div class="content pad-vert-small">
    <div class="content-width-large">
      <h2 class="align-center pad-top-small">
        {% blocktrans %}
        Our values
        {% endblocktrans %}
      </h2>
      <p class="align-center">
        {% blocktrans %}
        Our values serve as our operating manual defining how we get great work done together.
        {% endblocktrans %}
      </p>
    </div>
    <div class="content pad-vert-medium">
      <div class="grid-2-at-medium">
        <div class="column">
          <div class="position-relative align-center height-100">
            <div class="about-pillars column align-center pad-horz-small-at-medium ">
              <div class=" gap-bottom-line align-center">
                {% include 'svg/about/icons/values/values1.html' %}
              </div>
            </div>{# .column #}
          </div>
        </div>
        <div class="column pad-top-large">
          <h3 class="primary-color ">Impact, team, profit. In that order.</h3>
          <p>
            {% blocktrans %}
            This guides everything that we do as a company.
            We see <br /> that impact, team and profit create a virtuous flywheel.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>

    <div class="design-tool content grid-4-at-medium gap-bottom-small">
      <div class="about-pillars column align-center pad-horz-small-at-medium pad-bottom-small">
        <div class=" gap-bottom-line align-center">
          {% include 'svg/about/icons/values/values2.html' %}
        </div>
        <p class="primary-color font-weight-light">
          {% blocktrans %}
          Be bold but humble.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium  pad-bottom-small">
        <div class="gap-bottom-line">
          {% include 'svg/about/icons/values/values3.html' %}
        </div>
        <p class="primary-color font-weight-light">
          {% blocktrans %}
          Lead with empathy <br /> and respect.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium pad-bottom-small">
        <div class=" gap-bottom-line">
          {% include 'svg/about/icons/values/values4.html' %}
        </div>
        <p class="primary-color font-weight-light">
          {% blocktrans %}
          Evolve by openly <br />learning and sharing.
          {% endblocktrans %}
        </p>
      </div>{# .column #}

      <div class="about-pillars column align-center pad-horz-small-at-medium pad-bottom-small">
        <div class="gap-bottom-line ">
          {% include 'svg/about/icons/values/values5.html' %}
        </div>
        <p class="primary-color font-weight-light">
          {% blocktrans %}
          Embrace complexity <br />for impact.
          {% endblocktrans %}
        </p>
      </div>{# .column #}
    </div>{# .grid-3-at-medium #}
  </div>{# .content #}
</section>

</div> {# .content #}
</section>