{% load i18n %}
{% load dimagidotcom %}

<h3>
  {% blocktrans %}
    TB Programs and Clinics
  {% endblocktrans %}
</h3>

<p>
  <strong>{% trans "Problem" %}</strong>:
  {% blocktrans %}
    TB programs and clinics have limited trained personnel to register and
    follow up with TB patients and provide treatment.
  {% endblocktrans %}
</p>
<ul class="check-list gap-bottom-small grid-2-at-medium">
  <li>
    {% blocktrans %}
      Collect patient information to create real-time TB and MDR-TB profiles
      of specific areas
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Integrated system allows lab results to be easily shared between clinics
      in different communities
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Automatically alerts district health center of new cases and others that
      miss subsequent visits
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Basic web reporting detailing system utilization facilitates data management
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Automatic patient appointment reminders can be configured to reduce staff
      time contacting patients
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      GPS integration creates data for a map visualization of MDR-TB spatial
      spread and progression
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Interactive voice response (IVR) triages cases, reducing burden on clinic staff
    {% endblocktrans %}
  </li>
</ul>
